Repository pagopa/developer-portal, changes with the labels that .github/labeler.yaml gives for each.
All labels: website, packages, docs, workflows, infra, changeset, cms, cognito-functions, cloudfront-functions

.github/labeler.yaml:

website: apps/nextjs-website/**/*
packages: packages/**/*
docs: docs/**/*
workflows: .github/workflows/**/*
infra: .infrastructure/**/*
changeset: .changeset/**/*
cms: apps/strapi-cms/**/*
cognito-functions: apps/cognito-functions/**/*
cloudfront-functions: apps/cloudfront-functions/**/*

terraform-fmt
  .infrastructure/40_iam.tf
Labels: infra

remove-duplicate-aws_caller_identity
  .infrastructure/40_iam.tf
Labels: infra

linter
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Swagger.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/SwaggerDescription.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/SwaggerParameter.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/SwaggerResponse.tsx
  packages/gitbook-docs/src/markdoc/schema/swagger.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/renderContent.ts
Labels: website, packages

feat(DEV-1315): remove definitions from terraform
  .infrastructure/50_storage.tf
Labels: infra

chore: add changeset
  .changeset/rare-pans-flash.md
Labels: changeset

Disable submit button on click while asking for password reset
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordForm.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website

Remove un unnecessary dependency from React Hook useCallback's dependency array
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordForm.tsx
Labels: website

[DEV-1333] Fix sign-in and confirm sign-in UI and UX (#601)
  .changeset/twenty-drinks-talk.md
  apps/nextjs-website/src/__tests__/helpers/auth.helpers.test.ts
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/molecules/ResendEmail/ResendEmail.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/helpers/auth.helpers.ts
  apps/nextjs-website/src/lib/types/loginSteps.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, changeset
