Repository pagopa/developer-portal, changes with the labels that .github/labeler.yaml gives for each.
All labels: website, packages, docs, workflows, infra, changeset, cms, cognito-functions, cloudfront-functions

Remove unused ids
  apps/nextjs-website/src/lib/strapi/homepage.ts
Labels: website

Remove unused id
  apps/nextjs-website/src/lib/strapi/homepage.ts
Labels: website

add-ecs-and-alb
  .infrastructure/16_ecs.tf
  .infrastructure/17_alb.tf
Labels: infra

add-certificate-and-var-cms
  .infrastructure/11_certs.tf
  .infrastructure/98_variables.tf
  .infrastructure/env/dev/terraform.tfvars
  .infrastructure/env/prod/terraform.tfvars
Labels: infra

add-dns-zone-cms
  .infrastructure/10_dns.tf
Labels: infra

add-dns-record-strapi
  .infrastructure/10_dns.tf
Labels: infra

add-iam-role-deploy-cms
  .infrastructure/40_iam.tf
Labels: infra

terraform-fmt
  .infrastructure/16_ecs.tf
  .infrastructure/17_alb.tf
Labels: infra

terraform-fmt
  .infrastructure/98_variables.tf
Labels: infra

add-logs-task-def
  .infrastructure/task-definitions/cms_app.json.tpl
Labels: infra

remove-dns-zone-split-pr
  .infrastructure/10_dns.tf
  .infrastructure/98_variables.tf
  .infrastructure/env/dev/terraform.tfvars
  .infrastructure/env/prod/terraform.tfvars
Labels: infra

Update .changeset/sweet-planets-change.md
  .changeset/sweet-planets-change.md
Labels: changeset

Fix after code review
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
Labels: website

terraform-fmt
  .infrastructure/15_database.tf
Labels: infra

Remove expireAt form questions
  .infrastructure/50_storage.tf
Labels: infra

Add changeset
  .changeset/dull-bears-fail.md
Labels: changeset

[DEV-1396] Remove expireAt form webinar questions (#641)
  .changeset/dull-bears-fail.md
  .infrastructure/50_storage.tf
Labels: infra, changeset

Add fetch-depth option
  .github/workflows/changelog.yaml
Labels: workflows

Add link to GitHub issue
  .github/workflows/changelog.yaml
Labels: workflows

[DEV-1387] Add fetch-depth option (#642)
  .github/workflows/changelog.yaml
Labels: workflows

add-dns-zone-and-var-for-strapi
  .infrastructure/10_dns.tf
  .infrastructure/98_variables.tf
  .infrastructure/env/dev/terraform.tfvars
  .infrastructure/env/prod/terraform.tfvars
Labels: infra

update-comment
  .infrastructure/98_variables.tf
  .infrastructure/env/dev/terraform.tfvars
  .infrastructure/env/prod/terraform.tfvars
Labels: infra

add-workflow-deploy-cms-and-dockerfile
  .github/workflows/deploy_cms.yaml
  apps/strapi-cms/.dockerignore
  apps/strapi-cms/Dockerfile
Labels: workflows, cms

styled items
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Swagger.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/SwaggerDescription.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/SwaggerParameter.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/SwaggerResponse.tsx
Labels: website

[DEV-1394] - Create DNS zone for CMS Strapi (#640)
  .infrastructure/10_dns.tf
  .infrastructure/98_variables.tf
  .infrastructure/env/dev/terraform.tfvars
  .infrastructure/env/prod/terraform.tfvars
Labels: infra

Improve jobs' name
  .github/workflows/deploy_infra.yml
  .github/workflows/deploy_website.yaml
Labels: workflows

Improve jobs' name (#645)
  .github/workflows/deploy_infra.yml
  .github/workflows/deploy_website.yaml
Labels: workflows

Update .infrastructure/11_certs.tf
  .infrastructure/11_certs.tf
Labels: infra

add-iam-user-for-cms-strapi (#625)
  .infrastructure/40_iam.tf
Labels: infra

rename-acm-with-cms_ssl_certificate
  .infrastructure/17_alb.tf
Labels: infra

[DEV-1382] - Create Certificate for CMS Strapi (#636)
  .infrastructure/11_certs.tf
Labels: infra

feat(DEV-1315): highlight and hide webinars questions
  .infrastructure/50_storage.tf
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/components/molecules/WebinarQuestion/WebinarQuestionTemplate.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsTemplate/WebinarQuestionsTemplate.tsx
  apps/nextjs-website/src/lib/webinarApi.ts
  apps/nextjs-website/src/lib/webinars/__tests__/webinarQuestions.test.ts
  apps/nextjs-website/src/lib/webinars/dynamodb/codec.ts
  apps/nextjs-website/src/lib/webinars/webinarQuestions.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, infra

feat(DEV-1315): add UpdateItem to host user
  .infrastructure/55_cognito.tf
Labels: infra

chore: fix typo
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website

resolve-conflict
  .infrastructure/40_iam.tf
Labels: infra

create-secrets-for-cms-strapi (#626)
  .infrastructure/12_secrets.tf
Labels: infra

fix
  .infrastructure/98_variables.tf
Labels: infra

Update .infrastructure/16_ecs.tf
  .infrastructure/16_ecs.tf
Labels: infra

fix
  .infrastructure/40_iam.tf
Labels: infra

Update .infrastructure/10_dns.tf
  .infrastructure/10_dns.tf
Labels: infra

.github/labeler.yaml:

website: apps/nextjs-website/**/*
packages: packages/**/*
docs: docs/**/*
workflows: .github/workflows/**/*
infra: .infrastructure/**/*
changeset: .changeset/**/*
cms: apps/strapi-cms/**/*
cognito-functions: apps/cognito-functions/**/*
cloudfront-functions: apps/cloudfront-functions/**/*
