Repository pagopa/developer-portal, changes with the labels that .github/labeler.yaml gives for each.
All labels: website, packages, docs, workflows, infra, changeset, cms, cognito-functions, cloudfront-functions

Revert "[DPC-171] Removes ref. to specific version and redirects to lates in …" (#732)
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
Labels: website

Revert "[DPC-175] Removes ref. to specific versions in the guide list and red…" (#731)
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
Labels: website

[DPC-175] Removes ref. to specific versions in the guide list and redirects to the latest pagoPA (#733)
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
Labels: website

[DPC-171] Removes specific version and redirects to lates in Quick Start Firma con IO (#734)
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
Labels: website

[DPC-170] Redirects to "Validatore" SEND latest version in HomePage (#728)
  apps/nextjs-website/src/_contents/send/guideLists.ts
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/_contents/translations.ts
Labels: website

[DPC-169] Removes version and redirects to latest in Panoramica App IO (#730)
  .changeset/rotten-penguins-speak.md
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
  apps/nextjs-website/src/_contents/send/guideLists.ts
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, changeset

[DEV-1315]: highlight and hide webinars questions (#646)
  .changeset/rare-pans-flash.md
  apps/nextjs-website/src/components/molecules/WebinarQuestion/WebinarQuestionRow.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsTemplate/WebinarQuestionsTemplate.tsx
  apps/nextjs-website/src/lib/webinarApi.ts
  apps/nextjs-website/src/lib/webinars/__tests__/webinarQuestions.test.ts
  apps/nextjs-website/src/lib/webinars/dynamodb/__tests__/codec.test.ts
  apps/nextjs-website/src/lib/webinars/dynamodb/codec.ts
  apps/nextjs-website/src/lib/webinars/webinarQuestions.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, changeset

changes after review
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
Labels: website

Remove blank line
  .github/workflows/deploy_infra.yml
Labels: workflows

Add concurrency in workflows that are using terraform
  .github/workflows/code_review_infra.yaml
  .github/workflows/deploy_infra.yml
Labels: workflows

refactor
  apps/nextjs-website/src/components/organisms/Auth/__tests__/SignUpForm.test.tsx
Labels: website

refactor ChangePasswordForm
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ChangePasswordForm.tsx
Labels: website

reset errors on input change
  apps/nextjs-website/src/components/organisms/Auth/ChangePasswordForm.tsx
Labels: website

Create hot-pigs-allow.md
  .changeset/hot-pigs-allow.md
Labels: changeset

refactor tests
  apps/nextjs-website/src/components/organisms/Auth/__tests__/ConfirmLogin.test.tsx
Labels: website

[DEV-1448] Add concurrency in workflows that are using terraform (#735)
  .github/workflows/code_review_infra.yaml
  .github/workflows/deploy_infra.yml
Labels: workflows

Add concurrency group in deploy cms workflow
  .github/workflows/deploy_cms.yaml
Labels: workflows

Add concurrency group in deploy website workflow
  .github/workflows/deploy_website.yaml
Labels: workflows

Add metadata to webinar page
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
Labels: website

changeset
  .changeset/hot-baboons-rule.md
Labels: changeset

feat(DEV-1347): refact code to subscribe after user login
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
Labels: website

[DEV-1448] Add concurrency group in deploy workflows (#737)
  .github/workflows/deploy_cms.yaml
  .github/workflows/deploy_website.yaml
Labels: workflows

[DPC-168] Adds the new manual to manuals list
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
Labels: website

[DPC-168] Adds cover images for new BO manual for pagoPA
  apps/nextjs-website/src/app/pago-pa-manuale-bo-pt-mobile.png
  apps/nextjs-website/src/app/pago-pa-manuale-bo-pt.png
Labels: website

Create weak-grapes-scream.md
  .changeset/weak-grapes-scream.md
Labels: changeset

[DPC-168] Adds the reference to the manual in sync on docs
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Labels: website

Update weak-grapes-scream.md
  .changeset/weak-grapes-scream.md
Labels: changeset

Move images under proper folder
  apps/nextjs-website/public/images/pago-pa-manuale-bo-pt-mobile.png
  apps/nextjs-website/public/images/pago-pa-manuale-bo-pt.png
Labels: website

[DPC-168] Adds cover images for new BO manual for pagoPA (#739)
  .changeset/weak-grapes-scream.md
  apps/nextjs-website/public/images/pago-pa-manuale-bo-pt-mobile.png
  apps/nextjs-website/public/images/pago-pa-manuale-bo-pt.png
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Labels: website, changeset

Update apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website

Update apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website

Update apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website

Update apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website

Update apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website

Update apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website

Update .changeset/eight-cobras-argue.md
  .changeset/eight-cobras-argue.md
Labels: changeset

Update apps/nextjs-website/src/app/webinars/page.tsx
  apps/nextjs-website/src/app/webinars/page.tsx
Labels: website

Update apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website

changeset
  .changeset/eight-cobras-argue.md
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/webinars/page.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Labels: website, changeset

fix after pr comments
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/webinars/page.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Labels: website

.github/labeler.yaml:

website: apps/nextjs-website/**/*
packages: packages/**/*
docs: docs/**/*
workflows: .github/workflows/**/*
infra: apps/infrastructure/**/*
changeset: .changeset/**/*
cms: apps/strapi-cms/**/*
cognito-functions: apps/cognito-functions/**/*
cloudfront-functions: apps/cloudfront-functions/**/*
