Repository pagopa/developer-portal, changes with the labels that .github/labeler.yaml gives for each.
All labels: website, packages, docs, workflows, infra, changeset, cms, cognito-functions, cloudfront-functions

always live webinar
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website

Update apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website

[DEV-1505] Webinar tests (#729)
  .changeset/eight-cobras-argue.md
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/webinars/page.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Labels: website, changeset

Move working-directory to a single step
  .github/workflows/deploy_infra.yml
Labels: workflows

Move working-directory to a single step (#740)
  .github/workflows/deploy_infra.yml
Labels: workflows

Add changeset
  .changeset/eighty-mails-sort.md
Labels: changeset

Add changeset (#741)
  .changeset/eighty-mails-sort.md
Labels: changeset

chore: update changeset
  .changeset/chilly-vans-glow.md
Labels: changeset

.github/labeler.yaml:

website: apps/nextjs-website/**/*
packages: packages/**/*
docs: docs/**/*
workflows: .github/workflows/**/*
infra: apps/infrastructure/**/*
changeset: .changeset/**/*
cms: apps/strapi-cms/**/*
cognito-functions: apps/cognito-functions/**/*
cloudfront-functions: apps/cloudfront-functions/**/*
