Repository pagopa/developer-portal, pull requests merged in 2023-09, with the labels that each got.

#246 [DEV-757] - Improve guides and manuals menu
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/markdoc/__tests__/index.test.ts
  apps/nextjs-website/src/markdoc/components.ts
  apps/nextjs-website/src/markdoc/components/Document.tsx
  apps/nextjs-website/src/markdoc/components/Embed.tsx
  apps/nextjs-website/src/markdoc/components/Expandable.tsx
  apps/nextjs-website/src/markdoc/components/File.tsx
  apps/nextjs-website/src/markdoc/components/Heading.tsx
  apps/nextjs-website/src/markdoc/components/Hint.tsx
  apps/nextjs-website/src/markdoc/components/Item.tsx
  apps/nextjs-website/src/markdoc/components/Link.tsx
  apps/nextjs-website/src/markdoc/components/PageLink.tsx
  apps/nextjs-website/src/markdoc/components/Paragraph.tsx
  apps/nextjs-website/src/markdoc/components/Strong.tsx
  apps/nextjs-website/src/markdoc/components/SummaryHeading.tsx
  apps/nextjs-website/src/markdoc/components/SummaryHr.tsx
  apps/nextjs-website/src/markdoc/components/SummaryItem.tsx
  apps/nextjs-website/src/markdoc/components/SummaryLink.tsx
  apps/nextjs-website/src/markdoc/components/SummaryUnorderedList.tsx
  apps/nextjs-website/src/markdoc/components/UnorderedList.tsx
  apps/nextjs-website/src/markdoc/helpers.ts
  apps/nextjs-website/src/markdoc/index.ts
  apps/nextjs-website/src/markdoc/schema.ts
  apps/nextjs-website/src/pages/[productSlug]/guides/[...productGuidePage].tsx
  packages/gitbook-docs/src/__tests__/parseMenu.test.ts
  packages/gitbook-docs/src/markdoc/schema/link.ts
  packages/gitbook-docs/src/markdoc/schema/menu.ts
  packages/gitbook-docs/src/markdoc/schema/menuItem.ts
  packages/gitbook-docs/src/markdoc/schema/menuList.ts
  packages/gitbook-docs/src/parseMenu.ts
  packages/gitbook-docs/src/renderMenu.ts
Labels: website, packages, size/large

#247 [DEV-795] Parse link between different space
  apps/nextjs-website/src/_contents/appIo/guides.ts
  apps/nextjs-website/src/_contents/appIo/tutorials.ts
  apps/nextjs-website/src/_contents/ioSign/guides.ts
  apps/nextjs-website/src/_contents/ioSign/tutorials.ts
  apps/nextjs-website/src/_contents/makeDocs.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
  apps/nextjs-website/src/_contents/pagoPa/tutorials.ts
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/_contents/send/guides.ts
  apps/nextjs-website/src/_contents/send/tutorials.ts
  apps/nextjs-website/src/components/organisms/GitBookContent/GitBookContent.tsx
  apps/nextjs-website/src/pages/[productSlug]/guides/[...productGuidePage].tsx
  apps/nextjs-website/src/pages/[productSlug]/tutorials/[...productTutorialPage].tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/attributes.ts
  packages/gitbook-docs/src/markdoc/schema/link.ts
  packages/gitbook-docs/src/markdoc/schema/pageLink.ts
  packages/gitbook-docs/src/parseContent.ts
Labels: website, packages, size/large

#248 [DEV-880] - Guides and manual sticky menu
  apps/nextjs-website/src/pages/[productSlug]/guides/[...productGuidePage].tsx
  apps/nextjs-website/src/styles/globals.css
Labels: website, size/small

#253 [DEV-918] Verify branch is up to date when opening a PR
  .github/actions/branch-up-to-date/action.yaml
  .github/workflows/check_branch_update.yaml
Labels: workflows, size/small

#254 [DEV-919] Verify PR has a link to Jira activity
  .github/actions/link-pr-to-jira-activity/action.yaml
  .github/workflows/check_pr_title.yaml
Labels: workflows, size/small

#252 [DEV-853] - Remove break-all style from paragraphs in quick-start pages
  apps/nextjs-website/src/components/atoms/TypographyPart/TypographyPart.tsx
Labels: website, size/small

#251 [DEV-906] - Add links with proper style to BannerLinks component
  apps/nextjs-website/src/_contents/appIo/bannerLinks.ts
  apps/nextjs-website/src/_contents/ioSign/bannerLinks.ts
  apps/nextjs-website/src/_contents/pagoPa/bannerLinks.ts
  apps/nextjs-website/src/_contents/send/bannerLinks.ts
  apps/nextjs-website/src/editorialComponents/BannerLink/BannerLink.tsx
Labels: website, size/small

#256 [DEV-925] - Add pagoPa quick start links to home page and to pagoPA overview
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/translations.ts
Labels: website, size/small

#218 [DEV-737] - Guide api url
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.tsx
Labels: website, size/small

#257 [DEV-738] - Add different links to Send API using 'spec' query param
  apps/nextjs-website/src/_contents/send/api.ts
  apps/nextjs-website/src/_contents/send/apiPath.ts
  apps/nextjs-website/src/_contents/send/overview.ts
Labels: website, size/small

#258 [DEV-932] - Replace href Link- Selfcare
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Labels: website, size/small

#255 [DEV-920] Update CODEOWNERS
  CODEOWNERS
Labels: size/small

#261 [DPC-52] Update "Self Care" in "Area Riservata"
  apps/nextjs-website/src/_contents/pagoPa/bannerLinks.ts
Labels: website, size/small

#263 [DEV-777] Fix "Go to GitHub" link style in ApiSection component
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.tsx
Labels: website, size/small

#267 [DEV-937] Upgrade AWS provider
  .infrastructure/.terraform.lock.hcl
  .infrastructure/00_main.tf
  .infrastructure/README.md
Labels: size/small, infra

#260 [DEV-936] Layout fixes after the refactor of the app structure
  apps/nextjs-website/src/_contents/appIo/tutorialLists.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/components/atoms/CtaCard/CtaCard.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/components/atoms/IconWrapper/IconMap.ts
  apps/nextjs-website/src/components/atoms/RelatedLinks/RelatedLinks.tsx
  apps/nextjs-website/src/components/atoms/UnorderedList/UnorderedList.module.css
  apps/nextjs-website/src/components/atoms/UnorderedList/UnorderedList.tsx
  apps/nextjs-website/src/components/molecules/CardsGrid/CardsGrid.tsx
  apps/nextjs-website/src/components/molecules/CodeBlockPart/CodeBlockPart.module.css
  apps/nextjs-website/src/components/molecules/CodeBlockPart/CodeBlockPart.tsx
  apps/nextjs-website/src/components/molecules/HeroSwiper/HeroSwiper.tsx
  apps/nextjs-website/src/components/molecules/LinkCard/LinkCard.tsx
  apps/nextjs-website/src/components/molecules/LinkCards/LinkCards.tsx
  apps/nextjs-website/src/components/molecules/SectionTitle/SectionTitle.tsx
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/components/organisms/Layout/Layout.tsx
  apps/nextjs-website/src/components/organisms/News/News.tsx
  apps/nextjs-website/src/components/organisms/PostIntegration/PostIntegration.tsx
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
  apps/nextjs-website/src/editorialComponents/Abstract/Abstract.tsx
  apps/nextjs-website/src/editorialComponents/Feature/FeatureStackItem.tsx
  apps/nextjs-website/src/editorialComponents/Listing/Listing.tsx
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
  apps/nextjs-website/src/lib/types/tutorialData.ts
  apps/nextjs-website/src/styles/globals.css
Labels: website, size/small

#264 [DEV-881] Set SiteHeader as sticky and manage its visibility on scroll event
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/components/organisms/Layout/Layout.tsx
  apps/nextjs-website/src/components/organisms/Layout/useScrollUp.ts
Labels: website, size/small

#270 [DPC-59] - Update overview.ts
  apps/nextjs-website/src/_contents/ioSign/overview.ts
Labels: website, size/small

#271 use anchor instead of Link
  apps/nextjs-website/src/editorialComponents/Footer/components/FooterColumn.tsx
Labels: website, size/small

#272 Fix favicon issue
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/app/icon.svg
  apps/nextjs-website/src/app/layout.tsx
Labels: website, size/small

#276 [DEV-942] docs hash update
  apps/nextjs-website/package.json
Labels: website, size/small

#273 [DEV-942] Update guides pagoPA
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Labels: website, size/small

#275 [DEV-942] Update guides AppIO
  apps/nextjs-website/src/_contents/appIo/guides.ts
Labels: website, size/small

#274 [DEV-942] Update guides SEND
  apps/nextjs-website/src/_contents/send/guides.ts
Labels: website, size/small

#277 [DEV-946] Contents update - Link update
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
  apps/nextjs-website/src/_contents/appIo/guides.ts
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/send/guideLists.ts
  apps/nextjs-website/src/_contents/send/guides.ts
  apps/nextjs-website/src/_contents/send/overview.ts
Labels: website, size/small

#278 [DEV-947] Update version modello-integrazione
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
  apps/nextjs-website/src/_contents/send/guideLists.ts
  apps/nextjs-website/src/_contents/send/guides.ts
  apps/nextjs-website/src/_contents/send/overview.ts
Labels: website, size/small

#279 [DPC-58] update hash fetch-docs
  apps/nextjs-website/package.json
Labels: website, size/small

#282 [DEV-952] Add eslint strict config
  package-lock.json
  packages/eslint-config/eslint-recommended.js
  packages/eslint-config/eslint-strong.js
  packages/eslint-config/package.json
Labels: size/small, packages

#283 Review add strapi PR
  apps/strapi-cms/.eslintrc.json
  apps/strapi-cms/config/admin.ts
  apps/strapi-cms/config/database.ts
  apps/strapi-cms/config/server.ts
  apps/strapi-cms/package.json
  apps/strapi-cms/src/admin/tsconfig.json
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/tsconfig.json
Labels: size/small

#284 [DEV-954] Change PR size check max size
  .github/workflows/pr_enrich.yaml
Labels: workflows, size/small

#281 [DEV-769] Replace manuale operativo image
  apps/nextjs-website/public/images/manuale-operativo-mobile.png
Labels: website, size/small

#290 [DEV-962] Update path with pages after migration to App Router
  CODEOWNERS
Labels: size/small

#286 [DEV-771] Add horizontal scroll to mobile layout
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
  apps/nextjs-website/src/styles/globals.css
Labels: website, size/small

#288 [DEV-893] Fix headers and paragraph readability in tutorial and guide pages
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Heading.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Paragraph.tsx
Labels: website, size/small

#287 [DEV-851] Fix cookie banner font
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/styles/globals.css
Labels: website, size/small

#291 [DEV-942] update sync manual
  apps/nextjs-website/package.json
Labels: website, size/small
