Repository pagopa/developer-portal, pull requests merged in 2023-11, with the labels that each got.

#365 [DPC-81] Update support link
  apps/nextjs-website/src/_contents/send/bannerLinks.ts
Labels: website, size/small

#361 [DEV-1057] - Send welcome email when user confirms email address
  .infrastructure/55_cognito.tf
  apps/cognito-functions/package.json
  apps/cognito-functions/src/__tests__/post-confirmation-confirm-sign-up-handler.test.ts
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/post-confirmation-confirm-sign-up-handler.ts
  apps/cognito-functions/src/send-email-handler.ts
  package-lock.json
Labels: size/small, infra

#358 [DEV-1066] Add webinar and speaker types
  apps/nextjs-website/src/lib/types/speaker.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Labels: website, size/small

#373 [DPC-91] Update version "Approfondimenti sull’integrazione" SEND
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/send/guides.ts
Labels: website, size/small

#372 [DEV-1048] Add AccountActivated page
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/account-activated/page.tsx
  apps/nextjs-website/src/components/atoms/IconFireworks/IconFireworks.tsx
  apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
Labels: website, size/small

#375 [DPC-85] Update images
  apps/nextjs-website/package.json
Labels: website, size/small

#359 [DEV-1066] Webinars section
  apps/nextjs-website/public/images/speaker-00.png
  apps/nextjs-website/public/images/speaker-01.png
  apps/nextjs-website/public/images/webinars.png
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/LinkButton/LinkButton.tsx
  apps/nextjs-website/src/components/atoms/TimeSlot/TimeSlot.tsx
  apps/nextjs-website/src/components/molecules/SpeakerPreview/SpeakerPreview.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/lib/api.ts
Labels: website, size/small

#376 [DEV-1101] - Fix start command for nextjs-website
  apps/nextjs-website/package.json
Labels: website, size/small

#350 [DEV-897]: login page
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/AuthProvider.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
Labels: website, size/small

#370 [DEV-1064 DEV-1050] Fix guide menu nested style
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
Labels: website, size/small

#360 [DEV-1062] Add confirmation page
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
Labels: website, size/small

#377 [DPC-93]Update subtitle
  apps/nextjs-website/src/_contents/appIo/overview.ts
Labels: website, size/small

#378 [DEV-1102] - Handle CustomMessage_ResendCode trigger
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
Labels: size/small

#379 [DPC-86] Update Tutorial contents
  apps/nextjs-website/package.json
Labels: website, size/small

#371 [DEV-1088] Fix wrong mailto link
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/attributes.ts
Labels: size/small, packages

#385 Return PageNotFound on prod environment
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
Labels: website, size/small

#364 [DEV-1070] add speakers component
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/organisms/SpeakerList/SpeakerList.tsx
Labels: website, size/small

#366 [DEV-1069] add extended information
  apps/nextjs-website/public/images/webinar-image.png
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/lib/types/webinar.ts
Labels: website, size/small

#386 [DPC-96] UPDATE docs
  apps/nextjs-website/package.json
Labels: website, size/small

#367 [DEV-1071] add subscribe cta
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/atoms/SubscribeCta/SubscribeCta.tsx
  apps/nextjs-website/src/lib/types/webinar.ts
Labels: website, size/small

#368 [DEV-1068] SummaryInformationComponent
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
Labels: website, size/small

#390 [DPC-69] change link to yaml
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/send/api.ts
Labels: website, size/small

#391 [DPC-72] Update Version "Guida Tecnica"
  apps/nextjs-website/src/_contents/appIo/overview.ts
Labels: website, size/small

#382 [DEV-1087] Fix wrong tabs grouping
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/tabs.ts
Labels: size/small, packages

#389 [DEV-1092] Add define auth challenge handler
  .infrastructure/55_cognito.tf
  apps/cognito-functions/src/__tests__/define-auth-challenge-handler.test.ts
  apps/cognito-functions/src/define-auth-challenge-handler.ts
  apps/cognito-functions/src/main.ts
Labels: size/small, infra

#395 [DEV-1093] Add verify auth challenge handler
  .infrastructure/55_cognito.tf
  apps/cognito-functions/src/__tests__/verify-auth-challenge-handler.test.ts
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/verify-auth-challenge-handler.ts
Labels: size/small, infra

#393 [DEV-1091] Add create auth challenge handler
  .infrastructure/55_cognito.tf
  apps/cognito-functions/src/__tests__/create-auth-challenge-handler.test.ts
  apps/cognito-functions/src/create-auth-challenge-handler.ts
  apps/cognito-functions/src/main.ts
Labels: infra

#397 Remove useless attach_policy_statements
  .infrastructure/55_cognito.tf
Labels: size/small, infra

#363 [DEV-1067 DEV-1072] webinar detail page
  apps/nextjs-website/public/images/webinar-image.png
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/atoms/RelatedLinks/RelatedLinks.tsx
  apps/nextjs-website/src/components/atoms/SubscribeCta/SubscribeCta.tsx
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
  apps/nextjs-website/src/components/molecules/CardsGrid/CardsGrid.tsx
  apps/nextjs-website/src/components/molecules/SpeakerPreview/SpeakerPreview.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/PostIntegration/PostIntegration.tsx
  apps/nextjs-website/src/components/organisms/ProductsShowcase/ProductsShowcase.tsx
  apps/nextjs-website/src/components/organisms/SpeakerList/SpeakerList.tsx
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/editorialComponents/Listing/Listing.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Labels: website, size/small

#396 [DEV-1106] Fix mail to continuing to open
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Link.tsx
Labels: website, size/small

#392 [DEV-1098] Privacy policy blank page on android
  apps/nextjs-website/src/app/privacy-policy/page.tsx
  apps/nextjs-website/src/app/terms-of-service/page.tsx
Labels: website, size/small

#384 [DEV-1083] Add sticky scrollable guide menu
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
Labels: website, size/small

#398 [DEV-1118] Enable on cognito the custom auth for mfa
  .infrastructure/55_cognito.tf
Labels: size/small, infra

#400 [DEV-1121] - Custom esbuild configuration
  apps/cognito-functions/esbuild.config.mjs
  apps/cognito-functions/package.json
Labels: size/small

#380 [DEV-1056] Add e-mail template for confirmation message
  apps/cognito-functions/package.json
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/company-logo.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
  package-lock.json
Labels: size/small

#387 [DEV-1024] Add post confirmation confirm sign up message template
  .infrastructure/55_cognito.tf
  apps/cognito-functions/src/__tests__/post-confirmation-confirm-sign-up-handler.test.ts
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/post-confirmation-confirm-sign-up-handler.ts
  apps/cognito-functions/src/templates/post-confirmation-confirm-sign-up-message.ts
Labels: size/small, infra

#369 [DEV-1045]: header user info
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/SiteLabel/SiteLabel.tsx
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/lib/types/auth.ts
  package-lock.json
Labels: website, size/small

#401 [DEV-1110] - Add forgot password email handler
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/confirmation-forgot-password.ts
Labels: size/small

#394 [DEV-1115] Added parsing for links to new spaces with URL '127.0.0.1:…
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/attributes.ts
Labels: size/small, packages

#405 [DEV-1121] Improve cognito-functions build
  apps/cognito-functions/esbuild.config.mjs
  apps/cognito-functions/package.json
Labels: size/small

#408 [DEV-1124] Remove encodeURI
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
Labels: size/small

#410 [DEV-1123] - Improve PostConfirmationTriggerEvent handling
  apps/cognito-functions/src/__tests__/post-confirmation-handler.test.ts
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/post-confirmation-handler.ts
Labels: size/small

#404 [DPC-88] Update pagoPA manuals
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Labels: website, size/small

#411 [DEV-1125] Fix issue about logo on email
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/company-logo.ts
  apps/cognito-functions/src/templates/confirmation-forgot-password.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
  apps/cognito-functions/src/templates/post-confirmation-confirm-sign-up-message.ts
  apps/nextjs-website/public/images/logo-pago-pa.png
Labels: website, size/small

#407 [DEV-1094]: Login MFA flow
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/lib/types/loginFunction.ts
  apps/nextjs-website/src/lib/types/loginSteps.ts
Labels: website, size/small

#415 [DPC-92] Typo error
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Labels: website, size/small

#409 [DEV-1107] Select tutorials in overview pages
  apps/nextjs-website/src/_contents/appIo/tutorialLists.ts
  apps/nextjs-website/src/_contents/ioSign/tutorialLists.ts
  apps/nextjs-website/src/_contents/pagoPa/tutorialLists.ts
  apps/nextjs-website/src/_contents/send/tutorialLists.ts
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/lib/types/tutorialData.ts
Labels: website, size/small

#413 [DEV-1086] Fix incorrect code snippet inline parsing
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/styledText.ts
Labels: size/small, packages

#417 [DPC-104] Added new manual App IO
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/appIo/guides.ts
Labels: website, size/small

#416 [DEV-1122] Add options to sign up form
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Labels: website, size/small

#418 [DEV-1127] Remove prod as environment to perform deploy automatically
  .github/workflows/deploy_website.yaml
Labels: workflows, size/small

#419 [DEV-1132] Add user preferences attribute
  .infrastructure/55_cognito.tf
Labels: size/small, infra

#420 Show auth pages on production
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
Labels: website, size/small

#362 [DEV-1065] New Webinar notification banner
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Labels: website, size/small

#412 [DEV-1119] add profile personal data page
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/InfoCardEditButton/InfoCardEditButton.tsx
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/molecules/InfoCard/InfoCard.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
  apps/nextjs-website/src/messages/it.json
Labels: website

#421 [DEV-1020] Add delete account section
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/ConfirmationModal/ConfirmationModal.tsx
  apps/nextjs-website/src/components/molecules/DeleteSection/DeleteSection.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#423 [DEV-1137] Change from email address value
  .infrastructure/55_cognito.tf
Labels: size/small, infra

#433 [DPC-66] Update docs from gitbook
  apps/nextjs-website/package.json
Labels: website, size/small

#440 [DPC-97] added icon for new tutorial app IO
  apps/nextjs-website/public/images/app-io-come-inviare-avviso-pagamento.png
  apps/nextjs-website/src/_contents/appIo/tutorialLists.ts
Labels: website, size/small

#434 [DPC-108] Replace Self Car with Area riservata
  apps/nextjs-website/src/_contents/appIo/quickStartGuide.ts
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Labels: website, size/small

#428 [DEV-1166] Add newsletter subscribe/unsubscribe button to profile's agreements page
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
  apps/nextjs-website/src/lib/types/auth.ts
  apps/nextjs-website/src/messages/it.json
Labels: website

#438 [DEV-1073] add subscribe button
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/atoms/SubscribeButton/SubscribeButton.tsx
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#426 [DEV-1117]: Resend email feedback
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/lib/constants.ts
  apps/nextjs-website/src/lib/types/loader.ts
Labels: website, size/small

#445 [DEV-1163] table checkboxes on true / false values
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Labels: website, size/small

#442 [DEV-1141, DEV-1142] Signup and Confirm signup copy
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/molecules/CheckItem/CheckItem.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Labels: website, size/small

#310 [DEV-746] Generate and add metadata tags on pages
  apps/nextjs-website/jest.config.ts
  apps/nextjs-website/src/__tests__/helpers/metadata.helpers.test.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/[productSlug]/api/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/page.tsx
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/helpers/metadata.helpers.ts
Labels: website, size/small

#446 [DPC-107] update arcade link
  apps/nextjs-website/src/_contents/appIo/quickStartGuide.ts
Labels: website, size/small

#424 [DEV-1139] Prevent verified user to receive a new verification email
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
Labels: size/small

#436 [DEV-1159] Add Spinner component
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/Spinner/Spinner.tsx
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.tsx
Labels: website, size/small

#441 [DEV-1126] Add menu to profile section
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/app/profile/layout.tsx
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/ProfileMenu/ProfileMenu.tsx
  apps/nextjs-website/src/components/molecules/DesktopProfileMenu/DesktopProfileMenu.tsx
  apps/nextjs-website/src/components/molecules/MobileProfileMenu/MobileProfileMenu.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/messages/it.json
Labels: website

#430 [DEV-1161] Improve mobile layout of home banner
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Labels: website, size/small

#449 [DEV-1143] update email button
  apps/cognito-functions/src/templates/post-confirmation-confirm-sign-up-message.ts
Labels: size/small

#301 [DEV-622] Remove crawler block
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/public/robots.txt
  apps/nextjs-website/src/app/robots.ts
  apps/nextjs-website/src/config.ts
Labels: workflows, website, size/small

#447 [DPC-110] Webinar service management IO
  apps/nextjs-website/public/images/speaker-diana.png
  apps/nextjs-website/public/images/speaker-ferraro.png
  apps/nextjs-website/public/images/speaker-franceschini.png
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small

#450 Fix cleanup phase on fetch-docs
  apps/nextjs-website/scripts/fetch-docs.sh
Labels: website, size/small

#451 [DPC-111]Update url APi pagoPA
  apps/nextjs-website/src/_contents/pagoPa/api.ts
Labels: website, size/small

#448 [DEV-1150] add redirect cta to login after signup
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
Labels: website, size/small

#429 [DEV-1160] Add fallback icon for missing webinar speaker image
  apps/nextjs-website/src/components/molecules/SpeakerPreview/SpeakerPreview.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
Labels: website, size/small

#427 [DEV-1133, DEV-996]: User menu
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#452 [DEV-1173] Fix OTP email template and copy
  apps/cognito-functions/src/__tests__/create-auth-challenge-handler.test.ts
  apps/cognito-functions/src/create-auth-challenge-handler.ts
  apps/cognito-functions/src/templates/otp-message.ts
Labels: size/small

#453 [DEV-1174] Update copy of agreements page
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#456 [DPC-92] review Quick start SEND
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Labels: website, size/small

#457 [DPC-110] Changed slug for webinar
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small

#455 [DPC-101] Removed outdated tutorial
  apps/nextjs-website/src/_contents/send/tutorialLists.ts
Labels: website, size/small

#443 [DEV-1168] manage webinars subscription withuser preferences
  README.md
  apps/nextjs-website/src/__tests__/helpers/userPreferences.helpers.test.ts
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
  apps/nextjs-website/src/helpers/userPreferences.helpers.ts
  apps/nextjs-website/src/lib/types/auth.ts
  apps/nextjs-website/src/messages/it.json
Labels: website

#431 [DEV-1152] Disable submit button on form submission
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Labels: website, size/small

#460 [DEV-1175] Custom error if user is confirmed
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
Labels: size/small

#461 [DEV-1181] Fix confirm login copy
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/molecules/ResendEmail/ResendEmail.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/lib/constants.ts
  apps/nextjs-website/src/messages/it.json
Labels: website

#459 [DEV-1140] manage unconfirmed user with expired code
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/atoms/PageBackgroundWrapper/PageBackgroundWrapper.tsx
  apps/nextjs-website/src/components/atoms/SingleCard/SingleCard.tsx
  apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordChangedCard.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#462 Remove isProduction filter
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/lib/api.ts
Labels: website, size/small

#463 [DEV-1170, DEV-1171] Add new versions of Privacy policy and Terms of service
  apps/nextjs-website/src/app/privacy-policy/page.tsx
  apps/nextjs-website/src/app/terms-of-service/page.tsx
Labels: website, size/small

#464 [DEV-1187] Fix webinar image from content
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small

#465 [DEV-1188] Fix mobile site header layout
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/editorialComponents/Footer/Footer.tsx
Labels: website, size/small

#469 [DPC-117] changed link to SEND in footer
  apps/nextjs-website/src/_contents/translations.ts
Labels: website, size/small

#470 [DEV-1191] Fix add NEXT_PUBLIC_ENVIRONMENT env variable
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/lib/api.ts
Labels: website, size/small

#473 Add timeout to lambda functions
  .infrastructure/55_cognito.tf
Labels: size/small, infra

#474 [DEV-1105] Add webinar components translations
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/SpeakerList/SpeakerList.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/messages/en.json
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#468 [DEV-1009] Fix tables too wide causing the menu to disappear
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Labels: website, size/small

#458 [DEV-1165] Table items on multiple lines
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Labels: website, size/small

#425 [DEV-1090] Fix inline images
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Item.tsx
Labels: website, size/small

#467 [DEV-1151]: translate role on profile page
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
Labels: website, size/small

#479 Release version
  apps/nextjs-website/package.json
Labels: website, size/small

#480 Revert "Release version"
  apps/nextjs-website/package.json
Labels: website, size/small

#481 Release version 0.2.0
  apps/nextjs-website/package.json
  package-lock.json
Labels: website, size/small

#475 [DEV-1154] Set longer snackbar duration
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/components/molecules/ResendEmail/ResendEmail.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/config.ts
Labels: website, size/small

#478 [DEV-1204] og tags
  apps/nextjs-website/public/icons/appIo.png
  apps/nextjs-website/public/icons/pagoPa.png
  apps/nextjs-website/public/icons/send.png
  apps/nextjs-website/public/images/dev-portal-home.jpg
  apps/nextjs-website/src/__tests__/helpers/metadata.helpers.test.ts
  apps/nextjs-website/src/_contents/appIo/appIo.ts
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/pagoPa/pagoPa.ts
  apps/nextjs-website/src/_contents/send/send.ts
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/helpers/metadata.helpers.ts
  apps/nextjs-website/src/lib/types/product.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small
