Repository pagopa/developer-portal, pull requests merged in 2023-08, with the labels that each got.

#224 Fix Api tester
  apps/nextjs-website/src/components/organisms/ApiTesterPart/ApiTesterPart.tsx
Labels: website, size/small

#183 Add quick-start page
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/appIo/api.ts
  apps/nextjs-website/src/_contents/appIo/appIo.ts
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/appIo/quickStartGuide.ts
  apps/nextjs-website/src/_contents/appIo/quickStartGuidePath.ts
  apps/nextjs-website/src/_contents/ioSign/api.ts
  apps/nextjs-website/src/_contents/ioSign/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/api.ts
  apps/nextjs-website/src/_contents/pagoPa/bannerLinks.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/_contents/send/api.ts
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/AlertPart/AlertPart.tsx
  apps/nextjs-website/src/components/atoms/CopyToClipboard/CopyToClipboard.tsx
  apps/nextjs-website/src/components/atoms/GoToStep/GoToStep.tsx
  apps/nextjs-website/src/components/atoms/InnerHtmlPart/InnerHtmlPart.tsx
  apps/nextjs-website/src/components/atoms/NavigationArrow/NavigationArrow.tsx
  apps/nextjs-website/src/components/atoms/TypographyPart/TypographyPart.tsx
  apps/nextjs-website/src/components/molecules/CodeBlockPart/CodeBlockPart.module.css
  apps/nextjs-website/src/components/molecules/CodeBlockPart/CodeBlockPart.tsx
  apps/nextjs-website/src/components/molecules/CodeBlockPart/darkCustomStyle.ts
  apps/nextjs-website/src/components/molecules/CodeBlockPart/lightCustomStyle.ts
  apps/nextjs-website/src/components/molecules/PartRenderer/PartRenderer.tsx
  apps/nextjs-website/src/components/molecules/QuickStartGuideStepper/QuickStartGuideStepper.tsx
  apps/nextjs-website/src/components/organisms/ApiTesterPart/ApiTesterPart.tsx
  apps/nextjs-website/src/components/organisms/TabSwitcherProvider/TabSwitcherProvider.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/part.ts
  apps/nextjs-website/src/lib/types/quickStartGuideData.ts
  apps/nextjs-website/src/lib/types/step.ts
  apps/nextjs-website/src/pages/[productSlug]/quick-start.tsx
  package-lock.json
  package.json
Labels: website, size/large

#228 upgrade turbo
  package-lock.json
  package.json
Labels: size/small

#226 Refactor on GitHub actions
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/actions/upload-nextjs-bundle-stats/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/nextjs_bundle_analysis.yml
Labels: workflows, size/small

#203 Parse gitbook html table
  package-lock.json
  packages/gitbook-docs/package.json
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/htmltable.ts
  packages/gitbook-docs/src/markdoc/tokenProcessor.ts
  packages/gitbook-docs/src/parseContent.ts
Labels: size/small, packages

#205 DEV-833 Render gitbook page components
  apps/nextjs-website/src/components/organisms/GitBookContent/GitBookContent.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/CodeBlock.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Embed.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Expandable.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/File.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Heading.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Hint.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Image.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Item.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Link.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/List.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/PageLink.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Paragraph.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Quote.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/StyledText.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Tabs.tsx
  apps/nextjs-website/src/components/organisms/GuideContent/GuideContent.tsx
  apps/nextjs-website/src/pages/[productSlug]/guides/[...productGuidePage].tsx
  apps/nextjs-website/src/pages/[productSlug]/tutorials/[...productTutorialPage].tsx
  package-lock.json
  packages/gitbook-docs/package.json
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/attributes.ts
  packages/gitbook-docs/src/markdoc/schema/details.ts
  packages/gitbook-docs/src/markdoc/schema/heading.ts
  packages/gitbook-docs/src/markdoc/schema/hint.ts
  packages/gitbook-docs/src/markdoc/schema/htmltable.ts
  packages/gitbook-docs/src/markdoc/schema/pageLink.ts
  packages/gitbook-docs/src/markdoc/schema/sanitizedText.ts
  packages/gitbook-docs/src/markdoc/schema/styledText.ts
  packages/gitbook-docs/src/markdoc/schema/tab.ts
  packages/gitbook-docs/src/markdoc/schema/tabs.ts
  packages/gitbook-docs/src/markdoc/tokenProcessor.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/parseMenu.ts
  packages/gitbook-docs/src/renderContent.ts
Labels: website, packages, size/large

#174 [DEV-716]: Fix API SEND
  apps/nextjs-website/src/_contents/send/api.ts
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.styles.ts
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.tsx
  apps/nextjs-website/src/pages/[productSlug]/api.tsx
Labels: website, size/small

#225 Refactor GitHub action to enforce reuse
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/actions/upload-nextjs-bundle-stats/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/nextjs_bundle_analysis.yml
  apps/nextjs-website/package.json
Labels: workflows, website, size/small

#231 Add in-page menu parser
  packages/gitbook-docs/src/__tests__/parseInPageMenu.test.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/renderContent.ts
Labels: size/small, packages

#233 [DEV-751] - Fix mobile style for tutorial and guide pages
  apps/nextjs-website/src/components/organisms/GitBookContent/components/CodeBlock.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Item.tsx
  apps/nextjs-website/src/pages/[productSlug]/tutorials/[...productTutorialPage].tsx
Labels: website, size/small

#236 Decrease time to set PR as stale
  .github/workflows/stale.yaml
Labels: workflows, size/small

#223 [DEV-823, DEV-843] - NextJS analyze bundle size with GitHub Action
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/check-nextjs-bundle-size/action.yaml
  .github/actions/configure-aws-credentials/action.yaml
  .github/actions/deploy/action.yaml
  .github/actions/setup-node/action.yaml
  .github/actions/setup-terraform/action.yaml
  .github/workflows/assign-pr.yaml
  .github/workflows/ci.yaml
  .github/workflows/code_review.yaml
  .github/workflows/code_review_infra.yaml
  .github/workflows/deploy_infra.yml
  .github/workflows/deploy_website.yaml
  .github/workflows/infra-ci.yml
  .github/workflows/labeler.yaml
  .github/workflows/pr_enrich.yaml
  apps/nextjs-website/package.json
Labels: workflows, website, size/large

#216 [DEV-754] - Send/add quick start page
  apps/nextjs-website/src/_contents/appIo/quickStartGuide.ts
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
  apps/nextjs-website/src/_contents/send/quickStartGuidePath.ts
  apps/nextjs-website/src/_contents/send/send.ts
  apps/nextjs-website/src/components/atoms/AlertPart/AlertPart.tsx
  apps/nextjs-website/src/components/atoms/GoToStep/GoToStep.tsx
  apps/nextjs-website/src/components/atoms/InnerHtmlLazyLoadedPart/InnerHtmlLazyLoadedPart.tsx
  apps/nextjs-website/src/components/atoms/InnerHtmlPart/InnerHtmlPart.tsx
  apps/nextjs-website/src/components/atoms/TypographyPart/TypographyPart.tsx
  apps/nextjs-website/src/components/molecules/PartRenderer/PartRenderer.tsx
  apps/nextjs-website/src/components/molecules/QuickStartGuideStepper/QuickStartGuideStepper.tsx
  apps/nextjs-website/src/lib/types/part.ts
Labels: website, size/large

#232 DEV-796 Improve card parser
  apps/nextjs-website/src/components/organisms/GitBookContent/GitBookContent.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Cards.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/attributes.ts
  packages/gitbook-docs/src/markdoc/schema/htmltable.ts
  packages/gitbook-docs/src/markdoc/schema/list.ts
  packages/gitbook-docs/src/markdoc/schema/table.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/renderContent.ts
Labels: website, size/small, packages

#238 Remove legacy and unused packages
  package-lock.json
  packages/core/.eslintrc.json
  packages/core/jest.config.ts
  packages/core/package.json
  packages/core/src/domain/Image.ts
  packages/core/src/domain/__tests__/navigator.test.ts
  packages/core/src/domain/__tests__/productGuideNavigator.test.ts
  packages/core/src/domain/homepage.ts
  packages/core/src/domain/navigator.ts
  packages/core/src/domain/pageBlock.ts
  packages/core/src/domain/productGuideNavigator.ts
  packages/core/src/domain/productGuidePage.ts
  packages/core/src/domain/productPage.ts
  packages/core/src/domain/productTutorialPage.ts
  packages/core/tsconfig.json
  packages/gitbook-adapters/.eslintrc.json
  packages/gitbook-adapters/jest.config.ts
  packages/gitbook-adapters/package.json
  packages/gitbook-adapters/src/adapters/gitbook/GitBookEnv.ts
  packages/gitbook-adapters/src/adapters/gitbook/__tests__/data.ts
  packages/gitbook-adapters/src/adapters/gitbook/__tests__/gitbookProductGuide.test.ts
  packages/gitbook-adapters/src/adapters/gitbook/__tests__/makeProductGuideNav.test.ts
  packages/gitbook-adapters/src/adapters/gitbook/gitbookProductGuide.ts
  packages/gitbook-adapters/src/adapters/gitbook/makeProductGuideNav.ts
  packages/gitbook-adapters/src/adapters/gitbook/makeProductGuidePageCollector.ts
  packages/gitbook-adapters/tsconfig.json
  packages/static-adapters/.eslintrc.json
  packages/static-adapters/package.json
  packages/static-adapters/src/adapters/static/makeHomepageCollector.ts
  packages/static-adapters/src/adapters/static/makeNavCollector.ts
  packages/static-adapters/src/adapters/static/makeProductPageCollector.ts
  packages/static-adapters/src/adapters/static/makeProductTutorialPageCollector.ts
  packages/static-adapters/src/adapters/static/products/ioAppPages.ts
  packages/static-adapters/src/adapters/static/products/ioSignPages.ts
  packages/static-adapters/tsconfig.json
Labels: packages, size/large

#234 [DEV-755] - Io sign/add quick start page
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/ioSign/overview.ts
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
  apps/nextjs-website/src/_contents/ioSign/quickStartGuidePath.ts
  apps/nextjs-website/src/_contents/products.ts
Labels: website, size/large

#239 Remove CI badge from README
  README.md
Labels: size/small

#237 [DEV-844] - Parse mention
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/components/organisms/GitBookContent/GitBookContent.tsx
  apps/nextjs-website/src/pages/[productSlug]/guides/[...productGuidePage].tsx
  apps/nextjs-website/src/pages/[productSlug]/tutorials/[...productTutorialPage].tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/link.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/parseDoc.ts
Labels: website, size/small, packages

#230 [DEV-819] - In-page menu in each guide
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/molecules/BannerLinks/BannerLinks.tsx
  apps/nextjs-website/src/components/organisms/FragmentProvider/FragmentProvider.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Heading.tsx
  apps/nextjs-website/src/components/organisms/GuideInPageMenu/GuideInPageMenu.tsx
  apps/nextjs-website/src/components/organisms/GuideInPageMenu/components/Heading.tsx
  apps/nextjs-website/src/markdoc/components/SummaryLink.tsx
  apps/nextjs-website/src/pages/[productSlug]/guides/[...productGuidePage].tsx
  apps/nextjs-website/src/pages/[productSlug]/tutorials/[...productTutorialPage].tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/__tests__/parseInPageMenu.test.ts
  packages/gitbook-docs/src/markdoc/schema/heading.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/parseInPageMenu.ts
  packages/gitbook-docs/src/renderContent.ts
  packages/gitbook-docs/src/renderInPageMenu.ts
Labels: website, packages, size/large

#241 [DEV-889] Fix Image layout by removing unwanted padding
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Image.tsx
Labels: website, size/small

#243 [DEV-883] Remove tutorial dates from static contents
  apps/nextjs-website/src/_contents/appIo/tutorialLists.ts
  apps/nextjs-website/src/_contents/ioSign/tutorialLists.ts
  apps/nextjs-website/src/_contents/pagoPa/tutorialLists.ts
  apps/nextjs-website/src/_contents/send/tutorialLists.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/News/News.tsx
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
  apps/nextjs-website/src/lib/types/tutorialData.ts
  apps/nextjs-website/src/pages/[productSlug]/tutorials.tsx
Labels: website, size/small

#244 Update README.md
  README.md
Labels: size/small

#245 [DEV-753] - add pago pa quick start page
  apps/nextjs-website/src/_contents/pagoPa/pagoPa.ts
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuidePath.ts
  apps/nextjs-website/src/_contents/products.ts
Labels: website, size/small
