Repository pagopa/developer-portal, pull requests merged in 2023-10, with the labels that each got.

#296 [DEV-968] Create TLS certificate for auth.developer.pagopa.it
  .infrastructure/11_certs.tf
Labels: size/small, infra

#300 [DEV-972] Add CNAME records of auth.developer.pagopa.it
  .infrastructure/10_dns.tf
Labels: size/small, infra

#299 [DEV-970] Create user pool domain
  .infrastructure/10_dns.tf
  .infrastructure/55_cognito.tf
Labels: size/small, infra

#294 [DPC-60] change in curl string
  apps/nextjs-website/src/_contents/appIo/quickStartGuide.ts
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
Labels: website, size/small

#302 [DPC-63] update quick start contents
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
Labels: website, size/small

#297 [DEV-969] Create AWS Cognito resources
  .infrastructure/10_dns.tf
  .infrastructure/55_cognito.tf
Labels: size/small, infra

#303 [DEV-740] Add hash router to elements
  apps/nextjs-website/src/components/atoms/ApiViewer/ApiViewer.tsx
Labels: website, size/small

#306 [DPC-65] SEND update openapi url
  apps/nextjs-website/src/_contents/send/api.ts
Labels: website, size/small

#304 [DEV-975] - Use shell syntax to read environment variables
  .github/actions/branch-up-to-date/action.yaml
  .github/actions/link-pr-to-jira-activity/action.yaml
Labels: size/small

#308 [DPC-63] update quick start Firma con IO
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
Labels: website, size/small

#293 [DEV-941] - Add "how to" and ADR
  docs/architecture/decisions/0004-use-gitbook-client.md
  docs/architecture/decisions/0007-retrieve-gitbook-content-from-github-repository.md
  docs/how-to/add-a-new-gitbook-docs.md
  docs/how-to/update-gitbook-docs.md
Labels: size/small, docs

#311 [DPC-63] last modify quick start
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
Labels: website, size/small

#313 [DEV-979] Fixes label 321 as 231 in the footer of site
  apps/nextjs-website/src/_contents/translations.ts
Labels: website, size/small

#312 [DEV-940] Sticky headers
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/components/atoms/ProductHeader/ProductHeader.tsx
  apps/nextjs-website/src/components/atoms/ProductHeader/useScrollUp.ts
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
Labels: website, size/small

#316 [DEV-987] - Add How To add a new guide
  docs/how-to/add-a-new-gitbook-docs.md
Labels: size/small, docs

#280 [DEV-953] Refactor layout
  apps/nextjs-website/src/app/[productSlug]/api/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/page.tsx
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/not-found.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/app/privacy-policy/page.tsx
  apps/nextjs-website/src/app/terms-of-service/page.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/components/atoms/MainWrapper/MainWrapper.tsx
  apps/nextjs-website/src/components/atoms/ProductHeader/ProductHeader.tsx
  apps/nextjs-website/src/components/atoms/ProductHeader/useScrollUp.ts
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/components/organisms/Layout/Layout.tsx
  apps/nextjs-website/src/components/organisms/ProductLayout/ProductLayout.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/styles/globals.css
Labels: website, size/small

#319 [DEV-788] uniform product header links color
  apps/nextjs-website/src/editorialComponents/Header/components/MenuDropdown.tsx
Labels: website, size/small

#317 [DEV-852] Menu item should be active if subpath is included in path
  apps/nextjs-website/src/__tests__/helpers/productHeader.helpers.test.ts
  apps/nextjs-website/src/helpers/productHeader.helper.ts
Labels: website, size/small

#322 [DPC-72] Update manuals IO App
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
  apps/nextjs-website/src/_contents/appIo/guides.ts
  apps/nextjs-website/src/_contents/appIo/overview.ts
Labels: website, size/small

#324 [DEV-904] Uncomment Carta Giovani in guides.ts
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
  apps/nextjs-website/src/_contents/appIo/guides.ts
Labels: website, size/small

#329 [DPC-73] link typo
  apps/nextjs-website/src/_contents/appIo/overview.ts
Labels: website, size/small

#325 [DPC-66] Upload new manuals for pagopa
  apps/nextjs-website/public/images/pago-pa-manuale-bo-ec-mobile.png
  apps/nextjs-website/public/images/pago-pa-manuale-bo-ec.png
  apps/nextjs-website/public/images/pago-pa-manuale-bo-psp-mobile.png
  apps/nextjs-website/public/images/pago-pa-manuale-bo-psp.png
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Labels: website, size/small

#335 [DEV-1000] Update content security policy
  .infrastructure/60_cdn.tf
Labels: size/small, infra

#330 [DEV-1007] - Send registration email using custom SES
  .infrastructure/55_cognito.tf
Labels: size/small, infra

#309 [DEV-943, DEV-992] Authentication flow
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/package.json
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/components/organisms/Auth/AuthProvider.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/config.ts
  package-lock.json
Labels: workflows, website, size/small

#337 [DEV-992] - Fix Cognito environment variables
  .github/workflows/deploy_website.yaml
Labels: workflows, size/small

#332 [DEV-791] Fix overview postIntegration layout
  apps/nextjs-website/src/components/atoms/LinkButton/LinkButton.tsx
  apps/nextjs-website/src/components/molecules/GuideCard/GuideCard.tsx
  apps/nextjs-website/src/components/molecules/LinkCards/LinkCards.tsx
  apps/nextjs-website/src/components/molecules/SectionTitle/SectionTitle.tsx
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
Labels: website, size/small

#340 [DEV-790] Set button variant to 'outlined' in ProductShowcase component
  apps/nextjs-website/src/components/organisms/ProductsShowcase/ProductsShowcase.tsx
Labels: website, size/small

#315 [DEV-977] Fix rendering layout of Embed gitBook block and add custom components…
  apps/nextjs-website/src/__tests__/helpers/embed.helpers.test.ts
  apps/nextjs-website/src/components/atoms/EmbedCaption/EmbedCaption.tsx
  apps/nextjs-website/src/components/atoms/EmbedLink/EmbedLink.tsx
  apps/nextjs-website/src/components/molecules/EmbedCodePen/EmbedCodePen.tsx
  apps/nextjs-website/src/components/molecules/EmbedFigma/EmbedFigma.tsx
  apps/nextjs-website/src/components/molecules/EmbedYouTube/EmbedYouTube.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Embed.tsx
  apps/nextjs-website/src/helpers/embed.helpers.ts
  apps/nextjs-website/src/styles/globals.css
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/parseContent.ts
Labels: website, size/small, packages

#344 [DEV-1010] - Update user pool's password policy
  .infrastructure/55_cognito.tf
Labels: size/small, infra

#346 [DPC-69] Update link API
  apps/nextjs-website/src/_contents/send/api.ts
Labels: website, size/small

#343 [DEV-879] Preserve spaces during token processing
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/tokenProcessor.ts
Labels: size/small, packages

#354 [DEV-899] Update Commit Sync Manuals
  apps/nextjs-website/package.json
Labels: website, size/small

#333 [DEV-828] Cookies prefences footer link
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/SiteFooter/SiteFooter.tsx
  apps/nextjs-website/src/config.ts
Labels: website, size/small

#347 [DEV-1023] Change email verification mode from code to link
  .github/workflows/code_review_infra.yaml
  .github/workflows/deploy_infra.yml
  .infrastructure/.terraform.lock.hcl
  .infrastructure/55_cognito.tf
  apps/cognito-functions/.eslintrc.json
  apps/cognito-functions/.gitignore
  apps/cognito-functions/jest.config.js
  apps/cognito-functions/package.json
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/send-email-handler.ts
  apps/cognito-functions/tsconfig.json
  package-lock.json
Labels: workflows, size/small, infra

#320 [DEV-1058] Next intl setup
  apps/nextjs-website/package.json
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/organisms/PostIntegration/PostIntegration.tsx
  apps/nextjs-website/src/messages/en.json
  apps/nextjs-website/src/messages/it.json
  package-lock.json
Labels: website, size/small
