Repository pagopa/developer-portal, pull requests merged in 2023-07, with the labels that each got.

#94 Add PR size label
  .github/workflows/labeler.yaml
Labels: workflows, size/small

#89 Add stale workflow
  .github/workflows/stale.yaml
Labels: workflows, size/small

#102 Create workflow to auto assign PR
  .github/auto-assign.yaml
  .github/workflows/assign-pr.yaml
Labels: workflows, size/small

#105 Update github OIDC thumbprint
  .infrastructure/identity/main.tf
Labels: size/small, infra

#95 [DEV-661] - Feature app io overview/add feature component
  apps/nextjs-website/next.config.js
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/ioSign/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/pages/[productSlug]/overview.tsx
Labels: website

#103 Feature/add banner links
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/components/editorialComponents/BannerLink/BannerLink.tsx
  apps/nextjs-website/src/components/molecules/BannerLinks/BannerLinks.tsx
  apps/nextjs-website/src/components/organisms/Layout/Layout.tsx
  apps/nextjs-website/src/helpers/getIconFromName.tsx
  apps/nextjs-website/src/pages/[productSlug]/overview.tsx
Labels: website, size/small

#109 Remove babel config file and improve test configuration
  apps/nextjs-website/.babelrc
  apps/nextjs-website/jest.config.js
  apps/nextjs-website/jest.config.ts
  apps/nextjs-website/package.json
  apps/nextjs-website/src/__tests__/helpers/productHeader.helpers.test.ts
  apps/nextjs-website/src/__tests__/helpers/siteFooter.helpers.test.ts
  apps/nextjs-website/tsconfig.jest.json
  package-lock.json
  packages/eslint-config/eslint-functional.js
Labels: website, size/small, packages

#99 [DEV-663] - Feature app io overview/add start info component
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/CtaCard/CtaCard.tsx
  apps/nextjs-website/src/components/atoms/IconWrapper/IconWrapper.tsx
  apps/nextjs-website/src/components/molecules/SectionTitle/SectionTitle.tsx
  apps/nextjs-website/src/components/molecules/StartCards/StartCards.tsx
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
  apps/nextjs-website/src/pages/[productSlug]/overview.tsx
Labels: website, size/small

#97 Draft: [DEV-607] Add SEND guides
  apps/nextjs-website/public/images/approfondimenti-integrazione.png
  apps/nextjs-website/public/images/modello-integrazione.png
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/_contents/send/guideLists.ts
  apps/nextjs-website/src/_contents/send/guideListsPath.ts
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/_contents/send/overviewPath.ts
  apps/nextjs-website/src/_contents/send/send.ts
Labels: website, size/small

#100 [DEV-666] - Feature app io overview/add links component
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/RelatedLinks/RelatedLinks.tsx
  apps/nextjs-website/src/pages/[productSlug]/overview.tsx
Labels: website, size/small

#96 [DEV-267] - Add ioSign guides
  apps/nextjs-website/src/_contents/ioSign/guideLists.ts
  apps/nextjs-website/src/_contents/ioSign/guideListsPath.ts
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/ioSign/overviewPath.ts
  apps/nextjs-website/src/_contents/products.ts
Labels: website, size/small

#93 [DEV-605, DEV-607, DEV-267] - Add guides lists
  apps/nextjs-website/public/images/approfondimenti-sull-integrazione-mobile.png
  apps/nextjs-website/public/images/approfondimenti-sull-integrazione.png
  apps/nextjs-website/public/images/guida-tecnica-mobile.png
  apps/nextjs-website/public/images/guida-tecnica-sugli-avvisi-di-pagamento-mobile.png
  apps/nextjs-website/public/images/guida-tecnica-sugli-avvisi-di-pagamento.png
  apps/nextjs-website/public/images/guida-tecnica.png
  apps/nextjs-website/public/images/kit-di-comunicazione-mobile.png
  apps/nextjs-website/public/images/kit-di-comunicazione.png
  apps/nextjs-website/public/images/linee-guida-di-brand-mobile.png
  apps/nextjs-website/public/images/linee-guida-di-brand.png
  apps/nextjs-website/public/images/manuale-dei-servizi-mobile.png
  apps/nextjs-website/public/images/manuale-dei-servizi.png
  apps/nextjs-website/public/images/manuale-di-carta-giovani-nazionale-mobile.png
  apps/nextjs-website/public/images/manuale-di-carta-giovani-nazionale.png
  apps/nextjs-website/public/images/manuale-operativo-mobile.png
  apps/nextjs-website/public/images/manuale-operativo.png
  apps/nextjs-website/public/images/modello-di-integrazione-mobile.png
  apps/nextjs-website/public/images/modello-di-integrazione.png
  apps/nextjs-website/public/images/saci-mobile.png
  apps/nextjs-website/public/images/saci.png
  apps/nextjs-website/public/images/sanp-mobile.png
  apps/nextjs-website/public/images/sanp.png
  apps/nextjs-website/src/_contents/ioSign/guideLists.ts
  apps/nextjs-website/src/_contents/ioSign/guideListsPath.ts
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/ioSign/overviewPath.ts
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/guideListsPath.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/overviewPath.ts
  apps/nextjs-website/src/_contents/pagoPa/pagoPA.ts
  apps/nextjs-website/src/_contents/pagoPa/pagoPa.ts
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/_contents/send/guideLists.ts
  apps/nextjs-website/src/_contents/send/guideListsPath.ts
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/_contents/send/overviewPath.ts
  apps/nextjs-website/src/_contents/send/send.ts
  apps/nextjs-website/src/components/atoms/LinkButton/LinkButton.tsx
  apps/nextjs-website/src/components/atoms/UnorderedList/UnorderedList.module.css
  apps/nextjs-website/src/components/atoms/UnorderedList/UnorderedList.tsx
  apps/nextjs-website/src/components/molecules/GuideCard/GuideCard.tsx
  apps/nextjs-website/src/components/molecules/GuidesSection/GuidesSection.tsx
  apps/nextjs-website/src/editorialComponents/Abstract/Abstract.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/guideListsData.ts
  apps/nextjs-website/src/pages/[productSlug]/guides.tsx
Labels: website, size/large

#81 [DEV-425] - API in app IO
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/appIo/api.ts
  apps/nextjs-website/src/_contents/appIo/apiPath.ts
  apps/nextjs-website/src/_contents/appIo/appIO.ts
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/components/atoms/ApiViewer/ApiViewer.tsx
  apps/nextjs-website/src/components/atoms/ApiViewer/index.ts
  apps/nextjs-website/src/components/index.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/apiData.ts
  apps/nextjs-website/src/lib/types/product.ts
  apps/nextjs-website/src/pages/[productSlug]/api.tsx
  package-lock.json
Labels: website, size/small

#108 [DEV-665] - Feature app io overview/add guides section
  apps/nextjs-website/src/_contents/appIo/appIO.ts
  apps/nextjs-website/src/_contents/appIo/guidesPath.ts
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/appIo/postIntegration.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/LinkButton/LinkButton.tsx
  apps/nextjs-website/src/components/molecules/LinkCard/LinkCard.tsx
  apps/nextjs-website/src/components/organisms/LinkCards/LinkCards.tsx
  apps/nextjs-website/src/lib/types/guideData.ts
  apps/nextjs-website/src/pages/[productSlug]/overview.tsx
Labels: website, size/small

#110 [DEV-703] - Add https://raw.githubusercontent.com/pagopa/ to security policy
  .infrastructure/60_cdn.tf
Labels: size/small, infra

#111 Rename guides to post integration
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/appIo/postIntegration.ts
  apps/nextjs-website/src/pages/[productSlug]/overview.tsx
Labels: website, size/small

#112 [DEV-705] - Add https://io.italia.it/assets/ to img-src in CSP
  .infrastructure/60_cdn.tf
Labels: size/small, infra

#115 [DEV-698] - homepage/product showcase
  apps/nextjs-website/public/icons/AppIO.svg
  apps/nextjs-website/public/icons/PagoPA.svg
  apps/nextjs-website/public/icons/SEND.svg
  apps/nextjs-website/src/__tests__/helpers/productHeader.helpers.test.ts
  apps/nextjs-website/src/_contents/appIo/appIO.ts
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/pagoPa/pagoPa.ts
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/_contents/send/send.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/CtaCard/CtaCard.tsx
  apps/nextjs-website/src/components/atoms/IconWrapper/IconWrapper.tsx
  apps/nextjs-website/src/components/molecules/CardsGrid/CardsGrid.tsx
  apps/nextjs-website/src/components/molecules/SectionTitle/SectionTitle.tsx
  apps/nextjs-website/src/components/organisms/News/News.tsx
  apps/nextjs-website/src/components/organisms/ProductsShowcase/ProductsShowcase.tsx
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
  apps/nextjs-website/src/lib/types/product.ts
  apps/nextjs-website/src/pages/index.tsx
Labels: website, size/small

#119 [DEV-707] - Fix order of App IO subpaths
  apps/nextjs-website/src/_contents/appIo/appIO.ts
Labels: website, size/small

#114 [DEV-673] - Add breadcrumb
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/ProductBreadcrumbs/ProductBreadcrumbs.tsx
  apps/nextjs-website/src/components/organisms/Layout/Layout.tsx
  apps/nextjs-website/src/helpers/breadcrumbs.helpers.ts
  apps/nextjs-website/src/pages/[productSlug]/api.tsx
  apps/nextjs-website/src/pages/[productSlug]/guides.tsx
Labels: website, size/small

#116 [DEV-710] - Feature homepage/add links
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/pages/index.tsx
Labels: website, size/small

#117 [DEV-711] - Feature homepage/add news section
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/News/News.tsx
  apps/nextjs-website/src/components/organisms/TutorialsOverview/TutorialsOverview.tsx
  apps/nextjs-website/src/pages/[productSlug]/overview.tsx
  apps/nextjs-website/src/pages/index.tsx
Labels: website, size/small

#120 Feature/send api
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/appIo/api.ts
  apps/nextjs-website/src/_contents/ioSign/api.ts
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/_contents/send/api.ts
  apps/nextjs-website/src/_contents/send/apiPath.ts
  apps/nextjs-website/src/_contents/send/send.ts
  apps/nextjs-website/src/components/atoms/ApiViewer/ApiViewer.tsx
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.styles.ts
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.tsx
  apps/nextjs-website/src/components/molecules/ApiSection/index.tsx
  apps/nextjs-website/src/pages/[productSlug]/api.tsx
Labels: website, size/small

#121 [DEV-699] - Add App IO guide index page
  apps/nextjs-website/src/_contents/appIo/appIO.ts
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
  apps/nextjs-website/src/_contents/appIo/guideListsPath.ts
  apps/nextjs-website/src/_contents/products.ts
Labels: website, size/small

#122 Add gitbook-docs
  .github/actions/deploy/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-website.yaml
  .gitignore
  README.md
  apps/nextjs-website/.env.default
  apps/nextjs-website/package.json
  apps/nextjs-website/scripts/fetch-docs.sh
  apps/nextjs-website/src/config.ts
  package-lock.json
  packages/gitbook-docs/.eslintrc.json
  packages/gitbook-docs/jest.config.ts
  packages/gitbook-docs/package.json
  packages/gitbook-docs/src/parseDoc.ts
  packages/gitbook-docs/tsconfig.json
Labels: workflows, website, size/small, packages

#124 Add missing shell to deploy action
  .github/actions/deploy/action.yaml
Labels: size/small

#123 [DEV-610] - Add IO-Sign Overview
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/ioSign/overview.ts
  apps/nextjs-website/src/_contents/ioSign/overviewPath.ts
  apps/nextjs-website/src/_contents/ioSign/tutorialPath.ts
  apps/nextjs-website/src/_contents/ioSign/tutorials.ts
  apps/nextjs-website/src/helpers/getIconFromName.tsx
Labels: website, size/small

#127 [DEV-636] - Add pagoPA overview
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/pagoPa.ts
  apps/nextjs-website/src/_contents/pagoPa/tutorialPath.ts
  apps/nextjs-website/src/_contents/pagoPa/tutorials.ts
  apps/nextjs-website/src/helpers/getIconFromName.tsx
Labels: website, size/small

#125 [DEV-637] - Add SEND overview
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/_contents/send/send.ts
  apps/nextjs-website/src/_contents/send/tutorialPath.ts
  apps/nextjs-website/src/_contents/send/tutorials.ts
  apps/nextjs-website/src/helpers/getIconFromName.tsx
Labels: website, size/small

#128 [DEV-606]: Pago pa api
  apps/nextjs-website/src/_contents/pagoPa/api.ts
  apps/nextjs-website/src/_contents/pagoPa/apiPath.ts
  apps/nextjs-website/src/_contents/pagoPa/pagoPa.ts
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.styles.ts
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.tsx
  apps/nextjs-website/src/helpers/getIconFromName.tsx
  apps/nextjs-website/src/pages/[productSlug]/api.tsx
Labels: website, size/small

#129 Fix contents of pagoPA guide index page
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
Labels: website, size/small

#130 Fix some contents of SEND guide index page
  apps/nextjs-website/src/_contents/send/guideLists.ts
Labels: website, size/small

#131 [DEV-724, DEV-725] - Fix some contents of IO-sign guide index page
  apps/nextjs-website/src/_contents/ioSign/guideLists.ts
Labels: website, size/small

#133 [DEV-697] - Feature homepage/add hero
  apps/nextjs-website/package.json
  apps/nextjs-website/public/images/hero-swiper.png
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/CtaSlide/CtaSlide.tsx
  apps/nextjs-website/src/components/atoms/NavigationArrow/NavigationArrow.tsx
  apps/nextjs-website/src/components/atoms/SiteLabel/SiteLabel.tsx
  apps/nextjs-website/src/components/molecules/HeroSwiper/HeroSwiper.tsx
  apps/nextjs-website/src/components/molecules/HomepageButton/HomepageButton.tsx
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/components/organisms/News/News.tsx
  apps/nextjs-website/src/pages/_app.tsx
  apps/nextjs-website/src/pages/index.tsx
  apps/nextjs-website/src/styles/globals.css
  package-lock.json
Labels: website

#132 Add all tutorials and guides
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
  apps/nextjs-website/src/_contents/appIo/guides.ts
  apps/nextjs-website/src/_contents/appIo/tutorials.ts
  apps/nextjs-website/src/_contents/ioSign/guideLists.ts
  apps/nextjs-website/src/_contents/ioSign/guides.ts
  apps/nextjs-website/src/_contents/ioSign/tutorials.ts
  apps/nextjs-website/src/_contents/makeDocs.ts
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
  apps/nextjs-website/src/_contents/pagoPa/tutorials.ts
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/_contents/send/guideLists.ts
  apps/nextjs-website/src/_contents/send/guides.ts
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/markdoc/__tests__/index.test.ts
  apps/nextjs-website/src/markdoc/components.ts
  apps/nextjs-website/src/markdoc/components/Document.tsx
  apps/nextjs-website/src/markdoc/components/Embed.tsx
  apps/nextjs-website/src/markdoc/components/Expandable.tsx
  apps/nextjs-website/src/markdoc/components/File.tsx
  apps/nextjs-website/src/markdoc/components/Heading.tsx
  apps/nextjs-website/src/markdoc/components/Hint.tsx
  apps/nextjs-website/src/markdoc/components/Item.tsx
  apps/nextjs-website/src/markdoc/components/Link.tsx
  apps/nextjs-website/src/markdoc/components/PageLink.tsx
  apps/nextjs-website/src/markdoc/components/Paragraph.tsx
  apps/nextjs-website/src/markdoc/components/Strong.tsx
  apps/nextjs-website/src/markdoc/components/SummaryHeading.tsx
  apps/nextjs-website/src/markdoc/components/SummaryHr.tsx
  apps/nextjs-website/src/markdoc/components/SummaryItem.tsx
  apps/nextjs-website/src/markdoc/components/SummaryLink.tsx
  apps/nextjs-website/src/markdoc/components/SummaryUnorderedList.tsx
  apps/nextjs-website/src/markdoc/components/UnorderedList.tsx
  apps/nextjs-website/src/markdoc/helpers.ts
  apps/nextjs-website/src/markdoc/index.ts
  apps/nextjs-website/src/markdoc/schema.ts
  apps/nextjs-website/src/pages/[productSlug]/guide/[...productGuidePage].tsx
  apps/nextjs-website/src/pages/[productSlug]/guides/[...productGuidePage].tsx
  apps/nextjs-website/src/pages/[productSlug]/tutorial/[...productTutorialPage].tsx
  package-lock.json
Labels: website, size/large

#138 Refactor overview content translation
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/ioSign/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/molecules/SectionTitle/SectionTitle.tsx
  apps/nextjs-website/src/components/organisms/LinkCards/LinkCards.tsx
  apps/nextjs-website/src/components/organisms/News/News.tsx
  apps/nextjs-website/src/components/organisms/TutorialsOverview/TutorialsOverview.tsx
  apps/nextjs-website/src/pages/[productSlug]/overview.tsx
Labels: website

#142 Add environment to export step
  .github/actions/deploy/action.yaml
Labels: size/small

#144 DEV-729 Improve cloudfront function
  apps/cloudfront-functions/src/__tests__/viewer-request-handler.test.ts
  apps/cloudfront-functions/src/viewer-request-handler.ts
Labels: size/small

#139 Fix newsroom component
  apps/nextjs-website/src/_contents/appIo/tutorials.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/LinkButton/LinkButton.tsx
  apps/nextjs-website/src/components/organisms/News/News.tsx
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
  apps/nextjs-website/src/lib/types/tutorialData.ts
Labels: website, size/small

#148 Refactor post integration
  apps/nextjs-website/public/images/validatore-mobile.png
  apps/nextjs-website/public/images/validatore.png
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/molecules/LinkCards/LinkCards.tsx
  apps/nextjs-website/src/components/molecules/SectionTitle/SectionTitle.tsx
  apps/nextjs-website/src/components/organisms/LinkCards/LinkCards.tsx
  apps/nextjs-website/src/components/organisms/News/News.tsx
  apps/nextjs-website/src/components/organisms/PostIntegration/PostIntegration.tsx
  apps/nextjs-website/src/components/organisms/TutorialsOverview/TutorialsOverview.tsx
  apps/nextjs-website/src/pages/[productSlug]/overview.tsx
Labels: website

#150 Manage not closed file tags of docs
  apps/nextjs-website/src/markdoc/__tests__/index.test.ts
  apps/nextjs-website/src/markdoc/schema.ts
Labels: website, size/small

#145 refactor feature component and overview content
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/ioSign/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/editorialComponents/Feature/Feature.tsx
  apps/nextjs-website/src/editorialComponents/Feature/FeatureStackItem.tsx
  apps/nextjs-website/src/editorialComponents/Feature/Subtitle.tsx
  apps/nextjs-website/src/pages/[productSlug]/overview.tsx
Labels: website

#143 Fix start info
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/ioSign/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/components/atoms/CtaCard/CtaCard.tsx
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.tsx
  apps/nextjs-website/src/components/molecules/CardsGrid/CardsGrid.tsx
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
  apps/nextjs-website/src/editorialComponents/BannerLink/BannerLink.tsx
  apps/nextjs-website/src/helpers/getIconFromName.tsx
  apps/nextjs-website/src/pages/[productSlug]/api.tsx
  apps/nextjs-website/src/pages/[productSlug]/overview.tsx
Labels: website, size/small

#149 Add guide versions switcher
  apps/nextjs-website/src/_contents/makeDocs.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/Dropdown/Dropdown.tsx
  apps/nextjs-website/src/pages/[productSlug]/guides/[...productGuidePage].tsx
Labels: website, size/small

#146 [DEV-422] - Add tutorial list page layout
  apps/nextjs-website/public/icons/appIo.svg
  apps/nextjs-website/public/icons/pagoPa.svg
  apps/nextjs-website/public/icons/send.svg
  apps/nextjs-website/src/__tests__/helpers/productHeader.helpers.test.ts
  apps/nextjs-website/src/_contents/appIo/api.ts
  apps/nextjs-website/src/_contents/appIo/appIo.ts
  apps/nextjs-website/src/_contents/appIo/bannerLinks.ts
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
  apps/nextjs-website/src/_contents/appIo/guideListsPath.ts
  apps/nextjs-website/src/_contents/appIo/guides.ts
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/appIo/tutorialLists.ts
  apps/nextjs-website/src/_contents/appIo/tutorialListsPath.ts
  apps/nextjs-website/src/_contents/appIo/tutorialPath.ts
  apps/nextjs-website/src/_contents/appIo/tutorials.ts
  apps/nextjs-website/src/_contents/ioSign/bannerLinks.ts
  apps/nextjs-website/src/_contents/ioSign/guideLists.ts
  apps/nextjs-website/src/_contents/ioSign/guides.ts
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/ioSign/overview.ts
  apps/nextjs-website/src/_contents/ioSign/tutorialLists.ts
  apps/nextjs-website/src/_contents/ioSign/tutorialListsPath.ts
  apps/nextjs-website/src/_contents/ioSign/tutorialPath.ts
  apps/nextjs-website/src/_contents/ioSign/tutorials.ts
  apps/nextjs-website/src/_contents/makeDocs.ts
  apps/nextjs-website/src/_contents/pagoPa/bannerLinks.ts
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/pagoPa.ts
  apps/nextjs-website/src/_contents/pagoPa/tutorialLists.ts
  apps/nextjs-website/src/_contents/pagoPa/tutorialListsPath.ts
  apps/nextjs-website/src/_contents/pagoPa/tutorialPath.ts
  apps/nextjs-website/src/_contents/pagoPa/tutorials.ts
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/_contents/send/bannerLinks.ts
  apps/nextjs-website/src/_contents/send/guideLists.ts
  apps/nextjs-website/src/_contents/send/guides.ts
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/_contents/send/send.ts
  apps/nextjs-website/src/_contents/send/tutorialLists.ts
  apps/nextjs-website/src/_contents/send/tutorialListsPath.ts
  apps/nextjs-website/src/_contents/send/tutorialPath.ts
  apps/nextjs-website/src/_contents/send/tutorials.ts
  apps/nextjs-website/src/components/molecules/BannerLinks/BannerLinks.tsx
  apps/nextjs-website/src/components/molecules/HomepageButton/HomepageButton.tsx
  apps/nextjs-website/src/components/organisms/Layout/Layout.tsx
  apps/nextjs-website/src/components/organisms/ProductsShowcase/ProductsShowcase.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/product.ts
  apps/nextjs-website/src/lib/types/tutorialListsData.ts
  apps/nextjs-website/src/pages/[productSlug]/guides.tsx
  apps/nextjs-website/src/pages/[productSlug]/guides/[...productGuidePage].tsx
  apps/nextjs-website/src/pages/[productSlug]/overview.tsx
  apps/nextjs-website/src/pages/[productSlug]/tutorial.tsx
  apps/nextjs-website/src/pages/[productSlug]/tutorials.tsx
  apps/nextjs-website/src/pages/[productSlug]/tutorials/[...productTutorialPage].tsx
Labels: website, size/large

#153 [DEV-736] - fix start info cta
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/ioSign/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
  apps/nextjs-website/src/pages/[productSlug]/overview.tsx
Labels: website, size/small

#152 [DEV-726] - Fix guide cards text margin, padding and list line-height
  apps/nextjs-website/src/components/atoms/UnorderedList/UnorderedList.module.css
  apps/nextjs-website/src/components/molecules/GuideCard/GuideCard.tsx
Labels: website, size/small

#155 Set image rounded corner in newsroom items component
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
Labels: website, size/small

#156 [DEV-727] Update send contents
  apps/nextjs-website/package.json
  apps/nextjs-website/public/images/send-tutorial-0.png
  apps/nextjs-website/public/images/send-tutorial-1.png
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/_contents/send/bannerLinks.ts
  apps/nextjs-website/src/_contents/send/guideLists.ts
  apps/nextjs-website/src/_contents/send/guides.ts
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/_contents/send/tutorialLists.ts
  apps/nextjs-website/src/_contents/send/tutorials.ts
  apps/nextjs-website/src/pages/[productSlug]/tutorials.tsx
  apps/nextjs-website/src/pages/[productSlug]/tutorials/[...productTutorialPage].tsx
Labels: website, size/small

#137 [DEV-728] - Fix some contents of pagoPA overview page
  apps/nextjs-website/public/images/pago-pa-creare-esercizio-ente-creditore.png
  apps/nextjs-website/public/images/pago-pa-marca-bollo.png
  apps/nextjs-website/public/images/pago-pa-stampare-avviso-pagamento.png
  apps/nextjs-website/public/images/pago-pa-test-esercizio.png
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/tutorialLists.ts
Labels: website, size/small

#136 Fix some contents of app IO overview page
  apps/nextjs-website/public/images/app-io-come-allegare-documenti.png
  apps/nextjs-website/public/images/app-io-ricevere-messaggi.png
  apps/nextjs-website/src/_contents/appIo/appIo.ts
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
  apps/nextjs-website/src/_contents/appIo/guideListsPath.ts
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/appIo/tutorialLists.ts
  apps/nextjs-website/src/_contents/appIo/tutorials.ts
Labels: website, size/small

#135 [DEV-720, DEV-722] - Fix some contents of IO-sign overview page
  apps/nextjs-website/public/images/io-sign-creare-dossier.png
  apps/nextjs-website/public/images/io-sign-effettuare-upload-documento.png
  apps/nextjs-website/public/images/io-sign-firmare-documento.png
  apps/nextjs-website/src/_contents/ioSign/overview.ts
  apps/nextjs-website/src/_contents/ioSign/tutorialLists.ts
Labels: website, size/small

#154 [DEV-733] - Fix product header and fix and hide breadcrumbs
  apps/nextjs-website/src/components/atoms/ProductBreadcrumbs/ProductBreadcrumbs.tsx
  apps/nextjs-website/src/components/atoms/ProductHeader/ProductHeader.tsx
  apps/nextjs-website/src/pages/[productSlug]/api.tsx
  apps/nextjs-website/src/pages/[productSlug]/guides.tsx
  apps/nextjs-website/src/pages/[productSlug]/guides/[...productGuidePage].tsx
  apps/nextjs-website/src/pages/[productSlug]/tutorials.tsx
  apps/nextjs-website/src/pages/[productSlug]/tutorials/[...productTutorialPage].tsx
Labels: website, size/small

#147 Fix homepage contents
  apps/nextjs-website/public/images/homepage-io-sign.png
  apps/nextjs-website/public/images/homepage-pago-pa.png
  apps/nextjs-website/public/images/homepage-validatore.png
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/translations.ts
Labels: website, size/small

#151 feat: add 404
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/pages/404.tsx
Labels: website, size/small

#157 [DEV-713] - Fix copy app IO index guides
  apps/nextjs-website/public/images/app-io-supporto-enti.png
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
Labels: website, size/small

#158 Update footer
  apps/nextjs-website/src/_contents/translations.ts
Labels: website, size/small

#159 [DEV-742] - add privacy policy
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/pages/privacy-policy.tsx
Labels: website, size/small

#161 Add URL to CSP
  .infrastructure/60_cdn.tf
Labels: size/small, infra

#160 DEV-743 Add terms of service
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/pages/terms-of-service.tsx
Labels: website, size/small

#162 Add favicon
  apps/nextjs-website/public/favicon.ico
  apps/nextjs-website/public/favicon.svg
  apps/nextjs-website/src/pages/_document.tsx
Labels: website, size/small

#164 Remove link from footer
  apps/nextjs-website/src/_contents/translations.ts
Labels: website, size/small

#141 [DEV-655]: add matomo analytics
  .github/actions/deploy/action.yaml
  .github/workflows/deploy-website.yaml
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/pages/_document.tsx
Labels: workflows, website, size/small

#165 Update gitbook docs
  apps/nextjs-website/package.json
  apps/nextjs-website/scripts/fetch-docs.sh
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
  apps/nextjs-website/src/_contents/appIo/guides.ts
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/send/guideLists.ts
  apps/nextjs-website/src/_contents/send/guides.ts
  apps/nextjs-website/src/_contents/send/overview.ts
Labels: website, size/small

#167 [DEV-770] - Allow execution of matomo script
  .infrastructure/60_cdn.tf
Labels: size/small, infra

#168 [DEV-774] - Add Matomo to connect-src in CSP
  .infrastructure/60_cdn.tf
Labels: size/small, infra

#170 [DEV-735] Fix Abstract default height and padding
  apps/nextjs-website/src/editorialComponents/Abstract/Abstract.tsx
  apps/nextjs-website/src/pages/[productSlug]/guides.tsx
Labels: website, size/small

#175 Fix icon for pagoPA API page
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.tsx
Labels: website, size/small

#177 Remove Next export using next build command
  .github/actions/deploy/action.yaml
  apps/nextjs-website/next.config.js
  apps/nextjs-website/package.json
Labels: website, size/small

#163 Automatic deploy on prod
  .github/workflows/deploy-website.yaml
Labels: workflows, size/small

#171 Add NextJS build cache
  .github/actions/deploy/action.yaml
Labels: size/small

#184 [DEV-784] - Fix copy on tutorial index pages
  apps/nextjs-website/src/_contents/appIo/tutorialLists.ts
  apps/nextjs-website/src/_contents/ioSign/tutorialLists.ts
  apps/nextjs-website/src/_contents/send/tutorialLists.ts
Labels: website, size/small

#178 DEV-780 Improve GitBook Menu
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  package-lock.json
  packages/gitbook-docs/package.json
  packages/gitbook-docs/src/__tests__/parseMenu.test.ts
  packages/gitbook-docs/src/markdoc/attributes.ts
  packages/gitbook-docs/src/parseMenu.ts
Labels: website, size/small, packages

#187 Add missing components to implement
  packages/gitbook-docs/src/renderContent.ts
Labels: size/small, packages

#189 DEV-802 Add GitBook code block parsing
  apps/nextjs-website/src/components/organisms/GuideContent/GuideContent.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/attributes.ts
  packages/gitbook-docs/src/markdoc/schema/code.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/renderContent.ts
Labels: website, size/small, packages

#188 DEV-800 Add gitbook list parsing
  apps/nextjs-website/src/components/organisms/GuideContent/GuideContent.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/item.ts
  packages/gitbook-docs/src/markdoc/schema/list.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/renderContent.ts
Labels: website, size/small, packages

#186 DEV-758 Fix gitbook title render
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/parseContent.ts
Labels: size/small, packages

#195 DEV-813 Ignore any <p> tag
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/parseContent.ts
Labels: size/small, packages

#192 DEV-808 Parse styled text
  apps/nextjs-website/src/components/organisms/GuideContent/GuideContent.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/styledText.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/renderContent.ts
Labels: website, size/small, packages

#190 [DEV-801] - Add GitBook quote block parsing
  apps/nextjs-website/src/components/organisms/GuideContent/GuideContent.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/blockquote.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/renderContent.ts
Labels: website, size/small, packages

#191 DEV-803 GitBook file parser
  apps/nextjs-website/src/components/organisms/GuideContent/GuideContent.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/file.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/renderContent.ts
Labels: website, size/small, packages

#197 [DEV-806] - Add GitBook tabs and tab parsing
  apps/nextjs-website/src/components/organisms/GuideContent/GuideContent.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/tab.ts
  packages/gitbook-docs/src/markdoc/schema/tabs.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/renderContent.ts
Labels: website, size/small, packages

#196 [DEV-804] - Add GitBook embed parsing
  apps/nextjs-website/src/components/organisms/GuideContent/GuideContent.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/errors.ts
  packages/gitbook-docs/src/markdoc/schema/embed.ts
  packages/gitbook-docs/src/markdoc/schema/file.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/renderContent.ts
Labels: website, size/small, packages

#199 DEV-807 Add expandable parser
  apps/nextjs-website/src/components/organisms/GuideContent/GuideContent.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/details.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/renderContent.ts
Labels: website, size/small, packages

#200 DEV-805 Add table parser
  apps/nextjs-website/src/components/organisms/GuideContent/GuideContent.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/table.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/renderContent.ts
Labels: website, size/small, packages

#202 DEV-822 Add description parser
  package-lock.json
  packages/gitbook-docs/package.json
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/document.ts
  packages/gitbook-docs/src/parseContent.ts
Labels: size/small, packages

#204 [DEV-824] - Add arcade URL to CSP
  .infrastructure/60_cdn.tf
Labels: size/small, infra

#207 [DEV-832] - Add cookielaw to CSP
  .infrastructure/60_cdn.tf
Labels: size/small, infra

#179 [DEV-747] - Add cookie script
  .github/actions/deploy/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-website.yaml
  .infrastructure/60_cdn.tf
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/pages/_document.tsx
Labels: workflows, website, size/small, infra

#208 [DEV-841] - Allow to download logos from cookielaw.org
  .infrastructure/60_cdn.tf
Labels: size/small, infra

#213 [DEV-834] - Remove emoji from heading
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/heading.ts
  packages/gitbook-docs/src/markdoc/schema/sanitizedText.ts
  packages/gitbook-docs/src/parseMenu.ts
Labels: size/small, packages

#215 DEV-838 Parse native markdown images
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/parseContent.ts
Labels: size/small, packages

#209 [DEV-835] - Content-ref parser
  apps/nextjs-website/src/components/organisms/GitBookContent/GitBookContent.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/PageLink.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/pageLink.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/renderContent.ts
Labels: website, size/small, packages

#219 DEV-839 Fix expandable children rendering
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/details.ts
Labels: size/small, packages

#221 Revert "DEV-839 Fix expandable children rendering"
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/details.ts
Labels: size/small, packages

#222 DEV-839 Fix expandable children rendering
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/details.ts
Labels: size/small, packages

#220 [DEV-779] - Add PNRR link to footer
  apps/nextjs-website/src/_contents/translations.ts
Labels: website, size/small
