Repository pagopa/developer-portal, pull requests merged in 2023-12, with the labels that each got.

#488 [DEV-1210] Replace default image for meta tags
  apps/nextjs-website/public/images/dev-portal-home.jpg
Labels: website, size/small

#493 [DPC-102] New tutorial SEND sync
  apps/nextjs-website/package.json
Labels: website, size/small

#495 [DPC-102] Added new tutorial SEND
  apps/nextjs-website/public/images/send-tutorial-2.png
  apps/nextjs-website/src/_contents/send/tutorialLists.ts
Labels: website, size/small

#497 [DEV-1215] Add vimeo to CSP
  .infrastructure/60_cdn.tf
Labels: size/small, infra

#494 [DEV-1027, DEV-892] Webinar player section
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/profile/layout.tsx
  apps/nextjs-website/src/components/atoms/VimeoPlayer/VimeoPlayer.tsx
  apps/nextjs-website/src/components/molecules/WebinarPlayerSection/WebinarPlayerSection.tsx
  apps/nextjs-website/src/components/organisms/ProfileMenu/ProfileMenu.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/lib/types/webinar.ts
Labels: website, size/small

#492 [DEV-1080] Webinar questions form
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#501 [DEV-1218] Add dynamic elements in webinar details page
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/atoms/LiveWebinarChip/LiveWebinarChip.tsx
  apps/nextjs-website/src/components/atoms/SubscribeButton/SubscribeButton.tsx
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/helpers/webinar.helpers.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/messages/it.json
Labels: website

#503 [DEV-1217] Update CSP
  .infrastructure/60_cdn.tf
Labels: size/small, infra

#500 [DEV-1028] - Connect webinar questions
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/components/molecules/WebinarPlayerSection/WebinarPlayerSection.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/helpers/webinarQuestions.helpers.ts
  apps/nextjs-website/src/messages/it.json
Labels: workflows, website

#502 [DEV-1136] Filtering of webinars by date now happens client side
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
  apps/nextjs-website/src/lib/api.ts
Labels: website, size/small

#505 [DEV-1220] Add goToWebinar label to WebinarCard
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#506 [DEV-1222] Fix webinarCard margins
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
Labels: website, size/small

#508 [DEV-1223] Add isVisibleInHome attribute to Webinar type
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Labels: website, size/small

#509 [DEV-1224] Add hidden live webinar
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small

#510 [DEV-1221] Set webinar section title on a date base
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#511 [DEV-1227] Set a different coming soon delta
  apps/nextjs-website/src/helpers/webinar.helpers.tsx
Labels: website, size/small

#490 Release version 0.3.0
  apps/nextjs-website/package.json
  package-lock.json
Labels: website, size/small

#512 [DEV-1103] Pin version of terraform modules
  .infrastructure/55_cognito.tf
  .infrastructure/65_ses.tf
Labels: size/small, infra

#516 [DEV-1232] Add Vimeo CDN to CSP
  .infrastructure/60_cdn.tf
Labels: size/small, infra

#515 [DEV-1230] Add missing unique "key" prop to TableD element
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Labels: website, size/small

#518 Revert "[DEV-1224] Add hidden live webinar"
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small

#517 [DEV-1237] Add simple main dashboard
  .infrastructure/75_dashboard.tf
Labels: size/small, infra

#513 [DEV-1228] Update current time stamp in handleWebinarState method
  apps/nextjs-website/src/helpers/webinar.helpers.tsx
Labels: website, size/small

#519 [DEV-1237] Fix region of dashboard
  .infrastructure/75_dashboard.tf
Labels: size/small, infra

#521 [DEV-1219] Update CSP
  .infrastructure/60_cdn.tf
Labels: size/small, infra

#528 [DEV-1250]: update policy text with links
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Labels: website, size/small

#536 [DEV-1275] Set X-Robots-Tag to 'all' in prod's terraform variables
  .infrastructure/env/prod/terraform.tfvars
Labels: size/small, infra
