Repository pagopa/developer-portal, pull requests merged in 2024-01, with the labels that each got.

#487 [DEV-997] Change password from user profile
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/InfoCardEditButton/InfoCardEditButton.tsx
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
  apps/nextjs-website/src/components/organisms/Auth/EditPasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordFormWrapper.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordTextField.tsx
  apps/nextjs-website/src/components/organisms/Auth/ProfileInfoCard.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website

#540 [DEV-1275] Remove x-robots-tag custom header
  .infrastructure/env/prod/terraform.tfvars
Labels: size/small, infra

#524 [DPC-122] Update version knowledge base SEND
  apps/nextjs-website/src/_contents/send/guideLists.ts
  apps/nextjs-website/src/_contents/send/guides.ts
  apps/nextjs-website/src/_contents/send/overview.ts
Labels: website, size/small, stale

#522 Refactor CSP parts to improve readability
  .infrastructure/60_cdn.tf
Labels: size/small, infra, stale

#545 [DPC-115] Change in name "App IO"
  apps/nextjs-website/src/_contents/appIo/appIo.ts
Labels: website, size/small

#544 [DPC-123] update list order for "Manuale Operativo"
  apps/nextjs-website/src/_contents/send/guides.ts
Labels: website, size/small

#471 [DEV-1149]: errors translations
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#485 [DEV-1153] Redirect after login
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
Labels: website, size/small, stale

#520 [DEV-1226]: fix timezone on webinars' dates
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/components/atoms/TimeSlot/TimeSlot.tsx
Labels: website, size/small

#547 Release version 0.4.0
  apps/nextjs-website/package.json
  package-lock.json
Labels: website, size/small

#514 [DEV-1229] Manage missing closing file tag in markdown files
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/file.ts
  packages/gitbook-docs/src/parseContent.ts
Labels: size/small, packages

#498 [DPC-119] Update version SACI & SANP
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
Labels: website, size/small, stale

#549 [DEV-1286] Update codeowners
  CODEOWNERS
Labels: size/small

#539 [DEV-1253] Translations refactor
  apps/nextjs-website/src/__tests__/helpers/siteFooter.helpers.test.ts
  apps/nextjs-website/src/components/atoms/GoToStep/GoToStep.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/components/atoms/SiteFooter/SiteFooter.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
  apps/nextjs-website/src/components/molecules/CardsGrid/CardsGrid.tsx
  apps/nextjs-website/src/components/molecules/CodeBlockPart/CodeBlockPart.tsx
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/components/organisms/ApiTesterPart/ApiTesterPart.tsx
  apps/nextjs-website/src/components/organisms/News/News.tsx
  apps/nextjs-website/src/components/organisms/TutorialsOverview/TutorialsOverview.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/editorialComponents/Footer/Footer.tsx
  apps/nextjs-website/src/editorialComponents/Footer/components/FooterColumn.tsx
  apps/nextjs-website/src/editorialComponents/Footer/components/LangSwitch.tsx
  apps/nextjs-website/src/editorialComponents/Footer/types.ts
  apps/nextjs-website/src/helpers/metadata.helpers.ts
  apps/nextjs-website/src/helpers/siteFooter.helper.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, size/large

#526 [DPC-121] Update developer-portal/docs
  apps/nextjs-website/package.json
Labels: website, size/small, stale

#550 Release version 0.4.1
  apps/nextjs-website/package.json
  package-lock.json
Labels: website, size/small

#552 [DEV-847] Add changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/changelog.yaml
  README.md
  package-lock.json
  package.json
Labels: workflows, size/small

#551 [DPC-125]Update version Guida tecnica
  .changeset/honest-apricots-itch.md
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
  apps/nextjs-website/src/_contents/appIo/guides.ts
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small

#555 Move npm i to the script
  .github/workflows/changelog.yaml
  package.json
Labels: workflows, size/small

#543 [DEV-868]: remove hardcoded colors
  .changeset/polite-worms-hug.md
  apps/nextjs-website/src/components/atoms/NavigationArrow/NavigationArrow.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
  apps/nextjs-website/src/components/molecules/CodeBlockPart/CodeBlockPart.tsx
  apps/nextjs-website/src/components/molecules/GuidesSection/GuidesSection.tsx
  apps/nextjs-website/src/components/molecules/RequiredTextField/RequiredTextField.tsx
  apps/nextjs-website/src/components/molecules/SpeakerPreview/SpeakerPreview.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Cards.tsx
  apps/nextjs-website/src/editorialComponents/FundedByNextGenerationEU/partials/SvgColorDark.tsx
  apps/nextjs-website/src/editorialComponents/FundedByNextGenerationEU/partials/SvgColorLight.tsx
Labels: website, size/small

#556 [DEV-1231] Add log_retention_days parameter to cloudwatch
  .infrastructure/55_cognito.tf
  .infrastructure/98_variables.tf
Labels: size/small, infra

#533 [DEV-1242]: fix mobile carousel margin
  .changeset/thin-socks-relate.md
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
Labels: website, size/small, stale

#558 Improve CODEOWNERS file
  CODEOWNERS
Labels: size/small

#542 [DEV-829]: Improve scripts loading
  .changeset/proud-meals-join.md
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/CookieBannerScript/CookieBannerScript.tsx
Labels: website, size/small

#530 [DEV-1241]: fix mobile slider overflow
  .changeset/modern-cobras-cheer.md
  apps/nextjs-website/src/components/atoms/CtaSlide/CtaSlide.tsx
Labels: website, size/small, stale

#529 [DEV-1254]: fix mobile layout on guides' pages
  .changeset/nine-maps-bathe.md
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/File.tsx
Labels: website, size/small

#559 [DEV-1234] woff2 font format is not loaded
  .changeset/eighty-toys-care.md
  apps/cloudfront-functions/src/__tests__/viewer-request-handler.test.ts
  apps/cloudfront-functions/src/viewer-request-handler.ts
Labels: size/small

#554 [DEV-1277] Update profile page copy
  .changeset/fifty-geese-hammer.md
  apps/nextjs-website/src/components/molecules/DesktopProfileMenu/DesktopProfileMenu.tsx
  apps/nextjs-website/src/components/molecules/MobileProfileMenu/MobileProfileMenu.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#527 [DEV-1239] Implementation of user profile mobile menu
  .changeset/ninety-berries-promise.md
  apps/nextjs-website/src/components/molecules/MobileProfileMenu/MobileProfileMenu.tsx
  apps/nextjs-website/src/components/organisms/ProfileMenu/ProfileMenu.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#535 [DEV-1243] Guide mobile menu
  .changeset/thirty-eels-notice.md
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideVersionSelector.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/Menu.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, stale

#531 [DEV-1236] Fix vertical align
  .changeset/chilly-seas-camp.md
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
Labels: website, size/small, stale

#534 [DEV-1233] Sanitize webinar question input
  .changeset/late-vans-laugh.md
  apps/nextjs-website/src/helpers/webinarQuestions.helpers.ts
Labels: website, size/small, stale

#565 [DEV-1297] Enable attributes_require_verification_before_update on email address
  .infrastructure/55_cognito.tf
Labels: size/small, infra

#563 [DEV-1299] Handle user update attribute event in CognitoFunctions
  .changeset/shaggy-windows-swim.md
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/confirmation-update-email-address.ts
Labels: size/small

#491 [DEV-1213] Replace SiteHeader's mobile layout
  apps/nextjs-website/src/components/atoms/DesktopUserInfo/DesktopUserInfo.tsx
  apps/nextjs-website/src/components/atoms/MobileUserInfo/MobileUserInfo.tsx
  apps/nextjs-website/src/components/atoms/ProductHeader/ProductHeader.tsx
  apps/nextjs-website/src/components/molecules/DesktopSiteHeader/DesktopSiteHeader.tsx
  apps/nextjs-website/src/components/molecules/MobileProfileMenu/MobileProfileMenu.tsx
  apps/nextjs-website/src/components/molecules/MobileSiteHeader/MobileSiteHeader.tsx
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/editorialComponents/Header/Header.tsx
  apps/nextjs-website/src/editorialComponents/Header/components/Title.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website

#566 [DEV-1235] Preload font
  .changeset/modern-berries-hope.md
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/styles/globals.css
Labels: website, size/small

#538 [DEV-1055] Add webinars list page
  .changeset/witty-cats-tie.md
  apps/nextjs-website/public/images/webinar-cover-nuove-api-io.png
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/webinars/page.tsx
  apps/nextjs-website/src/components/atoms/TimeSlot/TimeSlot.tsx
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/molecules/WebinarListItem/WebinarListItem.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/components/organisms/WebinarsTemplate/WebinarsTemplate.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/editorialComponents/Hero/Hero.tsx
  apps/nextjs-website/src/lib/types/webinar.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#567 [DEV-1304] Hide webinar link in production environment
  apps/nextjs-website/src/components/molecules/DesktopSiteHeader/DesktopSiteHeader.tsx
  apps/nextjs-website/src/components/molecules/MobileSiteHeader/MobileSiteHeader.tsx
Labels: website, size/small

#499 [DEV-1022] Editable profile
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItemProfile.tsx
  apps/nextjs-website/src/components/atoms/MobileUserInfo/MobileUserInfo.tsx
  apps/nextjs-website/src/components/molecules/InfoCard/InfoCardProfile.tsx
  apps/nextjs-website/src/components/molecules/MobileProfileMenu/MobileProfileMenu.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#568 [DEV-1306] Remove the overlap between the product's menu and the Hero
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/editorialComponents/Hero/Hero.tsx
Labels: website, size/small

#571 [DEV-1310] Upgrade AWS provider to 5.33.0
  .infrastructure/.terraform.lock.hcl
  .infrastructure/00_main.tf
Labels: size/small, infra

#572 [DEV-1311] Fix webinar view button
  .changeset/rude-kings-peel.md
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
Labels: website, size/small

#575 [DEV-1077] Create DynamoDB table for webinar questions
  .infrastructure/50_storage.tf
Labels: size/small, infra

#576 [DEV-1312] Create resources to authorize Cognito users
  .infrastructure/55_cognito.tf
Labels: size/small, infra

#577 [DEV-1312] Fix cognito assume role policy
  .infrastructure/55_cognito.tf
Labels: size/small, infra

#578 [DEV-1313] Add identity pool and DynamoDB endpoints to CSP
  .infrastructure/60_cdn.tf
Labels: size/small, infra

#580 [DEV-1276] Add TXT record due to domain ownership verification
  .infrastructure/10_dns.tf
Labels: size/small, infra

#573 [DEV-1309] Update WebinarQuestionsForm to use dynamodb
  .changeset/pink-adults-care.md
  apps/nextjs-website/.env.default
  apps/nextjs-website/package.json
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/helpers/webinarQuestions.helpers.ts
  apps/nextjs-website/src/lib/makeAwsCredentialsFromCognito.ts
  apps/nextjs-website/src/lib/webinarApi.ts
  apps/nextjs-website/src/lib/webinars/__tests__/webinarQuestions.test.ts
  apps/nextjs-website/src/lib/webinars/dynamodb/codec.ts
  apps/nextjs-website/src/lib/webinars/webinarQuestions.ts
  package-lock.json
Labels: website

#582 [DEV-1323] Update deploy workflow with new environments vars
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
Labels: workflows, size/small

#583 [DEV-1327, DEV-1328] Fix speakers and speakersTitle label in Webinar section
  .changeset/selfish-bags-switch.md
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#589 [DEV-1331] Fix xss issue
  .changeset/good-oranges-visit.md
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
Labels: website, size/small

#586 Alternative to type declaration on openapi PR
  apps/nextjs-website/declarations.d.ts
  apps/nextjs-website/package.json
  apps/nextjs-website/src/helpers/swagger.ts
  apps/nextjs-website/tsconfig.json
  package-lock.json
Labels: website, size/small

#353 [DEV-1040] Rendering component OpenAPI Gitbook
  .changeset/clever-coins-call.md
  apps/nextjs-website/package.json
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/GitBookContent.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Model.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Operation.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Operations.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Parameter.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/ParameterRow.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Parameters.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/RequestBody.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Response.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Responses.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/SchemaWithExample.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Swagger.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/hooks/useModel.ts
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/hooks/useSpec.ts
  apps/nextjs-website/src/helpers/swagger.ts
  apps/nextjs-website/src/messages/en.json
  apps/nextjs-website/src/messages/it.json
  apps/nextjs-website/src/polyfill.ts
  package-lock.json
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/swagger.ts
Labels: website, packages, size/large

#595 [DPC-138] Update docs from gitbook
  .changeset/strange-peas-compare.md
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
Labels: website, size/small

#585 [DEV-1162] Remove workaround from parse content
  .changeset/wicked-dots-attend.md
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/parseContent.ts
Labels: size/small, packages
