Repository pagopa/developer-portal, pull requests merged in 2024-08, with the labels that each got.

#1034 [CAI-103] - Add reference link to generated answer
  .changeset/hot-trainers-divide.md
  .changeset/wild-carrots-attend.md
  apps/chatbot/README.md
  apps/chatbot/config/params.yaml
  apps/chatbot/config/prompts.yaml
  apps/chatbot/src/modules/async_bedrock.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/create_vector_index.py
  apps/chatbot/src/modules/evaluation.py
  apps/chatbot/src/modules/retriever.py
  apps/chatbot/src/modules/vector_database.py
  apps/chatbot/src/webapp/app.py
  apps/chatbot/src/webapp/chatbot.png
  apps/chatbot/src/webapp/user.png
Labels: changeset

#1038 [DEV-1862] - Removing unnecessary files from github actions container
  .github/actions/increase-disk-space/action.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website-content.yaml
  .github/workflows/deploy_website.yaml
Labels: workflows, size/small

#1025 [DEV-1839] [DEV-1858] - Set sign-up checking based on environment
  .changeset/hip-waves-grin.md
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/pre-sign-up-handler.ts
  apps/infrastructure/src/modules/website/cloudwatch_dashboard.tf
  apps/infrastructure/src/modules/website/cloudwatch_metric_alarm.tf
  apps/infrastructure/src/modules/website/cognito_user.tf
  apps/infrastructure/src/modules/website/lambda.tf
  apps/infrastructure/src/modules/website/variables.tf
Labels: size/small, infra, changeset, cognito-functions

#1033 Push next releases
  .changeset/dull-lions-serve.md
  .changeset/hip-waves-grin.md
  .changeset/hot-trainers-divide.md
  .changeset/rotten-radios-compete.md
  .changeset/wild-carrots-attend.md
  apps/chatbot/CHANGELOG.md
  apps/chatbot/package.json
  apps/infrastructure/CHANGELOG.md
  apps/infrastructure/package.json
  apps/nextjs-website/CHANGELOG.md
  apps/nextjs-website/package.json
  apps/storybook-app/CHANGELOG.md
  apps/storybook-app/package.json
  package-lock.json
Labels: website, size/small, infra, changeset

#1011 [DEV-1700] strapi lateral menu
  .changeset/six-ants-attack.md
  apps/nextjs-website/src/components/atoms/AlertPart/AlertPart.tsx
  apps/nextjs-website/src/components/molecules/BlocksRendererClient/BlocksRendererClient.tsx
  apps/nextjs-website/src/components/molecules/BlocksRendererClientMenu/BlocksRendererClientMenu.tsx
  apps/nextjs-website/src/components/molecules/CodeBlockPart/CodeBlockPart.tsx
  apps/nextjs-website/src/components/molecules/PartRendererMenu/PartRendererMenu.tsx
  apps/nextjs-website/src/components/organisms/BlocksRendererPartMenu/BlocksRendererPart.tsx
  apps/nextjs-website/src/components/templates/TutorialTemplate/TutorialTemplate.tsx
Labels: website, changeset

#1042 [DEV-1860] [DEV-1859] Add guides and guides list page on strapi
  .changeset/big-buckets-hear.md
  apps/strapi-cms/src/api/guide-list-page/content-types/guide-list-page/schema.json
  apps/strapi-cms/src/api/guide-list-page/controllers/guide-list-page.ts
  apps/strapi-cms/src/api/guide-list-page/routes/guide-list-page.ts
  apps/strapi-cms/src/api/guide-list-page/services/guide-list-page.ts
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/guide/content-types/guide/schema.json
  apps/strapi-cms/src/api/guide/controllers/guide.ts
  apps/strapi-cms/src/api/guide/routes/guide.ts
  apps/strapi-cms/src/api/guide/services/guide.ts
  apps/strapi-cms/src/components/common/guide-version.json
  apps/strapi-cms/src/components/common/guides-by-category.json
  apps/strapi-cms/src/components/common/list-item.json
Labels: changeset, cms

#1046 [CAI-90] Update chatbot layout component
  .changeset/cool-olives-serve.md
  .changeset/curly-crabs-help.md
  .changeset/hot-balloons-teach.md
  .changeset/six-countries-burn.md
  apps/nextjs-website/public/icons/chatbotAvatar.svg
  apps/nextjs-website/public/icons/chatbotChatAvatar.svg
  apps/nextjs-website/public/icons/chatbotChatUser.svg
  apps/nextjs-website/src/components/atoms/ChatButton/ChatButton.tsx
  apps/nextjs-website/src/components/atoms/ChatChatbotWriting/ChatChatbotWriting.module.css
  apps/nextjs-website/src/components/atoms/ChatChatbotWriting/ChatChatbotWriting.tsx
  apps/nextjs-website/src/components/atoms/ChatInputText/ChatInputText.tsx
  apps/nextjs-website/src/components/atoms/ChatMessage/ChatMessage.tsx
  apps/nextjs-website/src/components/molecules/Chat/Chat.tsx
  apps/nextjs-website/src/components/organisms/ChatbotLayout/ChatbotLayout.tsx
  apps/nextjs-website/src/components/organisms/ChatbotProvider/ChatbotProvider.tsx
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/public/icons/chatbotAvatar.svg
  apps/storybook-app/public/icons/chatbotChatAvatar.svg
  apps/storybook-app/public/icons/chatbotChatUser.svg
  apps/storybook-app/stories/atoms/ChatInputText.stories.tsx
  apps/storybook-app/stories/atoms/ChatMessage.stories.tsx
  apps/storybook-app/stories/atoms/ChatbotButton.stories.tsx
  apps/storybook-app/stories/molecules/Chat.stories.tsx
  apps/storybook-app/stories/organisms/ChatbotLayout.stories.tsx
Labels: website, changeset

#1047 [CAI-45] Add content id for chatbot
  .changeset/eight-roses-complain.md
  apps/nextjs-website/src/app/case-histories/layout.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/app/solutions/layout.tsx
  apps/nextjs-website/src/app/webinars/layout.tsx
  apps/nextjs-website/src/components/atoms/ContentWrapper/ContentWrapper.tsx
  apps/nextjs-website/src/components/organisms/ProductLayout/ProductLayout.tsx
  apps/nextjs-website/src/components/templates/GitBookTemplate/GitBookTemplate.tsx
Labels: website, size/small, changeset

#1044 [CAI-119] Add chat message convert md to html
  .changeset/spotty-wasps-approve.md
  apps/nextjs-website/src/components/atoms/ChatLink/ChatLink.tsx
  apps/nextjs-website/src/components/atoms/ChatMessage/ChatMessage.tsx
  apps/nextjs-website/src/helpers/chatMessageParser.helper.ts
  apps/storybook-app/stories/atoms/ChatMessage.stories.tsx
Labels: website, size/small, changeset

#1048 [CAI-106] Add skeleton for chatbot
  .changeset/gentle-mugs-drive.md
  apps/nextjs-website/src/components/atoms/ChatSkeleton/ChatSkeleton.tsx
  apps/nextjs-website/src/components/molecules/Chat/Chat.tsx
  apps/nextjs-website/src/components/organisms/ChatbotLayout/ChatbotLayout.tsx
  apps/nextjs-website/src/components/organisms/ChatbotProvider/ChatbotProvider.tsx
  apps/storybook-app/stories/organisms/ChatbotLayout.stories.tsx
Labels: website, size/small, changeset

#1054 [DEV-1867] Add overview schema to Strapi CMS
  .changeset/thin-moose-give.md
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/guide/content-types/guide/schema.json
  apps/strapi-cms/src/api/news-item/content-types/news-item/schema.json
  apps/strapi-cms/src/api/overview/content-types/overview/schema.json
  apps/strapi-cms/src/api/overview/controllers/overview.ts
  apps/strapi-cms/src/api/overview/routes/overview.ts
  apps/strapi-cms/src/api/overview/services/overview.ts
  apps/strapi-cms/src/components/common/call-to-action.json
  apps/strapi-cms/src/components/common/card-props.json
  apps/strapi-cms/src/components/common/features.json
  apps/strapi-cms/src/components/common/link.json
  apps/strapi-cms/src/components/common/list-item.json
  apps/strapi-cms/src/components/common/related-links.json
  apps/strapi-cms/src/components/overview/post-integration.json
  apps/strapi-cms/src/components/overview/start-info-section.json
  apps/strapi-cms/src/components/overview/start-info.json
  apps/strapi-cms/src/components/overview/tutorial-section.json
Labels: changeset, cms

#1049 [CAI-124] add improvements for the MVP
  .changeset/chilled-seals-obey.md
  apps/chatbot/config/params.yaml
  apps/chatbot/config/prompts.yaml
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/create_vector_index.py
  apps/chatbot/src/modules/vector_database.py
Labels: changeset

#1043 [CAI-95] fastapi docker
  .changeset/hot-trainers-divide.md
  .gitignore
  apps/chatbot/.dockerignore
  apps/chatbot/.env.example
  apps/chatbot/config/params.yaml
  apps/chatbot/docker/app.Dockerfile
  apps/chatbot/docker/app.local.Dockerfile
  apps/chatbot/docker/docker-build-local.sh
  apps/chatbot/docker/docker-build.sh
  apps/chatbot/docker/docker-run-local.sh
  apps/chatbot/docker/docker-run.sh
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/scripts/curl-healthz.sh
  apps/chatbot/scripts/curl-query-creation.sh
  apps/chatbot/src/app/README.md
  apps/chatbot/src/app/api.md
  apps/chatbot/src/app/main.py
  apps/chatbot/src/modules/async_bedrock.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/create_vector_index.py
  apps/chatbot/src/modules/vector_database.py
  apps/chatbot/src/webapp/app.py
  apps/infrastructure/src/.terraform.lock.hcl
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/modules/chatbot/bedrock.tf
  apps/infrastructure/src/modules/chatbot/ecr.tf
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
  apps/infrastructure/src/modules/chatbot/locals.tf
  apps/infrastructure/src/modules/chatbot/outputs.tf
  apps/infrastructure/src/modules/chatbot/variables.tf
Labels: infra, changeset

#1056 [CAI-126] update question and answers component
  .changeset/stupid-zoos-smash.md
  apps/nextjs-website/src/components/molecules/QuestionsAndAnswers/QuestionsAndAnswers.tsx
Labels: website, size/small, changeset

#1050 [DEV-1863][DEV-1865] Add guides and guideList codecs
  .changeset/eighty-bikes-dress.md
  .changeset/witty-teachers-study.md
  apps/nextjs-website/src/lib/strapi/__tests__/guideList.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/guides.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/GuideCodec.ts
  apps/nextjs-website/src/lib/strapi/guideListCodec.ts
  apps/nextjs-website/src/lib/strapi/guidesCodec.ts
  apps/strapi-cms/src/api/guide/content-types/guide/schema.json
Labels: website, changeset, cms

#1057 [CAI-95] - Fix chatbot bedrock deployment
  apps/infrastructure/src/.terraform.lock.hcl
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/modules/chatbot/data.tf
  apps/infrastructure/src/modules/chatbot/ecr.tf
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
  apps/infrastructure/src/modules/chatbot/providers.tf
  apps/infrastructure/src/modules/chatbot/s3_bucket.tf
  apps/infrastructure/src/modules/chatbot/s3_bucket_llamaindex.tf
Labels: size/small, infra

#1064 [DEV-1865] Fix guide add product and refactor attribute name
  .changeset/stale-carrots-relate.md
  apps/strapi-cms/src/api/guide/content-types/guide/schema.json
  apps/strapi-cms/src/components/common/guide-version.json
Labels: size/small, changeset, cms

#1061 [DPC-236] Adds new pagoPA manual "Stampa Avvisi di Pagamento"
  .changeset/few-deers-design.md
  apps/nextjs-website/public/images/stampa-avvisi-pagamento-mobile.png
  apps/nextjs-website/public/images/stampa-avvisi-pagamento.png
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Labels: website, size/small, changeset

#1065 [CAI-128] Redis
  .changeset/cuddly-nails-itch.md
  apps/chatbot/README.md
  apps/chatbot/config/params.yaml
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/src/modules/async_bedrock.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/create_vector_index.py
  apps/chatbot/src/modules/vector_database.py
Labels: changeset

#1052 [CAI-64] Add feedback toggle button
  .changeset/curvy-lies-press.md
  apps/nextjs-website/src/components/atoms/ChatInputText/ChatInputText.tsx
  apps/nextjs-website/src/components/atoms/ChatMessage/ChatMessage.tsx
  apps/nextjs-website/src/components/atoms/ChatbotFeedbackButton/ChatbotFeedbackButton.tsx
  apps/nextjs-website/src/components/molecules/Chat/Chat.tsx
  apps/nextjs-website/src/components/organisms/ChatbotLayout/ChatbotLayout.tsx
  apps/nextjs-website/src/components/organisms/ChatbotProvider/ChatbotProvider.tsx
  apps/nextjs-website/src/helpers/chatbot.helper.tsx
  apps/nextjs-website/src/lib/chatbot.ts
  apps/nextjs-website/src/lib/chatbot/__tests__/chatbotApi.test.ts
  apps/nextjs-website/src/lib/chatbot/chatbotApi.ts
  apps/nextjs-website/src/lib/chatbot/queries.ts
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/stories/organisms/ChatbotLayout.stories.tsx
Labels: website, changeset

#1058 [DEV-1878] Add Product relation and minor fixes
  .changeset/loud-brooms-fry.md
  apps/strapi-cms/src/api/overview/content-types/overview/schema.json
  apps/strapi-cms/src/api/product/content-types/product/schema.json
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
  apps/strapi-cms/src/components/common/banner-link.json
  apps/strapi-cms/src/components/common/card-props.json
  apps/strapi-cms/src/components/overview/post-integration.json
  apps/strapi-cms/src/components/overview/service-model.json
Labels: size/small, changeset, cms

#1041 Push next releases
  .changeset/big-buckets-hear.md
  .changeset/chilled-seals-obey.md
  .changeset/cool-olives-serve.md
  .changeset/cuddly-nails-itch.md
  .changeset/curly-crabs-help.md
  .changeset/curvy-lies-press.md
  .changeset/eight-roses-complain.md
  .changeset/eighty-bikes-dress.md
  .changeset/few-deers-design.md
  .changeset/gentle-mugs-drive.md
  .changeset/hot-balloons-teach.md
  .changeset/hot-trainers-divide.md
  .changeset/long-baboons-guess.md
  .changeset/loud-brooms-fry.md
  .changeset/six-ants-attack.md
  .changeset/six-countries-burn.md
  .changeset/spotty-wasps-approve.md
  .changeset/stale-carrots-relate.md
  .changeset/stupid-zoos-smash.md
  .changeset/thin-moose-give.md
  .changeset/witty-teachers-study.md
  apps/chatbot/CHANGELOG.md
  apps/chatbot/package.json
  apps/nextjs-website/CHANGELOG.md
  apps/nextjs-website/package.json
  apps/storybook-app/CHANGELOG.md
  apps/storybook-app/package.json
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: website, size/small, changeset

#1051 [DEV-1872] add seo plugin codec + test
  .changeset/breezy-spies-suffer.md
  apps/nextjs-website/src/lib/strapi/__tests__/homepage.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/BlocksContentCodec.ts
  apps/nextjs-website/src/lib/strapi/homepage.ts
  apps/nextjs-website/src/lib/strapi/seoCodec.ts
Labels: website, size/small, changeset

#1059 [DEV-1868] Add overview codec and test
  .changeset/odd-maps-learn.md
  apps/nextjs-website/src/lib/strapi/__tests__/overviews.test.ts
  apps/nextjs-website/src/lib/strapi/overviewsCodec.ts
  apps/nextjs-website/src/lib/strapi/tutorial.ts
Labels: website, size/small, changeset

#1067 [DEV-1869] Connect overview pages to cms
  .changeset/kind-ways-breathe.md
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/ioSign/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/pdnd/overview.ts
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/components/molecules/CardsGrid/CardsGrid.tsx
  apps/nextjs-website/src/components/molecules/LinkCard/LinkCard.tsx
  apps/nextjs-website/src/components/molecules/LinkCards/LinkCards.tsx
  apps/nextjs-website/src/components/organisms/PostIntegration/PostIntegration.tsx
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
  apps/nextjs-website/src/editorialComponents/Feature/FeatureStackItem.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/caseHistories.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/overviews.ts
  apps/nextjs-website/src/lib/strapi/__tests__/overviews.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/solutionList.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/BannerLinkCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/FeaturesCodec.ts
  apps/nextjs-website/src/lib/strapi/overviewsCodec.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, changeset

#1066 [DEV-1873] Seo plugin in homepage
  .changeset/six-emus-unite.md
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/helpers/metadata.helpers.ts
  apps/nextjs-website/src/lib/homepage.ts
  apps/nextjs-website/src/lib/types/seo.ts
Labels: website, size/small, changeset

#1055 [DEV-1864][DEV-1877] Show guide list pages from cms
  .changeset/rich-months-drum.md
  apps/nextjs-website/src/__tests__/helpers/productHeader.helpers.test.ts
  apps/nextjs-website/src/_contents/appIo/appIo.ts
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/pagoPa/pagoPa.ts
  apps/nextjs-website/src/_contents/pdnd/pdnd.ts
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/_contents/send/send.ts
  apps/nextjs-website/src/app/[productSlug]/api/[apiDataSlug]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/page.tsx
  apps/nextjs-website/src/components/molecules/GuideCard/GuideCard.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/guideListPages.ts
  apps/nextjs-website/src/lib/products.ts
  apps/nextjs-website/src/lib/quickStarts.ts
  apps/nextjs-website/src/lib/strapi/__tests__/guides.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/GuideCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/ProductCodec.ts
  apps/nextjs-website/src/lib/types/product.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, changeset

#1063 [DEV-1866] Connect guide to page
  .changeset/shaggy-boxes-double.md
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/guides.ts
  apps/nextjs-website/src/lib/strapi/codecs/GuideCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/SolutionCodec.ts
  apps/nextjs-website/src/lib/strapi/homepage.ts
Labels: website, size/small, changeset

#1071 [DEV-1835] Add anchor id to QuestionsAndAnswers component
  .changeset/twenty-buttons-work.md
  apps/nextjs-website/src/components/molecules/QuestionsAndAnswers/QuestionsAndAnswers.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#1053 [CAI-80] Copy chatbot answer to clipboard button
  .changeset/curvy-lies-press.md
  .changeset/polite-eels-pay.md
  apps/nextjs-website/src/components/atoms/ChatMessage/ChatMessage.tsx
  apps/nextjs-website/src/components/atoms/CopyToClipboard/CopyToClipboard.tsx
  apps/nextjs-website/src/helpers/chatbot.helper.tsx
  apps/nextjs-website/src/lib/chatbot.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset
