Repository pagopa/developer-portal, pull requests merged in 2024-11, with the labels that each got.

#1234 Allow aizoongroup domain for security testing
  apps/infrastructure/src/modules/website/variables.tf
Labels: size/small, infra

#1235 [DEV-1976] update onboarding doc
  .changeset/plenty-comics-itch.md
  README.md
  apps/nextjs-website/.env.default
  apps/strapi-cms/.env.default
Labels: size/small, changeset

#1233 [CAI-256] Chatbot queries from local storage
  .changeset/tiny-poets-jog.md
  apps/nextjs-website/src/app/profile/chatbot-history/page.tsx
  apps/nextjs-website/src/components/atoms/DesktopUserInfo/DesktopUserInfo.tsx
  apps/nextjs-website/src/components/atoms/MobileUserInfo/MobileUserInfo.tsx
  apps/nextjs-website/src/components/organisms/ChatbotHistoryDetailLayout/ChatbotHistoryDetailLayout.tsx
  apps/nextjs-website/src/components/organisms/ChatbotProvider/ChatbotProvider.tsx
  apps/nextjs-website/src/helpers/chatbot.helper.tsx
Labels: website, size/small, changeset

#1238 [CAI-264] Fix feedback in chat
  .changeset/sixty-plants-matter.md
  apps/nextjs-website/src/helpers/chatbot.helper.tsx
Labels: website, size/small, changeset

#1207 [DEV-1979] add ac package
  .changeset/great-rockets-know.md
  package-lock.json
  packages/active-campaign-client/.eslintrc.json
  packages/active-campaign-client/README.md
  packages/active-campaign-client/jest.config.ts
  packages/active-campaign-client/package.json
  packages/active-campaign-client/src/empty-file.ts
  packages/active-campaign-client/tsconfig.json
Labels: size/small, packages, stale, changeset

#1237 [CAI-179] - Chat engine feature
  apps/chatbot/.env.example
  apps/chatbot/config/prompts.yaml
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/engine.py
  apps/chatbot/src/modules/evaluation.py
  apps/chatbot/src/modules/test_chatbot.py
Labels: size/small

#1239 [DEV-2018] Set packages/active-campaign-client's code owners on GitHub
  .github/CODEOWNERS
Labels: size/small

#1240 [DEV-2019] Fix dev dependencies versions in package.json
  package-lock.json
  packages/active-campaign-client/package.json
Labels: size/small, packages

#1232 [DEV-1282] Fix emoji in guides
  .changeset/silent-pianos-walk.md
  package-lock.json
  packages/gitbook-docs/jest.config.ts
  packages/gitbook-docs/package.json
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/convertEmojiToUnicode.ts
  packages/gitbook-docs/src/markdoc/schema/heading.ts
  packages/gitbook-docs/src/markdoc/schema/sanitizedText.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/parseInPageMenu.ts
Labels: size/small, packages, changeset

#1246 [CAI-259] Add history to queries
  .changeset/hungry-eels-stare.md
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
  .github/workflows/deploy_website_content.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/helpers/chatbot.helper.tsx
  apps/nextjs-website/src/lib/chatbot/__tests__/chatbotApi.test.ts
  apps/nextjs-website/src/lib/chatbot/queries.ts
  apps/nextjs-website/src/lib/strapi/__tests__/urlReplaceMap.test.ts
Labels: workflows, website, size/small, changeset

#1220 [DEV-1980] Add user to active campaign
  .changeset/flat-walls-cough.md
  packages/active-campaign-client/.env.example
  packages/active-campaign-client/.eslintrc.json
  packages/active-campaign-client/README.md
  packages/active-campaign-client/src/__tests__/handlers/addContact.test.ts
  packages/active-campaign-client/src/activeCampaignClient.ts
  packages/active-campaign-client/src/empty-file.ts
  packages/active-campaign-client/src/handlers/addContact.ts
  packages/active-campaign-client/src/types/contactPayload.ts
  packages/active-campaign-client/src/types/listPayload.ts
  packages/active-campaign-client/src/types/listStatusPayload.ts
Labels: size/small, packages, changeset

#1250 [DEV-2007][DEV-2008] Implement create list active campaign lambda, Implement delete list from active campaign
  .changeset/many-pens-grab.md
  packages/active-campaign-client/src/__tests__/handlers/createList.test.ts
  packages/active-campaign-client/src/__tests__/handlers/deleteList.test.ts
  packages/active-campaign-client/src/activeCampaignClient.ts
  packages/active-campaign-client/src/handlers/createList.ts
  packages/active-campaign-client/src/handlers/deleteList.ts
Labels: size/small, packages, changeset

#1245 [CAI-257] Chatbot/post queries with conversation
  apps/chatbot/config/prompts.yaml
  apps/chatbot/src/app/main.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/engine.py
  apps/chatbot/src/modules/test_chatbot.py
  apps/chatbot/src/modules/vector_database.py
Labels: size/small

#1252 [DEV-2026] Refactor Active Campaign package
  .changeset/ten-trains-grin.md
  package-lock.json
  packages/active-campaign-client/jest.config.ts
  packages/active-campaign-client/package.json
  packages/active-campaign-client/src/__tests__/handlers/addContact.test.ts
  packages/active-campaign-client/src/__tests__/handlers/createList.test.ts
  packages/active-campaign-client/src/__tests__/handlers/deleteContact.test.ts
  packages/active-campaign-client/src/__tests__/handlers/deleteList.test.ts
  packages/active-campaign-client/src/__tests__/handlers/updateContact.test.ts
  packages/active-campaign-client/src/activeCampaignClient.ts
  packages/active-campaign-client/src/handlers/addContact.ts
  packages/active-campaign-client/src/handlers/createList.ts
  packages/active-campaign-client/src/handlers/deleteContact.ts
  packages/active-campaign-client/src/handlers/deleteList.ts
  packages/active-campaign-client/src/handlers/updateContact.ts
  packages/active-campaign-client/src/index.ts
  packages/active-campaign-client/src/types/webinarPayload.ts
  packages/active-campaign-client/src/utils/activeCampaignClient.ts
Labels: packages, changeset

#1253 [DEV-2016] Connect cognito event to active campaign
  .changeset/stale-wombats-cover.md
  package-lock.json
  packages/active-campaign-client/.env.example
  packages/active-campaign-client/package.json
  packages/active-campaign-client/src/__tests__/contact_flow.test.ts
  packages/active-campaign-client/src/__tests__/empty-test.test.ts
  packages/active-campaign-client/src/__tests__/handlers/addContact.test.ts
  packages/active-campaign-client/src/__tests__/handlers/deleteContact.test.ts
  packages/active-campaign-client/src/__tests__/handlers/deleteList.test.ts
  packages/active-campaign-client/src/__tests__/helpers/createList.test.ts
  packages/active-campaign-client/src/__tests__/helpers/deleteList.test.ts
  packages/active-campaign-client/src/__tests__/helpers/listUsersCommandOutputToUser.test.ts
  packages/active-campaign-client/src/clients/activeCampaignClient.ts
  packages/active-campaign-client/src/clients/cognitoClient.ts
  packages/active-campaign-client/src/handlers/addContact.ts
  packages/active-campaign-client/src/handlers/updateContact.ts
  packages/active-campaign-client/src/helpers/addContact.ts
  packages/active-campaign-client/src/helpers/createList.ts
  packages/active-campaign-client/src/helpers/deleteContact.ts
  packages/active-campaign-client/src/helpers/deleteList.ts
  packages/active-campaign-client/src/helpers/getUserFromCognito.ts
  packages/active-campaign-client/src/helpers/listUsersCommandOutputToUser.ts
  packages/active-campaign-client/src/helpers/updateContact.ts
  packages/active-campaign-client/src/index.ts
  packages/active-campaign-client/src/types/queueEvent.ts
  packages/active-campaign-client/src/types/user.ts
Labels: packages, changeset

#1258 [DEV-2044][DEV-2041][DEV-2028] Setup active campaign syncer infra
  .changeset/silly-geese-shop.md
  .github/workflows/deploy_ac_sync_lambda.yaml
  .gitignore
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/modules/active_campaign/data.tf
  apps/infrastructure/src/modules/active_campaign/eventbridge.tf
  apps/infrastructure/src/modules/active_campaign/functions/index.js
  apps/infrastructure/src/modules/active_campaign/iam.tf
  apps/infrastructure/src/modules/active_campaign/lambda.tf
  apps/infrastructure/src/modules/active_campaign/locals.tf
  apps/infrastructure/src/modules/active_campaign/sqs.tf
  apps/infrastructure/src/modules/active_campaign/variables.tf
  apps/infrastructure/src/modules/website/dynamodb.tf
  apps/infrastructure/src/modules/website/outputs.tf
Labels: workflows, size/small, infra, changeset
