Repository pagopa/developer-portal, pull requests merged in 2024-06, with the labels that each got.

#882 [DEV-1626] Add QuickStart codec and refactor homepage
  .changeset/eleven-snakes-stare.md
  apps/nextjs-website/src/components/organisms/BlocksRendererPart/BlocksRendererPart.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/quickStarts.ts
  apps/nextjs-website/src/lib/strapi/__tests__/quickStarts.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/webinars.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/PaginationCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/ProductCodec.ts
  apps/nextjs-website/src/lib/strapi/homepage.ts
  apps/nextjs-website/src/lib/strapi/quickStarts.ts
  apps/nextjs-website/src/lib/strapi/webinars.ts
  apps/nextjs-website/src/lib/types/part.ts
Labels: website, changeset

#887 [DEV-1669] Solution Preview Card
  .changeset/gentle-snails-sparkle.md
  .changeset/pink-onions-swim.md
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/NextIntlContext/NextIntlContext.tsx
  apps/nextjs-website/src/components/molecules/SolutionPreviewCard/SolutionsPreviewCard.tsx
  apps/nextjs-website/src/components/molecules/SolutionStep/SolutionStep.tsx
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/stories/molecules/SolutionPreviewCard.stories.tsx
  apps/storybook-app/tsconfig.json
Labels: website, size/small, changeset

#898 [DEV-1688] fix storybook env
  .changeset/brave-keys-retire.md
  apps/nextjs-website/src/components/organisms/FutureWebinarsShowcase/FutureWebinarsShowcase.tsx
  apps/nextjs-website/src/components/templates/SolutionPageTemplate/SolutionPageTemplate.tsx
  apps/nextjs-website/src/editorialComponents/Hero/Hero.tsx
  apps/storybook-app/.storybook/main.ts
  apps/storybook-app/package.json
  apps/storybook-app/stories/templates/SolutionPageTemplate.stories.tsx
  package-lock.json
Labels: website, size/small, changeset

#899 [DEV-1697] Fix anchor position on scroll
  .changeset/pink-parrots-switch.md
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Heading.tsx
Labels: website, size/small, changeset

#841 [DEV-1455] Add tutorials to Strapi
  .changeset/fuzzy-gifts-look.md
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
  apps/strapi-cms/src/api/tutorial/controllers/tutorial.ts
  apps/strapi-cms/src/api/tutorial/routes/tutorial.ts
  apps/strapi-cms/src/api/tutorial/services/tutorial.ts
  apps/strapi-cms/src/components/banner-links/banner-links.json
Labels: size/small, changeset, cms

#897 [DEV-1660] Add tab component
  .changeset/light-waves-jog.md
  apps/nextjs-website/src/components/atoms/TabComponent/TabComponent.tsx
  apps/storybook-app/stories/atoms/TabComponent.stories.tsx
Labels: website, size/small, changeset

#889 [DEV-1675] Add case history template
  .changeset/ten-horses-live.md
  apps/nextjs-website/src/components/atoms/Quote/Quote.tsx
  apps/nextjs-website/src/components/molecules/BlocksRendererClient/BlocksRendererClient.tsx
  apps/nextjs-website/src/components/molecules/PartRenderer/PartRenderer.tsx
  apps/nextjs-website/src/components/molecules/SectionTitle/SectionTitle.tsx
  apps/nextjs-website/src/components/organisms/ProductsShowcase/ProductsShowcase.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/templates/CaseHistoryTemplate/CaseHistoryPageTemplate.tsx
  apps/nextjs-website/src/helpers/breadcrumbs.helpers.ts
  apps/nextjs-website/src/lib/types/part.ts
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/stories/atoms/Quote.stories.tsx
  apps/storybook-app/stories/mock-content.helper.ts
  apps/storybook-app/stories/molecules/SolutionPreviewCard.stories.tsx
  apps/storybook-app/stories/next-intl-context.helper.tsx
  apps/storybook-app/stories/templates/CaseHistoryPageTemplate.stories.tsx
  apps/storybook-app/stories/templates/SolutionsTemplate.stories.tsx
Labels: website, changeset

#905 [DPC-208] Add new tutorial IO
  .changeset/green-actors-marry.md
  apps/nextjs-website/public/images/app-io-messaggi.png
  apps/nextjs-website/src/_contents/appIo/tutorialLists.ts
Labels: website, size/small, changeset

#904 [DPC-229] Add new guide to SEND
  .changeset/heavy-actors-raise.md
  apps/nextjs-website/src/_contents/send/guideLists.ts
  apps/nextjs-website/src/_contents/send/guides.ts
Labels: website, size/small, changeset

#896 [DEV-1671] add stats component
  .changeset/flat-monkeys-sparkle.md
  apps/nextjs-website/src/components/atoms/Stats/Stats.tsx
  apps/storybook-app/stories/atoms/Stats.stories.tsx
Labels: website, size/small, changeset

#907 [DEV-1690] update solutions model
  .changeset/cool-plums-learn.md
  apps/strapi-cms/src/api/solution/content-types/solution/schema.json
Labels: size/small, changeset, cms

#890 [DEV-1668] Add solution page template
  .changeset/brave-keys-retire.md
  .changeset/strong-dots-itch.md
  apps/nextjs-website/src/components/atoms/Stats/Stats.tsx
  apps/nextjs-website/src/components/organisms/FutureWebinarsShowcase/FutureWebinarsShowcase.tsx
  apps/nextjs-website/src/components/templates/SolutionPageTemplate/SolutionPageTemplate.tsx
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/.storybook/main.ts
  apps/storybook-app/package.json
  apps/storybook-app/stories/auth-provider.helper.tsx
  apps/storybook-app/stories/templates/SolutionPageTemplate.stories.tsx
  package-lock.json
Labels: website, size/large, changeset

#903 [DEV-1691] Add case history page
  .changeset/funny-numbers-draw.md
  apps/nextjs-website/src/app/case-histories/[caseHistorySlug]/page.tsx
  apps/nextjs-website/src/components/templates/CaseHistoryTemplate/CaseHistoryPageTemplate.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/caseHistories.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/homepage.ts
  apps/nextjs-website/src/lib/quickStarts.ts
  apps/nextjs-website/src/lib/strapi/__tests__/caseHistories.test.ts
  apps/nextjs-website/src/lib/strapi/caseHistoriesCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/PartCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/ProductCodec.ts
  apps/nextjs-website/src/lib/strapi/quickStarts.ts
  apps/nextjs-website/src/lib/types/product.ts
Labels: website, size/large, changeset

#914 Removed DGS iam users
  .changeset/hungry-otters-wink.md
  apps/infrastructure/src/modules/core/iam_group.tf
  apps/infrastructure/src/modules/core/iam_user.tf
Labels: size/small, infra, changeset

#920 [DPC-232] Version update "Manuale Operativo" SEND
  .changeset/stale-walls-wait.md
  apps/nextjs-website/src/_contents/send/guides.ts
Labels: website, size/small, changeset

#921 [DEV-1733] Fix content deploy action
  .github/workflows/changelog.yaml
  .github/workflows/move_latest_tag.yaml
Labels: workflows, size/small

#902 [DEV-1702] Optimize sync to aws s3 during deploy
  .github/actions/deploy/action.yaml
Labels: size/small

#922 [DEV-1729] Set a longer OTP duration
  .changeset/rude-rings-lie.md
  apps/cognito-functions/src/create-auth-challenge-handler.ts
  apps/infrastructure/src/modules/website/cognito_user.tf
  apps/infrastructure/src/modules/website/variables.tf
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, infra, changeset, cognito-functions

#900 [DEV-1627] Refactor tutorial
  .changeset/chilled-phones-float.md
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/components/molecules/BlocksRendererClient/BlocksRendererClient.tsx
  apps/nextjs-website/src/components/organisms/NewsShowcase/NewsShowcase.tsx
  apps/nextjs-website/src/components/organisms/TutorialsOverview/TutorialsOverview.tsx
  apps/nextjs-website/src/components/templates/TutorialPageTemplate/TutorialPageTemplate.tsx
  apps/nextjs-website/src/editorialComponents/Abstract/Abstract.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/strapi/__tests__/tutorials.test.ts
  apps/nextjs-website/src/lib/strapi/tutorial.ts
  apps/nextjs-website/src/lib/tutorials.ts
  apps/nextjs-website/src/lib/types/tutorialData.ts
Labels: website, changeset

#923 [DEV-1724] [DEV-1701] refactor layout banner links and update bannerlink input prop and layout
  .changeset/smooth-drinks-drop.md
  apps/nextjs-website/public/icons/feedback.svg
  apps/nextjs-website/public/icons/headset.svg
  apps/nextjs-website/public/icons/livehelp.svg
  apps/nextjs-website/src/_contents/appIo/bannerLinks.ts
  apps/nextjs-website/src/_contents/ioSign/bannerLinks.ts
  apps/nextjs-website/src/_contents/makeDocs.ts
  apps/nextjs-website/src/_contents/pagoPa/bannerLinks.ts
  apps/nextjs-website/src/_contents/pdnd/bannerLinks.ts
  apps/nextjs-website/src/_contents/send/bannerLinks.ts
  apps/nextjs-website/src/components/atoms/BannerLink/BannerLink.tsx
  apps/nextjs-website/src/components/molecules/BannerLinks/BannerLinks.tsx
  apps/nextjs-website/src/components/organisms/ProductLayout/ProductLayout.tsx
  apps/nextjs-website/src/components/templates/SolutionPageTemplate/SolutionPageTemplate.tsx
  apps/nextjs-website/src/editorialComponents/BannerLink/BannerLink.tsx
  apps/nextjs-website/src/editorialComponents/BannerLink/Content.tsx
  apps/nextjs-website/src/editorialComponents/BannerLink/index.ts
  apps/nextjs-website/src/lib/strapi/codecs/MediaCodec.ts
  apps/nextjs-website/src/lib/types/guideData.ts
  apps/storybook-app/.storybook/main.ts
  apps/storybook-app/public/icons/feedback.svg
  apps/storybook-app/public/icons/headset.svg
  apps/storybook-app/stories/atoms/BannerLink.stories.tsx
  apps/storybook-app/stories/mock-content.helper.ts
  apps/storybook-app/stories/molecules/BannerLinks.stories.tsx
  apps/storybook-app/stories/templates/CaseHistoryPageTemplate.stories.tsx
Labels: website, changeset

#931 [DEV-1750] Remove domsanitizer from typography part
  .changeset/two-papayas-cry.md
  apps/nextjs-website/src/components/atoms/TypographyPart/TypographyPart.tsx
Labels: website, size/small, changeset

#929 [DEV-1749] Fix getTutorialPaths output to avoid NormalizeError: Requested and resolved page mismatch
  .changeset/nice-pans-applaud.md
  apps/nextjs-website/src/lib/api.ts
Labels: website, size/small, changeset

#928 [DEV-1748] Add bannerLinks to solution entity in Strapi
  .changeset/breezy-pillows-invent.md
  apps/strapi-cms/src/api/solution/content-types/solution/schema.json
  apps/strapi-cms/src/api/solutions-list-page/content-types/solutions-list-page/schema.json
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
  apps/strapi-cms/src/components/banner-links/banner-links.json
  apps/strapi-cms/src/components/common/banner-link.json
Labels: size/small, changeset, cms
