Repository pagopa/developer-portal, pull requests merged in 2024-10, with the labels that each got.

#1144 [CAI-157] Chatbot/sessions list
  .gitignore
  apps/chatbot/src/app/main.py
  apps/chatbot/src/modules/create_vector_index.py
Labels: size/small

#1172 [CAI-147] Gemini
  .changeset/tame-maps-judge.md
  apps/chatbot/config/prompts.yaml
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/scripts/redis-tunnel.sh
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/create_vector_index.py
  apps/chatbot/src/modules/evaluation.py
  apps/chatbot/src/modules/models.py
  apps/chatbot/src/modules/utils.py
  apps/chatbot/src/modules/vector_database.py
Labels: changeset

#1178 Fix lambda configuration with gemini and dynamodb
  apps/chatbot/README.md
  apps/chatbot/src/modules/models.py
  apps/infrastructure/src/modules/chatbot/data.tf
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
Labels: size/small, infra

#1174 [DEV-1939] - Use self hosted runner
  .changeset/new-birds-joke.md
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/modules/chatbot/efs.tf
  apps/infrastructure/src/modules/chatbot/outputs.tf
  apps/infrastructure/src/modules/cicd/codebuild.tf
  apps/infrastructure/src/modules/cicd/data.tf
  apps/infrastructure/src/modules/cicd/iam.tf
  apps/infrastructure/src/modules/cicd/locals.tf
  apps/infrastructure/src/modules/cicd/networking.tf
  apps/infrastructure/src/modules/cicd/providers.tf
  apps/infrastructure/src/modules/cicd/variables.tf
  apps/infrastructure/src/modules/website/outputs.tf
Labels: infra, changeset

#1094 [DEV-1900] Refactor product strapi
  .changeset/empty-cougars-teach.md
  apps/strapi-cms/src/api/api-data-list-page/content-types/api-data-list-page/schema.json
  apps/strapi-cms/src/api/case-history/content-types/case-history/schema.json
  apps/strapi-cms/src/api/guide-list-page/content-types/guide-list-page/schema.json
  apps/strapi-cms/src/api/product/content-types/product/schema.json
  apps/strapi-cms/src/api/quickstart-guide/content-types/quickstart-guide/schema.json
  apps/strapi-cms/src/api/solution/content-types/solution/schema.json
Labels: size/small, changeset, cms

#1163 [DEV-1929] Strapi, product required for overview, quick start, api, tutorial, guide
  .changeset/weak-schools-greet.md
  apps/strapi-cms/src/api/api-data-list-page/content-types/api-data-list-page/lifecycles.ts
  apps/strapi-cms/src/api/api-data/content-types/api-data/lifecycles.ts
  apps/strapi-cms/src/api/guide-list-page/content-types/guide-list-page/lifecycles.ts
  apps/strapi-cms/src/api/overview/content-types/overview/lifecycles.ts
  apps/strapi-cms/src/api/quickstart-guide/content-types/quickstart-guide/lifecycles.ts
  apps/strapi-cms/src/api/tutorial-list-page/content-types/tutorial-list-page/lifecycles.ts
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/lifecycles.ts
  apps/strapi-cms/src/utils/validateProductPresence.ts
Labels: size/small, changeset, cms

#1175 [DEV-1960] Add bannerLinks attribute to QuickStartGuide, ApiData, Guide and GuideListPage schemas
  .changeset/five-tigers-rhyme.md
  apps/strapi-cms/src/api/api-data/content-types/api-data/schema.json
  apps/strapi-cms/src/api/guide-list-page/content-types/guide-list-page/schema.json
  apps/strapi-cms/src/api/guide/content-types/guide/schema.json
  apps/strapi-cms/src/api/quickstart-guide/content-types/quickstart-guide/schema.json
Labels: size/small, changeset, cms

#1152 [DEV-1928] Refactor Product codec
  .changeset/quiet-foxes-reflect.md
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/bannerLinksJson.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/product.ts
  apps/nextjs-website/src/lib/strapi/__tests__/overviews.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/quickStartGuides.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/tutorialList.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/tutorials.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/ApiDataListCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/ApiDataListPagesCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/GuideListPagesCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/GuidesCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/ProductCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/QuickStartGuidesCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/SolutionsCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/TutorialListPagesCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchApiDataListPages.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchGuideListPages.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchGuides.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchHomepage.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchOverviews.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchProducts.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchQuickStartGuides.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchTutorialListPages.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchTutorials.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeGuideListPages.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeProducts.ts
Labels: website, changeset

#1177 [DEV-1957] fix ckeditor list item style
  .changeset/dirty-keys-clap.md
  apps/nextjs-website/src/components/molecules/CkEditorPart/CkEditorPart.tsx
Labels: website, size/small, changeset

#1182 [DEV-1963] Fix paragraph margins and WordBreak setting in ckEditor tables
  .changeset/calm-mice-travel.md
  apps/nextjs-website/src/components/molecules/CkEditorPart/CkEditorPart.tsx
Labels: website, size/small, changeset

#1173 [DEV-1930][DEV-1947] Add product bannerlinks fallback to all product pages
  .changeset/plenty-cougars-try.md
  apps/nextjs-website/src/app/[productSlug]/api/[apiDataSlug]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/page.tsx
  apps/nextjs-website/src/components/atoms/BannerLink/BannerLink.tsx
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.tsx
  apps/nextjs-website/src/components/templates/ApiDataListTemplate/ApiDataListTemplate.tsx
  apps/nextjs-website/src/components/templates/TutorialTemplate/TutorialTemplate.tsx
  apps/nextjs-website/src/helpers/structuredData.helpers.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/strapi/codecs/ApiDataListCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/ApiDataListPagesCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/BannerLinkCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/CaseHistoriesCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/TutorialCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchApiDataList.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeApiDataList.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeApiDataListPages.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeBannerLink.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeGuideListPages.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeGuides.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeOverviews.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeProducts.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeQuickStartGuides.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeTutorialListPages.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeTutorials.ts
  apps/nextjs-website/src/lib/types/guideListsData.ts
Labels: website, changeset

#1176 [DEV-1961] Add bannerLinks attribute to all product pages codecs
  .changeset/chilly-berries-clap.md
  apps/nextjs-website/src/lib/strapi/__tests__/apiDataList.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/guideListPages.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/guides.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/quickStartGuides.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/ApiDataListCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/GuideListPagesCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/GuidesCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/QuickStartGuidesCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchApiDataList.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchGuideListPages.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchGuides.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchQuickStartGuides.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeApiDataList.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeGuideListPages.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeGuides.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeQuickStartGuides.ts
Labels: website, size/small, changeset

#1184 [DEV-1964] Set conditional visibility of Products section in SolutionTemplate
  .changeset/grumpy-plums-cheat.md
  apps/nextjs-website/src/components/templates/SolutionTemplate/SolutionTemplate.tsx
Labels: website, size/small, changeset

#1168 [DEV-1959] Add a new URL to be mapped
  .changeset/three-humans-study.md
  apps/nextjs-website/src/_contents/products.ts
Labels: website, size/small, changeset

#1185 [DEV-1965] Fix Strapi defaultLimit and maxLimit configurations
  .changeset/few-dots-breathe.md
  apps/strapi-cms/config/api.ts
Labels: size/small, changeset, cms

#1166 [DEV-1951] Add urlreplacemap codec, + tests + mapping function
  .changeset/lemon-pets-brake.md
  apps/nextjs-website/src/lib/strapi/__tests__/urlReplaceMap.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/UrlReplaceMapCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchUrlReplaceMap.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeUrlReplaceMap.ts
Labels: website, size/small, changeset

#1187 [DEV-1967] Fix margins and text size of guides and tutorials
  .changeset/little-colts-impress.md
  apps/nextjs-website/src/components/molecules/CkEditorPart/CkEditorPart.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Item.tsx
Labels: website, size/small, changeset

#1171 [DEV-1954] fix guide table of content
  .changeset/tasty-balloons-joke.md
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/components/atoms/ProductBreadcrumbs/ProductBreadcrumbs.tsx
  apps/nextjs-website/src/components/atoms/ProductHeader/ProductHeader.tsx
  apps/nextjs-website/src/components/molecules/BlocksRendererClient/BlocksRendererClient.tsx
  apps/nextjs-website/src/components/molecules/CkEditorPart/CkEditorPart.tsx
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Heading.tsx
  apps/nextjs-website/src/components/templates/GitBookTemplate/GitBookTemplate.tsx
  apps/nextjs-website/src/editorialComponents/Header/components/MenuDropdown.tsx
Labels: website, size/small, changeset

#1183 [CAI-118] Presidio
  .changeset/long-camels-sell.md
  apps/chatbot/.env.example
  apps/chatbot/README.md
  apps/chatbot/config/params.yaml
  apps/chatbot/config/prompts.yaml
  apps/chatbot/docker/app.Dockerfile
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/scripts/redis-tunnel.sh
  apps/chatbot/scripts/spacy_download.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/create_vector_index.py
  apps/chatbot/src/modules/engine.py
  apps/chatbot/src/modules/evaluation.py
  apps/chatbot/src/modules/models.py
  apps/chatbot/src/modules/presidio.py
  apps/chatbot/src/modules/utils.py
  apps/chatbot/src/modules/vector_database.py
  apps/infrastructure/src/modules/chatbot/efs.tf
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
Labels: infra, changeset

#1200 [CAI-194] Remove old functions with AWS S3
  apps/chatbot/.env.example
  apps/chatbot/src/modules/vector_database.py
Labels: size/small

#1195 [CAI-182] fix(chatbot): api gateway permits DELETE requests
  apps/infrastructure/src/modules/chatbot/api_gateway_rest.tf
Labels: size/small, infra

#1180 [DEV-1962] implement urlreplacemap
  .changeset/orange-beans-drop.md
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/app/solutions/[solutionSlug]/[...solutionSubPathSlugs]/page.tsx
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/strapi/__tests__/urlReplaceMap.test.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchUrlReplaceMap.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeUrlReplaceMap.ts
Labels: website, size/small, changeset

#1197 [CAI-178] Fix chatbot tab reposition
  .changeset/clever-mirrors-carry.md
  apps/nextjs-website/src/components/organisms/ChatbotLayout/ChatbotLayout.tsx
Labels: website, size/small, changeset

#1190 [DEV-1970] Remove subtitle attribute from bannerLink component
  .changeset/fuzzy-buttons-sing.md
  apps/strapi-cms/src/components/common/banner-link.json
Labels: size/small, changeset, cms

#1191 [DEV-1969] Remove subtitle from banner link codec
  .changeset/fuzzy-bags-yawn.md
  apps/nextjs-website/src/lib/strapi/codecs/BannerLinkCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/ProductCodec.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeBannerLink.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeOverviews.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeProducts.ts
Labels: website, size/small, changeset

#1192 [DEV-1971] Remove warnings from build output
  .changeset/curly-geese-attend.md
  apps/nextjs-website/src/components/atoms/MobileUserInfo/MobileUserInfo.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/CodeBlock.tsx
  packages/gitbook-docs/src/markdoc/schema/code.ts
  packages/gitbook-docs/src/markdoc/schema/swagger.ts
Labels: website, size/small, packages, changeset

#1193 [CAI-185] Chatbot/docker compose with Redis and DynamoDB for local development
  apps/chatbot/.env.example
  apps/chatbot/config/prompts.yaml
  apps/chatbot/docker/app.local.Dockerfile
  apps/chatbot/docker/compose.yaml
  apps/chatbot/docker/docker-compose-up-api.sh
  apps/chatbot/docker/docker-run-create-index.sh
  apps/chatbot/docker/docker-run-local-bash.sh
  apps/chatbot/docker/files/.aws/config
  apps/chatbot/docker/files/.aws/credentials
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/src/app/main.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/presidio.py
  apps/chatbot/src/modules/utils.py
  apps/chatbot/src/modules/vector_database.py
  apps/infrastructure/src/modules/chatbot/dynamodb.tf
Labels: size/small, infra

#1194 [CAI-44] Chatbot save one session per day
  apps/chatbot/.env.example
  apps/chatbot/src/app/main.py
Labels: size/small

#1198 [CAI-183] Chatbot Patch query api
  apps/chatbot/.env.example
  apps/chatbot/docker/docker-compose-run-create_index.sh
  apps/chatbot/scripts/dynamodb-create-table-queries-local.sh
  apps/chatbot/scripts/dynamodb-create-table-sessions-local.sh
  apps/chatbot/scripts/dynamodb-delete-table-queries-local.sh
  apps/chatbot/scripts/dynamodb-delete-table-sessions-local.sh
  apps/chatbot/scripts/dynamodb-scan-queries.sh
  apps/chatbot/scripts/dynamodb-scan-sessions.sh
  apps/chatbot/src/app/main.py
  apps/chatbot/src/modules/chatbot.py
  apps/infrastructure/src/modules/chatbot/dynamodb.tf
Labels: infra

#1206 [CAI-198] - Chatbot Languages
  apps/chatbot/.env.example
  apps/chatbot/config/params.yaml
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/engine.py
  apps/chatbot/src/modules/vector_database.py
Labels: size/small

#1148 [CAI-84] Chatbot History client API
  apps/nextjs-website/src/app/profile/chatbot-history/page.tsx
  apps/nextjs-website/src/components/atoms/ChatHistoryMessage/ChatHistoryMessage.tsx
  apps/nextjs-website/src/components/atoms/ChatInputText/ChatInputText.tsx
  apps/nextjs-website/src/components/atoms/ChatMessage/ChatMessage.tsx
  apps/nextjs-website/src/components/atoms/ChatbotHistoryListItem/ChatbotHistoryListItem.tsx
  apps/nextjs-website/src/components/atoms/ChatbotHistoryNavigationLink/ChatbotHistoryNavigationLink.tsx
  apps/nextjs-website/src/components/atoms/ChatbotHistoryNavigationMenu/ChatbotHistoryNavigationMenu.tsx
  apps/nextjs-website/src/components/atoms/IconWrapper/IconWrapper.tsx
  apps/nextjs-website/src/components/molecules/Chat/Chat.tsx
  apps/nextjs-website/src/components/molecules/ChatbotHistoryList/ChatbotHistoryList.tsx
  apps/nextjs-website/src/components/molecules/DesktopProfileMenu/DesktopProfileMenu.tsx
  apps/nextjs-website/src/components/organisms/ChatbotHistoryDetailLayout/ChatbotHistoryDetailLayout.tsx
  apps/nextjs-website/src/components/organisms/ChatbotHistoryLayout/ChatbotHistoryLayout.tsx
  apps/nextjs-website/src/components/organisms/ChatbotLayout/ChatbotLayout.tsx
  apps/nextjs-website/src/components/organisms/ProfileMenu/ProfileMenu.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/helpers/chatbot.helper.tsx
  apps/nextjs-website/src/lib/chatbot/__tests__/chatbotApi.test.ts
  apps/nextjs-website/src/lib/chatbot/chatbotQueries.ts
  apps/nextjs-website/src/lib/chatbot/chatbotSessions.ts
  apps/nextjs-website/src/lib/chatbot/queries.ts
  apps/nextjs-website/src/lib/chatbotApi.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#1202 [CAI-190] Fix messange send with enter key
  .changeset/sixty-needles-study.md
  apps/nextjs-website/src/components/atoms/ChatInputText/ChatInputText.tsx
Labels: website, size/small, changeset

#1203 [CAI-191] fix error visibility
  .changeset/flat-bottles-fail.md
  apps/nextjs-website/src/helpers/chatbot.helper.tsx
Labels: website, size/small, changeset

#1204 [CAI-187] fix answer link layout
  .changeset/curly-socks-play.md
  apps/nextjs-website/src/components/atoms/ChatLink/ChatLink.tsx
Labels: website, size/small, changeset

#1209 [DEV-1977] Add environment variable to disable custom validators during Strapi's data transfer
  .changeset/wet-coats-train.md
  apps/strapi-cms/.env.default
  apps/strapi-cms/src/utils/validateProductPresence.ts
Labels: size/small, changeset, cms

#1208 [CAI-181] update lambda trigger
  .changeset/fast-bugs-arrive.md
  apps/nextjs-website/src/components/organisms/ChatbotLayout/ChatbotLayout.tsx
  apps/nextjs-website/src/lib/chatbot/chatbotHealthz.ts
  apps/nextjs-website/src/lib/chatbot/chatbotQueries.ts
  apps/nextjs-website/src/lib/chatbot/chatbotSessions.ts
  apps/nextjs-website/src/lib/chatbotApi.ts
  apps/nextjs-website/src/lib/makeError.ts
  apps/nextjs-website/src/lib/solutions.ts
  apps/nextjs-website/src/lib/strapi/fetchFromStrapi.ts
Labels: website, size/small, changeset

#1211 [DEV-1988] - Added exceptions list to map edge cases where extensions false positives may cause 404
  .changeset/proud-mails-hide.md
  apps/cloudfront-functions/src/viewer-request-handler.ts
Labels: size/small, changeset, cloudfront-functions

#1215 [CAI-242] - Keep lambda warm by invoking it every 3 minutes
  .changeset/dull-items-grow.md
  apps/cloudfront-functions/src/viewer-request-handler.ts
  apps/infrastructure/src/modules/chatbot/data.tf
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
Labels: size/small, infra, changeset, cloudfront-functions

#1213 [CAI-162] Chatbot/Save masked questions and answers using Presidio
  .changeset/sixty-books-agree.md
  .gitignore
  apps/chatbot/src/app/main.py
  apps/chatbot/src/modules/chatbot.py
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
Labels: size/small, infra, changeset

#1214 [CAI-180] Chatbot/docker image size presidio
  .changeset/good-moons-grin.md
  apps/chatbot/.dockerignore
  apps/chatbot/config/params.yaml
  apps/chatbot/docker/app.Dockerfile
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
Labels: size/small, changeset

#1221 [CAI-227] chatbot: added env vars on lambda function
  apps/chatbot/src/modules/vector_database.py
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
Labels: size/small, infra

#1222 Add cloudwatch alarms and dashboards
  .changeset/hot-plums-serve.md
  apps/infrastructure/src/modules/chatbot/cloudwatch_dashboard.tf
  apps/infrastructure/src/modules/chatbot/cloudwatch_metrics_alarms.tf
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
Labels: infra, changeset

#1217 [CAI-167] Chatbot/throttling to api gateway
  .gitignore
  apps/chatbot/load-test/.env.example
  apps/chatbot/load-test/README.md
  apps/chatbot/load-test/common/__init__.py
  apps/chatbot/load-test/common/web_user.py
  apps/chatbot/load-test/docker-compose.yml
  apps/chatbot/load-test/locustfile.py
  apps/chatbot/load-test/tasks/__init__.py
  apps/chatbot/load-test/tasks/user_tasks.py
  apps/infrastructure/README.md
  apps/infrastructure/src/modules/chatbot/api_gateway_rest.tf
Labels: size/small, infra

#1223 [CAI-243] - Enable chatbot infrastructure in production
  .changeset/three-socks-provide.md
  apps/infrastructure/src/env/prod/terraform.tfvars
Labels: size/small, infra, changeset

#1216 [CAI-237] Add modal for history deletion
  .changeset/nasty-pumpkins-clap.md
  apps/nextjs-website/src/components/organisms/ChatbotHistoryDetailLayout/ChatbotHistoryDetailLayout.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#1218 [CAI-240] Fix out of bound text for long words
  .changeset/smart-chicken-kick.md
  apps/nextjs-website/src/components/atoms/ChatHistoryMessage/ChatHistoryMessage.tsx
  apps/nextjs-website/src/components/organisms/ChatbotHistoryDetailLayout/ChatbotHistoryDetailLayout.tsx
Labels: website, size/small, changeset

#1219 [CAI-241] Update history session title
  .changeset/slimy-buttons-look.md
  apps/nextjs-website/src/components/atoms/ChatbotHistoryListItem/ChatbotHistoryListItem.tsx
  apps/nextjs-website/src/components/organisms/ChatbotHistoryDetailLayout/ChatbotHistoryDetailLayout.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#1226 [CAI-244] - Bug fix link in default answer
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/presidio.py
Labels: size/small
