Repository pagopa/developer-portal, pull requests merged in 2024-05, with the labels that each got.

#840 [DEV-1321] Increase the distance between the menu and title of guides and manuals
  .changeset/itchy-seas-jam.md
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
Labels: website, size/small, changeset

#836 [DEV-1405] Preserve scroll position of guide menu
  .changeset/bright-balloons-sparkle.md
  apps/nextjs-website/src/components/atoms/GuideMenu/Menu.tsx
Labels: website, size/small, changeset

#719 [DEV-1252]: install storybook custom app
  .changeset/serious-dancers-whisper.md
  .github/CODEOWNERS
  README.md
  apps/storybook-app/.storybook/main.ts
  apps/storybook-app/.storybook/manager.ts
  apps/storybook-app/.storybook/preview.tsx
  apps/storybook-app/.storybook/theme.ts
  apps/storybook-app/package.json
  apps/storybook-app/stories/atoms/AlertPart.stories.tsx
  apps/storybook-app/stories/atoms/CopyToClipboard.stories.tsx
  apps/storybook-app/stories/atoms/CtaCard.stories.tsx
  apps/storybook-app/tsconfig.json
  package-lock.json
  package.json
  turbo.json
Labels: size/small, changeset

#846 [DEV-1624] Add app.gitbook.com domain to regular expression during parsing
  .changeset/sour-hounds-type.md
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/attributes.ts
Labels: size/small, packages, changeset

#847 [DPC-218] Update SACI version
  .changeset/cold-kids-sleep.md
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Labels: website, size/small, changeset

#848 [DPC-217] Update SANP version
  .changeset/light-terms-sniff.md
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Labels: website, size/small, changeset

#849 [DEV-1625] Fix links to selfcare backoffice
  .changeset/pretty-kings-wave.md
  apps/nextjs-website/src/_contents/products.ts
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/attributes.ts
Labels: website, size/small, packages, changeset

#850 [DEV-1508]: align news showcase on homepage
  .changeset/cold-ads-mate.md
  apps/nextjs-website/src/editorialComponents/EContainer/EContainer.tsx
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
Labels: website, size/small, changeset

#853 [DPC-221] Add 2 new versions for KB SEND
  .changeset/serious-snakes-enjoy.md
  apps/nextjs-website/src/_contents/send/guides.ts
Labels: website, size/small, changeset

#856 [DEV-1636]: Update devportal_authenticated_user IAM role
  .changeset/nice-birds-provide.md
  apps/infrastructure/src/iam_role.tf
Labels: size/small, infra, changeset

#858 [DPC-225] Version update "Manuale Servizi". IO
  .changeset/large-pots-count.md
  apps/nextjs-website/src/_contents/appIo/guides.ts
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small, changeset

#859 [DEV-1590] Replacement images PagoPALAB
  .changeset/thirty-fireants-deny.md
  apps/nextjs-website/public/images/webinar-cover-pago-pa-multe.jpg
  apps/nextjs-website/public/images/webinar-cover-pagopalab-tari.png
  apps/nextjs-website/public/images/webinar-pago-pa-multe.jpg
  apps/nextjs-website/public/images/webinar-pagopalab-tari.png
Labels: website, size/small, changeset

#862 [DPC-227] Version Update Guida Tecnica IO
  .changeset/fair-crews-worry.md
  apps/nextjs-website/src/_contents/appIo/guides.ts
Labels: website, size/small, changeset

#863 [DEV-1638] Fix thirty-fireants-deny.md
  .changeset/thirty-fireants-deny.md
Labels: size/small, changeset

#839 [DEV-1339]: fix tutorial page style
  .changeset/brown-oranges-refuse.md
  apps/nextjs-website/src/_contents/makeDocs.ts
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/components/atoms/RelatedLinks/RelatedLinks.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#860 [DEV-1628] Strapi SEO Plugin
  .changeset/purple-pianos-work.md
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  apps/strapi-cms/src/api/homepage/content-types/homepage/schema.json
  apps/strapi-cms/src/components/shared/meta-social.json
  apps/strapi-cms/src/components/shared/seo.json
  package-lock.json
Labels: size/small, changeset, cms

#854 [DEV-1607] Update Strapi to version 4.24.2
  .changeset/witty-apples-sip.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small, changeset, cms

#866 [DEV-1618] Import webinar subscriptions to ddb script
  scripts/webinar-subscriptions-import/.gitignore
  scripts/webinar-subscriptions-import/dev-requirements.txt
  scripts/webinar-subscriptions-import/pytest.ini
  scripts/webinar-subscriptions-import/requirements.txt
  scripts/webinar-subscriptions-import/src/README.md
  scripts/webinar-subscriptions-import/src/__init__.py
  scripts/webinar-subscriptions-import/src/main.py
  scripts/webinar-subscriptions-import/tests/__init__.py
  scripts/webinar-subscriptions-import/tests/test_migration.py
Labels: size/small

#855 [DEV-1617, DEV-1619]: move webinars subscriptions to DynamoDB
  .changeset/real-parents-press.md
  apps/nextjs-website/src/__tests__/helpers/userPreferences.helpers.test.ts
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/FutureWebinarsShowcase/FutureWebinarsShowcase.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
  apps/nextjs-website/src/helpers/userPreferences.helpers.ts
  apps/nextjs-website/src/lib/types/auth.ts
  apps/nextjs-website/src/lib/webinarApi.ts
  apps/nextjs-website/src/lib/webinars/__tests__/webinarSubscriptions.test.ts
  apps/nextjs-website/src/lib/webinars/dynamodb/codec.ts
  apps/nextjs-website/src/lib/webinars/webinarSubscriptions.ts
Labels: website, don't-merge, changeset

#851 [DEV-1631] Add slug custom uniq validator
  .changeset/soft-keys-roll.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
Labels: size/small, changeset, cms

#870 [EC-310] Revise terraform code structure to follow engineering standard
  apps/infrastructure/src/.terraform.lock.hcl
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/modules/chatbot/providers.tf
  apps/infrastructure/src/modules/chatbot/s3_bucket.tf
  apps/infrastructure/src/modules/chatbot/variables.tf
  apps/infrastructure/src/modules/cms/acm.tf
  apps/infrastructure/src/modules/cms/alb.tf
  apps/infrastructure/src/modules/cms/cloudfront.tf
  apps/infrastructure/src/modules/cms/cloudwatch_log_group.tf
  apps/infrastructure/src/modules/cms/ecr.tf
  apps/infrastructure/src/modules/cms/ecs.tf
  apps/infrastructure/src/modules/cms/iam_policy.tf
  apps/infrastructure/src/modules/cms/iam_role.tf
  apps/infrastructure/src/modules/cms/iam_user.tf
  apps/infrastructure/src/modules/cms/providers.tf
  apps/infrastructure/src/modules/cms/rds_aurora.tf
  apps/infrastructure/src/modules/cms/route53.tf
  apps/infrastructure/src/modules/cms/s3_bucket.tf
  apps/infrastructure/src/modules/cms/security_group.tf
  apps/infrastructure/src/modules/cms/ssm_parameter.tf
  apps/infrastructure/src/modules/cms/task-definitions/cms_app.json.tpl
  apps/infrastructure/src/modules/cms/variables.tf
  apps/infrastructure/src/modules/cms/vpc.tf
  apps/infrastructure/src/modules/core/iam_group.tf
  apps/infrastructure/src/modules/core/iam_user.tf
  apps/infrastructure/src/modules/core/outputs.tf
  apps/infrastructure/src/modules/core/providers.tf
  apps/infrastructure/src/modules/core/route53.tf
  apps/infrastructure/src/modules/core/ses.tf
  apps/infrastructure/src/modules/core/variables.tf
  apps/infrastructure/src/modules/website/acm.tf
  apps/infrastructure/src/modules/website/cloudfront.tf
  apps/infrastructure/src/modules/website/cloudwatch_dashboard.tf
  apps/infrastructure/src/modules/website/cloudwatch_metric_alarm.tf
  apps/infrastructure/src/modules/website/cognito_identity.tf
  apps/infrastructure/src/modules/website/cognito_user.tf
  apps/infrastructure/src/modules/website/dynamodb.tf
  apps/infrastructure/src/modules/website/iam_policy.tf
  apps/infrastructure/src/modules/website/iam_role.tf
  apps/infrastructure/src/modules/website/lambda.tf
  apps/infrastructure/src/modules/website/outputs.tf
  apps/infrastructure/src/modules/website/providers.tf
  apps/infrastructure/src/modules/website/route53.tf
  apps/infrastructure/src/modules/website/s3_bucket.tf
  apps/infrastructure/src/modules/website/sns_topic.tf
  apps/infrastructure/src/modules/website/variables.tf
  apps/infrastructure/src/moved.tf
  apps/infrastructure/src/outputs.tf
  apps/infrastructure/src/route53.tf
Labels: infra, size/large

#874 [DEV-1680]: fix webinars paragraphs
  .changeset/khaki-pears-applaud.md
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
Labels: website, size/small, changeset

#842 [DEV-1261] Add quickstart guide strapi side
  .changeset/strong-dragons-float.md
  apps/strapi-cms/src/api/product/content-types/product/schema.json
  apps/strapi-cms/src/api/quickstart-guide-item/content-types/quickstart-guide-item/schema.json
  apps/strapi-cms/src/api/quickstart-guide-item/controllers/quickstart-guide-item.ts
  apps/strapi-cms/src/api/quickstart-guide-item/routes/quickstart-guide-item.ts
  apps/strapi-cms/src/api/quickstart-guide-item/services/quickstart-guide-item.ts
  apps/strapi-cms/src/api/quickstart-guide/content-types/quickstart-guide/schema.json
  apps/strapi-cms/src/api/quickstart-guide/controllers/quickstart-guide.ts
  apps/strapi-cms/src/api/quickstart-guide/routes/quickstart-guide.ts
  apps/strapi-cms/src/api/quickstart-guide/services/quickstart-guide.ts
  apps/strapi-cms/src/components/parts/alert.json
  apps/strapi-cms/src/components/parts/api-tester-attribute.json
  apps/strapi-cms/src/components/parts/api-tester.json
  apps/strapi-cms/src/components/parts/code-block.json
  apps/strapi-cms/src/components/parts/embed-html.json
  apps/strapi-cms/src/components/parts/html.json
Labels: size/small, changeset, cms

#873 [EC-310] - host authenticated user now can subscribe to webinar
  .changeset/stale-goats-attack.md
  apps/infrastructure/src/modules/website/iam_role.tf
Labels: size/small, infra, changeset

#865 [DEV-1640]: add website's atoms stories
  .changeset/fair-paws-flash.md
  apps/storybook-app/stories/atoms/ApiViewer.stories.tsx
  apps/storybook-app/stories/atoms/ConfirmationModal.stories.tsx
  apps/storybook-app/stories/atoms/CookieBannerScript.xstories.tsx
  apps/storybook-app/stories/atoms/CtaSlide.stories.tsx
  apps/storybook-app/stories/atoms/DesktopUserInfo.xstories.tsx
  apps/storybook-app/stories/atoms/Dropdown.stories.tsx
  apps/storybook-app/stories/atoms/EmbedLink.xstories.tsx
  apps/storybook-app/stories/atoms/GoToStep.stories.tsx
  apps/storybook-app/stories/atoms/GuideMenu.xstories.tsx
  apps/storybook-app/stories/atoms/IconFireworks.stories.tsx
  apps/storybook-app/stories/atoms/IconInbox.stories.tsx
  apps/storybook-app/stories/atoms/InfoCardEditButton.stories.tsx
  apps/storybook-app/stories/atoms/InfoCardItem.stories.tsx
  apps/storybook-app/stories/atoms/InfoCardItemProfile.xstories.tsx
  apps/storybook-app/stories/atoms/LinkButton.stories.tsx
  apps/storybook-app/stories/atoms/LiveWebinarChip.stories.tsx
  apps/storybook-app/stories/atoms/MermaidDiagram.xstories.tsx
  apps/storybook-app/stories/atoms/NavigationArrow.stories.tsx
  apps/storybook-app/stories/atoms/ProductBreadcrumbs.xstories.tsx
  apps/storybook-app/stories/atoms/RelatedLinks.xstories.tsx
  apps/storybook-app/stories/atoms/SingleCard.stories.tsx
  apps/storybook-app/stories/atoms/SiteLabel.stories.tsx
  apps/storybook-app/stories/atoms/Spinner.stories.tsx
  apps/storybook-app/stories/atoms/SubscribeButton.stories.tsx
  apps/storybook-app/stories/atoms/TimeSlot.xstories.tsx
  apps/storybook-app/stories/atoms/TypographyPart.stories.tsx
  apps/storybook-app/stories/atoms/UnorderedList.stories.tsx
  apps/storybook-app/stories/atoms/VimeoPlayer.stories.tsx
Labels: changeset

#876 [DEV-1665]: refactor Feature component to use dark style programmatically
  .changeset/nine-hairs-cross.md
  apps/nextjs-website/src/editorialComponents/Feature/Feature.tsx
  apps/nextjs-website/src/editorialComponents/Feature/FeatureStackItem.tsx
  apps/nextjs-website/src/editorialComponents/Feature/Subtitle.tsx
  apps/storybook-app/.storybook/main.ts
  apps/storybook-app/stories/editorialComponents/Feature.stories.tsx
Labels: website, size/small, changeset

#877 [DEV-1663]: refactor cta cards
  .changeset/honest-months-kick.md
  apps/nextjs-website/src/components/atoms/CtaCard/CtaCard.tsx
  apps/storybook-app/stories/atoms/CtaCard.stories.tsx
Labels: website, size/small, changeset

#880 [DEV-1677]: add quote component
  .changeset/wicked-sloths-sip.md
  apps/nextjs-website/src/components/atoms/Quote/Quote.tsx
  apps/storybook-app/stories/atoms/Quote.stories.tsx
Labels: website, size/small, changeset

#881 [DEV-1676] Add case histories
  .changeset/rare-sloths-brush.md
  apps/strapi-cms/src/api/case-history/content-types/case-history/schema.json
  apps/strapi-cms/src/api/case-history/controllers/case-history.ts
  apps/strapi-cms/src/api/case-history/routes/case-history.ts
  apps/strapi-cms/src/api/case-history/services/case-history.ts
  apps/strapi-cms/src/api/product/content-types/product/schema.json
  apps/strapi-cms/src/components/parts/alert.json
  apps/strapi-cms/src/components/parts/api-tester-attribute.json
  apps/strapi-cms/src/components/parts/api-tester.json
  apps/strapi-cms/src/components/parts/code-block.json
  apps/strapi-cms/src/components/parts/embed-html.json
  apps/strapi-cms/src/components/parts/html.json
  apps/strapi-cms/src/components/parts/quote.json
Labels: size/small, changeset, cms

#885 [DEV-1681] Add solutions page
  .changeset/three-insects-hope.md
  apps/strapi-cms/src/api/solutions-list-page/content-types/solutions-list-page/schema.json
  apps/strapi-cms/src/api/solutions-list-page/controllers/solutions-list-page.ts
  apps/strapi-cms/src/api/solutions-list-page/routes/solutions-list-page.ts
  apps/strapi-cms/src/api/solutions-list-page/services/solutions-list-page.ts
  apps/strapi-cms/src/components/common/case-histories-showcase.json
Labels: size/small, changeset, cms

#891 [DEV-1686]: fix Strapi relations naming
  .changeset/orange-cars-switch.md
  apps/strapi-cms/src/api/solutions-list-page/content-types/solutions-list-page/schema.json
  apps/strapi-cms/src/components/common/case-histories.json
Labels: size/small, changeset, cms
