Repository pagopa/developer-portal, pull requests merged in 2024-03, with the labels that each got.

#697 [DEV-1470] Add repository dispatch trigger
  .github/workflows/deploy_website.yaml
Labels: workflows, size/small

#698 [DEV-1471] Fix product's description type
  .changeset/perfect-students-wash.md
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/lib/homepage.ts
  apps/nextjs-website/src/lib/strapi/homepage.ts
Labels: website, size/small, changeset

#663 [DEV-1342] Remove email in url
  .changeset/hot-jokes-warn.md
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
Labels: website, size/small, changeset

#699 [DEV-1474] Do not fetch from cache when executing deploy website workflow
  .github/actions/deploy/action.yaml
Labels: size/small

#700 [DPC-160] Fix pagoPA guides and manuals version
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Labels: website, size/small

#701 Revert "[DPC-160] Fix pagoPA guides and manuals version"
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Labels: website, size/small

#702 [DPC-160] Fix pagoPA guides and manuals version
  .changeset/gentle-ants-warn.md
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Labels: website, size/small, changeset

#704 Webinar questions review
  apps/nextjs-website/src/components/molecules/WebinarQuestion/WebinarQuestionRow.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsTemplate/WebinarQuestionsTemplate.tsx
  apps/nextjs-website/src/lib/webinarApi.ts
  apps/nextjs-website/src/lib/webinars/__tests__/webinarQuestions.test.ts
  apps/nextjs-website/src/lib/webinars/dynamodb/__tests__/codec.test.ts
  apps/nextjs-website/src/lib/webinars/dynamodb/codec.ts
  apps/nextjs-website/src/lib/webinars/webinarQuestions.ts
Labels: website

#710 [DEV-1478] Add content for PagoPA LAB first Webinar
  .changeset/thin-doors-tease.md
  apps/nextjs-website/public/images/speaker-amoroso.png
  apps/nextjs-website/public/images/speaker-cimmino.png
  apps/nextjs-website/public/images/speaker-pompilii.png
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small, changeset

#707 [DEV-1481]: webinar link visibility
  .changeset/eight-paws-impress.md
  apps/nextjs-website/src/components/molecules/DesktopSiteHeader/DesktopSiteHeader.tsx
  apps/nextjs-website/src/components/molecules/MobileSiteHeader/MobileSiteHeader.tsx
Labels: website, size/small, changeset

#705 [DEV-1393] Handle data-size image attribute to support inline image rendering
  .changeset/beige-lemons-pay.md
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Image.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Item.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/image.ts
Labels: website, size/small, packages, changeset

#716 [DEV-1497] Fix homepage webinar banner visibility
  .changeset/pretty-ears-work.md
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Labels: website, size/small, changeset

#721 [DEV-1430] Replace references of .infrastructure
  .github/actions/setup-terraform/action.yaml
  .github/workflows/code_review_infra.yaml
  .github/workflows/deploy_infra.yml
  apps/infrastructure/src/cloudfront.tf
Labels: workflows, size/small

#672 [DEV-1433]: display hero from Strapi
  .changeset/old-rocks-cover.md
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/CtaSlide/CtaSlide.tsx
  apps/nextjs-website/src/components/molecules/HeroSwiper/HeroSwiper.tsx
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/homepage.ts
  apps/nextjs-website/src/lib/strapi/__tests__/homepage.test.ts
  apps/nextjs-website/src/lib/strapi/homepage.ts
Labels: website, size/small, changeset

#720 [DEV-1427] Move infrastructure under the monorepo structure
  .changeset/eleven-ties-boil.md
  .github/actions/setup-terraform/action.yaml
  .github/labeler.yaml
  .github/workflows/code_review_infra.yaml
  .github/workflows/deploy_infra.yml
  .github/workflows/pr_enrich.yaml
  apps/infrastructure/.gitignore
  apps/infrastructure/README.md
  apps/infrastructure/package.json
  apps/infrastructure/src/.terraform-version
  apps/infrastructure/src/.terraform.lock.hcl
  apps/infrastructure/src/acm.tf
  apps/infrastructure/src/alb.tf
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/cloudwatch_dashboard.tf
  apps/infrastructure/src/cloudwatch_log_group.tf
  apps/infrastructure/src/cloudwatch_metric_alarm.tf
  apps/infrastructure/src/cognito_identity.tf
  apps/infrastructure/src/cognito_user.tf
  apps/infrastructure/src/dynamodb.tf
  apps/infrastructure/src/ecr.tf
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/env/dev/backend.tfvars
  apps/infrastructure/src/env/dev/terraform.tfvars
  apps/infrastructure/src/env/prod/backend.tfvars
  apps/infrastructure/src/env/prod/terraform.tfvars
  apps/infrastructure/src/iam_group.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/iam_role.tf
  apps/infrastructure/src/iam_user.tf
  apps/infrastructure/src/identity/main.tf
  apps/infrastructure/src/identity/outputs.tf
  apps/infrastructure/src/identity/variables.tf
  apps/infrastructure/src/lambda.tf
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/outputs.tf
  apps/infrastructure/src/rds_aurora.tf
  apps/infrastructure/src/route53.tf
  apps/infrastructure/src/s3_bucket.tf
  apps/infrastructure/src/security_group.tf
  apps/infrastructure/src/ses.tf
  apps/infrastructure/src/ssm_parameter.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
  apps/infrastructure/src/terraform.sh
  apps/infrastructure/src/variables.tf
  apps/infrastructure/src/vpc.tf
  docs/architecture/decisions/0008-location-of-iac-files.md
  package-lock.json
Labels: workflows, size/small, infra, docs, changeset

#727 [DPC-171] Removes specific version and redirects to lates in Quick Start Firma con IO
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
Labels: website, size/small

#722 [DEV-1503] Add googleusercontent to trusted domains
  .changeset/eleven-ties-boil.md
  .changeset/honest-geese-marry.md
  apps/infrastructure/src/cloudfront.tf
Labels: size/small, infra, changeset

#732 Revert "[DPC-171] Removes specific version and redirects to lates in Quick Start Firma con IO"
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
Labels: website, size/small

#731 Revert "[DPC-175] Removes ref. to specific versions in the guide list and redirects to the latest pagoPA"
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
Labels: website, size/small

#733 [DPC-175] Removes ref. to specific versions in the guide list and redirects to the latest pagoPA
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
Labels: website, size/small

#646 [DEV-1315]: highlight and hide webinars questions
  .changeset/rare-pans-flash.md
  apps/nextjs-website/src/components/molecules/WebinarQuestion/WebinarQuestionRow.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsTemplate/WebinarQuestionsTemplate.tsx
  apps/nextjs-website/src/lib/webinarApi.ts
  apps/nextjs-website/src/lib/webinars/__tests__/webinarQuestions.test.ts
  apps/nextjs-website/src/lib/webinars/dynamodb/__tests__/codec.test.ts
  apps/nextjs-website/src/lib/webinars/dynamodb/codec.ts
  apps/nextjs-website/src/lib/webinars/webinarQuestions.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, changeset

#735 [DEV-1448] Add concurrency in workflows that are using terraform
  .github/workflows/code_review_infra.yaml
  .github/workflows/deploy_infra.yml
Labels: workflows, size/small

#737 [DEV-1448] Add concurrency group in deploy workflows
  .github/workflows/deploy_cms.yaml
  .github/workflows/deploy_website.yaml
Labels: workflows, size/small

#739 [DPC-168] Adds cover images for new BO manual for pagoPA
  .changeset/weak-grapes-scream.md
  apps/nextjs-website/public/images/pago-pa-manuale-bo-pt-mobile.png
  apps/nextjs-website/public/images/pago-pa-manuale-bo-pt.png
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Labels: website, size/small, changeset

#729 [DEV-1505] Webinar tests
  .changeset/eight-cobras-argue.md
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/webinars/page.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Labels: website, size/small, changeset

#740 Move working-directory to a single step
  .github/workflows/deploy_infra.yml
Labels: workflows, size/small

#741 Fix deploy infra workflow changelog
  .changeset/eighty-mails-sort.md
Labels: size/small, changeset

#746 [DEV-1456] Add condition on job check_pr_title
  .github/workflows/check_pr_title.yaml
Labels: workflows, size/small

#744 [DEV-1478] Adds new Speaker at PagoPA LAB Webinar
  .changeset/shaggy-eagles-poke.md
  apps/nextjs-website/public/images/speaker-zaffi-borgetti.png
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small, changeset

#650 [DEV-1041] Swagger Parser
  .changeset/thirty-moose-allow.md
  apps/nextjs-website/src/components/organisms/GitBookContent/GitBookContent.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Expandable.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Swagger.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/SwaggerDescription.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/SwaggerParameter.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/SwaggerResponse.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/swagger.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/renderContent.ts
Labels: website, packages, changeset

#747 [DEV-1515] Fix webinar form and webinar questions page
  .changeset/lovely-drinks-mix.md
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
  apps/nextjs-website/src/components/molecules/WebinarQuestion/WebinarQuestionRow.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsTable/WebinarQuestionsTable.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsTemplate/WebinarQuestionsTemplate.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, changeset

#708 [DEV-1347]: change subscribe button click logic
  .changeset/chilly-vans-glow.md
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
Labels: website, size/small, changeset

#752 [DEV-1489] Add Active Campaign records
  .changeset/fluffy-rockets-sneeze.md
  apps/infrastructure/src/route53.tf
Labels: size/small, infra, changeset

#757 [DEV-1534] Update webinar timing
  .changeset/popular-readers-crash.md
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small, changeset

#751 [DEV-1529] Create DNS for the CMS Media Library
  .changeset/five-garlics-mix.md
  apps/infrastructure/src/acm.tf
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/route53.tf
Labels: size/small, infra, changeset

#761 [DPC-194] Update video on demand src
  .changeset/thin-games-promise.md
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small, changeset

#764 Revert "[DPC-194] Update video on demand src"
  .changeset/shiny-comics-allow.md
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small, changeset

#766 [DEV-1538] Reach Media Library CDN using custom domain
  .changeset/silly-forks-shake.md
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/route53.tf
Labels: size/small, infra, changeset

#767 [DEV-1472] Update CDN url in task definition
  .changeset/purple-goats-occur.md
  apps/infrastructure/src/ecs.tf
Labels: size/small, infra, changeset

#769 [DEV-1543] Allow fetching images from devportal domains
  .changeset/lucky-buses-give.md
  apps/infrastructure/src/cloudfront.tf
Labels: size/small, infra, changeset

#770 [DEV-1545] Add custom PathReporter
  .changeset/polite-buses-agree.md
  apps/nextjs-website/src/lib/strapi/PathReporter.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fetchFromStrapi.test.ts
  apps/nextjs-website/src/lib/strapi/fetchFromStrapi.ts
Labels: website, size/small, changeset

#738 [DEV-1502] Add metadata to webinar page
  .changeset/hot-baboons-rule.md
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
Labels: website, size/small, changeset

#777 [DPC-188] Resize webinar images
  .changeset/lemon-foxes-sin.md
  apps/nextjs-website/public/images/webinar-cover-io-remote-content.png
  apps/nextjs-website/public/images/webinar-io-remote-content.png
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small, changeset

#694 [DEV-1466] Reset MFA form errors on user changes
  .changeset/wet-squids-raise.md
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/__tests__/ConfirmLogin.test.tsx
Labels: website, size/small, changeset

#756 [DEV-1516]: submit keys question form
  .changeset/khaki-bags-call.md
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
Labels: website, size/small, changeset

#781 [DEV-1550] Set endDateTime of 'always-live' webinar to year 2077
  .changeset/rare-baboons-brake.md
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small, changeset

#782 [DEV-1554] Fix cover image of the webinar "Esplorando App IO..."
  .changeset/stupid-colts-build.md
  apps/nextjs-website/public/images/webinar-cover-io-remote-content.jpg
  apps/nextjs-website/public/images/webinar-cover-io-remote-content.png
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small, changeset

#736 [DEV-1495] Reset change password form errors on user changes
  .changeset/hot-pigs-allow.md
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ChangePasswordForm.tsx
Labels: website, changeset

#750 [DEV-1513] Change password form errors on user changes
  .changeset/violet-dryers-dress.md
  apps/nextjs-website/src/components/organisms/Auth/EditPasswordForm.tsx
Labels: website, size/small, changeset

#724 [DEV-1469] Reset signup form errors on user changes
  .changeset/large-planes-act.md
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordTextField.tsx
  apps/nextjs-website/src/components/organisms/Auth/PoliciesParagraph.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/helpers/auth.helpers.ts
  apps/nextjs-website/src/helpers/user.helper.ts
  apps/nextjs-website/src/lib/types/sign-up.ts
Labels: website, changeset

#725 [DEV-1506] Signup form tests
  .changeset/empty-jobs-speak.md
  apps/nextjs-website/jest-setup.ts
  apps/nextjs-website/jest.config.ts
  apps/nextjs-website/package.json
  apps/nextjs-website/src/components/organisms/Auth/__tests__/SignUpForm.test.tsx
  package-lock.json
Labels: website, size/large, changeset

#780 [DEV-1536] Strapi setup for webinars and webinar speakers
  .changeset/ten-poems-shake.md
  apps/strapi-cms/src/api/webinar-speaker/content-types/webinar-speaker/schema.json
  apps/strapi-cms/src/api/webinar-speaker/controllers/webinar-speaker.ts
  apps/strapi-cms/src/api/webinar-speaker/routes/webinar-speaker.ts
  apps/strapi-cms/src/api/webinar-speaker/services/webinar-speaker.ts
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
  apps/strapi-cms/src/api/webinar/controllers/webinar.ts
  apps/strapi-cms/src/api/webinar/routes/webinar.ts
  apps/strapi-cms/src/api/webinar/services/webinar.ts
Labels: size/small, changeset, cms

#783 [DEV-1345] Create SNS topic and subscriptions for metric alarms
  .changeset/loud-beans-hang.md
  apps/infrastructure/src/sns_topic.tf
Labels: size/small, infra, changeset

#745 [DEV-1434]: fetch blocks content from Strapi
  .changeset/fair-feet-exercise.md
  apps/strapi-cms/src/components/common/hero-slide.json
Labels: size/small, changeset, cms

#773 [DEV-1546]: render blocks content
  .changeset/brown-bugs-teach.md
  apps/nextjs-website/package.json
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/CtaSlide/CtaSlide.tsx
  apps/nextjs-website/src/components/molecules/BlocksRendererClient/BlocksRendererClient.tsx
  apps/nextjs-website/src/lib/strapi/__tests__/homepage.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/BlocksContentCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/NullToUndefinedCodec.ts
  apps/nextjs-website/src/lib/strapi/homepage.ts
  package-lock.json
Labels: website, size/small, changeset

#792 [DPC-187] Change in subtitle for webinar
  .changeset/clever-toes-think.md
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small, changeset

#790 [DEV-1521]: update webinars images
  .changeset/afraid-geese-design.md
  apps/nextjs-website/public/images/webinar-cover-io-remote-content.jpg
  apps/nextjs-website/public/images/webinar-cover-nuove-api-io.jpg
  apps/nextjs-website/public/images/webinar-cover-nuove-api-io.png
  apps/nextjs-website/public/images/webinar-cover-pago-pa-multe.jpg
  apps/nextjs-website/public/images/webinar-io-sm.jpg
  apps/nextjs-website/public/images/webinar-io-sm.png
  apps/nextjs-website/public/images/webinar-pago-pa-multe.jpg
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small, changeset

#791 [DEV-1524] webinars backend
  .changeset/orange-candles-learn.md
  apps/strapi-cms/src/api/homepage/content-types/homepage/schema.json
Labels: size/small, changeset, cms

#789 [DEV-1345] Link metric alarms to SNS topic
  .changeset/nice-beds-invent.md
  apps/infrastructure/src/cloudwatch_metric_alarm.tf
Labels: size/small, infra, changeset

#786 [DEV-1473] Strapi Google SSO
  .changeset/large-singers-sneeze.md
  .changeset/nice-cows-leave.md
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/ssm_parameter.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
  apps/strapi-cms/.env.default
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small, infra, changeset, cms

#794 [DEV-1562] Add cms_google_* parameters to ecs_task_execution
  .changeset/unlucky-crabs-carry.md
  apps/infrastructure/src/iam_policy.tf
Labels: size/small, infra, changeset

#796 [DEV-1562] Move parameters to secrets section
  .changeset/breezy-mails-fetch.md
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
Labels: size/small, infra, changeset

#798 [DEV-1562] Fix cms task definition template secret values
  .changeset/green-buses-kick.md
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
Labels: size/small, infra, changeset
