Repository pagopa/developer-portal, pull requests merged in 2024-07, with the labels that each got.

#941 [DEV-1762] Fix relatedLink in appIO's overview
  .changeset/brown-items-pretend.md
  apps/nextjs-website/src/_contents/appIo/overview.ts
Labels: website, size/small, changeset

#940 [CAI-75] - Dev chatbot rag
  .github/workflows/pr_enrich.yaml
  apps/chatbot/.gitignore
  apps/chatbot/README.md
  apps/chatbot/faqs.json
  apps/chatbot/params.yaml
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/src/app/app.py
  apps/chatbot/src/app/chatbot.png
  apps/chatbot/src/app/user.png
  apps/chatbot/src/modules/async_bedrock.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/create_vector_index.py
  apps/chatbot/src/modules/evaluation.py
  apps/chatbot/src/modules/retriever.py
  apps/chatbot/src/modules/vector_database.py
Labels: workflows, size/large

#934 [DEV-1729] OTP duration fix
  .changeset/ten-clocks-poke.md
  apps/infrastructure/src/modules/website/cognito_user.tf
Labels: size/small, infra, changeset

#930 [DEV-1747] Create ApiData model on strapi
  .changeset/large-radios-hammer.md
  apps/strapi-cms/src/api/api-data/content-types/api-data/schema.json
  apps/strapi-cms/src/api/api-data/controllers/api-data.ts
  apps/strapi-cms/src/api/api-data/routes/api-data.ts
  apps/strapi-cms/src/api/api-data/services/api-data.ts
  apps/strapi-cms/src/components/api/spec-urls.json
Labels: size/small, changeset, cms

#935 [DEV-1751] Create ApiListPage model
  .changeset/famous-pears-dress.md
  apps/strapi-cms/src/api/api-list-page/content-types/api-list-page/schema.json
  apps/strapi-cms/src/api/api-list-page/controllers/api-list-page.ts
  apps/strapi-cms/src/api/api-list-page/routes/api-list-page.ts
  apps/strapi-cms/src/api/api-list-page/services/api-list-page.ts
Labels: size/small, changeset, cms

#947 Changed trigger and removed fetch-tags option in move latest tag wf
  .github/workflows/move_latest_tag.yaml
Labels: workflows, size/small

#919 [DEV-1692] Create a common template for guides and solutions pages
  .changeset/eleven-ghosts-exist.md
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/Menu.tsx
  apps/nextjs-website/src/components/atoms/ProductBreadcrumbs/ProductBreadcrumbs.tsx
  apps/nextjs-website/src/components/templates/GitBookTemplate/GitBookTemplate.tsx
  apps/nextjs-website/src/helpers/breadcrumbs.helpers.ts
  apps/nextjs-website/src/lib/types/path.ts
Labels: website, changeset

#942 [DEV-1699] Add tutorial page template story
  .changeset/short-boxes-glow.md
  apps/storybook-app/stories/templates/TutorialPageTemplate.stories.tsx
Labels: size/small, changeset

#950 [DEV-1763] Rename ApiListPage to ApiDataListPage
  .changeset/rare-wolves-help.md
  apps/strapi-cms/src/api/api-data-list-page/content-types/api-data-list-page/schema.json
  apps/strapi-cms/src/api/api-data-list-page/controllers/api-data-list-page.ts
  apps/strapi-cms/src/api/api-data-list-page/routes/api-data-list-page.ts
  apps/strapi-cms/src/api/api-data-list-page/services/api-data-list-page.ts
  apps/strapi-cms/src/api/api-list-page/routes/api-list-page.ts
  apps/strapi-cms/src/api/api-list-page/services/api-list-page.ts
Labels: size/small, changeset, cms

#949 [DEV-1729] Fix cognito-functions deployment
  .changeset/tall-maps-float.md
  apps/infrastructure/src/modules/website/lambda.tf
Labels: size/small, infra, changeset

#948 [DEV-1734] fix user can't change password bug
  .changeset/blue-mugs-repeat.md
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
Labels: website, size/small, changeset

#938 [DEV-1693]: add features to SolutionsListPage entity on CMS
  .changeset/good-ravens-decide.md
  apps/strapi-cms/src/api/solutions-list-page/content-types/solutions-list-page/schema.json
  apps/strapi-cms/src/components/common/features.json
Labels: size/small, changeset, cms

#943 Push next releases
  .changeset/blue-mugs-repeat.md
  .changeset/breezy-coats-tell.md
  .changeset/eleven-ghosts-exist.md
  .changeset/famous-pears-dress.md
  .changeset/good-ravens-decide.md
  .changeset/large-radios-hammer.md
  .changeset/rare-wolves-help.md
  .changeset/short-boxes-glow.md
  .changeset/tall-maps-float.md
  .changeset/ten-clocks-poke.md
  apps/infrastructure/CHANGELOG.md
  apps/infrastructure/package.json
  apps/nextjs-website/CHANGELOG.md
  apps/nextjs-website/package.json
  apps/storybook-app/CHANGELOG.md
  apps/storybook-app/package.json
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small, infra, changeset

#957 [CAI-48] - Dev chatbot guardrails
  apps/chatbot/README.md
  apps/chatbot/config/eval_prompts.yaml
  apps/chatbot/config/params.yaml
  apps/chatbot/config/prompts.yaml
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/src/app/app.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/create_vector_index.py
  apps/chatbot/src/modules/evaluation.py
Labels: size/small

#933 [DEV-1674] Solution detail page
  .changeset/eleven-ghosts-exist.md
  apps/nextjs-website/src/_contents/makeDocs.ts
  apps/nextjs-website/src/app/solutions/[solutionSlug]/details/[...solutionDetailsPage]/page.tsx
  apps/nextjs-website/src/app/solutions/[solutionSlug]/details/page.tsx
  apps/nextjs-website/src/app/solutions/[solutionSlug]/page.tsx
  apps/nextjs-website/src/components/atoms/BannerLink/BannerLink.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/components/templates/GitBookTemplate/GitBookTemplate.tsx
  apps/nextjs-website/src/components/templates/SolutionPageTemplate/SolutionPageTemplate.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/solutions.ts
  apps/nextjs-website/src/lib/strapi/solutionsCodec.ts
  apps/nextjs-website/src/lib/types/solution.ts
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/stories/molecules/SolutionPreviewCard.stories.tsx
  apps/storybook-app/stories/templates/SolutionsTemplate.stories.tsx
Labels: website, size/small, changeset

#956 Push next releases
  .changeset/eleven-ghosts-exist.md
  .changeset/neat-spiders-join.md
  .changeset/proud-foxes-bow.md
  .changeset/thick-actors-smash.md
  apps/chatbot/CHANGELOG.md
  apps/chatbot/package.json
  apps/infrastructure/CHANGELOG.md
  apps/infrastructure/package.json
  apps/nextjs-website/CHANGELOG.md
  apps/nextjs-website/package.json
  apps/storybook-app/CHANGELOG.md
  apps/storybook-app/package.json
  package-lock.json
Labels: website, size/small, changeset

#963 [DEV-1666]: Add solutions link
  .changeset/witty-walls-jog.md
  apps/nextjs-website/src/components/molecules/DesktopSiteHeader/DesktopSiteHeader.tsx
  apps/nextjs-website/src/components/molecules/MobileSiteHeader/MobileSiteHeader.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#965 [DPC-238] Update version "Manuale Servizi"
  .changeset/moody-icons-search.md
  apps/nextjs-website/src/_contents/appIo/guides.ts
Labels: website, size/small, changeset

#966 [DPC-208] Add Manual to the list of manuals
  .changeset/moody-icons-search.md
  .changeset/young-cougars-explode.md
  apps/nextjs-website/public/images/modelli-dei-servizi-mobile.png
  apps/nextjs-website/public/images/modelli-dei-servizi.png
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
Labels: website, size/small, changeset

#968 [DEV-1770] Add introductionToSteps field to Solution's schema
  .changeset/slimy-carpets-behave.md
  apps/strapi-cms/src/api/solution/content-types/solution/schema.json
Labels: size/small, changeset, cms

#967 [DPC-208] Text reduction
  .changeset/warm-yaks-compete.md
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
Labels: website, size/small, changeset

#970 [DEV-1695] remove hardcoded webinars
  .changeset/warm-ladybugs-yell.md
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/homepage.ts
  apps/nextjs-website/src/lib/webinars.ts
Labels: website, changeset

#909 [DEV-1661] Homepage strapi refactor
  .changeset/beige-swans-leave.md
  apps/strapi-cms/src/api/homepage/content-types/homepage/schema.json
  apps/strapi-cms/src/components/common/ecosystem.json
Labels: size/small, changeset, cms

#962 Push next releases
  .changeset/beige-swans-leave.md
  .changeset/clean-students-grab.md
  .changeset/moody-icons-search.md
  .changeset/slimy-carpets-behave.md
  .changeset/warm-ladybugs-yell.md
  .changeset/warm-yaks-compete.md
  .changeset/witty-snails-rescue.md
  .changeset/witty-walls-jog.md
  .changeset/young-cougars-explode.md
  apps/nextjs-website/CHANGELOG.md
  apps/nextjs-website/package.json
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: website, size/small, changeset

#910 [DEV-1662] Homepage nextjs refactor
  .changeset/late-horses-knock.md
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/TabComponent/TabComponent.tsx
  apps/nextjs-website/src/components/molecules/CardsGrid/CardsGrid.tsx
  apps/nextjs-website/src/components/organisms/Ecosystem/Ecosystem.tsx
  apps/nextjs-website/src/lib/homepage.ts
  apps/nextjs-website/src/lib/strapi/__tests__/homepage.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/SolutionCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/SolutionStatCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/SolutionStepCodec.ts
  apps/nextjs-website/src/lib/strapi/homepage.ts
Labels: website, changeset

#972 [DEV-1767] Add test to homepage
  .changeset/three-bikes-wave.md
  apps/nextjs-website/src/lib/strapi/__tests__/homepage.test.ts
Labels: website, changeset

#969 [DEV-1771] Show introductionToSteps field in Solution's preview card
  .changeset/tiny-cougars-know.md
  apps/nextjs-website/src/components/templates/SolutionPageTemplate/SolutionPageTemplate.tsx
  apps/nextjs-website/src/lib/strapi/__tests__/solutions.test.ts
  apps/nextjs-website/src/lib/strapi/solutionsCodec.ts
  apps/nextjs-website/src/lib/types/solution.ts
Labels: website, size/small, changeset

#973 [DEV-1772] Fix solution build error
  .changeset/eight-geese-peel.md
  apps/nextjs-website/next.config.js
  apps/nextjs-website/src/app/solutions/[solutionSlug]/[...solutionSubPathSlugs]/page.tsx
  apps/nextjs-website/src/app/solutions/[solutionSlug]/details/page.tsx
  apps/nextjs-website/src/lib/solutions.ts
Labels: website, size/small, changeset

#971 Push next releases
  .changeset/eight-geese-peel.md
  .changeset/late-horses-knock.md
  .changeset/three-bikes-wave.md
  .changeset/tiny-cougars-know.md
  apps/nextjs-website/CHANGELOG.md
  apps/nextjs-website/package.json
  package-lock.json
Labels: website, size/small, changeset

#974 [CAI-98] - Chatbot Vector Index on s3
  .changeset/lazy-balloons-knock.md
  .gitignore
  apps/chatbot/config/params.yaml
  apps/chatbot/config/prompts.yaml
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/create_vector_index.py
  apps/chatbot/src/modules/retriever.py
  apps/chatbot/src/modules/vector_database.py
Labels: size/small, changeset

#927 [DEV-1738] Add ApiDataListPageTemplate
  .changeset/rare-files-punch.md
  apps/nextjs-website/public/icons/code.svg
  apps/nextjs-website/src/components/molecules/CardsGrid/CardsGrid.tsx
  apps/nextjs-website/src/components/templates/ApiDataListPageTemplate/ApiDataListPageTemplate.tsx
  apps/nextjs-website/src/editorialComponents/Hero/Hero.tsx
  apps/storybook-app/public/icons/code.svg
  apps/storybook-app/stories/templates/ApiDataListPageTemplate.stories.tsx
Labels: website, changeset

#975 [DPC-239] Version update for "Avvisi di pagamento"
  .changeset/pink-meals-nail.md
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Labels: website, size/small, changeset

#978 [DEV-1777] Fix margin on solution list card labels
  .changeset/twenty-forks-reflect.md
  apps/nextjs-website/src/components/atoms/CtaCard/CtaCard.tsx
Labels: website, size/small, changeset

#979 [DEV-1781] Fix the type of the relations between solutions-products and solutions-webinars
  .changeset/eighty-oranges-relax.md
  apps/strapi-cms/src/api/product/content-types/product/schema.json
  apps/strapi-cms/src/api/solution/content-types/solution/schema.json
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
Labels: size/small, changeset, cms

#980 [DEV-1779] Add shortName to Product schema
  .changeset/three-schools-melt.md
  apps/strapi-cms/src/api/product/content-types/product/schema.json
Labels: size/small, changeset, cms

#983 [DEV-1784] update api data model
  .changeset/early-spiders-trade.md
  apps/strapi-cms/src/api/api-data/content-types/api-data/schema.json
  apps/strapi-cms/src/components/api/api-rest-detail.json
  apps/strapi-cms/src/components/api/spec-urls.json
Labels: size/small, changeset, cms

#982 [DEV-1774]: Add solution's steps maximum value
  .changeset/odd-rice-hug.md
  apps/strapi-cms/src/api/solution/content-types/solution/schema.json
Labels: size/small, changeset, cms

#976 [DEV-1773]: Show all available steps on SolutionPreviewCard component
  .changeset/smart-roses-promise.md
  apps/nextjs-website/src/components/molecules/SolutionPreviewCard/SolutionsPreviewCard.tsx
  apps/nextjs-website/src/components/molecules/SolutionStep/SolutionStep.tsx
  apps/storybook-app/stories/molecules/SolutionPreviewCard.stories.tsx
Labels: website, size/small, changeset

#988 Modified chatbot changeset from major to minor
  .changeset/lazy-balloons-knock.md
Labels: size/small, changeset

#977 Push next releases
  .changeset/early-spiders-trade.md
  .changeset/eighty-oranges-relax.md
  .changeset/lazy-balloons-knock.md
  .changeset/odd-rice-hug.md
  .changeset/pink-meals-nail.md
  .changeset/rare-files-punch.md
  .changeset/smart-roses-promise.md
  .changeset/three-schools-melt.md
  .changeset/twenty-forks-reflect.md
  apps/chatbot/CHANGELOG.md
  apps/chatbot/package.json
  apps/nextjs-website/CHANGELOG.md
  apps/nextjs-website/package.json
  apps/storybook-app/CHANGELOG.md
  apps/storybook-app/package.json
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small, changeset

#981 [DEV-1780] Add shortName to Product and use it in product's labels
  .changeset/slimy-pens-call.md
  README.md
  apps/nextjs-website/src/__tests__/helpers/productHeader.helpers.test.ts
  apps/nextjs-website/src/_contents/appIo/appIo.ts
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/pagoPa/pagoPa.ts
  apps/nextjs-website/src/_contents/pdnd/pdnd.ts
  apps/nextjs-website/src/_contents/send/send.ts
  apps/nextjs-website/src/components/templates/SolutionPageTemplate/SolutionPageTemplate.tsx
  apps/nextjs-website/src/lib/solutions.ts
  apps/nextjs-website/src/lib/solutionsList.ts
  apps/nextjs-website/src/lib/strapi/__tests__/homepage.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/quickStarts.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/tutorials.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/ProductCodec.ts
  apps/nextjs-website/src/lib/types/product.ts
Labels: website, size/small, changeset

#986 [DEV-1768] Api page works with CMS data
  .changeset/polite-vans-dance.md
  apps/nextjs-website/src/_contents/appIo/api.ts
  apps/nextjs-website/src/_contents/appIo/apiPath.ts
  apps/nextjs-website/src/_contents/ioSign/api.ts
  apps/nextjs-website/src/_contents/ioSign/apiPath.ts
  apps/nextjs-website/src/_contents/pagoPa/api.ts
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/_contents/send/api.ts
  apps/nextjs-website/src/_contents/send/apiPath.ts
  apps/nextjs-website/src/app/[productSlug]/api/[apiDataSlug]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/api/page.tsx
  apps/nextjs-website/src/components/atoms/CtaCard/CtaCard.tsx
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.tsx
  apps/nextjs-website/src/components/molecules/CardsGrid/CardsGrid.tsx
  apps/nextjs-website/src/components/templates/ApiDataListPageTemplate/ApiDataListPageTemplate.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/apiDataListPages.ts
  apps/nextjs-website/src/lib/apiDataPages.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/products.ts
  apps/nextjs-website/src/lib/strapi/ApiDataListPageCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/ApiDataCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/ProductCodec.ts
  apps/nextjs-website/src/lib/strapi/fetchFromStrapi.ts
  apps/nextjs-website/src/lib/types/apiData.ts
  apps/nextjs-website/src/lib/types/apiParams.ts
Labels: website, changeset

#991 [DEV-1788] Fix ApiDataPage generateStaticParams
  .changeset/sweet-months-think.md
  apps/nextjs-website/src/app/[productSlug]/api/[apiDataSlug]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/api/page.tsx
  apps/nextjs-website/src/components/templates/ApiDataListPageTemplate/ApiDataListPageTemplate.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/types/apiDataParams.ts
Labels: website, size/small, changeset

#987 [DPC-240] update version SANP
  .changeset/small-yaks-sip.md
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Labels: website, size/small, changeset

#992 [DEV-1775] Remove the link to the SOAP API from pagoPA overview page
  .changeset/gold-garlics-check.md
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
Labels: website, size/small, changeset

#993 [DEV-1789] Fix label "Esplora le API" in ApiDataListPage
  .changeset/stale-colts-breathe.md
  apps/nextjs-website/src/components/templates/ApiDataListPageTemplate/ApiDataListPageTemplate.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#994 [DEV-1791] Fix solution CTA text
  .changeset/clever-sheep-think.md
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#1000 [DEV-1802] fix product link in ecosystem
  .changeset/shy-jeans-vanish.md
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/lib/homepage.ts
Labels: website, size/small, changeset

#1001 [DEV-1793] Fix solution webinars title
  .changeset/shy-books-peel.md
  apps/nextjs-website/src/components/organisms/FutureWebinarsShowcase/FutureWebinarsShowcase.tsx
  apps/nextjs-website/src/components/templates/SolutionPageTemplate/SolutionPageTemplate.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#999 [DEV-1792] Fix solution Stats layout
  .changeset/lovely-moles-impress.md
  apps/nextjs-website/src/components/atoms/Stats/Stats.tsx
  apps/nextjs-website/src/components/templates/SolutionPageTemplate/SolutionPageTemplate.tsx
  apps/storybook-app/stories/atoms/Stats.stories.tsx
Labels: website, size/small, changeset

#989 Push next releases
  .changeset/clever-sheep-think.md
  .changeset/gold-garlics-check.md
  .changeset/lovely-moles-impress.md
  .changeset/polite-vans-dance.md
  .changeset/shy-books-peel.md
  .changeset/shy-jeans-vanish.md
  .changeset/slimy-pens-call.md
  .changeset/small-yaks-sip.md
  .changeset/stale-colts-breathe.md
  .changeset/sweet-months-think.md
  apps/nextjs-website/CHANGELOG.md
  apps/nextjs-website/package.json
  apps/storybook-app/CHANGELOG.md
  apps/storybook-app/package.json
  package-lock.json
Labels: website, size/small, changeset

#946 [CAI-41]: ChatBot FAB
  .changeset/breezy-bulldogs-vanish.md
  apps/nextjs-website/src/components/atoms/ChatButton/ChatButton.tsx
  apps/storybook-app/stories/atoms/ChatbotButton.stories.tsx
Labels: website, size/small, changeset

#951 [CAI-41] ChatInputText atom component
  .changeset/rotten-pots-whisper.md
  apps/nextjs-website/src/components/atoms/ChatInputText/ChatInputText.tsx
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/stories/atoms/ChatInputText.stories.tsx
Labels: website, size/small, changeset

#952 [CAI-41] ChatMessage
  .changeset/popular-glasses-love.md
  apps/nextjs-website/src/components/atoms/ChatMessage/ChatMessage.tsx
  apps/storybook-app/stories/atoms/ChatMessage.stories.tsx
Labels: website, size/small, changeset

#1004 [DEV-1715] Fix card icon in start info
  .changeset/sixty-meals-tie.md
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/ioSign/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/components/atoms/IconWrapper/IconMap.ts
Labels: website, size/small, changeset

#1006 [DEV-1716] Add border top to Api Section
  .changeset/tidy-impalas-switch.md
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.tsx
Labels: website, size/small, changeset

#995 [DEV-1786] Add parts on tutorials on CMS
  .changeset/slow-cows-raise.md
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
Labels: size/small, changeset, cms

#996 [DEV-1787] Add parts on tutorials on FE
  .changeset/green-toys-add.md
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/components/templates/TutorialPageTemplate/TutorialPageTemplate.tsx
  apps/nextjs-website/src/lib/strapi/__tests__/tutorials.test.ts
  apps/nextjs-website/src/lib/strapi/tutorial.ts
  apps/nextjs-website/src/lib/tutorials.ts
  apps/nextjs-website/src/lib/types/tutorialData.ts
Labels: website, size/small, changeset

#984 [DEV-1764] Fix incorrect plural from SolutionsListPage on CMS
  .changeset/tender-turtles-boil.md
  apps/strapi-cms/src/api/solution-list-page/content-types/solution-list-page/schema.json
  apps/strapi-cms/src/api/solution-list-page/controllers/solution-list-page.ts
  apps/strapi-cms/src/api/solution-list-page/routes/solution-list-page.ts
  apps/strapi-cms/src/api/solution-list-page/services/solution-list-page.ts
Labels: size/small, changeset, cms

#959 [DEV-1766] - Download docs with checkout in code review workflows
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  apps/nextjs-website/package.json
  apps/nextjs-website/scripts/update-docs-ci.sh
Labels: website, size/small

#985 [DEV-1765] Fix incorrect plural from SolutionsListPage on FE
  .changeset/plenty-actors-add.md
  apps/nextjs-website/src/app/solutions/[solutionSlug]/page.tsx
  apps/nextjs-website/src/app/solutions/page.tsx
  apps/nextjs-website/src/components/templates/SolutionListTemplate/SolutionListTemplate.tsx
  apps/nextjs-website/src/components/templates/SolutionTemplate/SolutionTemplate.tsx
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/solutionList.ts
  apps/nextjs-website/src/lib/solutions.ts
  apps/nextjs-website/src/lib/strapi/__tests__/solutionList.ts
  apps/nextjs-website/src/lib/strapi/solutionListCodec.ts
  apps/storybook-app/stories/templates/SolutionListTemplate.stories.tsx
  apps/storybook-app/stories/templates/SolutionTemplate.stories.tsx
Labels: website, size/small, changeset

#997 [DEV-1753] Remove "page" word from template files
  .changeset/giant-baboons-end.md
  apps/nextjs-website/src/app/[productSlug]/api/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/components/templates/ApiDataListTemplate/ApiDataListTemplate.tsx
  apps/nextjs-website/src/components/templates/TutorialTemplate/TutorialTemplate.tsx
  apps/nextjs-website/src/lib/apiDataListPages.ts
  apps/storybook-app/stories/templates/ApiDataListTemplate.stories.tsx
  apps/storybook-app/stories/templates/TutorialPageTemplate.stories.tsx
Labels: website, size/small, changeset

#1003 [DEV-1809] Add relatedResources to Strapi's Webinar entity
  .changeset/dull-hounds-swim.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
  apps/strapi-cms/src/components/common/resource.json
  apps/strapi-cms/src/components/webinar/related-resources.json
Labels: size/small, changeset, cms

#1008 [DEV-1808] Add questionsAndAnswers field to Webinar schema in Strapi CMS
  .changeset/new-forks-call.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
  apps/strapi-cms/src/components/common/question-and-answer.json
Labels: size/small, changeset, cms

#953 [CAI-41] Chat component
  .changeset/curvy-insects-do.md
  apps/nextjs-website/src/components/molecules/Chat/Chat.tsx
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/stories/atoms/ChatMessage.stories.tsx
  apps/storybook-app/stories/molecules/Chat.stories.tsx
Labels: website, size/small, changeset

#1017 [CAI-102] - PII guardrail
  .gitignore
  apps/chatbot/config/params.yaml
  apps/chatbot/config/prompts.yaml
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/src/modules/async_bedrock.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/create_vector_index.py
  apps/chatbot/src/modules/evaluation.py
  apps/chatbot/src/modules/retriever.py
Labels: size/small

#1022 [DEV-1837] Set title and text attributes as optional in Alert schema
  .changeset/moody-bulldogs-argue.md
  apps/strapi-cms/src/components/parts/alert.json
Labels: size/small, changeset, cms

#1014 [DEV-1829] Hide stats in solution if not present
  .changeset/wet-rocks-prove.md
  apps/nextjs-website/src/components/templates/SolutionTemplate/SolutionTemplate.tsx
Labels: website, size/small, changeset

#1009 Push next releases
  .changeset/brave-wolves-listen.md
  .changeset/curvy-insects-do.md
  .changeset/dull-hounds-swim.md
  .changeset/giant-baboons-end.md
  .changeset/moody-bulldogs-argue.md
  .changeset/new-forks-call.md
  .changeset/plenty-actors-add.md
  .changeset/wet-rocks-prove.md
  apps/nextjs-website/CHANGELOG.md
  apps/nextjs-website/package.json
  apps/storybook-app/CHANGELOG.md
  apps/storybook-app/package.json
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: website, size/small, changeset

#1013 [DEV-1814] Add questionsAndAnswers attribute to Webinar codec
  .changeset/quick-tools-guess.md
  apps/nextjs-website/src/lib/strapi/__tests__/homepage.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/webinars.test.ts
  apps/nextjs-website/src/lib/strapi/homepage.ts
  apps/nextjs-website/src/lib/strapi/solutionListCodec.ts
  apps/nextjs-website/src/lib/strapi/solutionsCodec.ts
  apps/nextjs-website/src/lib/strapi/webinars.ts
Labels: website, size/small, changeset

#1016 [DEV-1832] fix solution template product on storybook
  .changeset/pretty-kids-cheat.md
  apps/storybook-app/stories/templates/SolutionTemplate.stories.tsx
Labels: size/small, changeset

#1019 [DEV-1815] Add related resources codec
  .changeset/tasty-llamas-peel.md
  apps/nextjs-website/src/__tests__/helpers/productHeader.helpers.test.ts
  apps/nextjs-website/src/_contents/appIo/appIo.ts
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/pagoPa/pagoPa.ts
  apps/nextjs-website/src/_contents/pdnd/pdnd.ts
  apps/nextjs-website/src/_contents/send/send.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/CtaSlide/CtaSlide.tsx
  apps/nextjs-website/src/components/atoms/Quote/Quote.tsx
  apps/nextjs-website/src/components/templates/CaseHistoryTemplate/CaseHistoryPageTemplate.tsx
  apps/nextjs-website/src/components/templates/SolutionListTemplate/SolutionListTemplate.tsx
  apps/nextjs-website/src/components/templates/SolutionTemplate/SolutionTemplate.tsx
  apps/nextjs-website/src/lib/homepage.ts
  apps/nextjs-website/src/lib/strapi/__tests__/caseHistories.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/homepage.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/solutionList.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/solutionList.ts
  apps/nextjs-website/src/lib/strapi/__tests__/solutions.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/webinars.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/MediaCodec.ts
  apps/nextjs-website/src/lib/strapi/homepage.ts
  apps/nextjs-website/src/lib/strapi/solutionListCodec.ts
  apps/nextjs-website/src/lib/strapi/solutionsCodec.ts
  apps/nextjs-website/src/lib/strapi/webinars.ts
  apps/nextjs-website/src/lib/types/media.ts
  apps/nextjs-website/src/lib/types/product.ts
  apps/nextjs-website/src/lib/types/speaker.ts
Labels: website, size/small, changeset

#1012 [DEV-1799] [DEV-1794] refactor guests component
  .changeset/tasty-papayas-cough.md
  apps/nextjs-website/src/components/molecules/SpeakerPreview/SpeakerPreview.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/SpeakerList/SpeakerList.tsx
Labels: website, size/small, changeset

#1020 [DEV-1805] [DEV-1806] Add RelatedResources and DownloadableDocuments component
  .changeset/witty-impalas-share.md
  apps/nextjs-website/src/components/atoms/CtaCard/CtaCard.tsx
  apps/nextjs-website/src/components/molecules/DownloadableDocuments/DownloadableDocuments.tsx
  apps/nextjs-website/src/components/molecules/RelatedResources/RelatedResources.tsx
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/stories/molecules/RelatedResources.stories.tsx
Labels: website, size/small, changeset

#1002 [DEV-1811] - Avoid showing medialibrary objects list
  .changeset/quick-singers-draw.md
  apps/infrastructure/src/modules/cms/iam_policy.tf
Labels: size/small, infra, changeset

#1021 [DEV-1836] remove quotes from front end
  .changeset/fuzzy-flowers-do.md
  apps/nextjs-website/src/lib/strapi/__tests__/tutorials.test.ts
  apps/nextjs-website/src/lib/strapi/tutorial.ts
Labels: website, size/small, changeset

#1023 [DEV-1796] fix case history spacing
  .changeset/wild-actors-impress.md
  apps/nextjs-website/src/components/molecules/BlocksRendererClient/BlocksRendererClient.tsx
  apps/nextjs-website/src/components/organisms/ProductsShowcase/ProductsShowcase.tsx
  apps/nextjs-website/src/components/templates/CaseHistoryTemplate/CaseHistoryPageTemplate.tsx
Labels: website, size/small, changeset

#1010 [DEV-1803] Add QuestionsAndAnswers component
  .changeset/new-roses-impress.md
  apps/nextjs-website/src/components/molecules/QuestionsAndAnswers/QuestionsAndAnswers.tsx
  apps/nextjs-website/src/lib/types/webinar.ts
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/stories/molecules/QuestionsAndAnswers.stories.tsx
Labels: website, size/small, changeset

#1026 [DEV-1804] [DEV-1807] Add and connect RelatedResources and QuestionsAndAnswers to webinar
  .changeset/brave-clouds-sleep.md
  apps/nextjs-website/src/__tests__/helpers/productHeader.helpers.test.ts
  apps/nextjs-website/src/_contents/appIo/appIo.ts
  apps/nextjs-website/src/_contents/appIo/bannerLinks.ts
  apps/nextjs-website/src/_contents/ioSign/bannerLinks.ts
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/pagoPa/bannerLinks.ts
  apps/nextjs-website/src/_contents/pagoPa/pagoPa.ts
  apps/nextjs-website/src/_contents/pdnd/bannerLinks.ts
  apps/nextjs-website/src/_contents/pdnd/pdnd.ts
  apps/nextjs-website/src/_contents/send/bannerLinks.ts
  apps/nextjs-website/src/_contents/send/send.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/CtaCard/CtaCard.tsx
  apps/nextjs-website/src/components/atoms/CtaSlide/CtaSlide.tsx
  apps/nextjs-website/src/components/atoms/Quote/Quote.tsx
  apps/nextjs-website/src/components/molecules/DownloadableDocuments/DownloadableDocuments.tsx
  apps/nextjs-website/src/components/molecules/GuideCard/GuideCard.tsx
  apps/nextjs-website/src/components/molecules/RelatedResources/RelatedResources.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/lib/homepage.ts
  apps/nextjs-website/src/lib/solutions.ts
  apps/nextjs-website/src/lib/strapi/__tests__/homepage.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/tutorials.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/webinars.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/MediaCodec.ts
  apps/nextjs-website/src/lib/strapi/webinars.ts
  apps/nextjs-website/src/lib/types/webinar.ts
  apps/nextjs-website/src/lib/webinars.ts
  apps/storybook-app/stories/templates/SolutionTemplate.stories.tsx
Labels: website, changeset

#1027 [DEV-1843] add code blocks
  .changeset/modern-crews-poke.md
  apps/nextjs-website/src/components/molecules/BlocksRendererClient/BlocksRendererClient.tsx
Labels: website, size/small, changeset

#1028 [DEV-1846] Add casehistories to solution schema in strapi
  .changeset/funny-penguins-confess.md
  apps/strapi-cms/src/api/solution/content-types/solution/schema.json
Labels: size/small, changeset, cms

#1024 Push next releases
  .changeset/brave-clouds-sleep.md
  .changeset/funny-penguins-confess.md
  .changeset/fuzzy-flowers-do.md
  .changeset/modern-crews-poke.md
  .changeset/new-roses-impress.md
  .changeset/pretty-kids-cheat.md
  .changeset/quick-singers-draw.md
  .changeset/quick-tools-guess.md
  .changeset/tasty-llamas-peel.md
  .changeset/tasty-papayas-cough.md
  .changeset/wild-actors-impress.md
  .changeset/witty-impalas-share.md
  apps/infrastructure/CHANGELOG.md
  apps/infrastructure/package.json
  apps/nextjs-website/CHANGELOG.md
  apps/nextjs-website/package.json
  apps/storybook-app/CHANGELOG.md
  apps/storybook-app/package.json
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: website, size/small, changeset

#1029 [DEV-1847] Add case histories to solution template, update codecs
  .changeset/good-garlics-drop.md
  apps/nextjs-website/src/components/templates/SolutionListTemplate/SolutionListTemplate.tsx
  apps/nextjs-website/src/components/templates/SolutionTemplate/SolutionTemplate.tsx
  apps/nextjs-website/src/lib/solutions.ts
  apps/nextjs-website/src/lib/strapi/__tests__/solutions.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/CaseHistoriesComponentCodec.ts
  apps/nextjs-website/src/lib/strapi/solutionListCodec.ts
  apps/nextjs-website/src/lib/strapi/solutionsCodec.ts
Labels: website, size/small, changeset

#1030 Push next releases
  .changeset/good-garlics-drop.md
  apps/nextjs-website/CHANGELOG.md
  apps/nextjs-website/package.json
  package-lock.json
Labels: website, size/small, changeset

#1031 [DEV-1849]: Fix case histories path
  .changeset/rude-nails-provide.md
  apps/nextjs-website/src/lib/solutions.ts
Labels: website, size/small, changeset

#1032 Push next releases
  .changeset/rude-nails-provide.md
  apps/nextjs-website/CHANGELOG.md
  apps/nextjs-website/package.json
  package-lock.json
Labels: website, size/small, changeset

#998 [CAI-94] Chatbot client API
  .changeset/dull-lions-serve.md
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/helpers/chatbot.helper.tsx
  apps/nextjs-website/src/lib/chatbot.ts
  apps/nextjs-website/src/lib/chatbot/__tests__/chatbotApi.test.ts
  apps/nextjs-website/src/lib/chatbot/chatbotApi.ts
  apps/nextjs-website/src/lib/chatbot/chatbotConfig.ts
  apps/nextjs-website/src/lib/chatbot/chatbotEnv.ts
  apps/nextjs-website/src/lib/chatbot/queries.ts
Labels: website, changeset
