Repository pagopa/developer-portal, pull requests merged in 2024-12, with the labels that each got.

#1261 [CAI-214] Implement langfuse infrastructure
  .changeset/soft-socks-build.md
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/modules/chatbot/acm.tf
  apps/infrastructure/src/modules/chatbot/alb.tf
  apps/infrastructure/src/modules/chatbot/cognito_user.tf
  apps/infrastructure/src/modules/chatbot/data.tf
  apps/infrastructure/src/modules/chatbot/ecr.tf
  apps/infrastructure/src/modules/chatbot/ecs.tf
  apps/infrastructure/src/modules/chatbot/iam.tf
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
  apps/infrastructure/src/modules/chatbot/locals.tf
  apps/infrastructure/src/modules/chatbot/rds_aurora.tf
  apps/infrastructure/src/modules/chatbot/route53.tf
  apps/infrastructure/src/modules/chatbot/task-definitions/langfuse.json.tpl
  apps/infrastructure/src/modules/chatbot/variables.tf
  apps/infrastructure/src/modules/cms/outputs.tf
  apps/infrastructure/src/variables.tf
Labels: infra, size/large, changeset

#1262 [CAI-158] disable chatbot test
  apps/chatbot/package.json
Labels: size/small

#1256 [DEV-2046] Fix img_src CSP directive to see also in Dev the images inserted using production's CMS
  .changeset/six-yaks-obey.md
  apps/infrastructure/src/modules/website/cloudfront.tf
Labels: size/small, infra, changeset

#1263 fix: npm install and add permissions to gh actions role
  .changeset/smooth-laws-do.md
  .github/workflows/deploy_ac_sync_lambda.yaml
  apps/infrastructure/src/modules/website/iam_policy.tf
Labels: workflows, size/small, infra, changeset

#1257 [DEV-1983][DEV-1986] Add function to subscribe and unsubscribe contact from active campaign list
  .changeset/plenty-parrots-attend.md
  packages/active-campaign-client/.env.example
  packages/active-campaign-client/src/__tests__/helpers/manageListSubscription.test.ts
  packages/active-campaign-client/src/clients/activeCampaignClient.ts
  packages/active-campaign-client/src/helpers/manageListSubscription.ts
  packages/active-campaign-client/src/types/listStatusPayload.ts
Labels: size/small, packages, changeset

#1259 [DEV-2045] Refactor index and add queue event parser helper
  packages/active-campaign-client/src/__tests__/helpers/listUsersCommandOutputToUser.test.ts
  packages/active-campaign-client/src/__tests__/helpers/queueEventParser.test.ts
  packages/active-campaign-client/src/handlers/sqsQueueHandler.ts
  packages/active-campaign-client/src/helpers/queueEventParser.ts
  packages/active-campaign-client/src/index.ts
  packages/active-campaign-client/src/types/queueEvent.ts
Labels: packages

#1264 [DEV-2055] Add ssm to ac client
  .changeset/modern-hairs-train.md
  .changeset/plenty-parrots-attend.md
  package-lock.json
  packages/active-campaign-client/.env.example
  packages/active-campaign-client/package.json
  packages/active-campaign-client/src/clients/activeCampaignClient.ts
Labels: size/small, packages, changeset

#1267 fix: handler in ac sync lambda
  .changeset/eighty-seals-worry.md
  apps/infrastructure/src/modules/active_campaign/lambda.tf
Labels: size/small, infra, changeset

#1260 [DEV-2047] Add Active Campaign integration to create and delete lists when creating and deleting webinars
  .changeset/weak-monkeys-grab.md
  apps/strapi-cms/.env.default
  apps/strapi-cms/package.json
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
  package-lock.json
Labels: size/small, changeset, cms

#1271 [DEV-2058] Fix webinar slug validation
  .changeset/pretty-gorillas-bow.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
Labels: size/small, changeset, cms

#1272 Move env variable in function
  .changeset/cyan-dolls-reply.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
Labels: size/small, changeset, cms

#1268 [DEV-2049] Add ac env vars to strapi container
  .changeset/plenty-buses-hope.md
  apps/infrastructure/src/env/dev/terraform.tfvars
  apps/infrastructure/src/env/prod/terraform.tfvars
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/modules/active_campaign/lambda.tf
  apps/infrastructure/src/modules/active_campaign/output.tf
  apps/infrastructure/src/modules/cms/ecs.tf
  apps/infrastructure/src/modules/cms/iam_policy.tf
  apps/infrastructure/src/modules/cms/task-definitions/cms_app.json.tpl
  apps/infrastructure/src/modules/cms/variables.tf
  apps/infrastructure/src/variables.tf
Labels: size/small, infra, changeset

#1274 [DEV-2049] Fix ac env vars in strapi container
  apps/infrastructure/src/modules/cms/ecs.tf
Labels: size/small, infra

#1282 [DEV-2072] Use the ddb streams event id as SQS message group id
  .changeset/gorgeous-ghosts-float.md
  apps/infrastructure/src/modules/active_campaign/cloudwatch_metrics_alarms.tf
  apps/infrastructure/src/modules/active_campaign/eventbridge.tf
  apps/infrastructure/src/modules/active_campaign/sqs.tf
Labels: size/small, infra, changeset

#1273 [DEV-1614] Add bulk import of contacts
  .changeset/loud-otters-unite.md
  packages/active-campaign-client/.env.example
  packages/active-campaign-client/src/__tests__/helpers/bulkAddContactToList.test.ts
  packages/active-campaign-client/src/clients/activeCampaignClient.ts
  packages/active-campaign-client/src/helpers/bulkAddContactsToLists.ts
  packages/active-campaign-client/src/helpers/fetchSubscribedWebinarsFromDynamo.ts
  packages/active-campaign-client/src/types/bulkAddContactPayload.ts
Labels: size/small, packages, changeset

#1280 [DEV-2071] Fix ac env var lifecycle
  .changeset/empty-lies-sniff.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
Labels: size/small, changeset, cms

#1285 [DEV-2064] Refactor resync error handler
  .changeset/khaki-knives-unite.md
  packages/active-campaign-client/.env.example
  packages/active-campaign-client/src/__tests__/helpers/manageListSubscription.test.ts
  packages/active-campaign-client/src/clients/activeCampaignClient.ts
  packages/active-campaign-client/src/handlers/resyncUserHandler.ts
  packages/active-campaign-client/src/handlers/sqsQueueHandler.ts
  packages/active-campaign-client/src/helpers/addArrayOfListToContact.ts
  packages/active-campaign-client/src/helpers/addContact.ts
  packages/active-campaign-client/src/helpers/addOrUpdateContact.ts
  packages/active-campaign-client/src/helpers/deleteContact.ts
  packages/active-campaign-client/src/helpers/getNewWebinarsAndUnsubsriptionLists.ts
  packages/active-campaign-client/src/helpers/makeContactPayload.ts
  packages/active-campaign-client/src/helpers/manageListSubscription.ts
  packages/active-campaign-client/src/helpers/removeArrayOfListFromContact.ts
  packages/active-campaign-client/src/helpers/updateContact.ts
  packages/active-campaign-client/src/types/activeCampaignList.ts
  packages/active-campaign-client/src/types/contactResponse.ts
Labels: packages, changeset

#1275 [DEV-2025] Add Matomo event call in chatbot button callback
  .changeset/quiet-rings-repair.md
  apps/nextjs-website/src/components/atoms/ChatButton/ChatButton.tsx
Labels: website, size/small, changeset
