Repository pagopa/developer-portal, pull requests merged in 2024-09, with the labels that each got.

#1079 fix: allowing csp for intra domain communication
  apps/infrastructure/src/modules/website/cloudfront.tf
Labels: size/small, infra

#1084 [CAI-130] - Fixes/chatbot/cai 130
  .changeset/hip-ants-boil.md
  apps/chatbot/config/params.yaml
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/src/modules/async_bedrock.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/create_vector_index.py
  apps/chatbot/src/modules/engine.py
  apps/chatbot/src/modules/evaluation.py
  apps/chatbot/src/modules/models.py
  apps/chatbot/src/modules/vector_database.py
Labels: changeset

#1072 [DEV-1790] Fix the call to action button variant in the ecosystem section of the homepage
  .changeset/ninety-roses-thank.md
  apps/nextjs-website/src/_contents/appIo/overview.ts
  apps/nextjs-website/src/_contents/ioSign/overview.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
  apps/nextjs-website/src/_contents/pdnd/overview.ts
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/components/atoms/BannerLink/BannerLink.tsx
  apps/nextjs-website/src/components/atoms/ChatButton/ChatButton.tsx
  apps/nextjs-website/src/components/atoms/ChatChatbotWriting/ChatChatbotWriting.tsx
  apps/nextjs-website/src/components/atoms/ChatMessage/ChatMessage.tsx
  apps/nextjs-website/src/components/atoms/IconWrapper/IconWrapper.tsx
  apps/nextjs-website/src/components/atoms/SiteFooter/SiteFooter.tsx
  apps/nextjs-website/src/components/molecules/CardsGrid/CardsGrid.tsx
  apps/nextjs-website/src/components/organisms/ApiTesterPart/ApiTesterPart.tsx
  apps/nextjs-website/src/components/organisms/Ecosystem/Ecosystem.tsx
  apps/nextjs-website/src/components/organisms/ProductsShowcase/ProductsShowcase.tsx
  apps/nextjs-website/src/components/organisms/SolutionsShowcase/SolutionsShowcase.tsx
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/templates/ApiDataListTemplate/ApiDataListTemplate.tsx
  apps/nextjs-website/src/editorialComponents/Feature/FeatureStackItem.tsx
  apps/nextjs-website/src/lib/homepage.ts
  apps/nextjs-website/src/lib/overviews.ts
  apps/nextjs-website/src/lib/types/webinar.ts
  apps/storybook-app/stories/atoms/CtaCard.stories.tsx
  apps/storybook-app/stories/atoms/TabComponent.stories.tsx
Labels: website, size/small, changeset

#1073 [DEV-1848] Fix link style in webinar Q&A answers
  .changeset/curly-apes-care.md
  apps/nextjs-website/src/components/molecules/BlocksRendererClient/BlocksRendererClient.tsx
Labels: website, size/small, changeset

#1074 [DEV-1844][DEV-1855] Fix the margins of webinar related resources
  .changeset/dry-mangos-itch.md
  apps/nextjs-website/src/components/molecules/GuideCard/GuideCard.tsx
  apps/nextjs-website/src/components/molecules/RelatedResources/RelatedResources.tsx
Labels: website, size/small, changeset

#1089 [DEV-1853] - Disabled unnecessary actions on changeset PRs
  .github/workflows/code_review.yaml
  .github/workflows/pr_enrich.yaml
Labels: workflows, size/small

#1082 [DEV-1899] Fix overview page input data and card's links
  .changeset/old-teachers-swim.md
  apps/nextjs-website/src/components/molecules/GuideCard/GuideCard.tsx
  apps/nextjs-website/src/components/organisms/PostIntegration/PostIntegration.tsx
  apps/nextjs-website/src/lib/overviews.ts
  apps/nextjs-website/src/lib/strapi/__tests__/overviews.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/ProductCodec.ts
  apps/nextjs-website/src/lib/strapi/overviewsCodec.ts
  apps/nextjs-website/src/lib/strapi/tutorial.ts
Labels: website, size/small, changeset

#1075 [DEV-1884] Add bannerLinks attribute to overview's schema in Strapi
  .changeset/real-masks-breathe.md
  apps/strapi-cms/src/api/overview/content-types/overview/schema.json
Labels: size/small, changeset, cms

#1080 [DEV-1898] Fix the maximum number of items in Strapi's features component
  .changeset/flat-humans-repeat.md
  apps/strapi-cms/src/components/common/features.json
Labels: size/small, changeset, cms

#1068 Push next releases
  .changeset/breezy-spies-suffer.md
  .changeset/curly-apes-care.md
  .changeset/curvy-lies-press.md
  .changeset/dry-mangos-itch.md
  .changeset/flat-humans-repeat.md
  .changeset/hip-ants-boil.md
  .changeset/kind-ways-breathe.md
  .changeset/nine-seas-cross.md
  .changeset/ninety-roses-thank.md
  .changeset/odd-maps-learn.md
  .changeset/old-teachers-swim.md
  .changeset/polite-eels-pay.md
  .changeset/real-masks-breathe.md
  .changeset/rich-months-drum.md
  .changeset/shaggy-boxes-double.md
  .changeset/six-emus-unite.md
  .changeset/twenty-buttons-work.md
  apps/chatbot/CHANGELOG.md
  apps/chatbot/package.json
  apps/nextjs-website/CHANGELOG.md
  apps/nextjs-website/package.json
  apps/storybook-app/CHANGELOG.md
  apps/storybook-app/package.json
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: website, size/small, changeset, cms

#1091 [DEV-1853] - Conditionally running nextjs-website checks if files have changed
  .github/workflows/code_review.yaml
Labels: workflows, size/small

#1081 [DEV-1896] Connect tutorial list to page
  .changeset/polite-bats-own.md
  .changeset/rare-buses-thank.md
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/components/templates/TutorialTemplate/TutorialTemplate.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/overviews.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/media.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/product.ts
  apps/nextjs-website/src/lib/strapi/__tests__/overviews.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/tutorialList.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/tutorials.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/TutorialCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/TutorialListPagesCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchTutorialListPages.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchTutorials.ts
  apps/nextjs-website/src/lib/strapi/overviewsCodec.ts
  apps/nextjs-website/src/lib/tutorialListPages.ts
  apps/nextjs-website/src/lib/tutorials.ts
Labels: website, changeset

#1078 [DEV-1885] Add bannerLinks to product's overview page in NextJs
  .changeset/bright-cycles-reply.md
  apps/nextjs-website/src/lib/overviews.ts
  apps/nextjs-website/src/lib/strapi/__tests__/overviews.test.ts
  apps/nextjs-website/src/lib/strapi/overviewsCodec.ts
Labels: website, size/small, changeset

#1090 [CAI-132] Hotfix - Use id token instead of access token to authenticate chatbot api calls
  .changeset/late-parrots-double.md
  apps/nextjs-website/src/lib/chatbot/chatbotEnv.ts
Labels: website, size/small, changeset

#1100 [CAI-95] - Use rest api gateway
  .changeset/gold-coats-glow.md
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/modules/chatbot/acm.tf
  apps/infrastructure/src/modules/chatbot/api_gateway.tf
  apps/infrastructure/src/modules/chatbot/api_gateway_rest.tf
  apps/infrastructure/src/modules/chatbot/bedrock.tf
  apps/infrastructure/src/modules/chatbot/data.tf
  apps/infrastructure/src/modules/chatbot/iam.tf
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
  apps/infrastructure/src/modules/chatbot/locals.tf
  apps/infrastructure/src/modules/chatbot/providers.tf
  apps/infrastructure/src/modules/chatbot/route53.tf
  apps/infrastructure/src/modules/chatbot/variables.tf
  apps/infrastructure/src/variables.tf
Labels: infra, changeset

#1102 hotfix: Fix restapi customdomain
  apps/chatbot/src/app/main.py
  apps/infrastructure/src/modules/chatbot/api_gateway_rest.tf
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
  apps/infrastructure/src/modules/chatbot/route53.tf
Labels: size/small, infra

#1106 [CAI-95] - Add list of cors domains to lambda
  apps/chatbot/src/app/main.py
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
Labels: size/small, infra

#1112 [DEV-1909] Fix Guides page generateStaticParams method
  .changeset/cold-berries-love.md
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/lib/cmsApi.ts
Labels: website, size/small, changeset

#1095 [DEV-1745] Refactor Guides codec
  .changeset/bright-news-leave.md
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/guideListPages.ts
  apps/nextjs-website/src/lib/guides.ts
  apps/nextjs-website/src/lib/strapi/__tests__/guideList.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/guides.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/GuideListPagesCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/GuidesCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchGuides.ts
  apps/nextjs-website/src/lib/strapi/guidesCodec.ts
  apps/nextjs-website/src/lib/strapi/overviewsCodec.ts
Labels: website, size/small, changeset

#1096 [DEV-1902] Refactor GuideListPages codec
  .changeset/warm-dryers-dance.md
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/strapi/__tests__/guideListPages.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/GuideListPagesCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchGuideListPages.ts
Labels: website, size/small, changeset

#1098 [DEV-1903] Refactor ApiDataList and ApiDataListPages
  .changeset/short-bags-watch.md
  apps/nextjs-website/src/components/templates/ApiDataListTemplate/ApiDataListTemplate.tsx
  apps/nextjs-website/src/lib/apiDataListPages.ts
  apps/nextjs-website/src/lib/apiDataPages.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/strapi/ApiDataListPageCodec.ts
  apps/nextjs-website/src/lib/strapi/__tests__/apiDataList.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/apiDataListPages.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/apiData.ts
  apps/nextjs-website/src/lib/strapi/__tests__/guideListPages.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/ApiDataListCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/ApiDataListPagesCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchApiDataList.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchApiDataListPages.ts
Labels: website, changeset

#1099 [DEV-1904] Refactor CaseHistories and Solutions codecs
  .changeset/sour-rocks-greet.md
  apps/nextjs-website/src/lib/caseHistories.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/solutionList.ts
  apps/nextjs-website/src/lib/solutions.ts
  apps/nextjs-website/src/lib/strapi/__tests__/caseHistories.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/product.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/solution.ts
  apps/nextjs-website/src/lib/strapi/__tests__/solutionList.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/solutionListPage.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/solutions.test.ts
  apps/nextjs-website/src/lib/strapi/caseHistoriesCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/CaseHistoriesCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/CaseHistoriesComponentCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/SolutionCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/SolutionListPageCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/SolutionStatCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/SolutionStepCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/SolutionsCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchCaseHistories.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchSolutionListPage.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchSolutions.ts
  apps/nextjs-website/src/lib/strapi/homepage.ts
  apps/nextjs-website/src/lib/strapi/solutionsCodec.ts
Labels: website, size/large, changeset

#1101 [DEV-1906] Refactor Overviews codec
  .changeset/silent-moles-sing.md
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/overviews.ts
  apps/nextjs-website/src/lib/strapi/__tests__/overviews.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/OverviewsCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchOverviews.ts
Labels: website, size/small, changeset

#1103 [DEV-1907] Refactor Homepage codec
  .changeset/mighty-games-drum.md
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/organisms/Ecosystem/Ecosystem.tsx
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/homepage.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/media.ts
  apps/nextjs-website/src/lib/strapi/__tests__/homepage.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/HomepageCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchHomepage.ts
Labels: website, size/large, changeset

#1109 [DEV-1910] Refactor webinars codec
  .changeset/thin-files-raise.md
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/strapi/__tests__/webinars.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/HomepageCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/SolutionsCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/WebinarsCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchHomepage.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchSolutions.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchWebinars.ts
  apps/nextjs-website/src/lib/webinars.ts
Labels: website, changeset

#1111 [DEV-1912] Refactor makeProps
  .changeset/light-crews-develop.md
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/solutions.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeApiDataList.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeApiDataListPages.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeCaseHistories.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeGuideListPages.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeGuides.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeHomepage.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeOverviews.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeProducts.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeQuickStartGuides.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeSolutionListPage.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeTutorialListPages.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeTutorials.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeWebinars.ts
Labels: website, size/small, changeset

#1114 [DEV-1913] Refactor SEO codec, SolutionDetail codec and SolutionTemplateProps
  .changeset/green-moons-jog.md
  apps/nextjs-website/src/BuildEnv.ts
  apps/nextjs-website/src/_contents/makeDocs.ts
  apps/nextjs-website/src/app/solutions/[solutionSlug]/[...solutionSubPathSlugs]/page.tsx
  apps/nextjs-website/src/app/solutions/[solutionSlug]/page.tsx
  apps/nextjs-website/src/app/solutions/page.tsx
  apps/nextjs-website/src/components/templates/ApiDataListTemplate/ApiDataListTemplate.tsx
  apps/nextjs-website/src/components/templates/SolutionTemplate/SolutionTemplate.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/solutions.ts
  apps/nextjs-website/src/lib/strapi/StrapiEnv.ts
  apps/nextjs-website/src/lib/strapi/codecs/ApiDataListCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/HomepageCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/SeoCodec.ts
  apps/nextjs-website/src/lib/strapi/fetchFromStrapi.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeApiDataList.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeSolutions.ts
  apps/nextjs-website/src/lib/types/apiData.ts
  apps/nextjs-website/src/lib/types/solution.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Labels: website, changeset

#1069 [DPC-297] Version Update for "Manuale dei Servizi"
  .changeset/silly-owls-matter.md
  apps/nextjs-website/src/_contents/appIo/guides.ts
Labels: website, size/small, changeset

#1104 [DPC-298] Update link in overview SEND
  .changeset/healthy-drinks-march.md
  apps/nextjs-website/src/_contents/send/overview.ts
Labels: website, size/small, changeset

#1115 [DEV-1914] Add statsSource attribute to Solution's schema in Strapi CMS
  .changeset/cool-moose-cry.md
  apps/strapi-cms/src/api/solution/content-types/solution/schema.json
Labels: size/small, changeset, cms

#1120 fix: changed deploy_website-content.yaml file name to respect standard
  .github/workflows/deploy_website_content.yaml
Labels: workflows, size/small

#1088 [DEV-1881] Add CKEditor to Strapi tutorials
  .changeset/calm-wolves-shave.md
  apps/strapi-cms/package.json
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
  apps/strapi-cms/src/components/parts/ck-editor.json
  package-lock.json
Labels: size/small, changeset, cms

#1118 [DEV-1797] Fix Webinar's bodyContent margins
  .changeset/curvy-rats-drive.md
  apps/nextjs-website/src/__tests__/helpers/webinars.helpers.test.ts
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/app/webinars/[webinarSlug]/questions/page.tsx
  apps/nextjs-website/src/components/templates/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/templates/WebinarQuestionsTemplate/WebinarQuestionsTemplate.tsx
  apps/nextjs-website/src/lib/types/webinar.ts
Labels: website, size/small, changeset

#1116 [DEV-1915] Show statsSource attribute in Stats component
  .changeset/many-dancers-push.md
  apps/nextjs-website/src/components/atoms/Stats/Stats.tsx
  apps/nextjs-website/src/components/templates/SolutionTemplate/SolutionTemplate.tsx
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/solution.ts
  apps/nextjs-website/src/lib/strapi/__tests__/solutions.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/SolutionsCodec.ts
  apps/storybook-app/stories/atoms/Stats.stories.tsx
Labels: website, size/small, changeset

#1123 fix: increase hashfiles timeout in build-nextjs-website action
  .github/actions/build-nextjs-website/action.yaml
Labels: size/small

#1092 [DEV-1882] Rendering ck editor content on tutorials
  .changeset/selfish-trains-sell.md
  apps/nextjs-website/src/components/molecules/CkEditorPart/CkEditorPart.tsx
  apps/nextjs-website/src/components/molecules/PartRenderer/PartRenderer.tsx
  apps/nextjs-website/src/lib/strapi/__tests__/tutorials.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/PartCodec.ts
  apps/nextjs-website/src/lib/types/part.ts
Labels: website, size/small, changeset

#1121 [DEV-1919] Add structured data helper
  .changeset/cyan-guests-greet.md
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
  .github/workflows/deploy_website_content.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/package.json
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/helpers/generateStructuredDataScripts.helpers.tsx
  apps/nextjs-website/src/helpers/structuredData.helpers.ts
  package-lock.json
Labels: workflows, website, changeset

#1124 Fix chatbot references links
  .changeset/rare-seahorses-wave.md
  apps/chatbot/README.md
  apps/chatbot/scripts/redis-tunnel.sh
  apps/chatbot/src/modules/vector_database.py
Labels: size/small, changeset

#1130 [DEV-1886] Fix SEO for guide in strapi
  .changeset/odd-timers-dress.md
  apps/strapi-cms/src/api/guide/content-types/guide/schema.json
Labels: size/small, changeset, cms

#1132 [DEV-1916] Add style to content generated with CKEditor in Strapi
  .changeset/clever-flowers-search.md
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/components/atoms/AlertPart/AlertPart.tsx
  apps/nextjs-website/src/components/molecules/CkEditorPart/CkEditorPart.tsx
  apps/nextjs-website/src/components/templates/TutorialTemplate/TutorialTemplate.tsx
Labels: website, size/small, changeset

#1125 [CAI-136] - Handler for bedrock and Gemini models
  .changeset/purple-garlics-wonder.md
  apps/chatbot/.env.example
  apps/chatbot/README.md
  apps/chatbot/config/params.yaml
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/engine.py
  apps/chatbot/src/modules/models.py
  apps/chatbot/src/modules/utils.py
  apps/chatbot/src/modules/vector_database.py
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
Labels: size/small, infra, changeset

#1105 [CAI-144] Update first message text and Chatbot name
  .changeset/calm-sloths-jog.md
  apps/nextjs-website/src/components/atoms/ChatButton/ChatButton.tsx
  apps/nextjs-website/src/components/organisms/ChatbotLayout/ChatbotLayout.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#1134 [DEV-1936] - Removed caching in nextjs build website
  .github/actions/build-nextjs-website/action.yaml
Labels: size/small

#1136 [DEV-1940] - Avoid starting required actions in Changeset PRs
  .github/workflows/changelog.yaml
  .github/workflows/code_review.yaml
  .github/workflows/pr_enrich.yaml
Labels: workflows, size/small

#1137 [DEV-1924] Added bot configuration as GitHub user into changelog action
  .github/workflows/changelog.yaml
Labels: workflows, size/small

#1107 [CAI-133] Chatbot error management
  .changeset/breezy-seas-perform.md
  apps/nextjs-website/src/components/molecules/Chat/Chat.tsx
  apps/nextjs-website/src/components/organisms/ChatbotLayout/ChatbotLayout.tsx
  apps/nextjs-website/src/components/organisms/ChatbotProvider/ChatbotProvider.tsx
  apps/nextjs-website/src/helpers/chatbot.helper.tsx
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/stories/molecules/Chat.stories.tsx
Labels: website, size/small, changeset

#1129 [CAI-154] Chatbot/query creation
  apps/chatbot/.env.example
  apps/chatbot/README.md
  apps/chatbot/docker/app.local.Dockerfile
  apps/chatbot/scripts/poetry-run-local.sh
  apps/chatbot/src/app/main.py
Labels: size/small

#1126 [DEV-1905] Set default value to metaViewport field in Strapi's SEO component
  .changeset/mighty-hairs-exist.md
  apps/strapi-cms/src/components/shared/seo.json
Labels: size/small, changeset, cms

#1127 [DEV-1937] Fix guidesTitle's position in Overview's PostIntegration component
  .changeset/slimy-peas-lay.md
  apps/nextjs-website/src/components/organisms/PostIntegration/PostIntegration.tsx
Labels: website, size/small, changeset

#1139 [DEV-1943] Fix selectEmbedType method by adding 'design' option to Figma urls
  .changeset/rude-forks-provide.md
  apps/nextjs-website/src/helpers/embed.helpers.ts
Labels: website, size/small, changeset

#1142 [DEV-1942] Fix the label of the guide links on the overview page
  .changeset/eighty-dingos-move.md
  apps/nextjs-website/src/components/organisms/PostIntegration/PostIntegration.tsx
  apps/nextjs-website/src/lib/strapi/makeProps/makeOverviews.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#1131 [CAI-155] Chatbot/queries fetching
  apps/chatbot/src/app/main.py
  apps/infrastructure/src/modules/chatbot/dynamodb.tf
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
  apps/infrastructure/src/variables.tf
Labels: size/small, infra

#1141 [CAI-156] Chatbot/session creation
  apps/chatbot/.env.example
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/src/app/main.py
  apps/infrastructure/src/modules/chatbot/dynamodb.tf
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
  apps/infrastructure/src/variables.tf
Labels: size/small, infra

#1146 [DEV-1946] Fix Stats component layout in Solution's page
  .changeset/ten-knives-worry.md
  apps/nextjs-website/src/components/atoms/Stats/Stats.tsx
Labels: website, size/small, changeset

#1147 [DEV-1924] - Filtering only nextjs tags when moving to latest
  .github/workflows/move_latest_tag.yaml
Labels: workflows, size/small

#1086 [CAI-65] Chatbot History Layout
  .changeset/happy-stingrays-argue.md
  .changeset/quick-buckets-change.md
  apps/nextjs-website/src/app/profile/chatbot-history/page.tsx
  apps/nextjs-website/src/components/atoms/ChatbotHistoryListItem/ChatbotHistoryListItem.tsx
  apps/nextjs-website/src/components/molecules/ChatbotHistoryList/ChatbotHistoryList.tsx
  apps/nextjs-website/src/components/organisms/ChatbotHistoryLayout/ChatbotHistoryLayout.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/helpers/chatbot.helper.tsx
  apps/nextjs-website/src/lib/chatbot.ts
  apps/nextjs-website/src/lib/chatbot/chatbotApi.ts
  apps/nextjs-website/src/lib/chatbot/queries.ts
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/stories/fixtures/chatbotFixture.ts
  apps/storybook-app/stories/molecules/ChatbotHistoryList.stories.tsx
  apps/storybook-app/stories/organisms/ChatbotHistoryLayout.stories.tsx
Labels: website, changeset

#1113 [CAI-134] Hotfix/chatbot/cai 134 unauthenticated user chatbot message
  .changeset/silent-bobcats-happen.md
  apps/nextjs-website/src/components/molecules/Chat/Chat.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#1128 [CAI-144] Fix Message Overflow
  apps/nextjs-website/src/components/atoms/ChatMessage/ChatMessage.tsx
  apps/nextjs-website/src/config.ts
Labels: website, size/small

#1133 [DEV-1938][DEV-1897] Add unique to every slug attribute on strapi
  .changeset/late-trainers-try.md
  apps/strapi-cms/src/api/case-history/content-types/case-history/schema.json
  apps/strapi-cms/src/api/guide/content-types/guide/schema.json
  apps/strapi-cms/src/api/solution/content-types/solution/schema.json
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
  apps/strapi-cms/src/components/api/api-rest-detail.json
Labels: size/small, changeset, cms

#1149 [DEV-1798] Fix api header highlight
  .changeset/old-plums-joke.md
  apps/nextjs-website/src/app/[productSlug]/api/[apiDataSlug]/page.tsx
Labels: website, size/small, changeset

#1143 [CAI-84] Chatbot History Chat Detail
  .changeset/stale-shrimps-lie.md
  apps/nextjs-website/public/icons/chatbotChatUserBorder.svg
  apps/nextjs-website/src/components/atoms/ChatHistoryMessage/ChatHistoryMessage.tsx
  apps/nextjs-website/src/components/atoms/ChatbotHistoryNavigationLink/ChatbotHistoryNavigationLink.tsx
  apps/nextjs-website/src/components/atoms/ChatbotHistoryNavigationMenu/ChatbotHistoryNavigationMenu.tsx
  apps/nextjs-website/src/components/molecules/ChatbotHistoryMessages/ChatbotHistoryMessages.tsx
  apps/nextjs-website/src/components/organisms/ChatbotHistoryDetailLayout/ChatbotHistoryDetailLayout.tsx
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/public/icons/chatbotChatUserBorder.svg
  apps/storybook-app/stories/atoms/ChatHistoryMessage.stories.tsx
  apps/storybook-app/stories/atoms/ChatbotHistoryNavigationMenu.stories.tsx
  apps/storybook-app/stories/fixtures/chatbotFixtures.tsx
  apps/storybook-app/stories/molecules/ChatbotHistoryMessages.stories.tsx
  apps/storybook-app/stories/organisms/ChatbotHistoryDetailLayout.stories.tsx
Labels: website, changeset

#1160 [DEV-1933] Add product to api data
  .changeset/funny-pans-joke.md
  apps/strapi-cms/src/api/api-data/content-types/api-data/schema.json
Labels: size/small, changeset, cms

#1150 [DEV-1948] Fix api breadcrumbs
  .changeset/twenty-laws-juggle.md
  apps/nextjs-website/src/app/[productSlug]/api/[apiDataSlug]/page.tsx
Labels: website, size/small, changeset

#1145 [DEV-1944] Add links to headings created with ckEditor in tutorial's pages in page menu
  .changeset/clean-clocks-care.md
  apps/nextjs-website/jest.config.ts
  apps/nextjs-website/package.json
  apps/nextjs-website/src/__tests__/helpers/anchor.helpers.test.ts
  apps/nextjs-website/src/__tests__/helpers/parseCkEditorContent.helpers.test.ts
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/components/molecules/CkEditorPart/CkEditorPart.tsx
  apps/nextjs-website/src/components/molecules/PartRendererMenu/PartRendererMenu.tsx
  apps/nextjs-website/src/components/organisms/GuideInPageMenu/components/Heading.tsx
  apps/nextjs-website/src/components/templates/GitBookTemplate/GitBookTemplate.tsx
  apps/nextjs-website/src/components/templates/TutorialTemplate/TutorialTemplate.tsx
  apps/nextjs-website/src/helpers/anchor.helpers.ts
  apps/nextjs-website/src/helpers/parseCkEditorContent.helpers.ts
  apps/nextjs-website/src/lib/strapi/codecs/PartCodec.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeCaseHistories.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makePart.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeQuickStartGuides.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeTutorials.ts
  package-lock.json
Labels: website, size/small, changeset

#1138 [DEV-1920] Add structured data to pages
  .changeset/quiet-bears-admire.md
  apps/nextjs-website/src/app/[productSlug]/api/[apiDataSlug]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/api/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/page.tsx
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/case-histories/[caseHistorySlug]/page.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/app/solutions/[solutionSlug]/[...solutionSubPathSlugs]/page.tsx
  apps/nextjs-website/src/app/solutions/[solutionSlug]/page.tsx
  apps/nextjs-website/src/app/solutions/page.tsx
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/organisms/ProductLayout/ProductLayout.tsx
  apps/nextjs-website/src/components/organisms/WebinarsTemplate/WebinarsTemplate.tsx
  apps/nextjs-website/src/components/templates/TutorialTemplate/TutorialTemplate.tsx
  apps/nextjs-website/src/helpers/generateStructuredDataScripts.helpers.tsx
  apps/nextjs-website/src/helpers/structuredData.helpers.ts
Labels: website, changeset

#1153 [DEV-1736] Fix webinar images margin bottom
  .changeset/light-months-act.md
  apps/nextjs-website/src/components/molecules/BlocksRendererClient/BlocksRendererClient.tsx
Labels: website, size/small, changeset

#1154 [DEV-1795] Fix bold and italic text size, add changeset
  .changeset/brown-boats-pretend.md
  apps/nextjs-website/src/components/organisms/GitBookContent/components/StyledText.tsx
Labels: website, size/small, changeset

#1167 [DEV-1958] Remove strapi unique validator
  .changeset/tidy-trains-shake.md
  apps/strapi-cms/src/components/api/api-rest-detail.json
Labels: size/small, changeset, cms

#1158 [DEV-1952][DEV-1782] Fix card shadow border and Add margin ecosystem
  .changeset/giant-icons-kick.md
  .changeset/three-walls-kick.md
  apps/nextjs-website/src/components/atoms/TabComponent/TabComponent.tsx
  apps/nextjs-website/src/components/organisms/Ecosystem/Ecosystem.tsx
  apps/nextjs-website/src/components/organisms/SolutionsShowcase/SolutionsShowcase.tsx
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
  apps/nextjs-website/src/components/templates/ApiDataListTemplate/ApiDataListTemplate.tsx
Labels: website, size/small, changeset
