Repository pagopa/developer-portal, pull requests merged in 2024-04, with the labels that each got.

#800 Fix vimeo id for 'Esplorando App IO: I messaggi a contenuto remoto' webinar
  .changeset/afraid-dingos-agree.md
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small, changeset

#803 [DEV-1574] Increase `desired_count` of cms-ecs in production
  .changeset/many-onions-explain.md
  apps/infrastructure/src/ecs.tf
Labels: size/small, infra, changeset

#806 [DEV-1464] Ignore Task Definition changes
  .changeset/clever-goats-invent.md
  apps/infrastructure/src/ecs.tf
Labels: size/small, infra, changeset

#813 [DEV-1586] Add GOOGLE_OAUTH_REDIRECT_URI env
  .changeset/slimy-oranges-type.md
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
  apps/strapi-cms/.env.default
  apps/strapi-cms/config/plugins.ts
Labels: size/small, infra, changeset, cms

#759 [DEV-1517]: questions page reactiveness
  .changeset/afraid-pens-hunt.md
  apps/nextjs-website/src/components/organisms/WebinarQuestionsTable/WebinarQuestionsTable.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsTemplate/WebinarQuestionsTemplate.tsx
  apps/nextjs-website/src/config.ts
Labels: website, size/small, changeset

#809 [DPC-128] Add two new tutorials for pagoPA
  .changeset/little-peas-watch.md
  apps/nextjs-website/public/images/pagopa-nuova-connetivita.png
  apps/nextjs-website/public/images/pagopa-pt.png
  apps/nextjs-website/src/_contents/pagoPa/tutorialLists.ts
Labels: website, size/small, changeset

#814 [DPC-204] Update Version for "Manuale dei Servizi" app IO
  .changeset/famous-turtles-love.md
  apps/nextjs-website/src/_contents/appIo/guides.ts
  apps/nextjs-website/src/_contents/products.ts
Labels: website, size/small, changeset

#819 [DPC-209] Add contents for next PagoPA Lab
  .changeset/tame-frogs-mate.md
  apps/nextjs-website/public/images/webinar-cover-pagopalab-tari.png
  apps/nextjs-website/public/images/webinar-pagopalab-tari.png
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small, changeset

#821 [DEV-1587] Add player.vimeo.com domain to CSP
  .changeset/warm-carrots-bathe.md
  apps/infrastructure/src/cloudfront.tf
Labels: size/small, infra, changeset

#822 [DEV-1585] Update "Messaggi a contenuto remoto" webinar src
  .changeset/young-islands-refuse.md
  apps/nextjs-website/src/_contents/webinars.ts
Labels: website, size/small, changeset

#810 [DEV-1566]: rename textContent field
  .changeset/chatty-cycles-wonder.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
Labels: size/small, changeset, cms

#811 [DEV-1566]: rename textContent field on website
  .changeset/nervous-years-juggle.md
  apps/nextjs-website/src/lib/strapi/__tests__/webinars.test.ts
  apps/nextjs-website/src/lib/strapi/webinars.ts
  apps/nextjs-website/src/lib/webinars.ts
Labels: website, size/small, changeset

#784 [DEV-1552]: update webinars homepage sections
  .changeset/four-foxes-accept.md
  apps/nextjs-website/src/__tests__/helpers/webinars.helpers.test.ts
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/components/organisms/FutureWebinarsShowcase/FutureWebinarsShowcase.tsx
  apps/nextjs-website/src/components/organisms/PastWebinarsShowcase/PastWebinarsShowcase.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/components/organisms/WebinarsTemplate/WebinarsTemplate.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/helpers/webinars.helpers.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#820 [DEV-1539] Align "Go to webinar" buttons
  .changeset/hungry-camels-pay.md
  apps/nextjs-website/src/components/molecules/WebinarListItem/WebinarListItem.tsx
Labels: website, size/small, changeset

#818 [DEV-1564] Custom validator on webinars
  .changeset/slimy-beans-collect.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
Labels: size/small, changeset, cms

#793 [DEV-1524]: render homepage webinars from Strapi
  .changeset/kind-crabs-stare.md
  apps/nextjs-website/src/__tests__/helpers/webinars.helpers.test.ts
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/homepage.ts
  apps/nextjs-website/src/lib/strapi/__tests__/homepage.test.ts
  apps/nextjs-website/src/lib/strapi/homepage.ts
  apps/nextjs-website/src/lib/strapi/webinars.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Labels: website, size/small, changeset

#826 [DEV-1542]: fix images not visible on strapi preview
  .changeset/wet-singers-joke.md
  apps/strapi-cms/.env.default
  apps/strapi-cms/config/middlewares.ts
Labels: size/small, changeset, cms

#828 [DEV-1588] Update codeowners file
  .github/CODEOWNERS
Labels: size/small

#829 [DEV-1588] Update codeowners file
  .github/CODEOWNERS
Labels: size/small

#830 [DEV-1595] sort webinars
  .changeset/giant-buttons-develop.md
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Labels: website, size/small, changeset

#832 [DEV-1533] Redirect after successful login
  .changeset/clever-toes-sip.md
  apps/nextjs-website/src/components/atoms/DesktopUserInfo/DesktopUserInfo.tsx
Labels: website, size/small, changeset

#831 [DEV-1597]: Align webinars speakers' box
  .changeset/gentle-frogs-hammer.md
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
Labels: website, size/small, changeset

#833 [DEV-1603] Add PDND product
  .changeset/old-laws-burn.md
  apps/nextjs-website/public/icons/pdnd.svg
  apps/nextjs-website/public/images/pdnd-tutorial-0.png
  apps/nextjs-website/public/images/pdnd-tutorial-1.png
  apps/nextjs-website/public/images/pdnd-tutorial-2.png
  apps/nextjs-website/src/_contents/pdnd/bannerLinks.ts
  apps/nextjs-website/src/_contents/pdnd/guideLists.ts
  apps/nextjs-website/src/_contents/pdnd/guideListsPath.ts
  apps/nextjs-website/src/_contents/pdnd/guides.ts
  apps/nextjs-website/src/_contents/pdnd/overview.ts
  apps/nextjs-website/src/_contents/pdnd/overviewPath.ts
  apps/nextjs-website/src/_contents/pdnd/pdnd.ts
  apps/nextjs-website/src/_contents/pdnd/quickStartGuide.ts
  apps/nextjs-website/src/_contents/pdnd/quickStartGuidePath.ts
  apps/nextjs-website/src/_contents/pdnd/tutorialLists.ts
  apps/nextjs-website/src/_contents/pdnd/tutorialListsPath.ts
  apps/nextjs-website/src/_contents/pdnd/tutorials.ts
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/AlertPart/AlertPart.tsx
Labels: website, changeset

#827 [DEV-1401] Use absolute urls for media saved on Strapi
  .changeset/cold-peas-hunt.md
  .changeset/long-hairs-boil.md
  .github/CODEOWNERS
  apps/strapi-cms/package.json
  package-lock.json
  packages/strapi-provider-upload-custom/.eslintrc.json
  packages/strapi-provider-upload-custom/package.json
  packages/strapi-provider-upload-custom/src/global.d.ts
  packages/strapi-provider-upload-custom/src/index.ts
  packages/strapi-provider-upload-custom/tsconfig.json
Labels: size/small, packages, changeset, cms

#834 [DEV-1365] mermaid charts
  .changeset/dull-goats-lick.md
  apps/nextjs-website/package.json
  apps/nextjs-website/src/components/atoms/MermaidDiagram/MermaidDiagram.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/CodeBlock.tsx
  package-lock.json
Labels: website, size/small, changeset
