Repository pagopa/developer-portal, pull requests merged in 2024-02, with the labels that each got.

#597 [DPC-135] Show export button in StopLight Element's component of API pages
  .changeset/wicked-trainers-watch.md
  apps/nextjs-website/src/components/atoms/ApiViewer/ApiViewer.tsx
Labels: website, size/small

#590 [DEV-1089] Fix link's title parsing logic
  .changeset/happy-grapes-occur.md
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/link.ts
  packages/gitbook-docs/src/markdoc/schema/pageLink.ts
Labels: size/small, packages

#591 [DEV-1238] Resizing the "Featured" section as the page loads
  .changeset/orange-colts-listen.md
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
Labels: website, size/small

#560 [DEV-863]: rewrite URLs if they point to https://docs.pagopa.it
  .changeset/hip-pigs-sniff.md
  apps/nextjs-website/src/_contents/products.ts
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/attributes.ts
  packages/gitbook-docs/src/parseContent.ts
Labels: website, size/small, packages

#507 [DEV-866] Redirect to the main guide if no version is specified from the path
  .changeset/new-cows-melt.md
  apps/nextjs-website/src/_contents/appIo/guides.ts
  apps/nextjs-website/src/_contents/ioSign/guides.ts
  apps/nextjs-website/src/_contents/makeDocs.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
  apps/nextjs-website/src/_contents/send/guides.ts
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/guideData.ts
Labels: website, size/small

#596 [DEV-1291] Add alarms for SES
  .infrastructure/76_alarms.tf
Labels: size/small, infra

#581 [DEV-1314] EmailFormWrapper unit tests
  .changeset/dull-swans-tease.md
  apps/nextjs-website/jest.config.ts
  apps/nextjs-website/package.json
  apps/nextjs-website/src/__tests__/__mocks__/fileMock.js
  apps/nextjs-website/src/__tests__/components/EmailFormWrapper.test.tsx
  apps/nextjs-website/src/__tests__/components/Wrapper.tsx
  package-lock.json
Labels: website, size/small

#613 [DEV-1364] Remove config file and create BrowserConfig
  .changeset/famous-candles-clean.md
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/BrowserConfig.ts
  apps/nextjs-website/src/BrowserEnv.ts
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/lib/makeAwsCredentialsFromCognito.ts
  apps/nextjs-website/src/lib/webinarApi.ts
Labels: website, size/small

#611 [DEV-1343] Add Cognito alarms
  .infrastructure/76_alarms.tf
Labels: size/small, infra

#592 [DEV-1340] Add homepage to strapi
  .changeset/cuddly-impalas-cry.md
  apps/strapi-cms/.gitignore
  apps/strapi-cms/package.json
  apps/strapi-cms/src/api/homepage/content-types/homepage/schema.json
  apps/strapi-cms/src/api/homepage/controllers/homepage.ts
  apps/strapi-cms/src/api/homepage/routes/homepage.ts
  apps/strapi-cms/src/api/homepage/services/homepage.ts
  apps/strapi-cms/src/components/common/links.json
  apps/strapi-cms/src/components/common/related-links.json
  apps/strapi-cms/tsconfig.json
  package-lock.json
Labels: size/small

#612 [DPC-139] update sync with docs/from-gitbook
  apps/nextjs-website/package.json
  apps/nextjs-website/public/images/guida-scelta-firma-mobile.png
  apps/nextjs-website/public/images/guida-scelta-firma.png
  apps/nextjs-website/src/_contents/ioSign/guideLists.ts
  apps/nextjs-website/src/_contents/ioSign/guides.ts
  apps/nextjs-website/src/_contents/ioSign/overview.ts
Labels: website, size/small

#607 [DEV-1290] Add prevent_destroy to Cognito UserPool
  .infrastructure/55_cognito.tf
Labels: size/small, infra

#614 [DEV-1362] Add BuildEnv and Strapi utilities
  .changeset/twenty-spoons-prove.md
  apps/nextjs-website/src/BuildConfig.ts
  apps/nextjs-website/src/BuildEnv.ts
  apps/nextjs-website/src/lib/strapi/StapiEnv.ts
  apps/nextjs-website/src/lib/strapi/StrapiConfig.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fetchFromStrapi.test.ts
  apps/nextjs-website/src/lib/strapi/fetchFromStrapi.ts
Labels: website, size/small

#600 [DEV-863]: add missing urls paths
  .changeset/lovely-clocks-remain.md
  apps/nextjs-website/src/_contents/products.ts
Labels: website, size/small

#616 [DEV-863] Changed broken link in gitbook
  apps/nextjs-website/package.json
Labels: website, size/small

#617 [DEV-1368] Instruct changeset action to create Git tags
  .github/workflows/changelog.yaml
  package.json
Labels: workflows, size/small

#618 [DEV-1368] Fetch tags on repo checkout
  .github/workflows/changelog.yaml
Labels: workflows, size/small

#610 [DEV-1348] Close mobile menu on click
  .changeset/proud-mirrors-think.md
  apps/nextjs-website/src/components/atoms/MobileUserInfo/MobileUserInfo.tsx
  apps/nextjs-website/src/components/molecules/MobileSiteHeader/MobileSiteHeader.tsx
Labels: website, size/small

#606 [DEV-1278]: uniform footer
  .changeset/neat-experts-wave.md
  apps/nextjs-website/src/components/atoms/IconWrapper/IconMap.ts
  apps/nextjs-website/src/components/atoms/IconWrapper/IconWrapper.tsx
  apps/nextjs-website/src/components/atoms/SiteFooter/SiteFooter.tsx
  apps/nextjs-website/src/editorialComponents/Footer/Footer.tsx
  apps/nextjs-website/src/editorialComponents/Footer/components/FooterColumn.tsx
  apps/nextjs-website/src/editorialComponents/FundedByNextGenerationEU/FundedByNextGenerationEU.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#602 [DEV-1338] Add CloudFront alarms
  .infrastructure/76_alarms.tf
Labels: size/small, infra

#621 [DEV-1372] Add Strapi's environment variables
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/.env.default
Labels: workflows, size/small

#630 [DEV-1387] Fix build workflow
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
Labels: workflows, size/small

#628 [DEV-1380] - Create VPC and Security Group for Strapi
  .infrastructure/14_network.tf
  .infrastructure/98_variables.tf
Labels: size/small, infra

#627 [DEV-1379] - Create ECR Container Registry for Strapi docker image
  .infrastructure/13_ecr.tf
Labels: size/small, infra

#588 [DEV-1054]: webinars questions page
  .changeset/large-glasses-dance.md
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
  .infrastructure/50_storage.tf
  apps/nextjs-website/.env.default
  apps/nextjs-website/package.json
  apps/nextjs-website/src/BrowserConfig.ts
  apps/nextjs-website/src/BrowserEnv.ts
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/webinars/[webinarSlug]/questions/page.tsx
  apps/nextjs-website/src/components/molecules/WebinarPlayerSection/WebinarPlayerSection.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsTemplate/WebinarQuestionsTemplate.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/editorialComponents/BannerLink/BannerLink.tsx
  apps/nextjs-website/src/lib/webinars/__tests__/webinarQuestions.test.ts
  apps/nextjs-website/src/lib/webinars/dynamodb/codec.ts
  apps/nextjs-website/src/lib/webinars/webinarQuestions.ts
  apps/nextjs-website/src/messages/it.json
  package-lock.json
Labels: workflows, website, size/small, infra, changeset

#615 [DEV-1363] Fetch homepage props from Strapi
  .changeset/polite-dodos-remember.md
  apps/nextjs-website/package.json
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/homepage.ts
  apps/nextjs-website/src/lib/strapi/__tests__/homepage.test.ts
  apps/nextjs-website/src/lib/strapi/fetchFromStrapi.ts
  apps/nextjs-website/src/lib/strapi/homepage.ts
  package-lock.json
Labels: website, size/small, changeset

#624 [DEV-1376] - Add S3 and CDN for CMS Strapi Medialibrary
  .infrastructure/50_storage.tf
  .infrastructure/60_cdn.tf
Labels: size/small, infra

#642 [DEV-1387] Add fetch-depth option
  .github/workflows/changelog.yaml
Labels: workflows, size/small

#640 [DEV-1394] - Create DNS zone for CMS Strapi
  .infrastructure/10_dns.tf
  .infrastructure/98_variables.tf
  .infrastructure/env/dev/terraform.tfvars
  .infrastructure/env/prod/terraform.tfvars
Labels: size/small, infra

#645 Improve jobs' name
  .github/workflows/deploy_infra.yml
  .github/workflows/deploy_website.yaml
Labels: workflows, size/small

#625 [DEV-1377] - Create IAM User for CMS Strapi
  .infrastructure/40_iam.tf
Labels: size/small, infra

#636 [DEV-1382] - Create Certificate for CMS Strapi
  .infrastructure/11_certs.tf
Labels: size/small, infra

#626 [DEV-1378] - Create Secrets for CMS Strapi
  .infrastructure/12_secrets.tf
Labels: size/small, infra

#601 [DEV-1333] Fix sign-in and confirm sign-in UI and UX
  .changeset/twenty-drinks-talk.md
  apps/nextjs-website/src/__tests__/helpers/auth.helpers.test.ts
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/molecules/ResendEmail/ResendEmail.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/helpers/auth.helpers.ts
  apps/nextjs-website/src/lib/types/loginSteps.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, changeset

#623 [DEV-1375] Added branch for automatically Sync "docs/from-gitbook"
  .changeset/gentle-bugs-beg.md
  apps/nextjs-website/package.json
  apps/nextjs-website/scripts/fetch-docs.sh
Labels: website, size/small, changeset

#609 [DEV-1361] Fix edit password card in user profile
  .changeset/thick-pumas-eat.md
  apps/nextjs-website/src/components/organisms/Auth/EditPasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordTextField.tsx
Labels: website, size/small, changeset

#634 [DEV-1386] - Create IAM Role ECS for CMS Strapi
  .infrastructure/40_iam.tf
Labels: size/small, infra

#604 [DEV-1334] Fix sign-up and confirm sign-up pages
  .changeset/lazy-poets-melt.md
  apps/nextjs-website/src/_contents/auth.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/molecules/CheckItem/CheckItem.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#631 [DEV-1390] Add Product schema and productsShowcase component to homepage in Strapi CMS
  .changeset/sweet-planets-change.md
  apps/strapi-cms/.env.default
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  apps/strapi-cms/src/api/homepage/content-types/homepage/schema.json
  apps/strapi-cms/src/api/product/content-types/product/schema.json
  apps/strapi-cms/src/api/product/controllers/product.ts
  apps/strapi-cms/src/api/product/routes/product.ts
  apps/strapi-cms/src/api/product/services/product.ts
  apps/strapi-cms/src/components/products/products-showcase.json
  package-lock.json
Labels: size/small, changeset, cms

#605 [DEV-1335] Fix reset password request page
  .changeset/sweet-ants-boil.md
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordSuccess.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#652 [DEV-1382, DEV-1394] Fix SSL certificate for cms domain
  .infrastructure/10_dns.tf
  .infrastructure/11_certs.tf
Labels: size/small, infra

#653 [DEV-1403]: add missing permission to devportal_authenticated_host_user
  .infrastructure/55_cognito.tf
Labels: size/small, infra

#655 Revert "[DEV-1382, DEV-1394] Fix SSL certificate for cms domain"
  .infrastructure/10_dns.tf
  .infrastructure/11_certs.tf
Labels: size/small, infra

#656 [DEV-1382] Update CMS SSL certificate provider and zone id
  .infrastructure/11_certs.tf
Labels: size/small, infra

#658 Remove useless DNS hosted zone
  .infrastructure/10_dns.tf
Labels: size/small, infra

#654 [DEV-1404] Add fail-fast option to avoid cancellation of a job if another one fails
  .github/workflows/code_review.yaml
  .github/workflows/code_review_infra.yaml
  .github/workflows/deploy_website.yaml
Labels: workflows, size/small

#657 [DEV-1402] update banner link
  .changeset/little-boats-think.md
  apps/nextjs-website/src/editorialComponents/BannerLink/BannerLink.tsx
Labels: website, size/small, changeset

#608 [DEV-1336] Fix change password page and changed password page
  .changeset/silly-lizards-divide.md
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/AccountAlreadyConfirmed.tsx
  apps/nextjs-website/src/components/organisms/Auth/ChangePasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordChangedCard.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/large, changeset

#647 [DPC-150] Correction of the sentence related to the pagoPA quickstart
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small

#639 [DEV-1385] - Add IAM Role for Deploy CMS Strapi
  .infrastructure/40_iam.tf
Labels: size/small, infra

#632 [DEV-1389] Migrate to cms the "Discover our ecosystem" section in home page
  .changeset/nine-wombats-pretend.md
  .changeset/slimy-turkeys-flash.md
  apps/nextjs-website/src/__tests__/helpers/productHeader.helpers.test.ts
  apps/nextjs-website/src/_contents/appIo/appIo.ts
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/pagoPa/pagoPa.ts
  apps/nextjs-website/src/_contents/send/send.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/molecules/CardsGrid/CardsGrid.tsx
  apps/nextjs-website/src/components/organisms/ProductsShowcase/ProductsShowcase.tsx
  apps/nextjs-website/src/lib/homepage.ts
  apps/nextjs-website/src/lib/strapi/__tests__/homepage.test.ts
  apps/nextjs-website/src/lib/strapi/homepage.ts
  apps/nextjs-website/src/lib/types/product.ts
  apps/strapi-cms/src/api/product/content-types/product/schema.json
Labels: website, changeset, cms

#649 [DEV-1400] Create developers readonly group and iam user
  .infrastructure/41_iam_users.tf
  .infrastructure/42_iam_groups.tf
Labels: size/small, infra

#665 [DPC-141] Change in version and name for "CGN"
  .changeset/small-pillows-try.md
  apps/nextjs-website/public/images/documentazione-tecnica-CGN-mobile.png
  apps/nextjs-website/public/images/documentazione-tecnica-CGN.png
  apps/nextjs-website/public/images/manuale-di-carta-giovani-nazionale-mobile.png
  apps/nextjs-website/public/images/manuale-di-carta-giovani-nazionale.png
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
  apps/nextjs-website/src/_contents/appIo/guides.ts
Labels: website, size/small, changeset

#673 [DEV-1423] Remove numeric prefix to terraform files
  .infrastructure/alarms.tf
  .infrastructure/cdn.tf
  .infrastructure/certs.tf
  .infrastructure/cognito.tf
  .infrastructure/dashboard.tf
  .infrastructure/dns.tf
  .infrastructure/ecr.tf
  .infrastructure/iam.tf
  .infrastructure/iam_groups.tf
  .infrastructure/iam_users.tf
  .infrastructure/main.tf
  .infrastructure/network.tf
  .infrastructure/outputs.tf
  .infrastructure/secrets.tf
  .infrastructure/ses.tf
  .infrastructure/storage.tf
  .infrastructure/variables.tf
Labels: size/small, infra

#674 [DEV-1426] Split network file into two different files
  .infrastructure/security_group.tf
  .infrastructure/vpc.tf
Labels: size/small, infra

#675 [DEV-1425] Split storage file
  .infrastructure/dynamodb.tf
  .infrastructure/s3_bucket.tf
Labels: size/small, infra

#629 [DEV-1381] - Create RDS Database Aurora for Strapi
  .infrastructure/15_database.tf
Labels: size/small, infra

#637 [DEV-1383, DEV-1384] - Create ECS and ALB for CMS Strapi
  .infrastructure/alb.tf
  .infrastructure/database.tf
  .infrastructure/ecs.tf
  .infrastructure/task-definitions/cms_app.json.tpl
  .infrastructure/variables.tf
Labels: size/small, infra

#677 Revert "[DEV-1383, DEV-1384] - Create ECS and ALB for CMS Strapi"
  .infrastructure/15_database.tf
  .infrastructure/alb.tf
  .infrastructure/ecs.tf
  .infrastructure/task-definitions/cms_app.json.tpl
  .infrastructure/variables.tf
Labels: infra

#679 [DEV-1406] Handle the trailing slash of the URL
  .changeset/six-items-exist.md
  apps/cloudfront-functions/src/__tests__/viewer-request-handler.test.ts
  apps/cloudfront-functions/src/viewer-request-handler.ts
Labels: size/small, changeset, cloudfront-functions

#683 Revert "[DEV-1406] Handle the trailing slash of the URL"
  .changeset/six-items-exist.md
  apps/cloudfront-functions/src/__tests__/viewer-request-handler.test.ts
  apps/cloudfront-functions/src/viewer-request-handler.ts
Labels: size/small, changeset, cloudfront-functions

#680 [DEV-1457] Change SSL certificate zone
  .infrastructure/certs.tf
Labels: size/small, infra

#681 Add domain validation options to the set
  .infrastructure/dns.tf
Labels: size/small, infra

#678 [DEV-1383, DEV-1384] Create ECS and ALB for CMS Strapi
  .infrastructure/alb.tf
  .infrastructure/database.tf
  .infrastructure/ecs.tf
  .infrastructure/task-definitions/cms_app.json.tpl
  .infrastructure/variables.tf
Labels: infra

#638 [DEV-1356] - add dns record for CMS Strapi
  .infrastructure/dns.tf
Labels: size/small, infra

#670 [DEV-1369] Anchor Links with hash
  .changeset/little-toes-rescue.md
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/attributes.ts
  packages/gitbook-docs/src/markdoc/schema/link.ts
Labels: size/small, packages, changeset

#685 [DEV-1406] Handle the trailing slash of the URL
  .changeset/moody-cats-bow.md
  apps/cloudfront-functions/src/__tests__/viewer-request-handler.test.ts
  apps/cloudfront-functions/src/viewer-request-handler.ts
Labels: size/small, changeset, cloudfront-functions

#676 [DEV-1374] Correct br parsing
  .changeset/spicy-coins-own.md
  apps/nextjs-website/src/components/organisms/GitBookContent/GitBookContent.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/br.ts
  packages/gitbook-docs/src/parseContent.ts
  packages/gitbook-docs/src/renderContent.ts
Labels: website, size/small, packages, changeset

#667 [DEV-1418] Allow fetching from the CMS the "In evidenza" section on the home page
  .changeset/selfish-items-worry.md
  apps/nextjs-website/src/_contents/appIo/tutorialLists.ts
  apps/nextjs-website/src/_contents/ioSign/tutorialLists.ts
  apps/nextjs-website/src/_contents/pagoPa/tutorialLists.ts
  apps/nextjs-website/src/_contents/send/tutorialLists.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/LinkButton/LinkButton.tsx
  apps/nextjs-website/src/components/organisms/NewsShowcase/NewsShowcase.tsx
  apps/nextjs-website/src/components/organisms/TutorialsOverview/TutorialsOverview.tsx
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
  apps/nextjs-website/src/lib/homepage.ts
  apps/nextjs-website/src/lib/strapi/__tests__/homepage.test.ts
  apps/nextjs-website/src/lib/strapi/homepage.ts
  apps/nextjs-website/src/lib/types/tutorialData.ts
Labels: website, changeset

#687 [DEV-1460] Remove extends within Strapi tsconfig.json files
  apps/strapi-cms/src/admin/tsconfig.json
  apps/strapi-cms/tsconfig.json
Labels: size/small, cms

#688 [DEV-1461] - Terraform setup active one ECS node for CMS
  .infrastructure/ecs.tf
Labels: size/small, infra

#671 [DEV-1432]: Add heroSlider to the homepage schema, CallToAction component and HeroSlide component to Strapi
  .changeset/thick-trainers-pay.md
  apps/strapi-cms/src/api/homepage/content-types/homepage/schema.json
  apps/strapi-cms/src/components/common/call-to-action.json
  apps/strapi-cms/src/components/common/hero-slide.json
Labels: size/small, changeset, cms

#684 [DEV-1424] Organize Terraform files
  .infrastructure/acm.tf
  .infrastructure/cloudfront.tf
  .infrastructure/cloudwatch_dashboard.tf
  .infrastructure/cloudwatch_metric_alarm.tf
  .infrastructure/cognito.tf
  .infrastructure/iam_group.tf
  .infrastructure/iam_policy.tf
  .infrastructure/iam_role.tf
  .infrastructure/iam_user.tf
  .infrastructure/lambda.tf
  .infrastructure/rds_aurora.tf
  .infrastructure/route53.tf
  .infrastructure/s3_bucket.tf
  .infrastructure/ssm_parameter.tf
Labels: infra

#690 [DEV-1422] Refactor on Cognito resources
  .infrastructure/cognito_identity.tf
  .infrastructure/cognito_user.tf
  .infrastructure/iam_policy.tf
  .infrastructure/iam_role.tf
Labels: infra

#689 [DEV-1462] - Terraform create log group for CMS
  .infrastructure/cloudwatch_log_group.tf
  .infrastructure/ecs.tf
  .infrastructure/task-definitions/cms_app.json.tpl
Labels: size/small, infra

#686 [DEV-1274] Add Update Static Content plugin to Strapi to trigger static site deployment
  .changeset/olive-pumas-visit.md
  apps/strapi-cms/.env.default
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small, changeset, cms

#693 Few fixes on Terraform files
  .infrastructure/.terraform.lock.hcl
  .infrastructure/cloudwatch_log_group.tf
  .infrastructure/ecs.tf
  .infrastructure/task-definitions/cms_app.json.tpl
Labels: size/small, infra

#662 [DPC-160] Change name 3.20 --> 3.2.1
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
Labels: website, size/small

#695 Update deploy cms workflow
  .github/workflows/deploy_cms.yaml
Labels: workflows, size/small

#696 Update Dockerfile of strapi
  apps/strapi-cms/Dockerfile
Labels: size/small, cms
