Repository pagopa/developer-portal, pull requests merged in 2025-08, with the labels that each got.

#1592 [DEV-2373][CAI-455] Refactor url parsing on front-end
  .changeset/chubby-paths-trade.md
  packages/gitbook-docs/src/markdoc/attributes.ts
Labels: size/small, packages, changeset

#1596 [CAI-511] Refactor FeedbackForm visibility and fix chat autoscrolling
  .changeset/gold-moons-tease.md
  apps/nextjs-website/src/components/molecules/Chat/Chat.tsx
Labels: website, size/small, changeset

#1599 [CAI-512] fix feedback tooltip visibility
  .changeset/tiny-pans-knock.md
  apps/nextjs-website/src/components/atoms/ChatbotFeedbackButton/ChatbotFeedbackButton.tsx
Labels: website, size/small, changeset

#1601 [DEV-2328] Set character limit to 100 for user's name and family name. Adds nowrap to texts showing the user name and family name
  .changeset/three-eyes-lie.md
  apps/nextjs-website/src/components/atoms/DesktopUserInfo/DesktopUserInfo.tsx
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItemProfile.tsx
  apps/nextjs-website/src/components/atoms/MobileUserInfo/MobileUserInfo.tsx
  apps/nextjs-website/src/components/molecules/DesktopProfileMenu/DesktopProfileMenu.tsx
  apps/nextjs-website/src/components/molecules/MobileProfileMenu/MobileProfileMenu.tsx
Labels: website, size/small, changeset

#1607 [CAI-535] Add sync environment as output and update reindex
  .github/workflows/chatbot_reindex.yaml
  .github/workflows/sync_gitbook_docs.yaml
Labels: workflows, size/small

#1608 [CAI-535] fix reference to environment
  .github/workflows/chatbot_reindex.yaml
  .github/workflows/sync_gitbook_docs.yaml
Labels: workflows, size/small

#1628 [CAI-550] Set missed env variable for code build
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/modules/chatbot/README.md
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
  apps/infrastructure/src/modules/chatbot/variables.tf
Labels: size/small, infra, applied prod

#1630 [DEV-2605] Fixed SyntaxHighlighter "split is not a function" error by improving data handling in code blocks
  .changeset/free-chefs-stay.md
  apps/nextjs-website/src/components/molecules/BlocksRendererClient/BlocksRendererClient.tsx
  apps/nextjs-website/src/components/molecules/CodeBlockPart/CodeBlockPart.tsx
Labels: website, size/small, changeset

#1610 [CAI-527][CAI-526] - Code refactor to enable new Gemini models and removing AWS Bedrock classes
  .changeset/clean-teams-grab.md
  .changeset/cruel-rocks-kick.md
  .changeset/witty-hounds-camp.md
  .gitignore
  apps/chatbot-evaluate/src/lambda_function.py
  apps/chatbot-evaluate/src/modules/judge.py
  apps/chatbot-evaluate/src/modules/models.py
  apps/chatbot-evaluate/src/modules/monitor.py
  apps/chatbot-evaluate/src/modules/settings.py
  apps/chatbot-evaluate/src/modules/test_evaluate.py
  apps/chatbot/README.md
  apps/chatbot/config/params.yaml
  apps/chatbot/docker/app.local.Dockerfile
  apps/chatbot/docker/compose.yaml
  apps/chatbot/docker/volume/cache/machine.json
  apps/chatbot/docker/volume/cache/server.test.pem.crt
  apps/chatbot/docker/volume/cache/server.test.pem.key
  apps/chatbot/notebooks/chatbot.ipynb
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/src/app/chatbot_init.py
  apps/chatbot/src/app/sessions.py
  apps/chatbot/src/app/sqs_init.py
  apps/chatbot/src/modules/agent.py
  apps/chatbot/src/modules/agent_tools.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/create_vector_index.py
  apps/chatbot/src/modules/documents.py
  apps/chatbot/src/modules/google_reranker.py
  apps/chatbot/src/modules/handlers.py
  apps/chatbot/src/modules/models.py
  apps/chatbot/src/modules/monitor.py
  apps/chatbot/src/modules/settings.py
  apps/chatbot/src/modules/test_chatbot.py
  apps/chatbot/src/modules/utils.py
  apps/chatbot/src/modules/vector_database.py
  apps/infrastructure/src/modules/chatbot/variables.tf
Labels: infra, size/large, changeset

#1633 [CAI-543][CAI-546] Fix url parsing for table content and multiple references
  .changeset/wet-rooms-camp.md
  packages/gitbook-docs/src/helpers/documentationParsing.helper.ts
Labels: size/small, packages, changeset

#1629 [DEV-2600] Remove resources old static website
  apps/infrastructure/src/.terraform-version
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/modules/cicd/README.md
  apps/infrastructure/src/modules/cicd/iam.tf
  apps/infrastructure/src/modules/cicd/variables.tf
  apps/infrastructure/src/modules/website/README.md
  apps/infrastructure/src/modules/website/acm.tf
  apps/infrastructure/src/modules/website/cloudfront.tf
  apps/infrastructure/src/modules/website/cloudwatch_dashboard.tf
  apps/infrastructure/src/modules/website/cloudwatch_metric_alarm.tf
  apps/infrastructure/src/modules/website/iam_policy.tf
  apps/infrastructure/src/modules/website/locals.tf
  apps/infrastructure/src/modules/website/opennext.tf
  apps/infrastructure/src/modules/website/outputs.tf
  apps/infrastructure/src/modules/website/route53.tf
  apps/infrastructure/src/modules/website/s3_bucket.tf
  apps/infrastructure/src/refacotr.tf
Labels: infra, applied prod

#1636 [CAI-560] Fix parsing for release notes and solutions
  .changeset/all-lies-bake.md
  packages/gitbook-docs/src/__tests__/parseDocumentation.test.ts
  packages/gitbook-docs/src/helpers/documentationParsing.helper.ts
  packages/gitbook-docs/src/helpers/guidesMetadataHelper.ts
  packages/gitbook-docs/src/scripts/generateGuidesMetadata.ts
  packages/gitbook-docs/src/scripts/generateUrlParsingMetadata.ts
Labels: size/small, packages, changeset

#1551 [DEV-2461] Add new fetchFromStrapi and set the old one as depracated. Remove the guides codec and add ts type instead
  .changeset/purple-news-open.md
  apps/nextjs-website/src/components/molecules/GuideCard/GuideCard.tsx
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/guideLists.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fetchFromStrapi.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/guideLists.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/guides.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/product.ts
  apps/nextjs-website/src/lib/strapi/__tests__/guideListPages.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/guides.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeGuideListPageProps.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeGuidesProps.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/GuideListPagesCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/GuidesCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/ProductCodec.ts
  apps/nextjs-website/src/lib/strapi/fetchFromStrapi.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchApiDataList.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchApiDataListPages.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchCaseHistories.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchGuideListPages.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchGuides.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchHomepage.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchOverviews.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchProducts.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchQuickStartGuides.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchReleaseNotes.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchSolutionListPage.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchSolutions.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchTutorialListPages.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchTutorials.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchUrlReplaceMap.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchWebinarCategories.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchWebinars.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeGuideListPages.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeGuides.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeProducts.ts
  apps/nextjs-website/src/lib/strapi/types/guide.ts
  apps/nextjs-website/src/lib/strapi/types/guideList.ts
  apps/nextjs-website/src/lib/strapi/types/media.ts
  apps/nextjs-website/src/lib/strapi/types/pagination.ts
Labels: website, size/large, changeset
