Repository pagopa/developer-portal, pull requests merged in 2025-06, with the labels that each got.

#1410 [CAI-347][CAI-341] Show feedback for pagopa users
  .changeset/breezy-hairs-remember.md
  apps/nextjs-website/src/components/atoms/ChatMessage/ChatMessage.tsx
  apps/nextjs-website/src/components/atoms/ChatbotFeedbackButton/ChatbotFeedbackButton.tsx
  apps/nextjs-website/src/components/atoms/ChatbotWriting/ChatbotWriting.module.css
  apps/nextjs-website/src/components/atoms/ChatbotWriting/ChatbotWriting.tsx
  apps/nextjs-website/src/components/molecules/Chat/Chat.tsx
  apps/nextjs-website/src/components/molecules/ChatbotFeedbackForm/ChatbotFeedbackForm.tsx
  apps/nextjs-website/src/components/organisms/ChatbotLayout/ChatbotLayout.tsx
  apps/nextjs-website/src/components/organisms/ChatbotProvider/ChatbotProvider.tsx
  apps/nextjs-website/src/helpers/chatbot.helper.tsx
  apps/nextjs-website/src/lib/chatbot/chatbotQueries.ts
  apps/nextjs-website/src/lib/chatbotApi.ts
  apps/storybook-app/stories/molecules/ChatbotFeedbackForm.stories.tsx
Labels: website, size/small, changeset

#1455 Change docs rewriter function code path
  .changeset/poor-badgers-knock.md
  apps/infrastructure/src/main.tf
Labels: size/small, infra, changeset

#1472 [DEV-2324] Fix absolute url path transform
  .changeset/gold-rockets-wink.md
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/attributes.ts
Labels: size/small, packages, changeset

#1470 [CAI-434] New strapi secret in parameter store
  apps/infrastructure/src/modules/cms/ecs.tf
  apps/infrastructure/src/modules/cms/ssm_parameter.tf
  apps/infrastructure/src/modules/cms/task-definitions/cms_app.json.tpl
Labels: size/small, infra

#1459 [CAI-437] - Fix user feedback bug
  .changeset/metal-actors-dance.md
  apps/chatbot/src/app/sessions.py
Labels: size/small, changeset

#1466 [CAI-445] - API documents in the index
  .changeset/brave-pandas-call.md
  apps/chatbot/config/params.yaml
  apps/chatbot/config/prompts.yaml
  apps/chatbot/notebooks/chatbot.ipynb
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/create_vector_index.py
  apps/chatbot/src/modules/documents.py
  apps/chatbot/src/modules/engine.py
  apps/chatbot/src/modules/models.py
  apps/chatbot/src/modules/utils.py
  apps/chatbot/src/modules/vector_database.py
Labels: changeset

#1476 [DEV-2350] Add logs in guide pages
  .changeset/odd-dragons-mix.md
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/cmsApi.ts
Labels: website, size/small, changeset

#1479 [DEV-2349] add include replacer in sync
  .changeset/nasty-dingos-compare.md
  .github/workflows/devportal_docs_sync.yaml
Labels: workflows, size/small, changeset

#1468 [CAI-451] Chatbot Logs
  .changeset/short-weeks-give.md
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/documents.py
  apps/chatbot/src/modules/evaluator.py
  apps/chatbot/src/modules/handlers.py
  apps/chatbot/src/modules/logger.py
  apps/chatbot/src/modules/models.py
  apps/chatbot/src/modules/presidio.py
  apps/chatbot/src/modules/test_chatbot.py
  apps/chatbot/src/modules/utils.py
  apps/chatbot/src/modules/vector_database.py
Labels: size/small, changeset

#1492 [DEV-2359] New env variable for next app
  apps/infrastructure/src/modules/website/README.md
  apps/infrastructure/src/modules/website/opennext.tf
  apps/infrastructure/src/modules/website/variables.tf
Labels: size/small, infra

#1464 [DEV-2330] Add ApiSoapDetail object in ApiData schema
  .changeset/friendly-kangaroos-try.md
  apps/strapi-cms/src/api/api-data/content-types/api-data/schema.json
  apps/strapi-cms/src/components/api/api-soap-detail.json
Labels: size/small, changeset, cms

#1456 [DEV-2297] Add ApiSoapSection component and component Storybook's story
  .changeset/hungry-buckets-glow.md
  apps/nextjs-website/src/components/molecules/ApiSoapSection/ApiSoapSection.tsx
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/public/soap-api/wsdl/nodeForPa.wsdl.xml
  apps/storybook-app/public/soap-api/wsdl/nodeForPsp.wsdl.xml
  apps/storybook-app/public/soap-api/wsdl/paForNode.wsdl.xml
  apps/storybook-app/public/soap-api/wsdl/pspForNode.wsdl.xml
  apps/storybook-app/public/soap-api/wsdl/wsdl-viewer.xsl
  apps/storybook-app/public/soap-api/wsdl/xsd/nodeForPa.xsd
  apps/storybook-app/public/soap-api/wsdl/xsd/nodeForPsp.xsd
  apps/storybook-app/public/soap-api/wsdl/xsd/nodoPerPsp.xsd
  apps/storybook-app/public/soap-api/wsdl/xsd/paForNode.xsd
  apps/storybook-app/public/soap-api/wsdl/xsd/pspForNode.xsd
  apps/storybook-app/public/soap-api/xsd-common/CatalogoDatiInformativi.xsd
  apps/storybook-app/public/soap-api/xsd-common/CatalogoDatiInformativiPSP.xsd
  apps/storybook-app/public/soap-api/xsd-common/CatalogoServizi_2_0_0.xsd
  apps/storybook-app/public/soap-api/xsd-common/FlussoRiversamento_1_0_4.xsd
  apps/storybook-app/public/soap-api/xsd-common/InformativaContoAccredito_1_2_1.xsd
  apps/storybook-app/public/soap-api/xsd-common/MarcaDaBollo.xsd
  apps/storybook-app/public/soap-api/xsd-common/TabellaDelleContropartiEstesa_1_2_0.xsd
  apps/storybook-app/public/soap-api/xsd-common/TabellaDelleControparti_1_0_8.xsd
  apps/storybook-app/public/soap-api/xsd-common/TemplateInformativa_1_0_11.xsd
  apps/storybook-app/public/soap-api/xsd-common/envelope.xsd
  apps/storybook-app/public/soap-api/xsd-common/sac-common-types-1.0.xsd
  apps/storybook-app/public/soap-api/xsd-common/xmldsig-core-schema.xsd
  apps/storybook-app/stories/molecules/ApiSoapSection.stories.tsx
Labels: website, size/large, changeset

#1496 fix: Update ecs iam policy to read secret secret chb_strapi_api_key
  apps/infrastructure/src/modules/cms/iam_policy.tf
Labels: size/small, infra

#1497 fix: Update lambda function chatbot env variable
  apps/infrastructure/src/modules/chatbot/README.md
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
  apps/infrastructure/src/modules/cms/README.md
  apps/infrastructure/src/modules/cms/ecs.tf
  apps/infrastructure/src/modules/cms/iam_policy.tf
  apps/infrastructure/src/modules/cms/ssm_parameter.tf
  apps/infrastructure/src/modules/cms/task-definitions/cms_app.json.tpl
Labels: size/small, infra

#1486 [DEV-2342] Add generic nextjs error
  .changeset/sharp-rivers-grow.md
  apps/nextjs-website/src/app/error.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#1504 [CAI-478] Log fix
  .changeset/tricky-zoos-agree.md
  apps/chatbot/src/modules/utils.py
Labels: size/small, changeset

#1508 feat: Disable chatbot reindex on pull requests
  .github/workflows/chatbot_reindex.yaml
Labels: workflows, size/small
