Repository pagopa/developer-portal, pull requests merged in 2025-01, with the labels that each got.

#1281 [DEV-2023] fix empty area on top of solutions
  .changeset/eight-lizards-heal.md
  apps/nextjs-website/src/app/solutions/[solutionSlug]/[...solutionSubPathSlugs]/page.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/components/templates/GitBookTemplate/GitBookTemplate.tsx
Labels: website, size/small, changeset

#1279 [DEV-2070] Rename "version" to "subpath" in UrlReplaceMapCodec
  .changeset/tall-boxes-lay.md
  apps/nextjs-website/src/lib/strapi/__tests__/urlReplaceMap.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/UrlReplaceMapCodec.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeUrlReplaceMap.ts
Labels: website, size/small, changeset

#1293 [CAI-252] Chatbot/deploy workflow pipeline
  .github/workflows/deploy_chatbot.yaml
Labels: workflows, size/small

#1283 [DEV-2003] add missing title metadata
  .changeset/sharp-terms-walk.md
  apps/nextjs-website/src/app/privacy-policy/page.tsx
  apps/nextjs-website/src/app/solutions/page.tsx
  apps/nextjs-website/src/app/terms-of-service/page.tsx
  apps/nextjs-website/src/components/templates/PrivacyPolicyTemplate/PrivacyPolicyTemplate.tsx
  apps/nextjs-website/src/components/templates/TermsOfServiceTemplate/TermsOfServiceTemplate.tsx
Labels: website, size/small, changeset

#1287 [DEV-2004] fix headers sequence
  .changeset/red-dragons-hunt.md
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/components/atoms/BannerLink/BannerLink.tsx
  apps/nextjs-website/src/components/atoms/CtaCard/CtaCard.tsx
  apps/nextjs-website/src/components/molecules/BannerLinks/BannerLinks.tsx
  apps/nextjs-website/src/components/molecules/LinkCard/LinkCard.tsx
  apps/nextjs-website/src/components/molecules/LinkCards/LinkCards.tsx
  apps/nextjs-website/src/components/molecules/SectionTitle/SectionTitle.tsx
  apps/nextjs-website/src/components/organisms/NewsShowcase/NewsShowcase.tsx
  apps/nextjs-website/src/components/organisms/PostIntegration/PostIntegration.tsx
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
  apps/nextjs-website/src/editorialComponents/Feature/Feature.tsx
  apps/nextjs-website/src/editorialComponents/Feature/FeatureStackItem.tsx
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
Labels: website, size/small, changeset

#1288 [DEV-2002] abstract header update to h1
  .changeset/mean-penguins-beg.md
  apps/nextjs-website/src/editorialComponents/Abstract/Abstract.tsx
Labels: website, size/small, changeset

#1294 [DEV-2063][DEV-2042][DEV-2056] Implement Active Campaign resync lambda infrastructure
  .changeset/lemon-dancers-teach.md
  .github/workflows/deploy_ac_sync_lambda.yaml
  apps/infrastructure/src/modules/active_campaign/cloudwatch_metrics_alarms.tf
  apps/infrastructure/src/modules/active_campaign/iam.tf
  apps/infrastructure/src/modules/active_campaign/lambda_resync.tf
  apps/infrastructure/src/modules/active_campaign/lambda_sync.tf
  apps/infrastructure/src/modules/active_campaign/sqs.tf
Labels: workflows, size/small, infra, changeset

#1289 [DEV-2073] Add sync users script using tsnode
  .changeset/sour-zebras-bathe.md
  package-lock.json
  packages/active-campaign-client/.env.example
  packages/active-campaign-client/package.json
  packages/active-campaign-client/src/clients/activeCampaignClient.ts
  packages/active-campaign-client/src/handlers/resyncUserHandler.ts
  packages/active-campaign-client/src/helpers/addArrayOfListToContact.ts
  packages/active-campaign-client/src/helpers/getNewWebinarsAndUnsubsriptionLists.ts
  packages/active-campaign-client/src/scripts/sync_all_users.ts
Labels: size/small, packages, changeset

#1298 [DEV-2048] - Deploy ac sync prod
  .changeset/witty-socks-smell.md
  apps/infrastructure/src/env/prod/terraform.tfvars
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/modules/active_campaign/eventbridge.tf
  apps/infrastructure/src/modules/active_campaign/iam.tf
  apps/infrastructure/src/modules/active_campaign/lambda_resync.tf
  apps/infrastructure/src/modules/active_campaign/variables.tf
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
  apps/infrastructure/src/modules/website/outputs.tf
Labels: size/small, infra, changeset

#1297 [DEV-2088] Fix UrlReplaceMap codec, simplify populate and cache the result
  .changeset/early-kangaroos-accept.md
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/solutions/[solutionSlug]/[...solutionSubPathSlugs]/page.tsx
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/strapi/codecs/UrlReplaceMapCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchUrlReplaceMap.ts
Labels: website, size/small, changeset

#1299 [CAI-292] Chatbot/question length
  apps/chatbot/src/app/main.py
Labels: size/small

#1302 Fix chatbot lambda deploy
  .github/workflows/deploy_chatbot.yaml
Labels: workflows, size/small

#1300 [CAI-293] Chatbot/fix session query
  .changeset/selfish-clocks-begin.md
  apps/chatbot/scripts/dynamodb-scan-queries.sh
  apps/chatbot/scripts/dynamodb-scan-sessions.sh
  apps/chatbot/src/app/main.py
  apps/chatbot/src/modules/chatbot.py
Labels: size/small, changeset

#1304 [DEV-2108] Add batch import
  .changeset/long-bikes-run.md
  packages/active-campaign-client/src/clients/activeCampaignClient.ts
  packages/active-campaign-client/src/scripts/sync_all_users.ts
Labels: size/small, packages, changeset

#1306 [DEV-2110] Fix error management for sqs queue
  .changeset/chilled-bears-act.md
  packages/active-campaign-client/src/handlers/sqsQueueHandler.ts
Labels: size/small, packages, changeset

#1305 [DEV-2114] signup only with lowercase email
  .changeset/long-ducks-unite.md
  apps/nextjs-website/src/helpers/auth.helpers.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#1277 [DEV-1279][DEV-1996][DEV-1997] Generate sitemap xml of the site
  .changeset/eleven-falcons-return.md
  apps/nextjs-website/src/app/robots.ts
  apps/nextjs-website/src/app/sitemap.ts
Labels: website, size/small, changeset

#1313 fix: update amazon-ecs-deploy-task-definition action
  .github/workflows/deploy_cms.yaml
Labels: workflows, size/small

#1317 fix: artifact name must be unique
  .github/actions/check-nextjs-bundle-size/action.yaml
  .github/workflows/code_review.yaml
Labels: workflows, size/small

#1316 [DEV-2116] Remove NextIntl warnings
  .changeset/nervous-wolves-confess.md
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/components/molecules/GuideCard/GuideCard.tsx
  apps/nextjs-website/src/components/organisms/PostIntegration/PostIntegration.tsx
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
  apps/nextjs-website/src/helpers/breadcrumbs.helpers.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeGuideListPages.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeOverviews.ts
Labels: website, size/small, changeset

#1315 [DEV-2117] Manage DynamoMODIFY event
  .changeset/sharp-bikes-act.md
  packages/active-campaign-client/src/handlers/sqsQueueHandler.ts
  packages/active-campaign-client/src/helpers/queueEventParser.ts
  packages/active-campaign-client/src/types/queueEvent.ts
Labels: size/small, packages, changeset

#1308 [DEV-2005] fix structured data
  .changeset/unlucky-garlics-peel.md
  apps/nextjs-website/src/app/[productSlug]/api/[apiDataSlug]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/api/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/case-histories/[caseHistorySlug]/page.tsx
Labels: website, size/small, changeset

#1319 [DEV-2093][DEV-2099] Add whatsNew to Overview schema
  .changeset/selfish-icons-deliver.md
  apps/strapi-cms/src/api/news-item/content-types/news-item/schema.json
  apps/strapi-cms/src/api/overview/content-types/overview/schema.json
  apps/strapi-cms/src/components/common/news-showcase.json
Labels: size/small, changeset, cms

#1321 [DEV-2096] add Newsroom item storybook
  .changeset/stupid-ducks-shop.md
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
  apps/storybook-app/stories/editorialComponents/Newsroom.stories.tsx
Labels: website, size/small, changeset

#1326 Include hidden files in NextJS bundle artifact
  .github/actions/check-nextjs-bundle-size/action.yaml
Labels: size/small

#1323 [DEV-2094] refactor newsroom
  .changeset/mean-pans-beam.md
  apps/nextjs-website/src/components/organisms/NewsShowcase/NewsShowcase.tsx
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
  apps/storybook-app/stories/editorialComponents/Newsroom.stories.tsx
Labels: website, size/small, changeset

#1320 [DEV-2095] Add whatsNew attribute to OverviewCodec, add label attribute to NewsItemCodec and fix populate in overview fetch
  .changeset/khaki-avocados-reflect.md
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/newsShowcase.ts
  apps/nextjs-website/src/lib/strapi/__tests__/overviews.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/HomepageCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/NewsShowcaseCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/OverviewsCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchHomepage.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchOverviews.ts
Labels: website, size/small, changeset

#1329 [DEV-2115] Add normalize script and logout user when token expires
  .changeset/little-parrots-rest.md
  apps/nextjs-website/src/components/atoms/SubscribeButton/SubscribeButton.tsx
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
  packages/active-campaign-client/.env.example
  packages/active-campaign-client/package.json
  packages/active-campaign-client/src/scripts/alignUsersInActiveCampaign.ts
  packages/active-campaign-client/src/scripts/normalizeAndDeleteDuplicatedUsers.ts
Labels: website, packages, changeset

#1331 [DEV-2115] Hotfix add normalize script
  .changeset/loud-books-taste.md
  packages/active-campaign-client/src/scripts/normalizeAndDeleteDuplicatedUsers.ts
Labels: size/small, packages, changeset
