Repository pagopa/developer-portal, pull requests merged in 2025-05, with the labels that each got.

#1409 [DEV-2160] Setup UAT account
  .changeset/mighty-schools-wait.md
  .github/workflows/chatbot_reindex.yaml
  .github/workflows/code_review.yaml
  .github/workflows/code_review_infra.yaml
  .github/workflows/deploy_ac_sync_lambda.yaml
  .github/workflows/deploy_chatbot.yaml
  .github/workflows/deploy_cms.yaml
  .github/workflows/deploy_infra.yml
  .github/workflows/deploy_website.yaml
  .github/workflows/deploy_website_content.yaml
  .gitignore
  .pre-commit-config.yaml
  .tflint.hcl
  apps/infrastructure/.gitignore
  apps/infrastructure/src/.terraform.lock.hcl
  apps/infrastructure/src/README.md
  apps/infrastructure/src/env/uat/backend.tfvars
  apps/infrastructure/src/env/uat/terraform.tfvars
  apps/infrastructure/src/identity/.terraform.lock.hcl
  apps/infrastructure/src/identity/README.md
  apps/infrastructure/src/identity/tfmodules.lock.json
  apps/infrastructure/src/locals.tf
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/modules/active_campaign/README.md
  apps/infrastructure/src/modules/chatbot/README.md
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
  apps/infrastructure/src/modules/cicd/README.md
  apps/infrastructure/src/modules/cicd/codebuild.tf
  apps/infrastructure/src/modules/cicd/iam.tf
  apps/infrastructure/src/modules/cicd/main.tf
  apps/infrastructure/src/modules/cicd/networking.tf
  apps/infrastructure/src/modules/cicd/variables.tf
  apps/infrastructure/src/modules/cms/README.md
  apps/infrastructure/src/modules/cms/iam_user.tf
  apps/infrastructure/src/modules/cms/ssm_parameter.tf
  apps/infrastructure/src/modules/core/README.md
  apps/infrastructure/src/modules/core/route53.tf
  apps/infrastructure/src/modules/core/ses.tf
  apps/infrastructure/src/modules/core/variables.tf
  apps/infrastructure/src/modules/docs_redirect/README.md
  apps/infrastructure/src/modules/website/README.md
  apps/infrastructure/src/modules/website/amplify.tf
  apps/infrastructure/src/modules/website/cloudfront.tf
  apps/infrastructure/src/modules/website/cloudwatch_dashboard.tf
  apps/infrastructure/src/modules/website/cloudwatch_metric_alarm.tf
  apps/infrastructure/src/modules/website/cognito_user.tf
  apps/infrastructure/src/modules/website/iam_policy.tf
  apps/infrastructure/src/modules/website/locals.tf
  apps/infrastructure/src/modules/website/outputs.tf
  apps/infrastructure/src/modules/website/route53.tf
  apps/infrastructure/src/modules/website/s3_bucket.tf
  apps/infrastructure/src/modules/website/variables.tf
  apps/infrastructure/src/moved.tf
  apps/infrastructure/src/tfmodules.lock.json
  apps/infrastructure/src/variables.tf
Labels: workflows, infra, size/large, stale, changeset

#1413 [DEV-2236] Add paragraph parsing
  .changeset/shiny-zebras-compare.md
  package-lock.json
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/parseContent.ts
Labels: size/small, packages, stale, changeset

#1428 Fix website bucket policy
  .changeset/curly-ravens-deny.md
  apps/infrastructure/src/modules/website/iam_policy.tf
Labels: size/small, infra, changeset

#1425 [CAI-394] save badAnswer to boolean
  .changeset/early-carrots-pay.md
  apps/chatbot/README.md
  apps/chatbot/docker/docker-compose-down-tests.sh
  apps/chatbot/src/app/models.py
  apps/chatbot/src/app/routers/sessions.py
  apps/chatbot/src/app/routers/test_sessions.py
  apps/chatbot/src/app/sessions.py
  apps/chatbot/src/modules/chatbot.py
Labels: size/small, changeset

#1411 [DEV-2243] parse single guide page
  .changeset/five-birds-run.md
  apps/nextjs-website/package.json
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/sitemap.ts
  apps/nextjs-website/src/helpers/parseCkEditorContent.helpers.ts
  apps/nextjs-website/src/helpers/parseS3Doc.helpers.ts
  apps/nextjs-website/src/helpers/s3Metadata.helpers.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  package-lock.json
  packages/gitbook-docs/src/scripts/generateGuidesMetadata.ts
  packages/gitbook-docs/src/scripts/generateReleaseNotesMetadata.ts
  packages/gitbook-docs/src/scripts/generateSolutionsMetadata.ts
  packages/gitbook-docs/src/sitemapItem.ts
Labels: website, size/small, packages, changeset

#1430 [DEV-2281] Fix webinar slug validation
  .changeset/green-spiders-march.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
Labels: size/small, changeset, cms

#1431 [DEV-2282] Fix webinar slug validation to prevent editors from emptying the field
  .changeset/cuddly-spiders-sleep.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
Labels: size/small, changeset, cms

#1417 [DEV-2258] add webinar category to website
  .changeset/tough-shirts-marry.md
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/strapi/__tests__/homepage.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/webinars.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/WebinarCategoryCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/WebinarsCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchWebinarCategories.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchWebinars.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeWebinarCategories.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeWebinars.ts
  apps/nextjs-website/src/lib/types/webinar.ts
  apps/nextjs-website/src/lib/types/webinarCategory.ts
Labels: website, size/small, stale, changeset

#1429 [DEV-2259] add webinar category selector to storybook
  .changeset/tiny-shrimps-flash.md
  apps/nextjs-website/src/components/atoms/IconWrapper/IconWrapper.tsx
  apps/nextjs-website/src/components/atoms/MobileWebinarCategoryButton/MobileWebinarCategoryButton.tsx
  apps/nextjs-website/src/components/atoms/WebinarCategoryButton/WebinarCategoryButton.tsx
  apps/nextjs-website/src/components/molecules/DesktopWebinarCategorySelector/DesktopWebinarCategorySelector.tsx
  apps/nextjs-website/src/components/molecules/MobileWebinarCategorySelector/MobileWebinarCategorySelector.tsx
  apps/nextjs-website/src/messages/en.json
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/public/icons/all.png
  apps/storybook-app/public/icons/all.svg
  apps/storybook-app/public/icons/devtalks.jpg
  apps/storybook-app/public/icons/devtalks.svg
  apps/storybook-app/public/icons/focus.svg
  apps/storybook-app/public/icons/pagopalab.svg
  apps/storybook-app/public/icons/techmeet.svg
  apps/storybook-app/stories/molecules/DesktopWebinarCategorySelector.stories.tsx
  apps/storybook-app/stories/molecules/MobileWebinarCategorySelector.stories.tsx
Labels: website, changeset

#1437 [DEV-2287] fix webinar category icon format
  .changeset/tame-pillows-carry.md
  apps/strapi-cms/src/api/webinar-category/content-types/webinar-category/schema.json
Labels: size/small, changeset, cms

#1420 [DEV-2189] Fix matomo cookies
  .changeset/real-boats-bow.md
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/chatbot_reindex.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
  .github/workflows/deploy_website_content.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/CookieBannerScript/CookieBannerScript.tsx
  apps/nextjs-website/src/config.ts
Labels: workflows, website, size/small, stale, changeset

#1439 [DEV-2288] Cms ecs update min and max number of tasks for production
  .changeset/rich-baboons-give.md
  apps/infrastructure/src/modules/cms/ecs.tf
Labels: size/small, infra, changeset

#1435 [DEV-2288] RDS increase production scaling capacity
  apps/infrastructure/src/env/dev/terraform.tfvars
  apps/infrastructure/src/env/prod/terraform.tfvars
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/modules/cms/rds_aurora.tf
  apps/infrastructure/src/modules/cms/variables.tf
  apps/infrastructure/src/variables.tf
Labels: size/small, infra

#1441 [DEV-2291] Fix tag file parsing
  .changeset/three-students-sneeze.md
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/parseContent.ts
Labels: size/small, packages, changeset

#1445 [DEV-2293] make matomo cookie script retrocompatible
  .changeset/fluffy-pillows-switch.md
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/chatbot_reindex.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
  .github/workflows/deploy_website_content.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/config.ts
Labels: workflows, website, size/small, changeset

#1448 [DEV-2303] Remove comments from Matomo Tag Manager script and fix indentation
  .changeset/tricky-badgers-marry.md
  apps/nextjs-website/src/app/layout.tsx
Labels: website, size/small, changeset

#1436 [DEV-2260] Integrate webinar category to webinar template
  .changeset/pink-tips-tie.md
  apps/nextjs-website/public/icons/all.svg
  apps/nextjs-website/src/app/webinars/page.tsx
  apps/nextjs-website/src/components/molecules/DesktopWebinarCategorySelector/DesktopWebinarCategorySelector.tsx
  apps/nextjs-website/src/components/molecules/MobileWebinarCategorySelector/MobileWebinarCategorySelector.tsx
  apps/nextjs-website/src/components/organisms/WebinarsTemplate/WebinarsTemplate.tsx
  apps/nextjs-website/src/messages/it.json
Labels: website, size/small, changeset

#1443 [CAI-422] Chatbot/fix lambda
  .changeset/calm-wombats-admire.md
  apps/chatbot/docker/compose.lambda.local.yaml
  apps/chatbot/src/app/chatbot_init.py
  apps/chatbot/src/app/jwt_check.py
  apps/chatbot/src/app/routers/queries.py
  apps/chatbot/src/app/routers/sessions.py
  apps/chatbot/src/app/sessions.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/presidio.py
  apps/chatbot/src/modules/utils.py
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
Labels: size/small, infra, changeset

#1452 [POC] Draft github action to deploy standalone website
  .github/workflows/deploy_standalone.yaml
Labels: workflows, size/small

#1453 [CAI-415] - Bug Fix of Presidio in Langfuse
  .changeset/tidy-geckos-protect.md
  apps/chatbot/src/modules/chatbot.py
Labels: size/small, changeset

#1444 [DEV-2271] Update page titles
  .changeset/gold-wasps-fail.md
  apps/nextjs-website/src/__tests__/helpers/metadata.helpers.test.ts
  apps/nextjs-website/src/app/[productSlug]/api/[apiDataSlug]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/api/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/page.tsx
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/solutions/[solutionSlug]/[...solutionSubPathSlugs]/page.tsx
  apps/nextjs-website/src/helpers/metadata.helpers.ts
Labels: website, size/small, changeset
