Repository pagopa/developer-portal, pull requests merged in 2025-03, with the labels that each got.

#1350 [DEV-2038] Add align users company field script
  .changeset/spicy-frogs-kick.md
  packages/active-campaign-client/package.json
  packages/active-campaign-client/src/scripts/alignUsersCompanyFields.ts
Labels: size/small, packages, changeset

#1362 Add GCP project SSM param
  .changeset/proud-lizards-exist.md
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
Labels: size/small, infra, changeset

#1346 [CAI-220] Add waf resource
  apps/infrastructure/src/modules/chatbot/variables.tf
  apps/infrastructure/src/modules/chatbot/waf.tf
Labels: size/small, infra

#1363 [CAI-220] Fix waf rules priorities and apigw association
  apps/infrastructure/src/modules/chatbot/waf.tf
Labels: size/small, infra

#1365 [DEV-2184] Poc standalone fix guide version
  .changeset/fluffy-bats-leave.md
  apps/nextjs-website/src/helpers/makeS3Docs.helpers.ts
  apps/nextjs-website/src/helpers/parseS3Doc.helpers.ts
  apps/nextjs-website/src/lib/api.ts
Labels: website, infra, changeset

#1342 [CAI-299] Chatbot/fix website url and html2md converter
  .changeset/twelve-avocados-marry.md
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/vector_database.py
Labels: size/small, changeset

#1361 [DEV-2183] Upgrade actions/cache from version 3.3.1 to version 4.2.2 in code_review workflow
  .github/workflows/code_review.yaml
Labels: workflows, size/small

#1355 [DEV-2168] Fix heading level to variant
  .changeset/cool-bikes-cheat.md
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Heading.tsx
  packages/gitbook-docs/src/__tests__/parseInPageMenu.test.ts
  packages/gitbook-docs/src/parseInPageMenu.ts
Labels: website, size/small, packages, changeset

#1356 [DEV-2174] Fix Downloadable documents title appearance logic
  .changeset/flat-houses-smile.md
  apps/nextjs-website/src/components/molecules/DownloadableDocuments/DownloadableDocuments.tsx
  apps/nextjs-website/src/components/molecules/RelatedResources/RelatedResources.tsx
Labels: website, size/small, changeset

#1357 [DEV-2169] Fix downloadable documents getHumanReadableFileSize and add its tests
  .changeset/tough-radios-grin.md
  apps/nextjs-website/src/__tests__/helpers/humanReadableFileSize.helper.test.ts
  apps/nextjs-website/src/components/molecules/DownloadableDocuments/DownloadableDocuments.tsx
  apps/nextjs-website/src/helpers/humanReadableFileSize.helper.ts
Labels: website, size/small, changeset

#1349 [DEV-2167] Add scheduled_deploy job to deploy_website workflow
  .github/workflows/deploy_website.yaml
  .github/workflows/move_latest_tag.yaml
Labels: workflows, size/small

#1367 [DEV-2191] Fix scheduled deploy permissions
  .github/workflows/deploy_website.yaml
Labels: workflows, size/small

#1372 [DEV-2193] Move scheduled deploy to 2 a.m. UTC
  .github/workflows/deploy_website.yaml
Labels: workflows, size/small

#1376 Set minimum tls version to 1.2
  .changeset/olive-eggs-wait.md
  apps/infrastructure/src/modules/docs_redirect/cloudfront.tf
  apps/infrastructure/src/modules/website/cloudfront.tf
Labels: size/small, infra, changeset

#1375 [DEV-2187] Remove NextJS bundle size check
  .github/actions/check-nextjs-bundle-size/action.yaml
  .github/workflows/code_review.yaml
Labels: workflows, size/small

#1371 Add uqido consultants as CODEOWNERS
  .github/CODEOWNERS
Labels: size/small

#1380 [DEV-2202] Fix environment variables for scheduled deploy action and move cron to 3 p.m. for test purposes
  .github/workflows/deploy_website.yaml
Labels: workflows, size/small

#1381 Add service account parameter and env variable to chatbot lambda
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
Labels: infra

#1378 [DEV-2197] Add webinar_question_lifetime_in_seconds required parameter to build job
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
Labels: workflows, size/small

#1379 [DEV-2154] Fix webinar slug validator
  .changeset/tasty-coats-arrive.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
Labels: size/small, changeset, cms

#1382 [DEV-2203] Move scheduled deploy at 11 p.m. UTC
  .github/workflows/deploy_website.yaml
Labels: workflows, size/small

#1352 [CAI-291] security improvements
  .changeset/wicked-pans-fly.md
  apps/chatbot/.env.example
  apps/chatbot/docker/app.local.Dockerfile
  apps/chatbot/docker/compose.test.yaml
  apps/chatbot/docker/compose.yaml
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/pytest.ini
  apps/chatbot/scripts/cognito_id.sh
  apps/chatbot/scripts/run.local.sh
  apps/chatbot/scripts/run.test.sh
  apps/chatbot/src/app/jwt_check.py
  apps/chatbot/src/app/main.py
  apps/chatbot/src/app/mock_cognito.py
  apps/chatbot/src/app/test_main.py
Labels: size/small, changeset

#1359 [CAI-321] Chatbot/linting
  .changeset/dull-ladybugs-invite.md
  apps/chatbot/.flake8
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/src/app/jwt_check.py
  apps/chatbot/src/app/main.py
  apps/chatbot/src/app/mock_cognito.py
  apps/chatbot/src/app/test_main.py
Labels: size/large, changeset

#1384 [DEV-1879] Add the cursor pointer to the profile menu
  .changeset/fuzzy-apples-fetch.md
  apps/nextjs-website/src/components/atoms/DesktopUserInfo/DesktopUserInfo.tsx
Labels: website, size/small, changeset

#1360 [CAI-315] - Evaluation using Ragas
  apps/chatbot/src/modules/evaluator.py
Labels: size/small

#1368 [DEV-2129] Sitemap for standalone version
  .changeset/tender-clocks-report.md
  apps/nextjs-website/src/app/sitemap.ts
  packages/gitbook-docs/.env.default
  packages/gitbook-docs/package.json
  packages/gitbook-docs/src/scripts/generateGuideMetadata.ts
Labels: website, size/small, packages, changeset

#1388 [DEV-2234] Remove the maximum question and answer limit from the Webinar schema
  .changeset/old-colts-greet.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
Labels: size/small, changeset, cms

#1351 [DEV-2074][DEV-2198] Upgrade to Strapi 4.25.20
  .changeset/pretty-trainers-pump.md
  .node-version
  README.md
  apps/nextjs-website/package.json
  apps/nextjs-website/src/app/ThemeRegistry.tsx
  apps/nextjs-website/src/app/[productSlug]/[...releaseNoteSubPathSlugs]/page.tsx
  apps/nextjs-website/src/editorialComponents/Hero/Hero.tsx
  apps/strapi-cms/.eslintrc.json
  apps/strapi-cms/.gitignore
  apps/strapi-cms/Dockerfile
  apps/strapi-cms/eslint.config.ts
  apps/strapi-cms/package-lock.json
  apps/strapi-cms/package.json
  package-lock.json
Labels: website, size/small, changeset, cms

#1389 [DEV-2153] Add a custom route to bypass lifecycle hooks when deleting webinars
  .changeset/pretty-pillows-jog.md
  apps/strapi-cms/src/api/webinar/controllers/webinar.ts
  apps/strapi-cms/src/api/webinar/routes/webinar.ts
Labels: size/small, changeset, cms
