Repository pagopa/developer-portal, pull requests merged in 2025-07, with the labels that each got.

#1513 [CAI-479] - diagnostic logs
  .changeset/slick-streets-carry.md
  apps/chatbot/src/app/chatbot_init.py
  apps/chatbot/src/app/jwt_check.py
  apps/chatbot/src/app/routers/queries.py
  apps/chatbot/src/app/sessions.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/test_chatbot.py
Labels: size/small, changeset

#1514 [CAI-480] - Fix bug to load string as json
  .changeset/smart-chefs-speak.md
  apps/chatbot/src/modules/chatbot.py
Labels: size/small, changeset

#1509 [DEV-2380] Add repositoryPath and branch attributes in ApiSoapDetail
  .changeset/tame-pans-lay.md
  apps/strapi-cms/src/components/api/api-soap-detail.json
Labels: size/small, changeset, cms

#1520 [DEV-2406] Fix soap api sync workflow
  .github/actions/add-stylesheet-ref-to-wsdl/action.yaml
  .github/workflows/soap_api_repo_sync.yaml
Labels: workflows, size/small

#1523 Increase codebuild instance size
  apps/infrastructure/src/modules/cicd/main.tf
Labels: size/small, infra

#1503 [DEV-2371] Add parsing option for openapi tags in guides
  .changeset/plain-seals-find.md
  packages/gitbook-docs/src/parseContent.ts
Labels: size/small, packages, changeset

#1521 [CAI-481] - Remove logs
  .changeset/witty-trams-pay.md
  apps/chatbot/src/app/routers/queries.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/evaluator.py
Labels: size/small, changeset

#1516 [DEV-2397] Refactor S3 metadata helpers to include retry logic for fetching file…
  .changeset/cuddly-zebras-bow.md
  apps/nextjs-website/src/helpers/s3Metadata.helpers.ts
Labels: website, size/small, changeset

#1494 [DEV-2338] Static website new domain
  apps/infrastructure/src/env/dev/terraform.tfvars
  apps/infrastructure/src/modules/website/README.md
  apps/infrastructure/src/modules/website/acm.tf
  apps/infrastructure/src/modules/website/cloudfront.tf
  apps/infrastructure/src/modules/website/locals.tf
  apps/infrastructure/src/modules/website/route53.tf
Labels: size/small, infra, applied dev

#1527 [DEV-2338] Static website dns
  apps/infrastructure/src/.terraform.lock.hcl
  apps/infrastructure/src/modules/cicd/main.tf
  apps/infrastructure/src/modules/cms/ssm_parameter.tf
  apps/infrastructure/src/modules/website/README.md
  apps/infrastructure/src/modules/website/acm.tf
  apps/infrastructure/src/modules/website/cloudfront.tf
  apps/infrastructure/src/modules/website/cognito_user.tf
  apps/infrastructure/src/modules/website/locals.tf
  apps/infrastructure/src/modules/website/opennext.tf
  apps/infrastructure/src/modules/website/route53.tf
Labels: size/small, infra

#1515 [DEV-2367] Add GitHub action to clone SOAP API repos
  .github/actions/clone-soap-api-repos/action.yaml
  .github/workflows/soap_api_repo_sync.yaml
  packages/gitbook-docs/package.json
  packages/gitbook-docs/src/scripts/generateSoapApiRepositoriesList.ts
Labels: workflows, size/small, packages

#1522 [DEV-2379] Action to Generate SOAP API metadata
  .github/actions/add-stylesheet-ref-to-wsdl/action.yaml
  .github/actions/clone-soap-api-repos/action.yaml
  .github/actions/generate-soap-api-metadata/action.yaml
  .github/workflows/soap_api_repo_sync.yaml
  packages/gitbook-docs/src/scripts/generateSoapApiRepositoriesList.ts
Labels: workflows, size/small, packages

#1534 [DEV-2437] Renamed ssm paramenter and env var in opennext
  apps/infrastructure/src/modules/website/opennext.tf
Labels: size/small, infra, applied dev

#1447 [DEV-2253] update strapi
  .changeset/cold-ligers-hang.md
  apps/strapi-cms/Dockerfile
  apps/strapi-cms/package-lock.json
  apps/strapi-cms/package.json
Labels: size/small, changeset, cms

#1524 [DEV-2362] update title generation for guides
  .changeset/brown-mice-search.md
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
Labels: website, size/small, changeset

#1529 [CAI-370] - ReAct and structured output
  .changeset/stale-coats-play.md
  .gitignore
  apps/chatbot/.env.example
  apps/chatbot/.google_service_account.json.example
  apps/chatbot/config/prompts.yaml
  apps/chatbot/notebooks/chatbot.ipynb
  apps/chatbot/src/app/routers/queries.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/documents.py
  apps/chatbot/src/modules/engine.py
  apps/chatbot/src/modules/evaluator.py
  apps/chatbot/src/modules/google_reranker.py
  apps/chatbot/src/modules/handlers.py
  apps/chatbot/src/modules/models.py
  apps/chatbot/src/modules/test_chatbot.py
Labels: changeset

#1512 [DEV-2158] Add pipeline to sync s3 and generate metadata
  .github/workflows/devportal_docs_sync.yaml
  .github/workflows/generate_all_metadata.yaml
  .github/workflows/generate_guides_metadata.yaml
  .github/workflows/generate_release_notes_metadata.yaml
  .github/workflows/generate_solutions_metadata.yaml
Labels: workflows

#1545 [DEV-2158] Update action name
  .github/workflows/sync_gitbook_docs.yaml
Labels: workflows, size/small

#1528 [DEV-2425] Strapi internal alb
  apps/infrastructure/src/README.md
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/modules/cms/README.md
  apps/infrastructure/src/modules/cms/alb.tf
  apps/infrastructure/src/modules/cms/ecs.tf
  apps/infrastructure/src/modules/cms/outputs.tf
  apps/infrastructure/src/modules/cms/security_group.tf
  apps/infrastructure/src/modules/website/README.md
  apps/infrastructure/src/modules/website/opennext.tf
  apps/infrastructure/src/modules/website/variables.tf
Labels: size/small, infra, applied dev

#1550 [DEV-2488] Update lambda server env variable value
  apps/infrastructure/src/modules/website/opennext.tf
Labels: size/small, infra, applied dev

#1554 [CAI-462] Sqs queue to sent metrics into langfuse
  apps/infrastructure/src/modules/chatbot/README.md
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
  apps/infrastructure/src/modules/chatbot/sqs.tf
Labels: size/small, infra

#1561 [CAI-502] - Fix typo bug
  .changeset/flat-rules-deny.md
  apps/chatbot/src/app/routers/queries.py
  apps/chatbot/src/modules/chatbot.py
Labels: size/small, changeset

#1565 [DEV-2304] Fix File GitBook content component margins
  .changeset/great-bears-trade.md
  apps/nextjs-website/src/components/organisms/GitBookContent/components/File.tsx
Labels: website, size/small, changeset

#1557 [DEV-2503] Fix sync command
  .github/workflows/sync_gitbook_docs.yaml
Labels: workflows, size/small

#1567 [CAI-461] Draft action deploy lambda monitor
  .github/workflows/deploy_lambda_monitor.yaml
Labels: workflows, size/small

#1571 [DEV-2516] Add GitHub workflow to invalidate CloudFront asset bucket cache
  .github/workflows/invalidate_cloudfront_asset_bucket_cache.yaml
Labels: workflows, size/small

#1572 Create deploy_lambda_evaluate.yaml
  .github/workflows/deploy_lambda_evaluate.yaml
Labels: workflows, size/small

#1570 [DEV-2515] Fix generate metadata scripts
  .changeset/twenty-pens-write.md
  packages/gitbook-docs/src/helpers/fetchFromStrapi.ts
  packages/gitbook-docs/src/scripts/generateGuidesMetadata.ts
  packages/gitbook-docs/src/scripts/generateReleaseNotesMetadata.ts
  packages/gitbook-docs/src/scripts/generateSoapApiRepositoriesList.ts
  packages/gitbook-docs/src/scripts/generateSolutionsMetadata.ts
Labels: size/small, packages, changeset

#1566 [DEV-2433] Remove soap api section feature flag and apiSoapUrl deprecated param
  .changeset/young-ghosts-rule.md
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/components/templates/ApiDataListTemplate/ApiDataListTemplate.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/lib/strapi/codecs/ApiDataListCodec.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeApiDataListPages.ts
Labels: website, size/small, changeset

#1577 [DEV-2533] Fix populates for product and home page and align ProductCodec to ApiDataListCodec
  .changeset/mean-brooms-sneeze.md
  apps/nextjs-website/src/lib/strapi/codecs/ProductCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchHomepage.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchProducts.ts
Labels: website, size/small, changeset

#1568 [DEV-2508] Use s3 synced file for guide list and detail pages
  .changeset/neat-areas-count.md
  apps/nextjs-website/src/helpers/s3Metadata.helpers.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/cache.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeGuideListPages.ts
Labels: website, size/small, changeset

#1578 [DEV-2534] Add filters to exclude reusable content from metadata
  .changeset/cold-oranges-refuse.md
  packages/gitbook-docs/src/scripts/generateReleaseNotesMetadata.ts
  packages/gitbook-docs/src/scripts/generateSolutionsMetadata.ts
Labels: size/small, packages, changeset

#1559 [DEV-2398][DEV-2400][DEV-2420] Add header to webinar
  .changeset/fruity-knives-sit.md
  .changeset/lemon-mails-rest.md
  apps/nextjs-website/src/components/atoms/ProductBreadcrumbs/ProductBreadcrumbs.tsx
  apps/nextjs-website/src/components/atoms/SubscribeButton/SubscribeButton.tsx
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/FutureWebinarsShowcase/FutureWebinarsShowcase.tsx
  apps/nextjs-website/src/components/templates/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/lib/strapi/__tests__/homepage.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/webinars.test.ts
  apps/nextjs-website/src/lib/strapi/codecs/WebinarsCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchWebinars.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeWebinars.ts
  apps/nextjs-website/src/lib/types/webinar.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, changeset

#1580 [DEV-2310] Upgrade turbo to version 2.5.5
  package-lock.json
  package.json
  turbo.json
Labels: size/small

#1582 Create chatbot indexing IAM role
  .changeset/thin-monkeys-report.md
  .github/workflows/chatbot_reindex.yaml
  apps/infrastructure/src/modules/cicd/iam.tf
Labels: workflows, size/small, infra, changeset

#1586 Fix chatbot reindex permissions
  .changeset/fresh-emus-shake.md
  .github/workflows/chatbot_reindex.yaml
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/modules/cicd/iam.tf
  apps/infrastructure/src/modules/cicd/variables.tf
  apps/infrastructure/src/modules/website/outputs.tf
Labels: workflows, size/small, infra, changeset

#1588 [CAI-508] Add content wrapper to Privacy Policy and Terms of Service pages
  .changeset/solid-dolls-trade.md
  apps/nextjs-website/src/app/privacy-policy/page.tsx
  apps/nextjs-website/src/app/terms-of-service/page.tsx
Labels: website, size/small, changeset
