Repository pagopa/developer-portal, pull requests merged in 2025-02, with the labels that each got.

#1334 [CAI-63] fix(chatbot): website build on reindex pipeline
  .github/actions/chatbot/action.yaml
  .github/workflows/chatbot_reindex.yaml
  apps/chatbot/src/modules/create_vector_index.py
  apps/chatbot/src/modules/vector_database.py
Labels: workflows, size/small

#1339 [CAI-63] fix: restart lambda after reindex pipeline
  .github/actions/chatbot/action.yaml
Labels: size/small

#1328 [CAI-296][DEV-2120] Add conditional parsing to chat and history
  .changeset/afraid-roses-cry.md
  apps/nextjs-website/src/components/atoms/ChatHistoryMessage/ChatHistoryMessage.tsx
  apps/nextjs-website/src/components/atoms/ChatMessage/ChatMessage.tsx
Labels: website, size/small, changeset

#1325 [DEV-2100] Add ReleaseNote collection to Strapi
  .changeset/strange-berries-beam.md
  apps/strapi-cms/src/api/product/content-types/product/schema.json
  apps/strapi-cms/src/api/release-note/content-types/release-note/schema.json
  apps/strapi-cms/src/api/release-note/controllers/release-note.ts
  apps/strapi-cms/src/api/release-note/routes/release-note.ts
  apps/strapi-cms/src/api/release-note/services/release-note.ts
Labels: size/small, changeset, cms

#1337 [CAI-303] fix personal page titles
  .changeset/honest-donkeys-warn.md
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/app/profile/chatbot-history/page.tsx
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
Labels: website, size/small, changeset

#1340 [CAI-63] Chatbot/restart lambda after reindex
  .github/actions/chatbot/action.yaml
  .github/workflows/chatbot_reindex.yaml
Labels: workflows, size/small

#1330 [DEV-2097][DEV-2098] Add whatsNew section to Overview page
  .changeset/rare-turtles-prove.md
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/RelatedLinks/RelatedLinks.tsx
  apps/nextjs-website/src/components/molecules/SectionTitle/SectionTitle.tsx
  apps/nextjs-website/src/components/organisms/NewsShowcase/NewsShowcase.tsx
  apps/nextjs-website/src/components/organisms/PostIntegration/PostIntegration.tsx
  apps/nextjs-website/src/components/organisms/TutorialsOverview/TutorialsOverview.tsx
  apps/nextjs-website/src/editorialComponents/Listing/Listing.tsx
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
  apps/nextjs-website/src/lib/strapi/makeProps/makeHomepage.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeOverviews.ts
Labels: website, changeset

#1338 [DEV-2101][DEV-2102] Add release note page to product section
  .changeset/twenty-cougars-begin.md
  apps/nextjs-website/src/app/[productSlug]/[...releaseNoteSubPathSlugs]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/components/templates/GitBookTemplate/GitBookTemplate.tsx
  apps/nextjs-website/src/helpers/breadcrumbs.helpers.ts
  apps/nextjs-website/src/helpers/makeDocs.helpers.ts
  apps/nextjs-website/src/helpers/productHeader.helper.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/cmsApi.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/product.ts
  apps/nextjs-website/src/lib/strapi/codecs/ProductCodec.ts
  apps/nextjs-website/src/lib/strapi/codecs/ReleaseNotesCodec.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchHomepage.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchProducts.ts
  apps/nextjs-website/src/lib/strapi/fetches/fetchReleaseNotes.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeProducts.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeReleaseNotes.ts
  apps/nextjs-website/src/lib/types/product.ts
  apps/nextjs-website/src/messages/it.json
Labels: website, changeset

#1318 [DEV-2122] implement in-memory caching for CMS API data retrieval
  .changeset/tall-cats-hunt.md
  apps/nextjs-website/src/app/[productSlug]/[...releaseNoteSubPathSlugs]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/solutions/[solutionSlug]/[...solutionSubPathSlugs]/page.tsx
  apps/nextjs-website/src/lib/cache.ts
  apps/nextjs-website/src/lib/cmsApi.ts
Labels: website, size/small, changeset

#1345 [DEV-2135] fix images in tables
  .changeset/hungry-kids-provide.md
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/parseContent.ts
Labels: size/small, packages, changeset

#1348 [DEV-2152] Add autoplay to HeroSwiper in home page
  .changeset/clean-lizards-rescue.md
  apps/nextjs-website/package.json
  apps/nextjs-website/src/components/molecules/HeroSwiper/HeroSwiper.tsx
  package-lock.json
Labels: website, size/small, changeset

#1353 Fix CICD lambda permissions
  .changeset/perfect-kiwis-repair.md
  apps/infrastructure/src/modules/cicd/iam.tf
Labels: size/small, infra, changeset
