Repository pagopa/developer-portal, pull requests merged in 2025-04, with the labels that each got.

#1383 [CAI-308] Chatbot/evaluation
  .changeset/tasty-toes-drop.md
  .gitignore
  apps/chatbot/.env.example
  apps/chatbot/README.md
  apps/chatbot/config/params.yaml
  apps/chatbot/docker/app.local.Dockerfile
  apps/chatbot/docker/compose.test.yaml
  apps/chatbot/docker/compose.yaml
  apps/chatbot/docker/files/dynamodb_schemas/local/queries.json
  apps/chatbot/docker/files/dynamodb_schemas/local/salts.json
  apps/chatbot/docker/files/dynamodb_schemas/local/sessions.json
  apps/chatbot/docker/files/dynamodb_schemas/test/queries.json
  apps/chatbot/docker/files/dynamodb_schemas/test/salts.json
  apps/chatbot/docker/files/dynamodb_schemas/test/sessions.json
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/scripts/dynamodb-init-local.sh
  apps/chatbot/scripts/dynamodb-init-test.sh
  apps/chatbot/scripts/run.local.sh
  apps/chatbot/scripts/run.test.sh
  apps/chatbot/src/app/main.py
  apps/chatbot/src/app/routers/queries.py
  apps/chatbot/src/app/routers/sessions.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/create_vector_index.py
  apps/chatbot/src/modules/engine.py
  apps/chatbot/src/modules/evaluation.py
  apps/chatbot/src/modules/evaluator.py
  apps/chatbot/src/modules/handlers.py
  apps/chatbot/src/modules/models.py
  apps/chatbot/src/modules/presidio.py
  apps/chatbot/src/modules/test_chatbot.py
  apps/chatbot/src/modules/utils.py
  apps/chatbot/src/modules/vector_database.py
Labels: size/large, changeset

#1391 [CAI-326] - Tagging PagoPA solutions
  .changeset/tasty-toes-drop.md
  apps/chatbot/config/prompts.yaml
  apps/chatbot/docker/docker-compose-down-api.sh
  apps/chatbot/pytest.ini
  apps/chatbot/scripts/dynamodb-scan-queries.sh
  apps/chatbot/src/app/routers/queries.py
  apps/chatbot/src/app/routers/test_queries.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/evaluator.py
  apps/chatbot/src/modules/presidio.py
  apps/chatbot/src/modules/test_chatbot.py
Labels: size/large, changeset

#1395 [CAI-354] - Update system prompt
  .changeset/gorgeous-spies-wonder.md
  .changeset/honest-ladybugs-protect.md
  apps/chatbot/.env.example
  apps/chatbot/config/eval_prompts.yaml
  apps/chatbot/config/prompts.yaml
  apps/chatbot/src/app/routers/queries.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/engine.py
  apps/chatbot/src/modules/presidio.py
  apps/chatbot/src/modules/test_chatbot.py
Labels: size/small, changeset

#1398 [DEV-2153] Move custom webinar route to a dedicated file
  .changeset/friendly-turtles-roll.md
  apps/strapi-cms/src/api/webinar/controllers/webinar.ts
  apps/strapi-cms/src/api/webinar/routes/01-webinar.ts
  apps/strapi-cms/src/api/webinar/routes/webinar.ts
Labels: size/small, changeset, cms

#1387 [DEV-2233] Show all input items in QuestionsAndAnswers component if no limit is specified
  .changeset/thin-lions-knock.md
  apps/nextjs-website/src/components/molecules/QuestionsAndAnswers/QuestionsAndAnswers.tsx
Labels: website, size/small, changeset

#1386 [DEV-2213] Add validation to the slug field of all Strapi collections
  .changeset/nice-bears-judge.md
  apps/strapi-cms/src/api/case-history/content-types/case-history/schema.json
  apps/strapi-cms/src/api/guide/content-types/guide/schema.json
  apps/strapi-cms/src/api/product/content-types/product/schema.json
  apps/strapi-cms/src/api/solution/content-types/solution/schema.json
Labels: size/small, changeset, cms

#1399 [CAI-365] [CAI-355] [CAI-362] Chatbot/docker scripts
  .changeset/fifty-phones-hope.md
  README.md
  apps/chatbot/.env.example
  apps/chatbot/README.md
  apps/chatbot/config/prompts.yaml
  apps/chatbot/docker/compose.yaml
  apps/chatbot/docker/docker-build-local.sh
  apps/chatbot/docker/docker-compose-build-api.sh
  apps/chatbot/docker/docker-compose-run-create_index.sh
  apps/chatbot/docker/docker-compose-up-api.sh
  apps/chatbot/docker/docker-run-create-index.sh
  apps/chatbot/src/app/main.evaluation.py
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/create_vector_index.py
  apps/chatbot/src/modules/engine.py
  apps/chatbot/src/modules/evaluator.py
  apps/chatbot/src/modules/handlers.py
  apps/chatbot/src/modules/models.py
  apps/chatbot/src/modules/utils.py
  apps/chatbot/src/modules/vector_database.py
Labels: size/small, changeset

#1401 [CAI-364] Jupyter in docker
  .changeset/spicy-moose-decide.md
  apps/chatbot/README.md
  apps/chatbot/docker/app.local.Dockerfile
  apps/chatbot/docker/compose.yaml
  apps/chatbot/docker/docker-compose-run-jupyter.sh
  apps/chatbot/notebooks/chatbot.ipynb
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
Labels: size/small, changeset

#1403 [CAI-375] Fix changeset files
  .changeset/mighty-ties-hear.md
Labels: size/small, changeset

#1405 [DEV-2249] Allow manual trigger of changelog update from GitHub UI
  .github/workflows/changelog.yaml
Labels: workflows, size/small

#1402 [CAI-372] Infra/chatbot additional env vars
  .changeset/blue-ants-raise.md
  apps/chatbot/.env.example
  apps/chatbot/notebooks/chatbot.ipynb
  apps/chatbot/src/modules/evaluation.py
  apps/chatbot/src/modules/evaluator.py
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
Labels: size/small, infra, changeset

#1393 [CAI-349] Add chatbot feedback form
  .changeset/serious-rats-knock.md
  apps/nextjs-website/src/components/molecules/ChatbotFeedbackForm/ChatbotFeedbackForm.tsx
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/stories/molecules/ChatbotFeedbackForm.stories.tsx
Labels: website, size/small, changeset

#1408 [CAI-316] Chatbot/evaluation counter
  .changeset/giant-cycles-repeat.md
  apps/chatbot/.env.example
  apps/chatbot/docker/files/dynamodb_schemas/local/queries.json
  apps/chatbot/src/app/routers/queries.py
  apps/infrastructure/src/modules/chatbot/dynamodb.tf
Labels: size/small, infra, changeset

#1414 [CAI-389] AWS SSM vars prefix
  .changeset/blue-ants-raise.md
  .changeset/healthy-pumpkins-press.md
  .changeset/serious-rats-knock.md
  apps/chatbot/.env.example
  apps/chatbot/docker/compose.test.yaml
  apps/chatbot/docker/compose.yaml
  apps/chatbot/scripts/run.test.sh
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/evaluator.py
  apps/chatbot/src/modules/models.py
  apps/chatbot/src/modules/vector_database.py
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
Labels: size/small, infra, changeset

#1418 [DEV-2131] fix dompurify warning
  .changeset/thirty-wasps-cheer.md
  apps/nextjs-website/package.json
  apps/nextjs-website/src/helpers/parseCkEditorContent.helpers.ts
  package-lock.json
Labels: website, size/small, changeset

#1416 [DEV-2257] Add webinar category to strapi
  .changeset/small-hairs-fly.md
  apps/strapi-cms/src/api/webinar-category/content-types/webinar-category/schema.json
  apps/strapi-cms/src/api/webinar-category/controllers/webinar-category.ts
  apps/strapi-cms/src/api/webinar-category/routes/webinar-category.ts
  apps/strapi-cms/src/api/webinar-category/services/webinar-category.ts
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
Labels: size/small, changeset, cms

#1421 [CAI-388] Reranker
  .changeset/ten-queens-travel.md
  apps/chatbot/.env.example
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/src/modules/chatbot.py
  apps/chatbot/src/modules/engine.py
  apps/chatbot/src/modules/evaluator.py
  apps/chatbot/src/modules/google_reranker.py
  apps/chatbot/src/modules/handlers.py
  apps/chatbot/src/modules/models.py
  apps/chatbot/src/modules/utils.py
  apps/chatbot/src/modules/vector_database.py
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
Labels: infra, changeset

#1422 Disabled ECS autoscaling in dev and align resources
  .changeset/swift-flowers-pay.md
  apps/infrastructure/src/modules/chatbot/bedrock.tf
  apps/infrastructure/src/modules/chatbot/data.tf
  apps/infrastructure/src/modules/chatbot/ecs.tf
  apps/infrastructure/src/modules/chatbot/locals.tf
  apps/infrastructure/src/modules/cicd/codebuild.tf
  apps/infrastructure/src/modules/cicd/iam.tf
  apps/infrastructure/src/modules/cms/ecs.tf
Labels: size/small, infra, changeset

#1424 Extracted chatbot lambda resources from the module
  .changeset/rude-cups-love.md
  apps/infrastructure/src/modules/chatbot/api_gateway_rest.tf
  apps/infrastructure/src/modules/chatbot/cloudwatch_dashboard.tf
  apps/infrastructure/src/modules/chatbot/cloudwatch_metrics_alarms.tf
  apps/infrastructure/src/modules/chatbot/ecr.tf
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
  apps/infrastructure/src/modules/chatbot/moved.tf
  apps/infrastructure/src/modules/chatbot/outputs.tf
Labels: infra, changeset

#1426 [CAI-406] removing similarity postprocessing
  .changeset/eight-seas-tie.md
  apps/chatbot/.env.example
  apps/chatbot/src/modules/engine.py
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
Labels: size/small, infra, changeset

#1423 [CAI-384] ssm mock
  .changeset/lazy-rice-dress.md
  apps/chatbot/.env.example
  apps/chatbot/docker/compose.yaml
  apps/chatbot/poetry.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/src/app/main.py
  apps/chatbot/src/app/mock_aws_services.py
  apps/chatbot/src/app/routers/test_queries.py
  apps/chatbot/src/app/routers/test_sessions.py
  apps/chatbot/src/app/test_main.py
  apps/chatbot/src/modules/utils.py
Labels: size/small, changeset
