Repository pagopa/developer-portal, pull requests merged in 2025-09, with the labels that each got.

#1649 [CAI-566] add versioning to evaluate-chatbot
  .changeset/small-symbols-decide.md
  apps/chatbot-evaluate/package.json
Labels: size/small, changeset

#1665 [DEV-2696] Rename guideLists fixtures and factories file names to guideListPages
  .changeset/empty-tigers-say.md
  apps/nextjs-website/src/lib/strapi/__tests__/factories/guideListPages.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/guideListPages.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeGuideListPageProps.test.ts
Labels: website, size/small, changeset

#1666 [CAI-436] Fix assignement non existing variables
  apps/chatbot/src/app/sessions.py
Labels: size/small

#1654 [DEV-2603] Update runtime nodejs 22x lambda funtions
  .changeset/nine-peas-share.md
  .changeset/ten-points-wear.md
  apps/cognito-functions/eslint.config.mjs
  apps/cognito-functions/package.json
  apps/cognito-functions/src/create-auth-challenge-handler.ts
  apps/cognito-functions/src/post-confirmation-handler.ts
  apps/infrastructure/src/modules/website/lambda.tf
  package-lock.json
Labels: size/small, infra, changeset, cognito-functions

#1669 [DEV-2697] Add tests for all makeProps functions
  .changeset/slimy-rivers-fail.md
  apps/nextjs-website/src/lib/strapi/__tests__/factories/apiDataList.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/apiDataListPages.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/bannerLink.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/parts.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/quickStartGuides.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/tutorialListPage.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/apiData.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/apiDataList.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/apiDataListPages.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/bannerLink.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/parts.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/quickStartGuides.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/tutorialListPage.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/webinarCategory.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeApiDataList.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeApiDataListPages.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeBannerLink.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makePartProps.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeQuickStartGuides.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeTutorialListPages.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeWebinarCategories.test.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeApiDataList.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeApiDataListPages.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeTutorialListPages.ts
  apps/nextjs-website/src/lib/types/webinarCategory.ts
Labels: website, size/small, changeset

#1674 [DEV-2703] Use spyOnConsoleError for tests expecting a console.error to be called
  .changeset/large-rules-watch.md
  apps/nextjs-website/src/lib/strapi/__tests__/makeApiDataList.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeApiDataListPages.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeGuideListPageProps.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeGuidesProps.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeOverviews.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeProducts.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeQuickStartGuides.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeReleaseNotes.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeSolutionListPage.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeSolutions.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeTutorials.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeWebinars.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/spyOnConsole.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeApiDataList.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeApiDataListPages.ts
Labels: website, size/small, changeset

#1672 [DEV-2704] Add Guard for missing slugs in make props functions
  .changeset/fluffy-meals-build.md
  .changeset/large-rules-watch.md
  apps/nextjs-website/src/lib/strapi/__tests__/factories/apiDataList.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/guideListPages.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/guides.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/overviews.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/productCollections.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/products.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/quickStartGuides.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/releaseNotes.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/solutionListPage.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/solutions.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/tutorialListPage.ts
  apps/nextjs-website/src/lib/strapi/__tests__/factories/tutorials.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/overviews.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/solutionListPage.ts
  apps/nextjs-website/src/lib/strapi/__tests__/fixtures/solutions.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeApiDataList.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeApiDataListPages.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeGuideListPageProps.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeGuidesProps.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeOverviews.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeProducts.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeQuickStartGuides.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeReleaseNotes.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeSolutionListPage.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeSolutions.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeTutorialListPages.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeTutorials.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/makeWebinars.test.ts
  apps/nextjs-website/src/lib/strapi/__tests__/spyOnConsole.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeApiDataList.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeApiDataListPages.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeGuideListPages.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeGuides.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeOverviews.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeProducts.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeQuickStartGuides.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeReleaseNotes.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeSolutionListPage.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeSolutions.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeTutorials.ts
Labels: website, size/large, changeset

#1660 [DEV-1240] Update cognito custom message function
  .changeset/tame-camels-scream.md
  apps/cognito-functions/src/custom-message-handler.ts
Labels: size/small, changeset, cognito-functions

#1678 [CAI-584] Fix lost gemini model configurations
  apps/infrastructure/src/env/prod/terraform.tfvars
Labels: size/small, infra

#1617 [CAI-517] Update environment variables to support new gemini models
  apps/infrastructure/src/modules/chatbot/lambda_chatbot.tf
Labels: size/small, infra

#1684 [CAI-585] Update lambda evaluate timeout
  .changeset/dry-clouds-begin.md
  apps/infrastructure/src/modules/chatbot/lambda_evaluate.tf
Labels: size/small, infra, changeset

#1686 [DEV-2843] Update nodejs runtime for website opennext
  .changeset/grumpy-teeth-sing.md
  apps/infrastructure/src/modules/website/opennext.tf
Labels: size/small, infra, changeset

#1694 [DEV-2842] Update sync gitbook action
  .changeset/brown-feet-smell.md
  .github/workflows/sync_gitbook_docs.yaml
  apps/infrastructure/src/modules/website/iam_policy.tf
Labels: workflows, size/small, infra, changeset

#1696 [DEV-2818] Update script to add synced data in s3
  .changeset/giant-pets-type.md
  packages/gitbook-docs/src/scripts/generateGuidesMetadata.ts
  packages/gitbook-docs/src/scripts/generateReleaseNotesMetadata.ts
  packages/gitbook-docs/src/scripts/generateSolutionsMetadata.ts
  packages/gitbook-docs/src/syncedResponses.ts
Labels: size/small, packages, changeset

#1681 [DEV-2815] Improve makeApiDataListPages guards and logs
  .changeset/sixty-bushes-drum.md
  apps/nextjs-website/src/lib/strapi/__tests__/makeApiDataListPages.test.ts
  apps/nextjs-website/src/lib/strapi/makeProps/makeApiDataListPages.ts
Labels: website, size/small, changeset

#1689 [DEV-2817] Update README
  README.md
Labels: size/small

#1685 [CAI-572] Remove Chatbot codecs
  .changeset/thin-ravens-shine.md
  apps/nextjs-website/src/app/profile/chatbot-history/page.tsx
  apps/nextjs-website/src/components/molecules/ChatbotHistoryList/ChatbotHistoryList.tsx
  apps/nextjs-website/src/helpers/chatbot.helper.tsx
  apps/nextjs-website/src/lib/chatbot/__tests__/chatbotApi.test.ts
  apps/nextjs-website/src/lib/chatbot/chatbotConfig.ts
  apps/nextjs-website/src/lib/chatbot/chatbotQueries.ts
  apps/nextjs-website/src/lib/chatbot/chatbotSessions.ts
  apps/nextjs-website/src/lib/chatbot/queries.ts
  apps/nextjs-website/src/lib/strapi/codecs/NullToUndefinedCodec.ts
Labels: website, size/small, changeset

#1626 [DEV-2597] Add a schedule to sync GitBook docs every day at midnight UTC
  .github/workflows/sync_gitbook_docs.yaml
Labels: workflows, size/small

#1701 [DEV-2698] Test code review without increasing the disk space
  .github/workflows/code_review.yaml
Labels: workflows, size/small

#1690 [DEV-2850] Rename and generalize Webinar Category Selectors to Filter Selectors
  .changeset/bright-hotels-drum.md
  apps/nextjs-website/src/components/atoms/FilterButton/FilterButton.tsx
  apps/nextjs-website/src/components/atoms/MobileFilterButton/MobileFilterButton.tsx
  apps/nextjs-website/src/components/molecules/DesktopFilterSelector/DesktopFilterSelector.tsx
  apps/nextjs-website/src/components/molecules/DesktopWebinarCategorySelector/DesktopWebinarCategorySelector.tsx
  apps/nextjs-website/src/components/molecules/MobileFilterSelector/MobileFilterSelector.tsx
  apps/nextjs-website/src/components/organisms/WebinarsTemplate/WebinarsTemplate.tsx
  apps/nextjs-website/src/messages/it.json
  apps/storybook-app/stories/molecules/DesktopFilterSelector.stories.tsx
  apps/storybook-app/stories/molecules/MobileFilterSelector.stories.tsx
Labels: website, changeset
