Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

Add the showInOverview property to TutorialData to select Tutorials on overview pages
  apps/nextjs-website/src/_contents/appIo/tutorialLists.ts
  apps/nextjs-website/src/_contents/ioSign/tutorialLists.ts
  apps/nextjs-website/src/_contents/pagoPa/tutorialLists.ts
  apps/nextjs-website/src/_contents/send/tutorialLists.ts
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/lib/types/tutorialData.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1122] Add options to sign up form
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Add the showInOverview property to TutorialData to select Tutorials on overview pages (#409)
  apps/nextjs-website/src/_contents/appIo/tutorialLists.ts
  apps/nextjs-website/src/_contents/ioSign/tutorialLists.ts
  apps/nextjs-website/src/_contents/pagoPa/tutorialLists.ts
  apps/nextjs-website/src/_contents/send/tutorialLists.ts
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/lib/types/tutorialData.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Update packages/gitbook-docs/src/markdoc/schema/styledText.ts
  packages/gitbook-docs/src/markdoc/schema/styledText.ts
Owners: @datalek, @kin0992

Apply suggestions from code review
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DEV-1086] Fix incorrect code snippet inline parsing (#413)
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/styledText.ts
Owners: @datalek, @kin0992

[DPC-104] Update docs form github
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

[DPC-104] Added new manual App IO
  apps/nextjs-website/src/_contents/appIo/guides.ts
Owners: @datalek, @kin0992

[DPC-104] Added new manual App IO (#417)
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/appIo/guides.ts
Owners: @datalek, @kin0992

[DEV-1122] Add options to sign up form (#416)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Add agreements page
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Update apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/app/profile/agreements/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1120] Add agreements page (#406)
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Fix after review
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/InfoCardEditButton/InfoCardEditButton.tsx
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
  apps/nextjs-website/src/components/molecules/InfoCard/InfoCard.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Remove prod as environment to perform deploy automatically
  .github/workflows/deploy_website.yaml
Owners: @datalek, @kin0992

Remove prod as environment to perform deploy automatically (#418)
  .github/workflows/deploy_website.yaml
Owners: @datalek, @kin0992

Update .infrastructure/55_cognito.tf
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Add user preferences attribute
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

[DEV-1132] Add user preferences attribute (#419)
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

add confirmation modal
  apps/nextjs-website/src/components/atoms/ConfirmationModal/ConfirmationModal.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add delete section
  apps/nextjs-website/src/components/molecules/DeleteSection/DeleteSection.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

add delete section to personal data page
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Show auth pages on production
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add fallback value component
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
  apps/nextjs-website/src/components/molecules/InfoCard/InfoCard.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

update package-lock.json
  package-lock.json
Owners: @datalek, @kin0992

Show auth pages on production (#420)
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1065] New Webinar notification banner (#362)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Fix after review
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/InfoCardEditButton/InfoCardEditButton.tsx
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
  apps/nextjs-website/src/components/molecules/InfoCard/InfoCard.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add fallback value component
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
  apps/nextjs-website/src/components/molecules/InfoCard/InfoCard.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

add personal data page
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

add InfoCardEditButton component
  apps/nextjs-website/src/components/atoms/InfoCardEditButton/InfoCardEditButton.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add info card
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
  apps/nextjs-website/src/components/molecules/InfoCard/InfoCard.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Apply suggestions from code review
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

add loading to user helper
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/molecules/InfoCard/InfoCard.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

add user info helper
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DEV-1119] add profile personal data page (#412)
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/InfoCardEditButton/InfoCardEditButton.tsx
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/molecules/InfoCard/InfoCard.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DEV-1020] Add delete account section (#421)
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/ConfirmationModal/ConfirmationModal.tsx
  apps/nextjs-website/src/components/molecules/DeleteSection/DeleteSection.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

fix endDateTime prop type
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Create OTP email template
  apps/cognito-functions/src/templates/otp-message.ts
Owners: @datalek, @kin0992

Send custom email for OTP
  apps/cognito-functions/src/__tests__/create-auth-challenge-handler.test.ts
  apps/cognito-functions/src/create-auth-challenge-handler.ts
  apps/cognito-functions/src/main.ts
Owners: @datalek, @kin0992
