Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Add condition to show webinars section in home page
  apps/nextjs-website/src/app/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix linting error
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-897): change login icon
  apps/nextjs-website/src/components/atoms/IconLogin/IconLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat: improve SchemaWithExample component
  apps/nextjs-website/declarations.d.ts
  apps/nextjs-website/package.json
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Model.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/RequestBody.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Response.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/SchemaWithExample.tsx
  apps/nextjs-website/src/helpers/swagger.ts
  apps/nextjs-website/tsconfig.json
  package-lock.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Update apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Remove ghost constant
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix guide menu nested style
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix wrong mailto link
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Link.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix GuideMenu styles to optimize click area
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Install jest-mock-extended
  apps/cognito-functions/package.json
  package-lock.json
Owners: @datalek, @kin0992

Add unit tests for post confirmation handler
  apps/cognito-functions/src/__tests__/post-confirmation-confirm-sign-up-handler.test.ts
Owners: @datalek, @kin0992

Update dependencies of cognito-functions
  apps/cognito-functions/package.json
  package-lock.json
Owners: @datalek, @kin0992

Fix GuideMenu styles to optimize click area
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Refactor handler removing try-catch and using TaskEither
  apps/cognito-functions/src/post-confirmation-confirm-sign-up-handler.ts
Owners: @datalek, @kin0992

Update lambda description
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Refactor on predicate
  apps/nextjs-website/src/app/auth/login/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Change variant
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Change copy according to Figma
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

Add AccountActivated page
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/account-activated/page.tsx
  apps/nextjs-website/src/components/atoms/IconFireworks/IconFireworks.tsx
  apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Fixes after code review
  apps/nextjs-website/src/components/atoms/TimeSlot/TimeSlot.tsx
  apps/nextjs-website/src/lib/api.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Extract common values and put it into locals block
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Put env variables into locals block
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Apply PR suggestions
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

[DEV-1057] - Send welcome email when user confirms email address (#361)
  .infrastructure/55_cognito.tf
  apps/cognito-functions/package.json
  apps/cognito-functions/src/__tests__/post-confirmation-confirm-sign-up-handler.test.ts
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/post-confirmation-confirm-sign-up-handler.ts
  apps/cognito-functions/src/send-email-handler.ts
  package-lock.json
Owners: @datalek, @kin0992

chore: remove console.log
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-91] Update version "Approfondimenti sull’integrazione" SEND
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

[DPC-91] added version 2.1 for "Approfondimenti sull’integrazione"
  apps/nextjs-website/src/_contents/send/guides.ts
Owners: @datalek, @kin0992

feat(DEV-863): update URL helper
  apps/nextjs-website/src/__tests__/helpers/url.helper.test.ts
  apps/nextjs-website/src/helpers/url.helper.ts
Owners: @datalek, @kin0992

feat(DEV-863): resolve security error
  apps/nextjs-website/src/__tests__/helpers/url.helper.test.ts
  apps/nextjs-website/src/helpers/url.helper.ts
Owners: @datalek, @kin0992

Use css variables for recursive item indentation in GuideMenu
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-897): login error handling
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

PR comments
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Link.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/link.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Fix Webinar type
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992

link
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Link.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

linter
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Link.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1066] Add webinar and speaker types (#358)
  apps/nextjs-website/src/lib/types/speaker.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992

Add AccountActivated page
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/account-activated/page.tsx
  apps/nextjs-website/src/components/atoms/IconFireworks/IconFireworks.tsx
  apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Update apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

refactor component & improve styling
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Model.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/SchemaWithExample.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/hooks/use-model.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-91] Update version "Approfondimenti sull’integrazione" SEND (#373)
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/send/guides.ts
Owners: @datalek, @kin0992

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1
