Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

pr comments
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/InfoCardEditButton/InfoCardEditButton.tsx
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
  apps/nextjs-website/src/components/molecules/InfoCard/InfoCard.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

linter
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1213): update header on mobile
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/atoms/ProductHeader/ProductHeader.tsx
  apps/nextjs-website/src/components/molecules/MobileProfileMenu/MobileProfileMenu.tsx
  apps/nextjs-website/src/components/molecules/MobileSiteHeader/MobileSiteHeader.tsx
  apps/nextjs-website/src/editorialComponents/Header/Header.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1213): update header on mobile
  apps/nextjs-website/src/components/atoms/ProductHeader/ProductHeader.tsx
  apps/nextjs-website/src/editorialComponents/Header/Header.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-122] Update Knowledge base SEND
  apps/nextjs-website/src/_contents/send/overview.ts
Owners: @datalek, @kin0992

[DPC-122] Update Knowledge base version SEND
  apps/nextjs-website/src/_contents/send/guideLists.ts
Owners: @datalek, @kin0992

[DPC-116] Change url from io-sign --> firma-con-io
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

[DPC-122] Update version knowledge base SEND
  apps/nextjs-website/src/_contents/send/guideLists.ts
Owners: @datalek, @kin0992

[DPC-122] ordered version
  apps/nextjs-website/src/_contents/send/guides.ts
Owners: @datalek, @kin0992

[DPC-122] Update version knowledge base overview SEND
  apps/nextjs-website/src/_contents/send/overview.ts
Owners: @datalek, @kin0992

Implementation of user profile mobile menu
  apps/nextjs-website/src/components/molecules/MobileProfileMenu/MobileProfileMenu.tsx
  apps/nextjs-website/src/components/organisms/ProfileMenu/ProfileMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Implementation of mobile guide menu
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideVersionSelector.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/Menu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1250): update policy text with links
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/messages/it.json
  package-lock.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

fix(DEV-1250): update policy text with links
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Refactor personal-data page to handle both change password and change email
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordFormWrapper.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1250): update policy text with links (#528)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

refactor top position value
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1254): fix mobile layout on guides' pages
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/File.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1241): fix mobile slider overflow
  apps/nextjs-website/src/components/atoms/CtaSlide/CtaSlide.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix vertical align
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

linter
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

remove modifications not related to this pr
  apps/nextjs-website/src/lib/api.ts
Owners: @datalek, @kin0992

Add UX to edit email user attribute
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/EditEmailForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/EmailFormWrapper.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Sanitize input
  apps/nextjs-website/src/helpers/webinarQuestions.helpers.ts
  apps/nextjs-website/src/lib/api.ts
Owners: @datalek, @kin0992

refactor
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Set X-Robots-Tag to 'all' in prod's terraform variables
  .infrastructure/env/prod/terraform.tfvars
Owners: @datalek, @kin0992

Set X-Robots-Tag to 'all' in prod's terraform variables (#536)
  .infrastructure/env/prod/terraform.tfvars
Owners: @datalek, @kin0992

Move white background color from main tag to body tag in layout.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/MainWrapper/MainWrapper.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add webinars list page
  apps/nextjs-website/public/images/webinar-default.png
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/webinars/page.tsx
  apps/nextjs-website/src/components/organisms/WebinarsLayout/WebinarsLayout.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/editorialComponents/Hero/Hero.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/webinar.ts
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

move translations
  apps/nextjs-website/src/__tests__/helpers/siteFooter.helpers.test.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/GoToStep/GoToStep.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/components/atoms/SiteFooter/SiteFooter.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
  apps/nextjs-website/src/components/molecules/CardsGrid/CardsGrid.tsx
  apps/nextjs-website/src/components/molecules/CodeBlockPart/CodeBlockPart.tsx
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/components/organisms/ApiTesterPart/ApiTesterPart.tsx
  apps/nextjs-website/src/components/organisms/News/News.tsx
  apps/nextjs-website/src/components/organisms/TutorialsOverview/TutorialsOverview.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/editorialComponents/Footer/Footer.tsx
  apps/nextjs-website/src/editorialComponents/Footer/components/FooterColumn.tsx
  apps/nextjs-website/src/editorialComponents/Footer/components/LangSwitch.tsx
  apps/nextjs-website/src/editorialComponents/Footer/types.ts
  apps/nextjs-website/src/helpers/metadata.helpers.ts
  apps/nextjs-website/src/helpers/siteFooter.helper.ts
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

revert some translations
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-997] Change password from user profile (#487)
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/InfoCardEditButton/InfoCardEditButton.tsx
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
  apps/nextjs-website/src/components/organisms/Auth/EditPasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordFormWrapper.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordTextField.tsx
  apps/nextjs-website/src/components/organisms/Auth/ProfileInfoCard.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Remove x-robots-tag custom header
  .infrastructure/env/prod/terraform.tfvars
Owners: @datalek, @kin0992

Remove x-robots-tag custom header (#540)
  .infrastructure/env/prod/terraform.tfvars
Owners: @datalek, @kin0992

feat(DEV-782): add ApiViewerMobile component
  apps/nextjs-website/package.json
  apps/nextjs-website/src/components/atoms/ApiViewer/ApiViewerDesktop.tsx
  apps/nextjs-website/src/components/atoms/ApiViewer/ApiViewerMobile.tsx
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.tsx
  package-lock.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-122] Update version knowledge base SEND (#524)
  apps/nextjs-website/src/_contents/send/guideLists.ts
  apps/nextjs-website/src/_contents/send/guides.ts
  apps/nextjs-website/src/_contents/send/overview.ts
Owners: @datalek, @kin0992

Refactor CSP parts to improve readability (#522)
  .infrastructure/60_cdn.tf
Owners: @datalek, @kin0992

feat(DEV-1149): update translations
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992

fix(DEV-829): use Script component for scripts
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/CookieBannerScript/CookieBannerScript.tsx
  apps/nextjs-website/src/components/atoms/CtaSlide/CtaSlide.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-115] Change in name "App IO"
  apps/nextjs-website/src/_contents/appIo/appIo.ts
Owners: @datalek, @kin0992

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1
