Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

add guard on missing variable
  apps/nextjs-website/src/helpers/webinarQuestions.helpers.ts
Owners: @datalek, @kin0992

add variable to workflows
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/.env.default
Owners: @datalek, @kin0992

Set dynamic elements in webinar details page
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/atoms/LiveWebinarChip/LiveWebinarChip.tsx
  apps/nextjs-website/src/components/atoms/SubscribeButton/SubscribeButton.tsx
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/helpers/webinar.helpers.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Fix linting
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Filtering of webinars by date now happens client side
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/lib/api.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Uncomment exit guard
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

pr comments
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

linter
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/InfoCardEditButton/InfoCardEditButton.tsx
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
  apps/nextjs-website/src/components/molecules/InfoCard/InfoCard.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

remove api key and defaults
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/helpers/webinarQuestions.helpers.ts
Owners: @datalek, @kin0992

remove console.log
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add vimeo to CSP
  .infrastructure/60_cdn.tf
Owners: @datalek, @kin0992

Add vimeo to CSP (#497)
  .infrastructure/60_cdn.tf
Owners: @datalek, @kin0992

pr comments
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Move ProfileMenu component to organisms folder
  apps/nextjs-website/src/app/profile/layout.tsx
  apps/nextjs-website/src/components/organisms/ProfileMenu/ProfileMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add webinar player section to webinar detail page
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/components/atoms/VimeoPlayer/VimeoPlayer.tsx
  apps/nextjs-website/src/components/molecules/WebinarPlayerSection/WebinarPlayerSection.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1027, DEV-892] Webinar player section (#494)
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/profile/layout.tsx
  apps/nextjs-website/src/components/atoms/VimeoPlayer/VimeoPlayer.tsx
  apps/nextjs-website/src/components/molecules/WebinarPlayerSection/WebinarPlayerSection.tsx
  apps/nextjs-website/src/components/organisms/ProfileMenu/ProfileMenu.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1080] Webinar questions form (#492)
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

show question only if webinar is live
  apps/nextjs-website/src/components/molecules/WebinarPlayerSection/WebinarPlayerSection.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add mock webinars for testing
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

[DEV-1218] Add dynamic elements in webinar details page (#501)
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/atoms/LiveWebinarChip/LiveWebinarChip.tsx
  apps/nextjs-website/src/components/atoms/SubscribeButton/SubscribeButton.tsx
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/helpers/webinar.helpers.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Add scripts.google
  .infrastructure/60_cdn.tf
Owners: @datalek, @kin0992

fix mock webinar
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

Add scripts.google (#503)
  .infrastructure/60_cdn.tf
Owners: @datalek, @kin0992

pr comments
  apps/nextjs-website/src/app/auth/login/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add scripts.googleusercontent
  .infrastructure/60_cdn.tf
Owners: @datalek, @kin0992

Add scripts.googleusercontent (#504)
  .infrastructure/60_cdn.tf
Owners: @datalek, @kin0992

feat(DEV-1190): catch UserNotConfirmedException
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ChangePasswordForm.tsx
  apps/nextjs-website/src/lib/types/loginSteps.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Apply suggestions from code review
  apps/nextjs-website/src/components/molecules/WebinarPlayerSection/WebinarPlayerSection.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add webinar type
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/components/molecules/WebinarPlayerSection/WebinarPlayerSection.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
  apps/nextjs-website/src/helpers/webinarQuestions.helpers.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

remove mock
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

Apply suggestions from code review
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
  apps/nextjs-website/src/helpers/webinarQuestions.helpers.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Fixes after code review
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

remove type
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fixes after code review
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix after review
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
  apps/nextjs-website/src/helpers/webinarQuestions.helpers.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Add goToWebinar label to WebinarCard
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Fix webinarCard margins
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix addWebinarQuestion signature
  apps/nextjs-website/src/helpers/webinarQuestions.helpers.ts
Owners: @datalek, @kin0992

[DEV-1028] - Connect webinar questions (#500)
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/components/molecules/WebinarPlayerSection/WebinarPlayerSection.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/helpers/webinarQuestions.helpers.ts
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1136] Filtering of webinars by date now happens client side (#502)
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
  apps/nextjs-website/src/lib/api.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992
