Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

update message
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992

redirect to last guide if no one is specified from the path
  apps/nextjs-website/src/lib/api.ts
Owners: @datalek, @kin0992

Add goToWebinar label to WebinarCard (#505)
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Add isVisibleInHome attribute to Webinar type to manage Webinar visibility in home page
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Fix function name
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/lib/api.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Fix webinarCard margins (#506)
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Set isVisibleInHome as mandatory
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992

Add mock hidden webinar
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

[DEV-1223] Add isVisibleInHome attribute to Webinar type (#508)
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1224] Add hidden live webinar (#509)
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

Set webinar section title on a date base
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Set webinar section title on a date base (#510)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Set a different coming soon delta
  apps/nextjs-website/src/helpers/webinar.helpers.tsx
Owners: @datalek, @kin0992

Set a different coming soon delta (#511)
  apps/nextjs-website/src/helpers/webinar.helpers.tsx
Owners: @datalek, @kin0992

Bump version of website
  apps/nextjs-website/package.json
  package-lock.json
Owners: @datalek, @kin0992

Bump version of website (#490)
  apps/nextjs-website/package.json
  package-lock.json
Owners: @datalek, @kin0992

null check
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Pin version of terraform modules
  .infrastructure/55_cognito.tf
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

fix(DEV-1190): fix password label alignment
  apps/nextjs-website/src/components/organisms/Auth/ChangePasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Update current time stamp in handleWebinarState method
  apps/nextjs-website/src/helpers/webinar.helpers.tsx
Owners: @datalek, @kin0992

manage missing end tag
  packages/gitbook-docs/src/markdoc/schema/file.ts
  packages/gitbook-docs/src/parseContent.ts
Owners: @datalek, @kin0992

fix parseContent test
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
Owners: @datalek, @kin0992

Pin version of terraform modules (#512)
  .infrastructure/55_cognito.tf
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Add missing unique "key" prop to TableD element
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add Vimeo CDN to CSP
  .infrastructure/60_cdn.tf
Owners: @datalek, @kin0992

Add Vimeo CDN to CSP (#516)
  .infrastructure/60_cdn.tf
Owners: @datalek, @kin0992

Add missing unique "key" prop to TableD element (#515)
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add simple main dashboard
  .infrastructure/75_dashboard.tf
Owners: @datalek, @kin0992

Revert "[DEV-1224] Add hidden live webinar (#509)"
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

Update dashboard
  .infrastructure/75_dashboard.tf
Owners: @datalek, @kin0992

Revert "[DEV-1224] Add hidden live webinar (#509)" (#518)
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

[DEV-1237] Add simple main dashboard (#517)
  .infrastructure/75_dashboard.tf
Owners: @datalek, @kin0992

Update current time stamp in handleWebinarState method (#513)
  apps/nextjs-website/src/helpers/webinar.helpers.tsx
Owners: @datalek, @kin0992

Fix region of dashboard for FE CDN
  .infrastructure/75_dashboard.tf
Owners: @datalek, @kin0992

[DEV-1237] Fix region of dashboard (#519)
  .infrastructure/75_dashboard.tf
Owners: @datalek, @kin0992

fix(DEV-1226): fix timezone on webinars' dates
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/components/atoms/TimeSlot/TimeSlot.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Remove script.google* from CSP
  .infrastructure/60_cdn.tf
Owners: @datalek, @kin0992

fix(DEV-1190): auth flow fixes
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ChangePasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/helpers/auth.helpers.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Remove script.google* from CSP (#521)
  .infrastructure/60_cdn.tf
Owners: @datalek, @kin0992

Refactor CSP parts to improve readability
  .infrastructure/60_cdn.tf
Owners: @datalek, @kin0992

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1
