Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

[DEV-971] Create app client (#298)
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

[DEV-969] Create AWS Cognito resources (#297)
  .infrastructure/10_dns.tf
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Fix inactive Tab border
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Tabs.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-64] rest calls format standardization
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
Owners: @datalek, @kin0992

[DPC-64] rest calls format standardization (#305)
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
Owners: @datalek, @kin0992

Fix link
  docs/architecture/decisions/0004-use-gitbook-client.md
  docs/architecture/decisions/0007-retrieve-gitbook-content-from-github-repository.md
Owners: @datalek, @kin0992

Fix typo
  docs/architecture/decisions/0007-retrieve-gitbook-content-from-github-repository.md
  docs/how-to/add-a-new-gitbook-docs.md
Owners: @datalek, @kin0992

Add two new how to
  docs/how-to/add-a-new-gitbook-docs.md
  docs/how-to/update-gitbook-docs.md
Owners: @datalek, @kin0992

Add adr about how the GitBook content are rendered
  docs/architecture/decisions/0004-use-gitbook-client.md
  docs/architecture/decisions/0007-retrieve-gitbook-content-from-github-repository.md
Owners: @datalek, @kin0992

add hash router to elements (#303)
  apps/nextjs-website/src/components/atoms/ApiViewer/ApiViewer.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-65] SEND update openapi url
  apps/nextjs-website/src/_contents/send/api.ts
Owners: @datalek, @kin0992

[DPC-65] SEND update openapi url (#306)
  apps/nextjs-website/src/_contents/send/api.ts
Owners: @datalek, @kin0992

Use shell syntax to get environment variable in link-pr-to-jira action
  .github/actions/branch-up-to-date/action.yaml
  .github/actions/link-pr-to-jira-activity/action.yaml
Owners: @datalek, @kin0992

Remove unused input variable
  .github/actions/link-pr-to-jira-activity/action.yaml
Owners: @datalek, @kin0992

[DEV-975] - Use shell syntax to read environment variables (#304)
  .github/actions/branch-up-to-date/action.yaml
  .github/actions/link-pr-to-jira-activity/action.yaml
Owners: @datalek, @kin0992

Fix Modello 321 as Modello 231 shown in the footer
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

[DEV-943] Auth Flow
  apps/nextjs-website/.env.default
  apps/nextjs-website/package.json
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/components/organisms/Auth/AuthProvider.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/config.ts
  package-lock.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-63] update quick start Firma con IO
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
Owners: @datalek, @kin0992

chore: minor improvements
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-63] update quick start Firma con IO (#308)
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
Owners: @datalek, @kin0992

[DEV-941] - Add "how to" and ADR (#293)
  docs/architecture/decisions/0004-use-gitbook-client.md
  docs/architecture/decisions/0007-retrieve-gitbook-content-from-github-repository.md
  docs/how-to/add-a-new-gitbook-docs.md
  docs/how-to/update-gitbook-docs.md
Owners: @datalek, @kin0992

Generate and add metadata tags on pages
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/[productSlug]/api/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/page.tsx
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/page.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-63] last modify quick start
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
Owners: @datalek, @kin0992

Fix sticky headers behaviour and menu visibility in guide pages
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/editorialComponents/Header/Header.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-63] Update quick start (#311)
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
Owners: @datalek, @kin0992

Fix Modello 321 as Modello 231 shown in the footer (#313)
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

Fixes after code review
  apps/nextjs-website/src/components/organisms/GitBookContent/components/CodeBlock.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Hint.tsx
  packages/gitbook-docs/src/markdoc/schema/hint.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Update apps/nextjs-website/src/components/organisms/GitBookContent/components/CodeBlock.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/CodeBlock.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add robots.ts and related new env variable ALLOW_CRAWLER
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/app/robots.ts
  apps/nextjs-website/src/config.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

add ApiViewrLoader component
  apps/nextjs-website/src/components/atoms/ApiVieweLoader/ApiViewerLoader.tsx
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

remove extra skeleton
  apps/nextjs-website/src/components/atoms/ApiVieweLoader/ApiViewerLoader.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fixes after code review
  apps/nextjs-website/src/components/organisms/GitBookContent/components/CodeBlock.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fixes asSeverity input type after code review
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Hint.tsx
  packages/gitbook-docs/src/markdoc/schema/hint.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Fix rendering layout of Embed gitBook block and add custom components to render a link with page info and Figma or CodePen's iframes
  apps/nextjs-website/src/components/atoms/EmbedCodePen/EmbedCodePen.tsx
  apps/nextjs-website/src/components/atoms/EmbedFigma/EmbedFigma.tsx
  apps/nextjs-website/src/components/atoms/EmbedPageInfo/EmbedPageInfo.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Embed.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add children prop to EmbedCodePen.tsx and EmbedPageInfo.tsx
  apps/nextjs-website/src/components/atoms/EmbedCodePen/EmbedCodePen.tsx
  apps/nextjs-website/src/components/atoms/EmbedPageInfo/EmbedPageInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix scroll up behaviour
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/components/atoms/ProductHeader/ProductHeader.tsx
  apps/nextjs-website/src/components/atoms/ProductHeader/useScrollUp.ts
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/editorialComponents/Header/Header.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-940] Sticky headers (#312)
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/components/atoms/ProductHeader/ProductHeader.tsx
  apps/nextjs-website/src/components/atoms/ProductHeader/useScrollUp.ts
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add How To add a new guide
  docs/how-to/add-a-new-gitbook-docs.md
Owners: @datalek, @kin0992

feat(DEV-746): optimize metadata generation
  apps/nextjs-website/jest.config.ts
  apps/nextjs-website/src/__tests__/helpers/metadata.helpers.test.ts
  apps/nextjs-website/src/app/[productSlug]/api/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/page.tsx
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/helpers/metadata.helpers.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-746): add some nullish checks
  apps/nextjs-website/src/app/[productSlug]/guides/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1
