Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

Fix selectEmbedType function
  apps/nextjs-website/src/__tests__/helpers/embed.helpers.test.ts
  apps/nextjs-website/src/helpers/embed.helpers.ts
Owners: @datalek, @kin0992

Remove useless constant
  apps/nextjs-website/src/__tests__/helpers/embed.helpers.test.ts
Owners: @datalek, @kin0992

Fix overview's startInfo layout (#328)
  apps/nextjs-website/src/components/molecules/CardsGrid/CardsGrid.tsx
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix Grid's minWidth
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-791] Fix overview postIntegration layout (#332)
  apps/nextjs-website/src/components/atoms/LinkButton/LinkButton.tsx
  apps/nextjs-website/src/components/molecules/GuideCard/GuideCard.tsx
  apps/nextjs-website/src/components/molecules/LinkCards/LinkCards.tsx
  apps/nextjs-website/src/components/molecules/SectionTitle/SectionTitle.tsx
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Set button variant to 'outlined' in ProductShowcase component (#340)
  apps/nextjs-website/src/components/organisms/ProductsShowcase/ProductsShowcase.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add "should parse @figma/embed" test
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
Owners: @datalek, @kin0992

[DEV-977] Fix rendering layout of Embed gitBook block and add custom components… (#315)
  apps/nextjs-website/src/__tests__/helpers/embed.helpers.test.ts
  apps/nextjs-website/src/components/atoms/EmbedCaption/EmbedCaption.tsx
  apps/nextjs-website/src/components/atoms/EmbedLink/EmbedLink.tsx
  apps/nextjs-website/src/components/molecules/EmbedCodePen/EmbedCodePen.tsx
  apps/nextjs-website/src/components/molecules/EmbedFigma/EmbedFigma.tsx
  apps/nextjs-website/src/components/molecules/EmbedYouTube/EmbedYouTube.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Embed.tsx
  apps/nextjs-website/src/helpers/embed.helpers.ts
  apps/nextjs-website/src/styles/globals.css
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/parseContent.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

add test translated label
  apps/nextjs-website/src/components/organisms/PostIntegration/PostIntegration.tsx
  apps/nextjs-website/src/messages/en.json
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

hide button when script not injected
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/SiteFooter/SiteFooter.tsx
  apps/nextjs-website/src/config.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Preserve spaces during token processing
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/tokenProcessor.ts
Owners: @datalek, @kin0992

Update user pool's password policy
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

menu scaffold
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/profile/page.tsx
  apps/nextjs-website/src/components/atoms/ProfileMenu/ProfileMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-746): refactor metadata helper
  apps/nextjs-website/src/__tests__/helpers/metadata.helpers.test.ts
  apps/nextjs-website/src/app/[productSlug]/api/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/page.tsx
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/helpers/metadata.helpers.ts
  apps/nextjs-website/src/lib/types/makeMetadataFunction.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Update email verification mode
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

menu style + card scaffold
  apps/nextjs-website/src/app/profile/page.tsx
  apps/nextjs-website/src/components/atoms/ProfileMenu/ProfileMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

lint
  apps/nextjs-website/src/components/atoms/ProfileMenu/ProfileMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

style
  apps/nextjs-website/src/app/profile/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Enable MFA
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Explicit the email verification mode to code
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

feat(DEV-897): update login page
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/atoms/IconLogin/IconLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/AuthProvider.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-897): update login page
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

reverting removing cookies
  apps/nextjs-website/src/app/layout.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Update user pool's password policy (#344)
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

[DPC-69] Update link API
  apps/nextjs-website/src/_contents/send/api.ts
Owners: @datalek, @kin0992

[DPC-69] Update link API (#346)
  apps/nextjs-website/src/_contents/send/api.ts
Owners: @datalek, @kin0992

feat(DEV-746): fix title typo
  apps/nextjs-website/src/app/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add markdoc config for swagger component
  packages/gitbook-docs/src/markdoc/schema/swagger.ts
Owners: @datalek, @kin0992

swagger component
  apps/nextjs-website/package.json
  apps/nextjs-website/src/components/organisms/GitBookContent/GitBookContent.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Operation.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Operations.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Parameter.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/ParameterRow.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Parameters.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/RequestBody.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Response.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Responses.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/SchemaWithExample.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Swagger.tsx
  package-lock.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Remove useless code in parseContent test
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
Owners: @datalek, @kin0992

Simplify function in tokenProcessor
  packages/gitbook-docs/src/markdoc/tokenProcessor.ts
Owners: @datalek, @kin0992

add error placeholder
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Swagger.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

update styles
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Operation.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-879] Preserve spaces during token processing (#343)
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/tokenProcessor.ts
Owners: @datalek, @kin0992

feat(DEV-746): add locale parameter
  apps/nextjs-website/src/helpers/metadata.helpers.ts
  apps/nextjs-website/src/lib/types/makeMetadataFunction.ts
Owners: @datalek, @kin0992

feat(DEV-896): update sign up page
  apps/nextjs-website/src/__tests__/helpers/auth.helpers.test.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/helpers/auth.helpers.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-896): add sign up page
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/atoms/IconInbox/IconInbox.tsx
  apps/nextjs-website/src/components/molecules/CheckItem/CheckItem.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/lib/types/signUpFunction.ts
  apps/nextjs-website/src/lib/types/signUpSteps.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-897): add mobile ui
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-897): add mobile ui
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-899] Update Commit Sync Manuals
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992
