Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

[DEV-1133, DEV-996]: User menu (#427)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1128): user should be able to use the MFA code only once
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Improve unit tests
  apps/cognito-functions/src/__tests__/create-auth-challenge-handler.test.ts
Owners: @datalek, @kin0992

Update template and copy for OTP email
  apps/cognito-functions/src/templates/otp-message.ts
Owners: @datalek, @kin0992

Update info sent on OTP verification
  apps/cognito-functions/src/create-auth-challenge-handler.ts
Owners: @datalek, @kin0992

[DEV-1173] Fix OTP email template and copy (#452)
  apps/cognito-functions/src/__tests__/create-auth-challenge-handler.test.ts
  apps/cognito-functions/src/create-auth-challenge-handler.ts
  apps/cognito-functions/src/templates/otp-message.ts
Owners: @datalek, @kin0992

Update copy of agreements page
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992

Update copy of agreements page (#453)
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992

[DPC-92] review Quick start SEND
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Owners: @datalek, @kin0992

changes after review
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-97] missing part
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Owners: @datalek, @kin0992

[DPC-92] review Quick start SEND (#456)
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Owners: @datalek, @kin0992

[DPC-110] Changed slug for webinar
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

fix new line
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

merge
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-110] Changed slug for webinar (#457)
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

[DPC-101] Removed outdated tutorial
  apps/nextjs-website/src/_contents/send/tutorialLists.ts
Owners: @datalek, @kin0992

[DPC-101] Removed outdated tutorial (#455)
  apps/nextjs-website/src/_contents/send/tutorialLists.ts
Owners: @datalek, @kin0992

[DEV-1168] manage webinars subscription withuser preferences (#443)
  README.md
  apps/nextjs-website/src/__tests__/helpers/userPreferences.helpers.test.ts
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
  apps/nextjs-website/src/helpers/userPreferences.helpers.ts
  apps/nextjs-website/src/lib/types/auth.ts
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

add File error icon
  apps/nextjs-website/src/components/atoms/FileErrorIcon/FileErrorIcon.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

manage error in confirmation page
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Allow resend confirmation email on UsernameExistsException
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add page with bg wrapper
  apps/nextjs-website/src/components/atoms/PageBackgroundWrapper/PageBackgroundWrapper.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add todo
  apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordChangedCard.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add single card component
  apps/nextjs-website/src/components/atoms/SingleCard/SingleCard.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix copy confirmLogin page and refactor resendEmail link
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/molecules/ResendEmail/ResendEmail.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/lib/constants.ts
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1152] Disable submit button on form submission (#431)
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Do return a custom error if the user has been verified
  apps/cognito-functions/src/custom-message-handler.ts
Owners: @datalek, @kin0992

Update test verifying an error occurred
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
Owners: @datalek, @kin0992

Fix imports
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1175] Custom error if user is confirmed (#460)
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
Owners: @datalek, @kin0992

Refactor use mui itali icon
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
  apps/nextjs-website/src/components/atoms/FileErrorIcon/FileErrorIcon.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix copy in login page
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

Fix copy
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

Apply suggestions from code review
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1181] Fix confirm login copy (#461)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/molecules/ResendEmail/ResendEmail.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/lib/constants.ts
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Remove isProduction filter
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/lib/api.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DEV-1140] manage unconfirmed user with expired code (#459)
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/atoms/PageBackgroundWrapper/PageBackgroundWrapper.tsx
  apps/nextjs-website/src/components/atoms/SingleCard/SingleCard.tsx
  apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordChangedCard.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Remove isProduction filter (#462)
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/lib/api.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Fix terms of service script
  apps/nextjs-website/src/app/terms-of-service/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1
