Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

storybook setup in the same directory
  apps/nextjs-website/.storybook/main.ts
  apps/nextjs-website/.storybook/preview.ts
  apps/nextjs-website/package.json
  apps/nextjs-website/src/stories/Atoms/Dropdown.stories.ts
  package-lock.json
  package.json
Owners: @datalek, @kin0992

Fix lint error
  apps/nextjs-website/src/_contents/appIo/appIo.ts
Owners: @datalek, @kin0992

add test
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
Owners: @datalek, @kin0992

[DPC-115] Change in name "App IO" (#545)
  apps/nextjs-website/src/_contents/appIo/appIo.ts
Owners: @datalek, @kin0992

[DPC-123] update list order for "Manuale Operativo"
  apps/nextjs-website/src/_contents/send/guides.ts
Owners: @datalek, @kin0992

[DPC-123] update list order for "Manuale Operativo" (#544)
  apps/nextjs-website/src/_contents/send/guides.ts
Owners: @datalek, @kin0992

[DEV-1149]: errors translations (#471)
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DEV-1153] Redirect after login (#485)
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-116]Update ioSign.ts
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
Owners: @datalek, @kin0992

[DPC-116] Update tutorialListsPath.ts
  apps/nextjs-website/src/_contents/ioSign/tutorialListsPath.ts
Owners: @datalek, @kin0992

[DPC-116]Update guideListsPath.ts
  apps/nextjs-website/src/_contents/ioSign/guideListsPath.ts
Owners: @datalek, @kin0992

[DPC-116] Update apiPath.ts
  apps/nextjs-website/src/_contents/ioSign/apiPath.ts
Owners: @datalek, @kin0992

[DPC-116] Update quickStartGuidePath.ts
  apps/nextjs-website/src/_contents/ioSign/quickStartGuidePath.ts
Owners: @datalek, @kin0992

[DPC-116] Update overviewPath.ts
  apps/nextjs-website/src/_contents/ioSign/overviewPath.ts
Owners: @datalek, @kin0992

[DPC-116] Chenge il url from io-sign-->firma-con-io
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

Add e-mail agreement link in e-mail templates
  apps/cognito-functions/src/templates/confirmation-forgot-password.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
  apps/cognito-functions/src/templates/post-confirmation-confirm-sign-up-message.ts
Owners: @datalek, @kin0992

[DPC-116] Chenge il url from io-sign-->firma-con-io (#525)
  apps/nextjs-website/src/_contents/ioSign/apiPath.ts
  apps/nextjs-website/src/_contents/ioSign/guideListsPath.ts
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/ioSign/overviewPath.ts
  apps/nextjs-website/src/_contents/ioSign/quickStartGuidePath.ts
  apps/nextjs-website/src/_contents/ioSign/tutorialListsPath.ts
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

Add BodyWrapper to use theme's white color
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/BodyWrapper/BodyWrapper.tsx
  apps/nextjs-website/src/components/atoms/MainWrapper/MainWrapper.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1226): fix timezone on webinars' dates (#520)
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/components/atoms/TimeSlot/TimeSlot.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Bump version of website
  apps/nextjs-website/package.json
  package-lock.json
Owners: @datalek, @kin0992

Bump version of website (#547)
  apps/nextjs-website/package.json
  package-lock.json
Owners: @datalek, @kin0992

feat(DEV-1190): move sign up advantages in config.ts
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/config.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DEV-1229] Manage missing closing file tag in markdown files (#514)
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/file.ts
  packages/gitbook-docs/src/parseContent.ts
Owners: @datalek, @kin0992

[DPC-119] Update SACI&SANP
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
Owners: @datalek, @kin0992

[DPC-119] update SANP version
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
Owners: @datalek, @kin0992

[DPC-119] Update version SACI & SANP
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

[DPC-119]update SACI &SANP
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Owners: @datalek, @kin0992

[DPC-112] Update developer-portal/docs
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

[DPC-119] Update version SACI & SANP (#498)
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
Owners: @datalek, @kin0992
