Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

add user preferences helper
  apps/nextjs-website/src/helpers/userPreferences.helpers.ts
Owners: @datalek, @kin0992

add tests to user preferences helper
  README.md
  apps/nextjs-website/src/__tests__/helpers/userPreferences.helpers.test.ts
Owners: @datalek, @kin0992

add translations
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992

add subscribe webinar molecule
  apps/nextjs-website/src/components/molecules/SubscribeWebinar/SubscribeWebinar.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add webinar button
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add TODO
  apps/nextjs-website/src/components/molecules/SubscribeWebinar/SubscribeWebinar.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add subscribe atom
  apps/nextjs-website/src/components/atoms/SubscribeButton/SubscribeButton.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix after review
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/molecules/SubscribeWebinar/SubscribeWebinar.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

refactor component file name
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Apply suggestions from code review
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
Owners: @datalek, @kin0992

table checkboxes on true / false values
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Lint code
  apps/nextjs-website/src/config.ts
Owners: @datalek, @kin0992

[DEV-1073] add subscribe button (#438)
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/atoms/SubscribeButton/SubscribeButton.tsx
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DPC-100] Change in overview page SEND
  apps/nextjs-website/src/components/atoms/IconWrapper/IconMap.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-100] changed section "Perchè usare SEND"
  apps/nextjs-website/src/_contents/send/overview.ts
Owners: @datalek, @kin0992

Remove useless import
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-100] Change in overview page SEND (#444)
  apps/nextjs-website/src/_contents/send/overview.ts
  apps/nextjs-website/src/components/atoms/IconWrapper/IconMap.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1117): add RESET_AFTER_MS constant
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/lib/constants.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

feat(DEV-1117): add a feedback when the user clicks on the resend email button
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/lib/types/loader.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Update apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Update apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Update apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

eslint
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

changes after review
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/molecules/CheckItem/CheckItem.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1117]: Resend email feedback (#426)
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/lib/constants.ts
  apps/nextjs-website/src/lib/types/loader.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

feat(DEV-1133): replace route if auth page
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix CheckItem text style
  apps/nextjs-website/src/components/molecules/CheckItem/CheckItem.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix copy
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

Fix copy
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

update helpers and tests
  apps/nextjs-website/src/__tests__/helpers/userPreferences.helpers.test.ts
  apps/nextjs-website/src/helpers/user.helper.ts
  apps/nextjs-website/src/helpers/userPreferences.helpers.ts
Owners: @datalek, @kin0992

update subscribe to webinar molecule
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DEV-1163] table checkboxes on true / false values (#445)
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add webinar detail template
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add subscription button to homepage
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1141, DEV-1142] Signup and Confirm signup copy (#442)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/molecules/CheckItem/CheckItem.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-746] Generate and add metadata tags on pages (#310)
  apps/nextjs-website/jest.config.ts
  apps/nextjs-website/src/__tests__/helpers/metadata.helpers.test.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/[productSlug]/api/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/page.tsx
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/helpers/metadata.helpers.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-107] update arcade link
  apps/nextjs-website/src/_contents/appIo/quickStartGuide.ts
Owners: @datalek, @kin0992

Restore loading after click
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-107] update arcade link (#446)
  apps/nextjs-website/src/_contents/appIo/quickStartGuide.ts
Owners: @datalek, @kin0992

Improve unit test
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
Owners: @datalek, @kin0992
