Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

[DEV-942] update sync manual
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

[DEV-942] update sync manual (#291)
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

Add -recursive option
  .github/actions/setup-terraform/action.yaml
Owners: @datalek, @kin0992

Format terraform files
  .infrastructure/env/dev/terraform.tfvars
  .infrastructure/env/prod/terraform.tfvars
  .infrastructure/identity/main.tf
Owners: @datalek, @kin0992

Fix ToS and Privacy policy mobile layout and transform to async api's function manageUndefinedAndAddProduct
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/styles/globals.css
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-963] Fix terraform fmt command and lint terraform files (#292)
  .github/actions/setup-terraform/action.yaml
  .infrastructure/env/dev/terraform.tfvars
  .infrastructure/env/prod/terraform.tfvars
  .infrastructure/identity/main.tf
Owners: @datalek, @kin0992

Remove blank line
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Update domain of cognito
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Add dns certificate
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

Add schema
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Update DKIM CNAME record
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

Add TXT record
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

Remove optional property
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Explicit auth flows
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Terraform format
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Update cognito devportal schema
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Fix zone_id of cognito dns record
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

Update cognito resources
  .infrastructure/10_dns.tf
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Add email addresses of team members (just to test sign up)
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Get module using SHA instead of tag
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Set up SES using PagoPA's terraform module
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Change region
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Add aws cognito resources
  .infrastructure/11_certs.tf
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Use custom domain to send sign up email
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Remove required custom attributes
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Add aws ses dkim record
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

Terraform format
  .infrastructure/55_cognito.tf
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Use Cognito built in functionality to send email
  .infrastructure/10_dns.tf
  .infrastructure/55_cognito.tf
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Configure devportal cognito with ses
  .infrastructure/10_dns.tf
  .infrastructure/55_cognito.tf
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Change count value
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

Add from email address
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Bump to newer version of module
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Add check field on user cognito definition
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Format terraform files
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Add localhost callback
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Add CNAME records
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

Update comment
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

Format terraform file
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Add ses dkim records
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

i18n setup
  apps/nextjs-website/src/app/[locale]/[productSlug]/api/page.tsx
  apps/nextjs-website/src/app/[locale]/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/[locale]/[productSlug]/guides/page.tsx
  apps/nextjs-website/src/app/[locale]/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[locale]/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[locale]/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/app/[locale]/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/[locale]/layout.tsx
  apps/nextjs-website/src/app/[locale]/not-found.tsx
  apps/nextjs-website/src/app/[locale]/page.tsx
  apps/nextjs-website/src/app/[locale]/privacy-policy/page.tsx
  apps/nextjs-website/src/app/[locale]/terms-of-service/page.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/aaaaa.tsx
  apps/nextjs-website/src/lib/types/apiData.ts
  apps/nextjs-website/src/lib/types/guideListsData.ts
  apps/nextjs-website/src/lib/types/overviewData.ts
  apps/nextjs-website/src/lib/types/quickStartGuideData.ts
  apps/nextjs-website/src/lib/types/tutorialListsData.ts
  apps/nextjs-website/src/messages/en.json
  apps/nextjs-website/src/messages/it.json
  apps/nextjs-website/src/middleware.ts
  package-lock.json
  package.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992
