Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

Fix overview postIntegration layout
  apps/nextjs-website/src/components/atoms/LinkButton/LinkButton.tsx
  apps/nextjs-website/src/components/molecules/GuideCard/GuideCard.tsx
  apps/nextjs-website/src/components/molecules/LinkCards/LinkCards.tsx
  apps/nextjs-website/src/components/molecules/SectionTitle/SectionTitle.tsx
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Open OneTrust preferences on click on resources links
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/SiteFooter/SiteFooter.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

fix eslint complains
  apps/nextjs-website/src/components/atoms/SiteFooter/SiteFooter.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-70] Update version Knowledge-base di SEND (#331)
  apps/nextjs-website/src/_contents/send/guideLists.ts
  apps/nextjs-website/src/_contents/send/guides.ts
  apps/nextjs-website/src/_contents/send/overview.ts
Owners: @datalek, @kin0992

Update .infrastructure/10_dns.tf
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

Change resources' name
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

Remove record DNS
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

Add zone id to let module create the DNS records
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Update email configuration of Cognito
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

[DEV-1006] - Configure SES (#295)
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Fix From email address
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Update content security policy
  .infrastructure/60_cdn.tf
Owners: @datalek, @kin0992

Update content security policy (#335)
  .infrastructure/60_cdn.tf
Owners: @datalek, @kin0992

Add DNS records to verify domain
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

Lint terraform file
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Do not let terraform module handle the DNS records
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

[DEV-1013] - Create DNS records to verify domain for SES (#334)
  .infrastructure/10_dns.tf
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

feat(DEV-896): add account activated page
  apps/nextjs-website/src/app/auth/account-activated/page.tsx
  apps/nextjs-website/src/components/atoms/IconFireworks/IconFireworks.tsx
  apps/nextjs-website/src/components/organisms/Auth/AccountActivated.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1007] - Send registration email using custom SES (#330)
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Refactor Embed component by:
  apps/nextjs-website/src/__tests__/helpers/embed.helpers.test.ts
  apps/nextjs-website/src/components/atoms/EmbedPageInfo/EmbedPageInfo.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Embed.tsx
  apps/nextjs-website/src/helpers/embed.helpers.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Return PageNotFound on prod environment
  apps/nextjs-website/src/app/auth/login/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-896): add translations
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/atoms/IconLogin/IconLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/AccountActivated.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-896): fix typo
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Refactor on Cognito env variables
  .github/actions/build-nextjs-website/action.yaml
  .github/workflows/code_review.yaml
Owners: @datalek, @kin0992

Add missing variables into deploy workflow
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_website.yaml
Owners: @datalek, @kin0992

[DEV-943, DEV-992] Authentication flow (#309)
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/package.json
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/components/organisms/Auth/AuthProvider.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/config.ts
  package-lock.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Fix environment variables
  .github/workflows/deploy_website.yaml
Owners: @datalek, @kin0992

Fix environment variables (#337)
  .github/workflows/deploy_website.yaml
Owners: @datalek, @kin0992

update strapi version
  apps/strapi-cms/package.json
  package-lock.json
Owners: @datalek, @kin0992

add mock homepage and relative components
  apps/strapi-cms/config/admin.ts
  apps/strapi-cms/src/api/homepage/content-types/homepage/schema.json
  apps/strapi-cms/src/api/homepage/controllers/homepage.ts
  apps/strapi-cms/src/api/homepage/routes/homepage.ts
  apps/strapi-cms/src/api/homepage/services/homepage.ts
  apps/strapi-cms/src/components/hero/hero-swiper.json
  apps/strapi-cms/src/components/links/links-list.json
Owners: @datalek, @kin0992

Fix ts issue
  apps/strapi-cms/config/database.ts
  apps/strapi-cms/config/server.ts
  apps/strapi-cms/src/admin/tsconfig.json
  apps/strapi-cms/tsconfig.json
  apps/strapi-cms/types/generated/components.d.ts
  apps/strapi-cms/types/generated/contentTypes.d.ts
Owners: @datalek, @kin0992

Fix linting problem
  apps/strapi-cms/src/api/homepage/controllers/homepage.ts
Owners: @datalek, @kin0992

Add Cognito to connect-src in CSP
  .infrastructure/60_cdn.tf
Owners: @datalek, @kin0992

Set button variant to 'outlined' in ProductShowcase component
  apps/nextjs-website/src/components/organisms/ProductsShowcase/ProductsShowcase.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add Cognito to connect-src in CSP (#339)
  .infrastructure/60_cdn.tf
Owners: @datalek, @kin0992

update strapi homepage model
  apps/strapi-cms/src/api/homepage/content-types/homepage/schema.json
  apps/strapi-cms/types/generated/contentTypes.d.ts
Owners: @datalek, @kin0992

add response and homepage types
  apps/nextjs-website/src/lib/types/homepageApi.ts
  apps/nextjs-website/src/lib/types/responseData.ts
Owners: @datalek, @kin0992

add homepage props
  apps/nextjs-website/src/lib/types/homepage.ts
Owners: @datalek, @kin0992

add homepage api call
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/lib/api.ts
Owners: @datalek, @kin0992

use fetched cms data in homepage
  apps/nextjs-website/src/app/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1
