Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

Add new versions of Privacy policy and Terms of service
  apps/nextjs-website/src/app/privacy-policy/page.tsx
  apps/nextjs-website/src/app/terms-of-service/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix privacy policy script
  apps/nextjs-website/src/app/privacy-policy/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1170, DEV-1171] Add new versions of Privacy policy and Terms of service (#463)
  apps/nextjs-website/src/app/privacy-policy/page.tsx
  apps/nextjs-website/src/app/terms-of-service/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix content
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

Fix content (#464)
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

Fix mobile site header layout
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/editorialComponents/Footer/Footer.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Reload page at logout
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Avoid error page on back
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Refactor md to xs breakpoints
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1186] Reload page at logout (#466)
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1188] Fix mobile site header layout (#465)
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/editorialComponents/Footer/Footer.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1148): user should be aware that the code he entered is not correct
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

chore: remove unused import
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

DEV-1099, fix tables too wide causing the menu to disappear
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix missing swagger-ui dependency
  apps/nextjs-website/package.json
  package-lock.json
Owners: @datalek, @kin0992

add translations
  apps/nextjs-website/src/messages/en.json
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992

fix harcoded messages
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Operations.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-117] changed link to SEND in footer
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

[DPC-117] changed link to SEND in footer (#469)
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

Fix add NEXT_PUBLIC_ENVIRONMENT env variable
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/lib/api.ts
Owners: @datalek, @kin0992

Replace NEXT_PUBLIC_ENVIRONMENT value "development" with "dev"
  apps/nextjs-website/.env.default
Owners: @datalek, @kin0992

Update .github/workflows/code_review.yaml
  .github/workflows/code_review.yaml
Owners: @datalek, @kin0992

Update .github/workflows/deploy_website.yaml
  .github/workflows/deploy_website.yaml
Owners: @datalek, @kin0992

Update .github/workflows/deploy_website.yaml
  .github/workflows/deploy_website.yaml
Owners: @datalek, @kin0992

fix(DEV-1149): add errors translations
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1149): add errors translations
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1191] Fix add NEXT_PUBLIC_ENVIRONMENT env variable (#470)
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/lib/api.ts
Owners: @datalek, @kin0992

fix(DEV-1149): add errors translations
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Move cookie banner script to a client side rendered component
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/CookieBannerScript/CookieBannerScript.tsx
  apps/nextjs-website/src/config.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Move cookieDomainScript import to layout.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/CookieBannerScript/CookieBannerScript.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Temporary enable cookie banner in dev
  apps/nextjs-website/src/components/atoms/CookieBannerScript/CookieBannerScript.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add timeout to lambda functions
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Enable cookie banner in prod
  apps/nextjs-website/src/components/atoms/CookieBannerScript/CookieBannerScript.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add timeout to lambda functions (#473)
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

chore: revert delete file
  .env.default
  apps/nextjs-website/src/app/layout.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Add env variable to set Snackbar auto hide duration
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/components/molecules/ResendEmail/ResendEmail.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/config.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

add translations
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/SpeakerList/SpeakerList.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/messages/en.json
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Add env variable to set the time in milliseconds the user must wait before resending the email
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/components/molecules/ResendEmail/ResendEmail.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/config.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1190): auth fixes
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1190): auth fixes
  apps/nextjs-website/src/components/organisms/Auth/ChangePasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1
