Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

fix(DEV-1194): move translations
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
  apps/nextjs-website/src/components/organisms/Auth/ChangePasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordChangedCard.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordSuccess.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1149): revert lines deletion
  apps/nextjs-website/src/app/layout.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1100] Move cookie banner script to a client side rendered component (#472)
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/CookieBannerScript/CookieBannerScript.tsx
  apps/nextjs-website/src/config.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Remove meta tag
  apps/nextjs-website/src/app/layout.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix convertToNumberOrUndefined function to catch NaN values
  apps/nextjs-website/src/config.ts
Owners: @datalek, @kin0992

fix responsive
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

og tags
  apps/nextjs-website/public/images/dev-portal-home.jpg
  apps/nextjs-website/src/app/layout.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

chore: fix .env.default position
  apps/nextjs-website/.env.default
Owners: @datalek, @kin0992

Remove meta tag (#477)
  apps/nextjs-website/src/app/layout.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Pr comments
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Item.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

selector with has
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Item.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1090] Fix inline images
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Item.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix regression
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Item.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1090] Fix inline images
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Item.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add translations (#474)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/SpeakerList/SpeakerList.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/messages/en.json
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1009] Fix tables too wide causing the menu to disappear (#468)
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fixes after code review
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/src/config.ts
Owners: @datalek, @kin0992

Restore empty row
  .github/actions/build-nextjs-website/action.yaml
Owners: @datalek, @kin0992

[DEV-1165] Table items on multiple lines (#458)
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1090] Fix inline images (#425)
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Item.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1151): re add errors translations
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Fix translations
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

fix(DEV-1151): translate role on profile page
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1151): make companyRoles a list of string
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1151]: translate role on profile page (#467)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Bump version
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

Release version 0.2.0 (#479)
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

Revert "Release version 0.2.0 (#479)"
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

Revert "Release version 0.2.0 (#479)" (#480)
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

Bump version
  apps/nextjs-website/package.json
  package-lock.json
Owners: @datalek, @kin0992

Release version 0.2.0 (#481)
  apps/nextjs-website/package.json
  package-lock.json
Owners: @datalek, @kin0992

fix(DEV-1194): move translations
  apps/nextjs-website/src/app/auth/change-password/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

used existing function
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

dev url
  apps/nextjs-website/src/app/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1194): move translations
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/config.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

fix(DEV-1194): move translations
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/molecules/CheckItem/CheckItem.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

fix(DEV-1194): move translations
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992

previews on every page
  apps/nextjs-website/public/icons/appIo.png
  apps/nextjs-website/public/icons/pagoPa.png
  apps/nextjs-website/public/icons/send.png
  apps/nextjs-website/src/_contents/appIo/appIo.ts
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/pagoPa/pagoPa.ts
  apps/nextjs-website/src/_contents/send/send.ts
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/helpers/metadata.helpers.ts
  apps/nextjs-website/src/lib/types/product.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

dynamic base url
  apps/nextjs-website/src/_contents/appIo/appIo.ts
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/pagoPa/pagoPa.ts
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/helpers/metadata.helpers.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

fix: swagger test
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
Owners: @datalek, @kin0992
