Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

add sticky scrollable guide menu
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Apply code review suggestion
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
Owners: @datalek, @kin0992

add some translations
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Parameters.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/RequestBody.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Responses.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/SchemaWithExample.tsx
  apps/nextjs-website/src/messages/en.json
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Fixes after code review
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Model.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/hooks/use-model.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fixes after code review
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-896]: Sign up page (#345)
  apps/nextjs-website/src/__tests__/helpers/auth.helpers.test.ts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/atoms/IconInbox/IconInbox.tsx
  apps/nextjs-website/src/components/molecules/CheckItem/CheckItem.tsx
  apps/nextjs-website/src/components/molecules/RequiredTextField/RequiredTextField.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/helpers/auth.helpers.ts
  apps/nextjs-website/src/lib/types/sign-up.ts
  apps/nextjs-website/src/lib/types/signUpSteps.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Return PageNotFound on prod environment
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Return PageNotFound on prod environment (#385)
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix the button label's font size and weight
  apps/cognito-functions/src/templates/confirmation-message.ts
Owners: @datalek, @kin0992

Add speakers list component (#364)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/organisms/SpeakerList/SpeakerList.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-96] UPDATE docs
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

[DEV-1069] add extended information (#366)
  apps/nextjs-website/public/images/webinar-image.png
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-96] UPDATE docs (#386)
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

[DEV-1071] add subscribe cta (#367)
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/atoms/SubscribeCta/SubscribeCta.tsx
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Fix wrong recipient text in confirmation message
  apps/cognito-functions/src/templates/confirmation-message.ts
Owners: @datalek, @kin0992

Add post-confirmation-confirm-sign-up-message template
  apps/cognito-functions/src/__tests__/post-confirmation-confirm-sign-up-handler.test.ts
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/post-confirmation-confirm-sign-up-handler.ts
  apps/cognito-functions/src/templates/post-confirmation-confirm-sign-up-message.ts
Owners: @datalek, @kin0992

Add custom-message-forgot-password e-mail template
  apps/cognito-functions/src/__tests__/custom-message-forgot-password-handler.test.ts
  apps/cognito-functions/src/custom-message-forgot-password-handler.ts
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/templates/confirmation-message-forgot-password.ts
Owners: @datalek, @kin0992

typo
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
Owners: @datalek, @kin0992

rename component props
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1045): update texts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1068] SummaryInformationComponent (#368)
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

update bg color in webinar detail page
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix bg color homepage and webinar page
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
  apps/nextjs-website/src/components/organisms/PostIntegration/PostIntegration.tsx
  apps/nextjs-website/src/components/organisms/ProductsShowcase/ProductsShowcase.tsx
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-69] change link to yaml
  apps/nextjs-website/src/_contents/send/api.ts
Owners: @datalek, @kin0992

[DPC-69]Update tutorial
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

fix after review
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/components/atoms/RelatedLinks/RelatedLinks.tsx
  apps/nextjs-website/src/components/molecules/SpeakerPreview/SpeakerPreview.tsx
  apps/nextjs-website/src/components/organisms/SpeakerList/SpeakerList.tsx
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
  apps/nextjs-website/src/editorialComponents/Listing/Listing.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

fixes after code review
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-72] update version "Guida Tecnica"
  apps/nextjs-website/src/_contents/appIo/overview.ts
Owners: @datalek, @kin0992

improve scrollbar gutter style
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

update script injecting mode
  apps/nextjs-website/src/app/privacy-policy/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1045): update texts
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

update injecting mode
  apps/nextjs-website/src/app/terms-of-service/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

replace scrollbarGutter prop with width prop
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1106] Fix mail to continuing to open
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Link.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-69] change link to yaml (#390)
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/send/api.ts
Owners: @datalek, @kin0992

Update .infrastructure/55_cognito.tf
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Add define auth challenge handler
  .infrastructure/55_cognito.tf
  apps/cognito-functions/src/__tests__/define-auth-challenge-handler.test.ts
  apps/cognito-functions/src/define-auth-challenge-handler.ts
  apps/cognito-functions/src/main.ts
Owners: @datalek, @kin0992

[DPC-72] update version "Guida Tecnica" (#391)
  apps/nextjs-website/src/_contents/appIo/overview.ts
Owners: @datalek, @kin0992

Code review
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/tabs.ts
Owners: @datalek, @kin0992

[DEV-1087] Fix wrong tabs grouping (#382)
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/tabs.ts
Owners: @datalek, @kin0992
