Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

Update apps/cognito-functions/src/define-auth-challenge-handler.ts
  apps/cognito-functions/src/define-auth-challenge-handler.ts
Owners: @datalek, @kin0992

[DEV-1092] Add define auth challenge handler (#389)
  .infrastructure/55_cognito.tf
  apps/cognito-functions/src/__tests__/define-auth-challenge-handler.test.ts
  apps/cognito-functions/src/define-auth-challenge-handler.ts
  apps/cognito-functions/src/main.ts
Owners: @datalek, @kin0992

Add verify auth challenge handler
  .infrastructure/55_cognito.tf
  apps/cognito-functions/src/__tests__/verify-auth-challenge-handler.test.ts
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/verify-auth-challenge-handler.ts
Owners: @datalek, @kin0992

Add verify auth challenge handler (#395)
  .infrastructure/55_cognito.tf
  apps/cognito-functions/src/__tests__/verify-auth-challenge-handler.test.ts
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/verify-auth-challenge-handler.ts
Owners: @datalek, @kin0992

Add create auth challenge handler
  .infrastructure/55_cognito.tf
  apps/cognito-functions/src/__tests__/create-auth-challenge-handler.test.ts
  apps/cognito-functions/src/create-auth-challenge-handler.ts
  apps/cognito-functions/src/main.ts
Owners: @datalek, @kin0992

Update apps/cognito-functions/src/create-auth-challenge-handler.ts
  apps/cognito-functions/src/create-auth-challenge-handler.ts
Owners: @datalek, @kin0992

Apply code review suggestions
  apps/cognito-functions/src/__tests__/create-auth-challenge-handler.test.ts
  apps/cognito-functions/src/create-auth-challenge-handler.ts
  apps/cognito-functions/src/main.ts
Owners: @datalek, @kin0992

Fix cognito lambda definition
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

[DEV-1091] Add create auth challenge handler (#393)
  .infrastructure/55_cognito.tf
  apps/cognito-functions/src/__tests__/create-auth-challenge-handler.test.ts
  apps/cognito-functions/src/create-auth-challenge-handler.ts
  apps/cognito-functions/src/main.ts
Owners: @datalek, @kin0992

Remove useless attach_policy_statements
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Remove useless attach_policy_statements (#397)
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

[DEV-1067 DEV-1072] webinar detail page (#363)
  apps/nextjs-website/public/images/webinar-image.png
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/atoms/RelatedLinks/RelatedLinks.tsx
  apps/nextjs-website/src/components/atoms/SubscribeCta/SubscribeCta.tsx
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
  apps/nextjs-website/src/components/molecules/CardsGrid/CardsGrid.tsx
  apps/nextjs-website/src/components/molecules/SpeakerPreview/SpeakerPreview.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/PostIntegration/PostIntegration.tsx
  apps/nextjs-website/src/components/organisms/ProductsShowcase/ProductsShowcase.tsx
  apps/nextjs-website/src/components/organisms/SpeakerList/SpeakerList.tsx
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/editorialComponents/Listing/Listing.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1108): add password reset page
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordForm.tsx
  apps/nextjs-website/src/lib/types/sendResetPasswordSteps.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1111): add change password page
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordChangedCard.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordSuccess.tsx
  apps/nextjs-website/src/lib/types/resetPasswordSteps.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Remove unused imports
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Link.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1106] Fix mail to continuing to open (#396)
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Link.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1098] Privacy policy blank page on android (#392)
  apps/nextjs-website/src/app/privacy-policy/page.tsx
  apps/nextjs-website/src/app/terms-of-service/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1094): add MFA flow
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/lib/types/loginFunction.ts
  apps/nextjs-website/src/lib/types/loginSteps.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DEV-1083] Add sticky scrollable guide menu (#384)
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Align to webinar model
  apps/nextjs-website/src/app/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix use link instead of button
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Change auth_flows
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Link cognito trigger with lambda
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Fix slug issue
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1118] Enable on cognito the custom auth for mfa (#398)
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Fix the button label's font size and weight
  apps/cognito-functions/src/templates/confirmation-message.ts
Owners: @datalek, @kin0992

Fixes after code review
  apps/cognito-functions/package.json
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
  package-lock.json
  package.json
Owners: @datalek, @kin0992

Fix wrong recipient text in confirmation message
  apps/cognito-functions/src/templates/confirmation-message.ts
Owners: @datalek, @kin0992

Apply code review suggestion
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
Owners: @datalek, @kin0992

Add e-mail template for confirmation message
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/company-logo.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
  package-lock.json
  package.json
Owners: @datalek, @kin0992

Fix linting error
  apps/cognito-functions/src/templates/confirmation-message.ts
Owners: @datalek, @kin0992

Rename template
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/custom-message.ts
Owners: @datalek, @kin0992

Fix undefined window
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1045): update header content height
  apps/nextjs-website/src/components/atoms/SiteLabel/SiteLabel.tsx
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Remove unused import
  apps/nextjs-website/src/app/profile/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1111): add change password page
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ChangePasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordSuccess.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1045): update switch cases
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add profileLayout and move personal data page to nested route
  apps/nextjs-website/src/app/profile/layout.tsx
  apps/nextjs-website/src/app/profile/page.tsx
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/ProfileMenu/ProfileMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Refactor on scripts and change build script invoking a file
  apps/cognito-functions/package.json
Owners: @datalek, @kin0992

Add esbuild.config.mjs file
  apps/cognito-functions/esbuild.config.mjs
Owners: @datalek, @kin0992
