Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1121] - Custom esbuild configuration (#400)
  apps/cognito-functions/esbuild.config.mjs
  apps/cognito-functions/package.json
Owners: @datalek, @kin0992

Fixes after code review
  apps/cognito-functions/package.json
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
  package-lock.json
  package.json
Owners: @datalek, @kin0992

Fix the button label's font size and weight
  apps/cognito-functions/src/templates/confirmation-message.ts
Owners: @datalek, @kin0992

Fix wrong recipient text in confirmation message
  apps/cognito-functions/src/templates/confirmation-message.ts
Owners: @datalek, @kin0992

Apply code review suggestion
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
Owners: @datalek, @kin0992

Rename template
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/custom-message.ts
Owners: @datalek, @kin0992

Add e-mail template for confirmation message
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/company-logo.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
  package-lock.json
  package.json
Owners: @datalek, @kin0992

Fix linting error
  apps/cognito-functions/src/templates/confirmation-message.ts
Owners: @datalek, @kin0992

[DEV-1056] Add e-mail template for confirmation message (#380)
  apps/cognito-functions/package.json
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/company-logo.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
  package-lock.json
Owners: @datalek, @kin0992

Remove type
  apps/cognito-functions/src/templates/post-confirmation-confirm-sign-up-message.ts
Owners: @datalek, @kin0992

Fix typo
  .infrastructure/55_cognito.tf
  apps/cognito-functions/src/main.ts
Owners: @datalek, @kin0992

Rename handler
  .infrastructure/55_cognito.tf
  apps/cognito-functions/src/main.ts
Owners: @datalek, @kin0992

[DEV-1024] Add post confirmation confirm sign up message template (#387)
  .infrastructure/55_cognito.tf
  apps/cognito-functions/src/__tests__/post-confirmation-confirm-sign-up-handler.test.ts
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/post-confirmation-confirm-sign-up-handler.ts
  apps/cognito-functions/src/templates/post-confirmation-confirm-sign-up-message.ts
Owners: @datalek, @kin0992

feat(DEV-1111): catch invalid link error
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/change-password/page.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1045]: header user info (#369)
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/SiteLabel/SiteLabel.tsx
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/lib/types/auth.ts
  package-lock.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Handle CustomMessage_ForgotPassword event
  apps/cognito-functions/src/custom-message-handler.ts
Owners: @datalek, @kin0992

Add unit tests
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
Owners: @datalek, @kin0992

Add forgot password template
  apps/cognito-functions/src/templates/confirmation-forgot-password.ts
Owners: @datalek, @kin0992

[DEV-1110] - Add forgot password email handler (#401)
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/confirmation-forgot-password.ts
Owners: @datalek, @kin0992

WebinarBanner render only client side
  apps/nextjs-website/src/app/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

chore: fix typo
  apps/nextjs-website/src/components/organisms/Auth/ChangePasswordForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

enable cookie banner in dev
  apps/nextjs-website/src/app/layout.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

replace date-fns isSameDay with custom one
  apps/nextjs-website/src/components/atoms/TimeSlot/TimeSlot.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

update webinar dates type
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
  apps/nextjs-website/src/components/atoms/TimeSlot/TimeSlot.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Apply code review suggestion
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/attributes.ts
Owners: @datalek, @kin0992

[DEV-1115] Test addition
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
Owners: @datalek, @kin0992

[DEV-1115] Added parsing for links to new spaces with URL '127.0.0.1:5000'
  packages/gitbook-docs/src/markdoc/attributes.ts
Owners: @datalek, @kin0992

Lint 36 line
  packages/gitbook-docs/src/markdoc/attributes.ts
Owners: @datalek, @kin0992

show cookie banner only in prod
  apps/nextjs-website/src/app/layout.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1115] Added parsing for links to new spaces with URL '127.0.0.1:… (#394)
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/attributes.ts
Owners: @datalek, @kin0992

Fix condition and remove explicit cast
  apps/nextjs-website/src/components/atoms/TimeSlot/TimeSlot.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-88] Update pagoPA manuals
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Owners: @datalek, @kin0992

[DPC-88] Update docs
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

chore: return PageNotFound on prod env
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

chore: remove replace
  apps/nextjs-website/src/app/auth/change-password/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Lint code
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Owners: @datalek, @kin0992

Change entry point
  apps/cognito-functions/esbuild.config.mjs
Owners: @datalek, @kin0992

Remove prebuild script
  apps/cognito-functions/package.json
Owners: @datalek, @kin0992

feat(DEV-1019): add button disabled state
  apps/nextjs-website/src/components/organisms/Auth/ChangePasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1121] Improve cognito-functions build (#405)
  apps/cognito-functions/esbuild.config.mjs
  apps/cognito-functions/package.json
Owners: @datalek, @kin0992

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1
