Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

feat(DEV-896): save sign up info locally
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Update unit tests to handle CustomMessage_ResendCode trigger
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
Owners: @datalek, @kin0992

Invoke lambda also on CustomMessage_ResendCode
  apps/cognito-functions/src/custom-message-handler.ts
Owners: @datalek, @kin0992

Update apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
Owners: @datalek, @kin0992

Refactor unit test
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
Owners: @datalek, @kin0992

Use common env
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
Owners: @datalek, @kin0992

[DEV-1102] - Handle CustomMessage_ResendCode trigger (#378)
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
Owners: @datalek, @kin0992

pr suggestions
  packages/gitbook-docs/src/markdoc/attributes.ts
  packages/gitbook-docs/src/markdoc/schema/link.ts
Owners: @datalek, @kin0992

feat(DEV-896): remove localStorage use
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add e-mail template for confirmation message
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/company-logo.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
  package-lock.json
  package.json
Owners: @datalek, @kin0992

[DPC-86] Update Tutorial contents
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

Rename template
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/custom-message.ts
Owners: @datalek, @kin0992

pr comments
  packages/gitbook-docs/src/markdoc/attributes.ts
Owners: @datalek, @kin0992

linting
  packages/gitbook-docs/src/markdoc/attributes.ts
Owners: @datalek, @kin0992

create use-spec hook
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/hooks/use-spec.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

refactor & add messages
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Swagger.tsx
  apps/nextjs-website/src/messages/en.json
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

feat(DEV-1045): add dev portal user type
  apps/nextjs-website/package.json
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/lib/types/auth.ts
  package-lock.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1045): add missing fields to type
  apps/nextjs-website/src/lib/types/auth.ts
Owners: @datalek, @kin0992

Fixes after code review
  apps/cognito-functions/package.json
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
  package-lock.json
  package.json
Owners: @datalek, @kin0992

Fix linting error
  apps/cognito-functions/src/templates/confirmation-message.ts
Owners: @datalek, @kin0992

[DPC-88] Added new manuals
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Owners: @datalek, @kin0992

feat(DEV-896): update sign up page logic
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  file.patch
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

new test and debug
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/tabs.ts
Owners: @datalek, @kin0992

merge
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-88] update lint
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Owners: @datalek, @kin0992

Update apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Update apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Update apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Update apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

pr suggestions
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-88] lint
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Owners: @datalek, @kin0992

feat(DEV-896): add SignUpUserData type
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/lib/types/sign-up.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DPC-95] Update Tutorial SEND
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

fix tab grouping
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/tabs.ts
Owners: @datalek, @kin0992

[DPC-86] Update Tutorial contents (#379)
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

Apply suggestions from code review
  packages/gitbook-docs/src/markdoc/schema/link.ts
Owners: @datalek, @kin0992

Apply suggestion from code review
  packages/gitbook-docs/src/markdoc/attributes.ts
Owners: @datalek, @kin0992

[DEV-1088] Fix wrong mailto link (#371)
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/attributes.ts
Owners: @datalek, @kin0992

[DPC-94] Update docs
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

chore: remove unused file
  file.patch
Owners: @datalek, @kin0992
