Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Update webinar type
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992

update webinar contents and components
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

update start info component
  apps/nextjs-website/src/components/molecules/CardsGrid/CardsGrid.tsx
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add webinar page
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/lib/api.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

remove console log
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-896): fix graphichs glitches
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add speakers list component
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/organisms/SpeakerList/SpeakerList.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1045): add user info on header
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-81] Update support link
  apps/nextjs-website/src/_contents/send/bannerLinks.ts
Owners: @datalek, @kin0992

Update apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Update apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Update apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Update apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

pr comments
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

update webinar type and conent
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992

add image
  apps/nextjs-website/public/images/webinar-image.png
Owners: @datalek, @kin0992

update webinar page
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

SummaryInformationComponent
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add subscribe cta label to webinar
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992

add subscribe cta component
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/atoms/SubscribeCta/SubscribeCta.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1045): add user info on header
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1045): add translations
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Remove unnecessary guard
  apps/nextjs-website/src/components/atoms/TimeSlot/TimeSlot.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Set link property as optional
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Temporarily remove link to webinars list page
  apps/nextjs-website/src/app/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-81] Update support link (#365)
  apps/nextjs-website/src/_contents/send/bannerLinks.ts
Owners: @datalek, @kin0992

Create test file with data structure
  apps/cognito-functions/src/__tests__/send-email-handler.test.ts
Owners: @datalek, @kin0992

Create lambda resources
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Create first draft of the lambda function
  apps/cognito-functions/src/send-email-handler.ts
Owners: @datalek, @kin0992

Install aws-sdk/client-ses
  apps/cognito-functions/package.json
  package-lock.json
Owners: @datalek, @kin0992

Add new handler into main file
  apps/cognito-functions/src/main.ts
Owners: @datalek, @kin0992

Put FROM_EMAIL_ADDRESS into a local variable
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Parse config and extrac fromEmailAddress from there
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/send-email-handler.ts
Owners: @datalek, @kin0992

Add children prop to WebinarsSection e WebinarCard components
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/lib/api.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Add env variable on terraform
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Rename lambda file
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/post-confirmation-confirm-sign-up-handler.ts
Owners: @datalek, @kin0992

Rename function
  apps/cognito-functions/src/post-confirmation-confirm-sign-up-handler.ts
Owners: @datalek, @kin0992

Remove unused export
  apps/cognito-functions/src/post-confirmation-confirm-sign-up-handler.ts
Owners: @datalek, @kin0992

Rename test file
  apps/cognito-functions/src/__tests__/post-confirmation-confirm-sign-up-handler.test.ts
Owners: @datalek, @kin0992

Hide webinars in production
  apps/nextjs-website/src/lib/api.ts
Owners: @datalek, @kin0992

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1
