Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

Latest guide list Firma
  apps/nextjs-website/src/_contents/ioSign/guideLists.ts
Owners: @datalek, @kin0992

Insert latest guide Firma
  apps/nextjs-website/src/_contents/ioSign/guides.ts
Owners: @datalek, @kin0992

insert latest quickstart Firma con IO
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
Owners: @datalek, @kin0992

insert latest version pagopa guides
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
Owners: @datalek, @kin0992

insert latest pagoPA
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Owners: @datalek, @kin0992

insert latest overview pagoPA
  apps/nextjs-website/src/_contents/pagoPa/overview.ts
Owners: @datalek, @kin0992

Latest in quickStartGuide pagoPA
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
Owners: @datalek, @kin0992

Insert latest in guideLists SEND
  apps/nextjs-website/src/_contents/send/guideLists.ts
Owners: @datalek, @kin0992

insert latest guides SEND
  apps/nextjs-website/src/_contents/send/guides.ts
Owners: @datalek, @kin0992

Insert latest overview SEND
  apps/nextjs-website/src/_contents/send/overview.ts
Owners: @datalek, @kin0992

Replace default image for meta tags (#488)
  apps/nextjs-website/public/images/dev-portal-home.jpg
Owners: @datalek, @kin0992

Remove legacy image
  apps/nextjs-website/public/images/webinar-image.png
Owners: @datalek, @kin0992

[DEV-1205] changed image in page webinar
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

[DEV-1205] Added image for io webinar
  apps/nextjs-website/public/images/webinar-io-sm.png
Owners: @datalek, @kin0992

[DEV-1205] Added image for io webinar (#482)
  apps/nextjs-website/public/images/webinar-image.png
  apps/nextjs-website/public/images/webinar-io-sm.png
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

fix: file names
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Model.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Swagger.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/hooks/useModel.ts
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/hooks/useSpec.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1148): reactivate button on re login
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Replace SiteHeader's mobile layout
  apps/nextjs-website/src/components/atoms/DesktopUserInfo/DesktopUserInfo.tsx
  apps/nextjs-website/src/components/atoms/MobileUserInfo/MobileUserInfo.tsx
  apps/nextjs-website/src/components/molecules/DesktopSiteHeader/DesktopSiteHeader.tsx
  apps/nextjs-website/src/components/molecules/MobileSiteHeader/MobileSiteHeader.tsx
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

add webinar questions form
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

add disabled prop
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-102] New tutorial SEND sync
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

changes after review
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
  apps/nextjs-website/src/components/organisms/Auth/EditPasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/ProfileInfoCard.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Fix linting
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix linting
  apps/nextjs-website/src/_contents/makeDocs.ts
Owners: @datalek, @kin0992

Move ProfileMenu component to organisms folder
  apps/nextjs-website/src/app/profile/layout.tsx
  apps/nextjs-website/src/components/organisms/ProfileMenu/ProfileMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add webinar player section to webinar detail page
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/components/atoms/VimeoPlayer/VimeoPlayer.tsx
  apps/nextjs-website/src/components/molecules/WebinarPlayerSection/WebinarPlayerSection.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

lint error
  apps/nextjs-website/src/_contents/makeDocs.ts
Owners: @datalek, @kin0992

[DPC-102] New tutorial SEND sync (#493)
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

Add files via upload
  apps/nextjs-website/public/images/send-tutorial-2.png
Owners: @datalek, @kin0992

[DPC-102] Added new tutorial SEND
  apps/nextjs-website/src/_contents/send/tutorialLists.ts
Owners: @datalek, @kin0992

[DPC-102] Added new tutorial SEND (#495)
  apps/nextjs-website/public/images/send-tutorial-2.png
  apps/nextjs-website/src/_contents/send/tutorialLists.ts
Owners: @datalek, @kin0992

fix(DEV-1190): fix auth flow
  apps/nextjs-website/src/components/molecules/CheckItem/CheckItem.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

changes after review
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

changes after review
  apps/nextjs-website/src/components/organisms/Auth/EditPasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordTextField.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

add error state to password text field label
  apps/nextjs-website/src/components/organisms/Auth/PasswordTextField.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

editable profile
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/InfoCardEditButton/InfoCardEditButton.tsx
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
  apps/nextjs-website/src/components/molecules/InfoCard/InfoCard.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

feat(DEV-1190): validate form on submit click
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

feat(DEV-1190): validate form on submit click
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add question helper and update config
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/helpers/webinarQuestions.helpers.ts
Owners: @datalek, @kin0992

update question form and add errors
  apps/nextjs-website/src/components/molecules/WebinarPlayerSection/WebinarPlayerSection.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/organisms/WebinarQuestionsForm/WebinarQuestionsForm.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992
