Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

temporary fix for not specified language
  apps/nextjs-website/src/app/not-found.tsx
  apps/nextjs-website/src/components/atoms/aaaaa.tsx
  apps/nextjs-website/src/middleware.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DPC-60] change in curl command
  apps/nextjs-website/src/_contents/appIo/quickStartGuide.ts
Owners: @datalek, @kin0992

change in curl command
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
Owners: @datalek, @kin0992

Use cognito default method to send email
  .infrastructure/55_cognito.tf
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Remove SES related stuff
  .infrastructure/10_dns.tf
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Add SES configuration file
  .infrastructure/65_ses.tf
Owners: @datalek, @kin0992

Add DNS records to verify domain
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

Create TLS certificate for auth.developer.pagopa.it
  .infrastructure/11_certs.tf
Owners: @datalek, @kin0992

Create Cognito user pool
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Create Cognito app client
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Create TLS certificate for auth.developer.pagopa.it (#296)
  .infrastructure/11_certs.tf
Owners: @datalek, @kin0992

Create Cognito user pool
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Create user pool domain
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Create A record for user pool domain
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

Create Cognito user pool
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Iterate to add DNS record
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

Iterate to add DNS record (#300)
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

remove robots.txt
  apps/nextjs-website/public/robots.txt
Owners: @datalek, @kin0992

Create Cognito user pool
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Update .infrastructure/55_cognito.tf
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Update apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
Owners: @datalek, @kin0992

Apply suggestions from code review
  apps/nextjs-website/src/_contents/appIo/quickStartGuide.ts
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
Owners: @datalek, @kin0992

[DEV-970] Create user pool domain (#299)
  .infrastructure/10_dns.tf
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

[DPC-60] change in curl string (#294)
  apps/nextjs-website/src/_contents/appIo/quickStartGuide.ts
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
Owners: @datalek, @kin0992

[DEV-970] Create user pool domain (#299)
  .infrastructure/10_dns.tf
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Update .infrastructure/55_cognito.tf
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Create Cognito user pool
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

[DEV-971] Create app client (#298)
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Update .infrastructure/55_cognito.tf
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Add temporary_password_validity_days option
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Add comments about attributes
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

[DPC-63] update quick start contents
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
Owners: @datalek, @kin0992

[DPC-63] Update quick start contents (#302)
  apps/nextjs-website/src/_contents/ioSign/quickStartGuide.ts
Owners: @datalek, @kin0992

add hash router to elements
  apps/nextjs-website/src/components/atoms/ApiViewer/ApiViewer.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix rendering layout of these gitBook blocks:
  apps/nextjs-website/src/components/atoms/IconWrapper/IconMap.ts
  apps/nextjs-website/src/components/organisms/GitBookContent/components/CodeBlock.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Expandable.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Hint.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Quote.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Tabs.tsx
  packages/gitbook-docs/src/markdoc/schema/code.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Add temporary_password_validity_days option
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Create Cognito user pool
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

[DEV-970] Create user pool domain (#299)
  .infrastructure/10_dns.tf
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Add comments about attributes
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Update .infrastructure/55_cognito.tf
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1
