Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Extract parser to separate file
  apps/cognito-functions/src/templates/mjmlParser.ts
Owners: @datalek, @kin0992

Refactor on templates
  apps/cognito-functions/src/templates/confirmation-forgot-password.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
  apps/cognito-functions/src/templates/post-confirmation-confirm-sign-up-message.ts
Owners: @datalek, @kin0992

feat(DEV-1094): add confirm login component
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/config.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Refactor on MJML parser (#403)
  apps/cognito-functions/src/templates/confirmation-forgot-password.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
  apps/cognito-functions/src/templates/mjmlParser.ts
  apps/cognito-functions/src/templates/post-confirmation-confirm-sign-up-message.ts
Owners: @datalek, @kin0992

[DPC-92] Update QuickStart SEND
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Owners: @datalek, @kin0992

Remove encodeURI
  apps/cognito-functions/src/custom-message-handler.ts
Owners: @datalek, @kin0992

Fix email templates
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/company-logo.ts
  apps/cognito-functions/src/templates/confirmation-forgot-password.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
  apps/cognito-functions/src/templates/post-confirmation-confirm-sign-up-message.ts
  apps/nextjs-website/public/images/logo-pago-pa.png
Owners: @datalek, @kin0992

Improve test of custom message handler
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
Owners: @datalek, @kin0992

Remove console logs
  apps/cognito-functions/src/custom-message-handler.ts
Owners: @datalek, @kin0992

[DEV-1124] Remove encodeURI (#408)
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
Owners: @datalek, @kin0992

add user info helper
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

add InfoCardEditButton component
  apps/nextjs-website/src/components/atoms/InfoCardEditButton/InfoCardEditButton.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add info card
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
  apps/nextjs-website/src/components/molecules/InfoCard/InfoCard.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add personal data page
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Rename test file
  apps/cognito-functions/src/__tests__/post-confirmation-handler.test.ts
Owners: @datalek, @kin0992

Rename handler
  apps/cognito-functions/src/post-confirmation-handler.ts
Owners: @datalek, @kin0992

Refactor after renaming
  apps/cognito-functions/src/main.ts
Owners: @datalek, @kin0992

add loading to user helper
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/molecules/InfoCard/InfoCard.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DEV-1086] Fix incorrect code snippet inline parsing
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/styledText.ts
Owners: @datalek, @kin0992

[DEV-1123] - Improve PostConfirmationTriggerEvent handling (#410)
  apps/cognito-functions/src/__tests__/post-confirmation-handler.test.ts
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/post-confirmation-handler.ts
Owners: @datalek, @kin0992

[DPC-92] Update QuickStart SEND
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Owners: @datalek, @kin0992

linting
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Owners: @datalek, @kin0992

Rename function
  apps/nextjs-website/src/app/auth/change-password/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Cleanup code
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Replace img tag with mj-image
  apps/cognito-functions/src/templates/confirmation-forgot-password.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
  apps/cognito-functions/src/templates/post-confirmation-confirm-sign-up-message.ts
Owners: @datalek, @kin0992

[DEV-1108, DEV-1109, DEV-1111, DEV-1112]: Reset password flow (#399)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ChangePasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordChangedCard.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordSuccess.tsx
  apps/nextjs-website/src/lib/types/resetPasswordSteps.ts
  apps/nextjs-website/src/lib/types/sendResetPasswordSteps.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-92] Update QuickStart SEND (#414)
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Owners: @datalek, @kin0992

[DPC-88] Update docs
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

Lint code
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Owners: @datalek, @kin0992

[DPC-92] Update QuickStart SEND
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Owners: @datalek, @kin0992

[DPC-88] Update pagoPA manuals
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Owners: @datalek, @kin0992

feat(DEV-1094): fix bugs
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

chore: fix typo
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

chore: fix typo
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Align left logo in e-mail template
  apps/cognito-functions/src/templates/confirmation-forgot-password.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
  apps/cognito-functions/src/templates/post-confirmation-confirm-sign-up-message.ts
Owners: @datalek, @kin0992

[DPC-88] Update pagoPA manuals (#404)
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Owners: @datalek, @kin0992

[DEV-1125] Fix issue about logo on email (#411)
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/templates/company-logo.ts
  apps/cognito-functions/src/templates/confirmation-forgot-password.ts
  apps/cognito-functions/src/templates/confirmation-message.ts
  apps/cognito-functions/src/templates/post-confirmation-confirm-sign-up-message.ts
  apps/nextjs-website/public/images/logo-pago-pa.png
Owners: @datalek, @kin0992

[DEV-1094]: Login MFA flow (#407)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/lib/types/loginFunction.ts
  apps/nextjs-website/src/lib/types/loginSteps.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-92] Typo error
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Owners: @datalek, @kin0992

[DPC-92] Typo error (#415)
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Owners: @datalek, @kin0992

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1
