Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

[DEV-904] - Uncomment "Carta Giovani"
  apps/nextjs-website/src/_contents/appIo/guides.ts
Owners: @datalek, @kin0992

missing comma
  apps/nextjs-website/src/_contents/appIo/guides.ts
Owners: @datalek, @kin0992

[DEV-792] Rendering gitbook blocks (#307)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/IconWrapper/IconMap.ts
  apps/nextjs-website/src/components/molecules/CodeBlockPart/CodeBlockPart.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Cards.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/CodeBlock.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Expandable.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Hint.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Quote.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/StyledText.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Tabs.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/attributes.ts
  packages/gitbook-docs/src/markdoc/schema/code.ts
  packages/gitbook-docs/src/markdoc/schema/heading.ts
  packages/gitbook-docs/src/markdoc/schema/link.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

set action variables
  .github/actions/build-nextjs-website/action.yaml
Owners: @datalek, @kin0992

Fix lining error
  apps/nextjs-website/src/_contents/appIo/guides.ts
Owners: @datalek, @kin0992

Fix lining errors
  apps/nextjs-website/src/_contents/appIo/guides.ts
Owners: @datalek, @kin0992

[DPC-72] Update manuals IO App (#322)
  apps/nextjs-website/package.json
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
  apps/nextjs-website/src/_contents/appIo/guides.ts
  apps/nextjs-website/src/_contents/appIo/overview.ts
Owners: @datalek, @kin0992

[DEV-904] Uncomment Carta Giovani in guides.ts
  apps/nextjs-website/src/_contents/appIo/guides.ts
Owners: @datalek, @kin0992

Fix lining error
  apps/nextjs-website/src/_contents/appIo/guides.ts
Owners: @datalek, @kin0992

Fix overview's startInfo layout
  apps/nextjs-website/src/components/molecules/CardsGrid/CardsGrid.tsx
  apps/nextjs-website/src/components/organisms/StartInfo/StartInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix link in guide list
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
Owners: @datalek, @kin0992

[DEV-904] Uncomment Carta Giovani in guides.ts (#324)
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
  apps/nextjs-website/src/_contents/appIo/guides.ts
Owners: @datalek, @kin0992

[DPC-69] Single API box fro SEND
  apps/nextjs-website/src/_contents/send/overview.ts
Owners: @datalek, @kin0992

[DPC-69] API Send Update
  apps/nextjs-website/src/_contents/send/api.ts
Owners: @datalek, @kin0992

Fix lining error
  apps/nextjs-website/src/_contents/send/overview.ts
Owners: @datalek, @kin0992

Remove legacy objects
  apps/nextjs-website/src/_contents/send/api.ts
  apps/nextjs-website/src/_contents/send/apiPath.ts
  apps/nextjs-website/src/_contents/send/overview.ts
Owners: @datalek, @kin0992

[DPC-69] API Send Update (#323)
  apps/nextjs-website/src/_contents/send/api.ts
  apps/nextjs-website/src/_contents/send/apiPath.ts
  apps/nextjs-website/src/_contents/send/overview.ts
Owners: @datalek, @kin0992

[DPC-73] link typo
  apps/nextjs-website/src/_contents/appIo/overview.ts
Owners: @datalek, @kin0992

[DPC-73] link typo (#329)
  apps/nextjs-website/src/_contents/appIo/overview.ts
Owners: @datalek, @kin0992

[DPC-66] Add new manuals in list page
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
Owners: @datalek, @kin0992

[DPC-66] error in link
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
Owners: @datalek, @kin0992

Rename variable using camelCase
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Owners: @datalek, @kin0992

Fix lining errors
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
Owners: @datalek, @kin0992

[DPC-66] lint error
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
Owners: @datalek, @kin0992

[DPC-66] Add new manuals in guides
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Owners: @datalek, @kin0992

[DPC-66] Upload new manual for pagopa
  apps/nextjs-website/public/images/pago-pa-manuale-bo-ec-mobile.png
  apps/nextjs-website/public/images/pago-pa-manuale-bo-ec.png
  apps/nextjs-website/public/images/pago-pa-manuale-bo-psp-mobile.png
  apps/nextjs-website/public/images/pago-pa-manuale-bo-psp.png
Owners: @datalek, @kin0992

Fix lining error
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Owners: @datalek, @kin0992

[DPC-66] Upload new manuals for pagopa (#325)
  apps/nextjs-website/public/images/pago-pa-manuale-bo-ec-mobile.png
  apps/nextjs-website/public/images/pago-pa-manuale-bo-ec.png
  apps/nextjs-website/public/images/pago-pa-manuale-bo-psp-mobile.png
  apps/nextjs-website/public/images/pago-pa-manuale-bo-psp.png
  apps/nextjs-website/src/_contents/pagoPa/guideLists.ts
  apps/nextjs-website/src/_contents/pagoPa/guides.ts
Owners: @datalek, @kin0992

Update email configuration of Cognito
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Format terraform files
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Revert "Format terraform files"
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Revert "Update email configuration of Cognito"
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Update comment
  .infrastructure/10_dns.tf
Owners: @datalek, @kin0992

[DPC-70] Update version Knowledge-base di SEND
  apps/nextjs-website/src/_contents/send/guides.ts
Owners: @datalek, @kin0992

[DPC-70] Change version in list
  apps/nextjs-website/src/_contents/send/guideLists.ts
Owners: @datalek, @kin0992

[DPC-70] change version in link
  apps/nextjs-website/src/_contents/send/overview.ts
Owners: @datalek, @kin0992

feat(DEV-896): add sign up page
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/atoms/IconInbox/IconInbox.tsx
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/components/molecules/CheckItem/CheckItem.tsx
  apps/nextjs-website/src/components/organisms/Auth/AuthProvider.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/lib/types/signUpFunction.ts
  apps/nextjs-website/src/lib/types/signUpSteps.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-746): add missing twitter metadata
  apps/nextjs-website/src/app/[productSlug]/guides/page.tsx
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

chore: fix typo
  apps/nextjs-website/src/app/layout.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

chore: fix eslint errors
  apps/nextjs-website/src/app/[productSlug]/guides/page.tsx
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1
