Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1095] Custom template for OTP (#422)
  apps/cognito-functions/src/__tests__/create-auth-challenge-handler.test.ts
  apps/cognito-functions/src/create-auth-challenge-handler.ts
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/templates/otp-message.ts
Owners: @datalek, @kin0992

Change from email address value
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Change from email address value (#423)
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

feat(DEV-1133): add user menu
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Add newsletter subscribe/unsubscribe button to profile's agreements page
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
  apps/nextjs-website/src/lib/types/auth.ts
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

refactor: SpeakerPreview component
  apps/nextjs-website/src/components/molecules/SpeakerPreview/SpeakerPreview.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat: add speaker avatar fallback
  apps/nextjs-website/src/components/molecules/SpeakerPreview/SpeakerPreview.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

style: improve mobile layout
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

chore: disable button on form submission
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-66] Update docs from gitbook
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

[DPC-66] Update docs from gitbook (#433)
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

[DEV-1162] remove {% p %} on table children
  packages/gitbook-docs/src/markdoc/schema/table.ts
Owners: @datalek, @kin0992

Remove DevPortalUserAttributes type
  apps/nextjs-website/src/helpers/user.helper.ts
  apps/nextjs-website/src/lib/types/auth.ts
Owners: @datalek, @kin0992

fix: copy & some styles
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Add Spinner component
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/Spinner/Spinner.tsx
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix account activated label and link
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

update copy
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

[DPC-97] added new tutorial in app IO tutorial page
  apps/nextjs-website/src/_contents/send/tutorialLists.ts
Owners: @datalek, @kin0992

Add files via upload
  apps/nextjs-website/public/images/app-io-come-inviare-avviso-pagamento.png
Owners: @datalek, @kin0992

Forgot alt image
  apps/nextjs-website/src/_contents/send/tutorialLists.ts
Owners: @datalek, @kin0992

Refactor setAttributes from imperative to functional
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Add files via upload
  apps/nextjs-website/public/images/app-io-come-inviare-avviso-pagamento.png
Owners: @datalek, @kin0992

[DPC-97] Added tutorial at tutorial list APP IO
  apps/nextjs-website/src/_contents/appIo/tutorialLists.ts
Owners: @datalek, @kin0992

Add menu to profile section
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/app/profile/layout.tsx
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/ProfileMenu/ProfileMenu.tsx
  apps/nextjs-website/src/components/molecules/DesktopProfileMenu/DesktopProfileMenu.tsx
  apps/nextjs-website/src/components/molecules/MobileProfileMenu/MobileProfileMenu.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DPC-97] added icon for new tutorial app IO (#440)
  apps/nextjs-website/public/images/app-io-come-inviare-avviso-pagamento.png
  apps/nextjs-website/src/_contents/appIo/tutorialLists.ts
Owners: @datalek, @kin0992

[DPC-108] change also in send
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Owners: @datalek, @kin0992

[DPC-108] Replace Self Car with Area riservata
  apps/nextjs-website/src/_contents/appIo/quickStartGuide.ts
Owners: @datalek, @kin0992

typo
  apps/nextjs-website/src/_contents/appIo/quickStartGuide.ts
Owners: @datalek, @kin0992

[DPC-108] change also in pagoPA
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
Owners: @datalek, @kin0992

[DPC-108] Replace Self Car with Area riservata (#434)
  apps/nextjs-website/src/_contents/appIo/quickStartGuide.ts
  apps/nextjs-website/src/_contents/pagoPa/quickStartGuide.ts
  apps/nextjs-website/src/_contents/send/quickStartGuide.ts
Owners: @datalek, @kin0992

[DEV-1100] Cookie banner close automatically (#402)
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
  apps/nextjs-website/src/components/atoms/TimeSlot/TimeSlot.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Remove DevPortalUserAttributes type
  apps/nextjs-website/src/helpers/user.helper.ts
  apps/nextjs-website/src/lib/types/auth.ts
Owners: @datalek, @kin0992

Refactor setAttributes from imperative to functional
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Add newsletter subscribe/unsubscribe button to profile's agreements page
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
  apps/nextjs-website/src/lib/types/auth.ts
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

feat(DEV-1133): make all menu item clickable
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DEV-1166] Add newsletter subscribe/unsubscribe button to profile's agreements page (#428)
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/helpers/user.helper.ts
  apps/nextjs-website/src/lib/types/auth.ts
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Add PageNotFound import
  apps/nextjs-website/src/components/ProfileMenu/ProfileMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add PageNotFound guard
  apps/nextjs-website/src/components/ProfileMenu/ProfileMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Remove PageNotFound and Spinner exit guards from personal-data page (they will be replaced by ProfileMenu ones)
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add userPreferences to user
  apps/nextjs-website/src/lib/types/auth.ts
Owners: @datalek, @kin0992

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1
