Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

Update apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
  apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Replace Link with Button and temporarily remove the reference to the dashboard from translations
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-896): update sign up page
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/molecules/CheckItem/CheckItem.tsx
  apps/nextjs-website/src/components/molecules/RequiredTextField/RequiredTextField.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-896): remove unused type
  apps/nextjs-website/src/lib/types/signUpFunction.ts
Owners: @datalek, @kin0992

[DEV-1048] Add AccountActivated page (#372)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/account-activated/page.tsx
  apps/nextjs-website/src/components/atoms/IconFireworks/IconFireworks.tsx
  apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-85] Update images
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

[DPC-85] Update gitbook docs (#375)
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

Fix syntax
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Add role attribute
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Change max_length values
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Add company type attribute
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Update .infrastructure/55_cognito.tf
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

[DEV-1043] - Add missing sign up parameters to user pool (#374)
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Update apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/app/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix mock webinar dates
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

[DEV-1066] Webinars section (#359)
  apps/nextjs-website/public/images/speaker-00.png
  apps/nextjs-website/public/images/speaker-01.png
  apps/nextjs-website/public/images/webinars.png
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/LinkButton/LinkButton.tsx
  apps/nextjs-website/src/components/atoms/TimeSlot/TimeSlot.tsx
  apps/nextjs-website/src/components/molecules/SpeakerPreview/SpeakerPreview.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/lib/api.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-896): update email matcher
  apps/nextjs-website/src/helpers/auth.helpers.ts
Owners: @datalek, @kin0992

feat(DEV-897): remove unused code
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Update getWebinar api
  apps/nextjs-website/src/lib/api.ts
Owners: @datalek, @kin0992

Fix start command for nextjs-website
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

Fix start command for nextjs-website (#376)
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

[DEV-897]: login page (#350)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/AuthProvider.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-896): add additional fields on sign up
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

chore: remove typo
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

Update packages/gitbook-docs/src/markdoc/schema/link.ts
  packages/gitbook-docs/src/markdoc/schema/link.ts
Owners: @datalek, @kin0992

[DEV-1064 DEV-1050] Fix guide menu nested style (#370)
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/editorialComponents/Newsroom/Newsroom.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add confirmation page
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-863): resolve security error
  apps/nextjs-website/src/__tests__/helpers/url.helper.test.ts
  apps/nextjs-website/src/helpers/url.helper.ts
Owners: @datalek, @kin0992

revert suggestion
  packages/gitbook-docs/src/markdoc/schema/link.ts
Owners: @datalek, @kin0992

Refactor using isProduction
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix styles
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Model.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix accordion for responses without content
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Response.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

add some comments
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/SchemaWithExample.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1062] Add confirmation page (#360)
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

webinar page integration
  apps/nextjs-website/src/app/webinars/[webinarSlug]/page.tsx
  apps/nextjs-website/src/components/atoms/SummaryInformation/SummaryInformation.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Update apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/app/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Update apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Update apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-93]Update subtitle
  apps/nextjs-website/src/_contents/appIo/overview.ts
Owners: @datalek, @kin0992

[DPC-93]Update subtitle (#377)
  apps/nextjs-website/src/_contents/appIo/overview.ts
Owners: @datalek, @kin0992
