Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

Improve unit test on CustomMessage_ForgotPassword event
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
Owners: @datalek, @kin0992

Prevent sending sign up email to CONFIRMED users
  apps/cognito-functions/src/custom-message-handler.ts
Owners: @datalek, @kin0992

Convert object to function and refactor unit tests
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
Owners: @datalek, @kin0992

[DEV-1139] Prevent verified user to receive a new verification email (#424)
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
Owners: @datalek, @kin0992

Fix missing loading
  apps/nextjs-website/src/app/profile/agreements/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1159] Add Spinner component (#436)
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/Spinner/Spinner.tsx
  apps/nextjs-website/src/components/molecules/ApiSection/ApiSection.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1133): fix bugs
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Use Spinner component when profile section is loading
  apps/nextjs-website/src/components/ProfileMenu/ProfileMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1126] Add menu to profile section (#441)
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/app/profile/layout.tsx
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/ProfileMenu/ProfileMenu.tsx
  apps/nextjs-website/src/components/molecules/DesktopProfileMenu/DesktopProfileMenu.tsx
  apps/nextjs-website/src/components/molecules/MobileProfileMenu/MobileProfileMenu.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

style: improve mobile layout (#430)
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

update email button
  apps/cognito-functions/src/templates/post-confirmation-confirm-sign-up-message.ts
Owners: @datalek, @kin0992

add submitting state
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

changes after review
  apps/nextjs-website/src/components/molecules/SpeakerPreview/SpeakerPreview.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix lint error
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

update email button (#449)
  apps/cognito-functions/src/templates/post-confirmation-confirm-sign-up-message.ts
Owners: @datalek, @kin0992

[DEV-622] Remove crawler block (#301)
  .github/actions/build-nextjs-website/action.yaml
  .github/actions/deploy/action.yaml
  .github/workflows/code_review.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/.env.default
  apps/nextjs-website/public/robots.txt
  apps/nextjs-website/src/app/robots.ts
  apps/nextjs-website/src/config.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Add files via upload
  apps/nextjs-website/public/images/speaker-diana.png
  apps/nextjs-website/public/images/speaker-ferraro.png
  apps/nextjs-website/public/images/speaker-franceschini.png
Owners: @datalek, @kin0992

Update apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

[DPC-110] Update webinar description
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

[DPC-110] Empty description in webinarSection
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

lint error
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

lint error
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

lint error
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

[DPC-110] Webinar service management IO (#447)
  apps/nextjs-website/public/images/speaker-diana.png
  apps/nextjs-website/public/images/speaker-ferraro.png
  apps/nextjs-website/public/images/speaker-franceschini.png
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/_contents/webinars.ts
Owners: @datalek, @kin0992

Fix cleanup phase
  apps/nextjs-website/scripts/fetch-docs.sh
Owners: @datalek, @kin0992

Fix cleanup phase (#450)
  apps/nextjs-website/scripts/fetch-docs.sh
Owners: @datalek, @kin0992

add redirect cta to login after signup
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

[DPC-111]Update url APi pagoPA
  apps/nextjs-website/src/_contents/pagoPa/api.ts
Owners: @datalek, @kin0992

[DPC-111]Update url APi pagoPA (#451)
  apps/nextjs-website/src/_contents/pagoPa/api.ts
Owners: @datalek, @kin0992

add redirect cta to login after signup (#448)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Update apps/nextjs-website/src/__tests__/helpers/userPreferences.helpers.test.ts
  apps/nextjs-website/src/__tests__/helpers/userPreferences.helpers.test.ts
Owners: @datalek, @kin0992

Apply suggestions from code review
  apps/nextjs-website/src/helpers/userPreferences.helpers.ts
Owners: @datalek, @kin0992

fix after review
  apps/nextjs-website/src/__tests__/helpers/userPreferences.helpers.test.ts
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/helpers/userPreferences.helpers.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Fix lint
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix subscribe button a load
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1160] Add fallback icon for missing webinar speaker image (#429)
  apps/nextjs-website/src/components/molecules/SpeakerPreview/SpeakerPreview.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Move setAttributes to webinar card
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1133): fix bugs
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-1129): resend MFA code CTA
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/messages/it.json
  file (7).patch
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

chore: remove unused file
  file (7).patch
Owners: @datalek, @kin0992
