Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

confirmation page
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add cognito-function module
  apps/cognito-functions/.eslintrc.json
  apps/cognito-functions/jest.config.js
  apps/cognito-functions/package.json
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/tsconfig.json
  package-lock.json
Owners: @datalek, @kin0992

Add AccountActivated page
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/account-activated/page.tsx
  apps/nextjs-website/src/components/atoms/IconFireworks/IconFireworks.tsx
  apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Add infrastructure resources
  .infrastructure/.terraform.lock.hcl
  .infrastructure/55_cognito.tf
  apps/cognito-functions/package.json
Owners: @datalek, @kin0992

Update cognito functions
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Exclude test files from compilation
  apps/cognito-functions/tsconfig.json
Owners: @datalek, @kin0992

Create second simple lambda function
  apps/cognito-functions/src/send-email-handler.ts
Owners: @datalek, @kin0992

Create main file containing lamdbas
  apps/cognito-functions/src/main.ts
Owners: @datalek, @kin0992

Fix handler name
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Update build and postbuild scripts
  apps/cognito-functions/package.json
Owners: @datalek, @kin0992

Lint terraform file
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

[DEV-899] Update Commit Sync Manuals (#354)
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

Update apps/nextjs-website/src/components/atoms/SiteFooter/SiteFooter.tsx
  apps/nextjs-website/src/components/atoms/SiteFooter/SiteFooter.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add webinar and speaker types
  apps/nextjs-website/src/lib/types/speaker.ts
  apps/nextjs-website/src/lib/types/webinar.ts
Owners: @datalek, @kin0992

Refactor name
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/SiteFooter/SiteFooter.tsx
  apps/nextjs-website/src/config.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Add WebinarsSection with mocked speakers preview
  apps/nextjs-website/public/images/speaker-00.png
  apps/nextjs-website/public/images/speaker-01.png
  apps/nextjs-website/public/images/webinars.png
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/LinkButton/LinkButton.tsx
  apps/nextjs-website/src/components/molecules/SpeakerPreview/SpeakerPreview.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/lib/api.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Fix linting error
  apps/nextjs-website/src/components/molecules/SpeakerPreview/SpeakerPreview.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix translation
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

[DEV-828] Cookies prefences footer link (#333)
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/SiteFooter/SiteFooter.tsx
  apps/nextjs-website/src/config.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Remove useless dependencies
  apps/cognito-functions/package.json
  package-lock.json
Owners: @datalek, @kin0992

Handle multiple AWS Lambda functions (#357)
  .infrastructure/55_cognito.tf
  apps/cognito-functions/package.json
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/send-email-handler.ts
  apps/cognito-functions/tsconfig.json
Owners: @datalek, @kin0992

Add .gitignore
  apps/cognito-functions/.gitignore
Owners: @datalek, @kin0992

Add infrastructure resources
  .infrastructure/.terraform.lock.hcl
  .infrastructure/55_cognito.tf
  apps/cognito-functions/package.json
Owners: @datalek, @kin0992

Update email verification mode
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Add cognito-function module
  apps/cognito-functions/.eslintrc.json
  apps/cognito-functions/jest.config.js
  apps/cognito-functions/package.json
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/tsconfig.json
  package-lock.json
Owners: @datalek, @kin0992

Add confirmation page (POC)
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix typo
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
Owners: @datalek, @kin0992

Revert "Add confirmation page (POC)"
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add custom message lambda function
  .infrastructure/55_cognito.tf
  apps/cognito-functions/package.json
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/main.ts
  package-lock.json
Owners: @datalek, @kin0992

Setup cognito functions deploy
  .github/workflows/code_review_infra.yaml
  .github/workflows/deploy_infra.yml
  apps/cognito-functions/package.json
Owners: @datalek, @kin0992

Update cognito functions
  .infrastructure/55_cognito.tf
Owners: @datalek, @kin0992

Update cognito-functions package step
  .infrastructure/55_cognito.tf
  apps/cognito-functions/package.json
Owners: @datalek, @kin0992

[DEV-1023] Change email verification mode from code to link (#347)
  .github/workflows/code_review_infra.yaml
  .github/workflows/deploy_infra.yml
  .infrastructure/.terraform.lock.hcl
  .infrastructure/55_cognito.tf
  apps/cognito-functions/.eslintrc.json
  apps/cognito-functions/.gitignore
  apps/cognito-functions/jest.config.js
  apps/cognito-functions/package.json
  apps/cognito-functions/src/__tests__/custom-message-handler.test.ts
  apps/cognito-functions/src/custom-message-handler.ts
  apps/cognito-functions/src/main.ts
  apps/cognito-functions/src/send-email-handler.ts
  apps/cognito-functions/tsconfig.json
  package-lock.json
Owners: @datalek, @kin0992

[DEV-1058] Next intl setup (#320)
  apps/nextjs-website/package.json
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/organisms/PostIntegration/PostIntegration.tsx
  apps/nextjs-website/src/messages/en.json
  apps/nextjs-website/src/messages/it.json
  package-lock.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Add TimeSlot atom and fix WebinarsSection layout
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/TimeSlot/TimeSlot.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/lib/api.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Add compactMode input to SpeakerPreview and set its default to true
  apps/nextjs-website/src/_contents/webinars.ts
  apps/nextjs-website/src/components/molecules/SpeakerPreview/SpeakerPreview.tsx
  apps/nextjs-website/src/components/molecules/WebinarCard/WebinarCard.tsx
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-896): update sign-up page
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/helpers/auth.helpers.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

banner
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/atoms/WebinarHeaderBanner/WebinarHeaderBanner.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-746): move types into function file
  apps/nextjs-website/src/helpers/metadata.helpers.ts
  apps/nextjs-website/src/lib/types/makeMetadataFunction.ts
Owners: @datalek, @kin0992

feat(DEV-896): add RequiredTextField component
  apps/nextjs-website/src/components/molecules/RequiredTextField/RequiredTextField.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1
