Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-746): resolve PR comments
  apps/nextjs-website/jest.config.ts
  apps/nextjs-website/src/__tests__/helpers/metadata.helpers.test.ts
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/helpers/metadata.helpers.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Add How To add a new guide (#316)
  docs/how-to/add-a-new-gitbook-docs.md
Owners: @datalek, @kin0992

Fix favicon URL in EmbedPageInfo component
  apps/nextjs-website/src/components/atoms/EmbedPageInfo/EmbedPageInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix absolute favicon URL in EmbedPageInfo component
  apps/nextjs-website/src/components/atoms/EmbedPageInfo/EmbedPageInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add EmbedCaption component
  apps/nextjs-website/src/components/atoms/EmbedCaption/EmbedCaption.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add EmbedYouTube component
  apps/nextjs-website/src/components/atoms/EmbedYouTube/EmbedYouTube.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Use EmbedCaption and EmbedYouTube
  apps/nextjs-website/src/components/atoms/EmbedPageInfo/EmbedPageInfo.tsx
  apps/nextjs-website/src/components/molecules/EmbedCodePen/EmbedCodePen.tsx
  apps/nextjs-website/src/components/molecules/EmbedFigma/EmbedFigma.tsx
  apps/nextjs-website/src/components/molecules/EmbedYouTube/EmbedYouTube.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Embed.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add margin bottom to Hint component
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Hint.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Add EmbedLink component as default
  apps/nextjs-website/src/components/atoms/EmbedLink/EmbedLink.tsx
  apps/nextjs-website/src/components/molecules/EmbedYouTube/EmbedYouTube.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Embed.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Set iframes border as invisible
  apps/nextjs-website/src/styles/globals.css
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-852): menu item should be active if subpath is included in path
  apps/nextjs-website/src/helpers/productHeader.helper.ts
Owners: @datalek, @kin0992

feat(DEV-863): add urlRewrite function and test
  apps/nextjs-website/jest.config.ts
  apps/nextjs-website/src/__tests__/helpers/url.helper.test.ts
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Link.tsx
  apps/nextjs-website/src/helpers/url.helper.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

feat(DEV-788): change menu dropdown items color
  apps/nextjs-website/src/editorialComponents/Header/components/MenuDropdown.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Apply suggestions from code review
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/atoms/ProductHeader/ProductHeader.tsx
  apps/nextjs-website/src/lib/api.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

test(DEV-852): add tests for product header
  apps/nextjs-website/src/__tests__/helpers/productHeader.helpers.test.ts
  apps/nextjs-website/src/helpers/productHeader.helper.ts
Owners: @datalek, @kin0992

Move site header height const
  apps/nextjs-website/src/components/atoms/ProductHeader/ProductHeader.tsx
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-953] Refactor layout (#280)
  apps/nextjs-website/src/app/[productSlug]/api/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/[...productGuidePage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/guides/page.tsx
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/[...productTutorialPage]/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/not-found.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/app/privacy-policy/page.tsx
  apps/nextjs-website/src/app/terms-of-service/page.tsx
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
  apps/nextjs-website/src/components/atoms/MainWrapper/MainWrapper.tsx
  apps/nextjs-website/src/components/atoms/ProductHeader/ProductHeader.tsx
  apps/nextjs-website/src/components/atoms/ProductHeader/useScrollUp.ts
  apps/nextjs-website/src/components/molecules/SiteHeader/SiteHeader.tsx
  apps/nextjs-website/src/components/organisms/Layout/Layout.tsx
  apps/nextjs-website/src/components/organisms/ProductLayout/ProductLayout.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/styles/globals.css
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

feat(DEV-788): change menu dropdown items color (#319)
  apps/nextjs-website/src/editorialComponents/Header/components/MenuDropdown.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-852] Menu item should be active if subpath is included in path (#317)
  apps/nextjs-website/src/__tests__/helpers/productHeader.helpers.test.ts
  apps/nextjs-website/src/helpers/productHeader.helper.ts
Owners: @datalek, @kin0992

Fix copiedTooltip translation
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

Fix Cards gitbook block layout
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Cards.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix Expandable gitbook block layout
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Expandable.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix hash link gitbook block layout
  packages/gitbook-docs/src/markdoc/schema/link.ts
Owners: @datalek, @kin0992

Fix Table gitbook block font size
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Table.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Set showLineNumbers default to true in CodeBlockPart component and remove unwanted falsy values in gitbook code schema
  apps/nextjs-website/src/components/molecules/CodeBlockPart/CodeBlockPart.tsx
  packages/gitbook-docs/src/markdoc/attributes.ts
  packages/gitbook-docs/src/markdoc/schema/code.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Add "should replace the title of link to an anchor with a human readable text" to parseContent's tests
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
Owners: @datalek, @kin0992

Next intl setup
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/messages/en.json
  apps/nextjs-website/src/messages/it.json
  package-lock.json
  package.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Add @figma/embed management
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Embed.tsx
  packages/gitbook-docs/src/parseContent.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DPC-72] Update manuals IO App
  apps/nextjs-website/package.json
Owners: @datalek, @kin0992

Pr comments
  apps/nextjs-website/package.json
  package-lock.json
  package.json
Owners: @datalek, @kin0992

package lock
  package-lock.json
Owners: @datalek, @kin0992

[DPC-73] Version update guida tecnica and manuale dei servizi
  apps/nextjs-website/src/_contents/appIo/guides.ts
Owners: @datalek, @kin0992

[DPC-73] Version Update guida tecnica and manuale dei servizi app IO
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
Owners: @datalek, @kin0992

[DPC-73] Update link
  apps/nextjs-website/src/_contents/appIo/overview.ts
Owners: @datalek, @kin0992

[DPC-73] Update commit
  apps/nextjs-website/src/_contents/appIo/guides.ts
Owners: @datalek, @kin0992

Fix empty titles bug by parsing all kind of blocks inside title lines
  apps/nextjs-website/src/components/organisms/GitBookContent/components/StyledText.tsx
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
  packages/gitbook-docs/src/markdoc/schema/heading.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

fix eslint error
  apps/nextjs-website/src/app/layout.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix CodeBlockPart.tsx language property type
  apps/nextjs-website/src/components/molecules/CodeBlockPart/CodeBlockPart.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/CodeBlock.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Fix constant name in packages/gitbook-docs/src/markdoc/schema/link.ts
  packages/gitbook-docs/src/markdoc/schema/link.ts
Owners: @datalek, @kin0992

Add test to cover missing lineNumbers attribute case in code block
  packages/gitbook-docs/src/__tests__/parseContent.test.ts
Owners: @datalek, @kin0992

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1
