Repository pagopa/developer-portal, changes with the owners that CODEOWNERS names for each.
All owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

CODEOWNERS:

# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1

fix: add error message for embedded api
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Swagger.tsx
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/hooks/use-spec.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

style: add margin botton
  apps/nextjs-website/src/components/organisms/GitBookContent/components/Swagger/Swagger.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

Rename constant using camel case naming convention
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/helpers/metadata.helpers.ts
Owners: @datalek, @kin0992

Fixes after code review
  apps/nextjs-website/src/_contents/appIo/appIo.ts
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/pagoPa/pagoPa.ts
  apps/nextjs-website/src/_contents/send/send.ts
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/lib/types/product.ts
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1128, DEV-1129, DEV-1148): MFA fixs
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/molecules/CheckItem/CheckItem.tsx
  apps/nextjs-website/src/components/molecules/ResendEmail/ResendEmail.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/lib/types/loginFunction.ts
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

Fix tet
  apps/nextjs-website/src/__tests__/helpers/metadata.helpers.test.ts
Owners: @datalek, @kin0992

fix: build swagger-ui error
  apps/nextjs-website/declarations.d.ts
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/polyfill.ts
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

Fix linting
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992

[DEV-1154] Set longer snackbar duration (#475)
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/components/molecules/ResendEmail/ResendEmail.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/config.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DEV-1154] Set longer snackbar duration (#475)
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/app/profile/agreements/page.tsx
  apps/nextjs-website/src/components/molecules/ResendEmail/ResendEmail.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/WebinarDetailTemplate/WebinarDetailTemplate.tsx
  apps/nextjs-website/src/components/organisms/WebinarsSection/WebinarsSection.tsx
  apps/nextjs-website/src/config.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

add comments in declarations.d.ts
  apps/nextjs-website/declarations.d.ts
Owners: @datalek, @kin0992

Update apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/config.ts
Owners: @datalek, @kin0992

[DEV-1204] og tags (#478)
  apps/nextjs-website/public/icons/appIo.png
  apps/nextjs-website/public/icons/pagoPa.png
  apps/nextjs-website/public/icons/send.png
  apps/nextjs-website/public/images/dev-portal-home.jpg
  apps/nextjs-website/src/__tests__/helpers/metadata.helpers.test.ts
  apps/nextjs-website/src/_contents/appIo/appIo.ts
  apps/nextjs-website/src/_contents/ioSign/ioSign.ts
  apps/nextjs-website/src/_contents/pagoPa/pagoPa.ts
  apps/nextjs-website/src/_contents/send/send.ts
  apps/nextjs-website/src/app/[productSlug]/overview/page.tsx
  apps/nextjs-website/src/app/[productSlug]/quick-start/page.tsx
  apps/nextjs-website/src/app/[productSlug]/tutorials/page.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/config.ts
  apps/nextjs-website/src/helpers/metadata.helpers.ts
  apps/nextjs-website/src/lib/types/product.ts
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1148): MFA fixs
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/molecules/ResendEmail/ResendEmail.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/lib/types/loginFunction.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

[DEV-1206] Change definition in it.json file
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992

fix(DEV-1148): MFA fixs
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

redirect after login
  apps/nextjs-website/src/app/auth/login/page.tsx
  apps/nextjs-website/src/components/atoms/UserInfo/UserInfo.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1190): auth fixes
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmSignUp.tsx
  apps/nextjs-website/src/components/organisms/Auth/SignUpForm.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1190): auth fixes
  apps/nextjs-website/src/components/organisms/Auth/ChangePasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1194): move translations
  apps/nextjs-website/src/_contents/translations.ts
  apps/nextjs-website/src/components/organisms/Auth/AccountActivatedCard.tsx
  apps/nextjs-website/src/components/organisms/Auth/ChangePasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordChangedCard.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordSuccess.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992, @MarcoPonchia, @marcobottaro, @tommaso1

redirect on webinar
  apps/nextjs-website/src/components/molecules/SubscribeToWebinar/SubscribeToWebinar.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1194): move translations
  apps/nextjs-website/src/app/auth/change-password/page.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

fix(DEV-1194): move translations
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/config.ts
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

fix(DEV-1194): move translations
  apps/nextjs-website/src/app/auth/password-reset/page.tsx
  apps/nextjs-website/src/app/auth/sign-up/page.tsx
  apps/nextjs-website/src/components/molecules/CheckItem/CheckItem.tsx
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

fix(DEV-1194): move translations
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992

fix(DEV-1190): fix coming soon
  apps/nextjs-website/src/components/molecules/CheckItem/CheckItem.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

fix(DEV-1190): fix translations
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992

fix(DEV-1190): add AccountAlreadyConfirmed component
  apps/nextjs-website/src/app/auth/confirmation/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/AccountAlreadyConfirmed.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

fix(DEV-1190): add invalid link card on reset password flow
  apps/nextjs-website/src/app/auth/change-password/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordForm.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

feat: update password from user profile
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/atoms/InfoCardEditButton/InfoCardEditButton.tsx
  apps/nextjs-website/src/components/atoms/InfoCardItem/InfoCardItem.tsx
  apps/nextjs-website/src/components/organisms/Auth/EditPasswordForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/PasswordTextField.tsx
  apps/nextjs-website/src/components/organisms/Auth/ProfileInfoCard.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

add translations & improve errors
  apps/nextjs-website/src/app/profile/personal-data/page.tsx
  apps/nextjs-website/src/components/organisms/Auth/EditPasswordForm.tsx
  apps/nextjs-website/src/messages/it.json
Owners: @MarcoPonchia, @marcobottaro, @tommaso1, @datalek, @kin0992

fix(DEV-1190): fix auth flow
  apps/nextjs-website/src/components/organisms/Auth/ConfirmLogin.tsx
  apps/nextjs-website/src/components/organisms/Auth/LoginForm.tsx
  apps/nextjs-website/src/components/organisms/Auth/ResetPasswordSuccess.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-1206] Change definition in it.json file (#483)
  apps/nextjs-website/src/messages/it.json
Owners: @datalek, @kin0992

Replace default image for meta tags
  apps/nextjs-website/public/images/dev-portal-home.jpg
Owners: @datalek, @kin0992

[DEV-866] latest Version
  apps/nextjs-website/src/_contents/makeDocs.ts
Owners: @datalek, @kin0992

[DEV-866]
  apps/nextjs-website/src/components/atoms/GuideMenu/GuideMenu.tsx
Owners: @MarcoPonchia, @marcobottaro, @tommaso1

[DEV-866]changed Validatore path in latest
  apps/nextjs-website/src/_contents/translations.ts
Owners: @datalek, @kin0992

changed in latest app io guides
  apps/nextjs-website/src/_contents/appIo/guideLists.ts
Owners: @datalek, @kin0992

changed in latest guide app IO
  apps/nextjs-website/src/_contents/appIo/guides.ts
Owners: @datalek, @kin0992

insert latest in overview App IO
  apps/nextjs-website/src/_contents/appIo/overview.ts
Owners: @datalek, @kin0992
